﻿@model IEnumerable<Garments_ERP.Entity.SRM_PurchaseRequestEntity>
@{
    ViewBag.Title = "Index";
}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    PR No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    PR Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Account Head
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Department
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Priority
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr role="row" class="odd">
                    <td>@data.PR_No</td>
                    <td>
                        @{
                            string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.PR_Date));
                            tndt = tndt.Replace('-', '/');
                        }
                        @tndt
                    </td>
                    <td>
                        @{ string EmpName = "";
                            EmpName = data.Employee != null ? data.Employee.Name : "";
                        }
                        @EmpName
                    </td>
                    <td>
                        @{ string deptname = "";
                            deptname = data.DepartmentMaster != null ? data.DepartmentMaster.Departmentname : "";
                        }
                        @deptname
                    </td>
                    <td>@data.Priority</td>
                    <td>
                        @if (ViewBag.roleid != 4)
                        {
                            <a href="@Url.Action("Edit", "SupplierPR", new { id = data.Id})" class="btn  btn-success btn-sm inner " data-original-title="Edit PR" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                            if (ViewBag.Status == 2)
                            {
                                <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="Canclequo(@data.Id)" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                            }

                        }
                        else
                        {
                            <a href="@Url.Action("Edit", "SupplierPR", new { id = data.Id})" class="btn  btn-success btn-sm inner " data-original-title="Edit Quotation" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                            if (ViewBag.Status == 2)
                            {
                                <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="deleterecord(@data.Id)" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                            }

                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>