﻿<input type="hidden" id="PRItemList" name="PRItemList" />
  <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="rawitemtable">
                                                    <thead>
                                                        <tr class="bg-info titlerow">
                                                            <th>Item Sub-Category</th>
                                                            <th>Item</th>
                                                            <th>HSN Code</th>
                                                            <th>Unit</th>
                                                            <th>Req. Qty</th>
                                                            <th>Avail. Stock</th>
                                                            <th>Image</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        <tr class="titlerow">
                                                            <th>
                                                                <div class="form-group">
                                                                    <div class="form-line">
                                                                        <input type="text" class="form-control text-box single-line ui-autocomplete-input valid FW-N" data-val="true" value="" autocomplete="off" id="itemsubcategoryidNameid" name="itemsubcategoryidNameid">
                                                                    </div>
                                                                    <input type="hidden" id="itemsubcategoryid" name="itemsubcategoryid" />
                                                                </div>
                                                            </th>
                                                            <th>
                                                                <div class="form-group">
                                                                    <div class="form-line">
                                                                        <input type="text" class="form-control text-box single-line ui-autocomplete-input valid FW-N" data-val="true" value="" autocomplete="off" id="rawitemnameid" name="rawitemnameid" onchange="setItemUnit1()">
                                                                    </div>
                                                                    <input type="hidden" id="itemrawid" name="itemrawid" />
                                                                    <input type="hidden" id="itemrawAid" name="itemrawAid" />
                                                                </div>
                                                            </th>
                                                            <th>
                                                                <div id="hsncode"></div>
                                                                <input type="hidden" class="form-control disabled FW-N" id="hsncodeid" name="hsncodeid" />
                                                            </th>
                                                            <th>
                                                                @Html.DropDownList("unitid", (IEnumerable<SelectListItem>)ViewBag.itemunitlist, "Select Unit", new { @class = "form-control select2 rawitemlist FW-N", @id = "unitid" })
                                                            </th>
                                                            <th>
                                                                <div class="form-group">
                                                                    <div class="form-line">
                                                                        <input type="text" class="form-control FW-N" id="Reqqtyid" name="Reqqtyid" onkeypress="return isNumber(event)" />
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th>
                                                                <div id="availstockid"></div>
                                                                <input type="hidden" class="form-control disabled FW-N" id="availinstockid" name="availinstockid"/>
                                                            </th>
                                                            <th>
                                                                <input type="file" class="form-control" name="rawimg" id="rawimg" style="display:none;">
                                                                <button type="button" class="btn btn-info" style="margin-top:0em;" onclick="GetImageUpload(this.id,'upload','Raw')"><i class="fa fa-upload"></i></button>
                                                            </th>
                                                            <th>
                                                                <button type="button" class="btn btn-success" style="margin-top:0em;padding: 1px 4px 1px 5px;" onclick="AddItem()"><i class="fa fa-plus"></i></button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>