﻿@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}


@using (Html.BeginForm("Index", "SupplierPurchase", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    <div style="display:none;" id="divLoadingContent">
        <div id="CoilMappingloader" class="loader_img">
            <img src="~/Images/loader.gif" class="loading-img " />
        </div>
    </div>

    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Vendor Management</a>  >  </div>
                <div class="HMsubline">Supplier Purchase Request Details</div>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-block btn-success btn-sm" href="@Url.Action("Create", "SupplierPR")">Create PR</a>
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <div class="col-xs-12 col-sm-3">
                                <h2 class="hedtit">
                                    Supplier PR Details
                                </h2>
                            </div>

                            <div class="col-xs-6 col-sm-3">
                                <h4 class="card-inside-title">From Date</h4>
                                <div class="input-group date " id="bs_datepicker_component_container">
                                    <div class="form-line">
                                        @if (@ViewBag.fromdate != null)
                                        {
                                            <input type="text" class="form-control" placeholder="From Date" id="fromdate" autocomplete="off" name="fromdate" value=@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.fromdate))>
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" id="fromdate" autocomplete="off" name="fromdate">
                                        }
                                    </div>
                                    <span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-3">
                                <h4 class="card-inside-title">To Date</h4>
                                <div class="input-group date" id="bs_datepicker_component_container1">
                                    <div class="form-line">
                                        @if (@ViewBag.todate != null)
                                        {
                                            <input type="text" class="form-control" placeholder="To Date" id="todate" autocomplete="off" name="todate" value=@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.todate))>
                                        }

                                        else
                                        {
                                            <input type="text" class="form-control" id="todate" name="todate" autocomplete="off">
                                        }
                                    </div>
                                    <span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <button type="button" class="btn btn-info btn-sm" onclick="FilterDataShow()">Show</button>
                                <button type="button" class="btn btn-info btn-sm" onclick="RefreshPage()">Refresh</button>
                            </div>
                        </div>
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#Pending" data-toggle="tab" onclick="GetData(2,'Pending')">
                                        <i class="material-icons">access_time</i> Pending For Approval (<label id="Pendingcount" name="Pendingcount">0</label>)
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#InProgress" data-toggle="tab" onclick="GetData(3,'InProgress')">
                                        <i class="material-icons">hourglass_empty</i> In-Progress  (<label id="InProgresscount" name="InProgresscount">0</label>)
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#Completed" data-toggle="tab" onclick="GetData(4,'Completed')">
                                        <i class="material-icons">check_circle_outline</i> Completed  (<label id="Completedcount" name="Completedcount">0</label>)
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#Rejected" data-toggle="tab" onclick="GetData(5,'Rejected')">
                                        <i class="material-icons">highlight_off</i> Rejected  (<label id="Rejectedcount" name="Rejectedcount">0</label>)
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content" id="Tablist">
                                <div role="tabpanel" class="tab-pane fade in active" id="Pending" datavalue="2">

                                </div>


                                <div role="tabpanel" class="tab-pane fade" id="InProgress" datavalue="3">

                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="Completed" datavalue="4">

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rejected" datavalue="5">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<input type="hidden" id="altmsg" value="@Convert.ToString(TempData["alertmsg"])" />
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script src="~/Scripts/PageScript/PRIndex.js"></script>



