﻿@model IEnumerable<Garments_ERP.Entity.SP_WarehouseStockDetailsEntity>
@{
    ViewBag.Title = "WarehouseStockReport";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}


<style>
    .inner {
        display: inline-block;
    }
    /*.modal-lg {
       max-width: 80% !important;
    }*/
    .modal-ku {
        width: 750px;
        margin: auto;
    }
</style>

<style>
    #footerExport td {
        cursor: pointer;
        text-align: center;
        border: 1px solid #ccc;
        border: none;
    }
</style>

<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<link href="~/Content/JqueryUi.css" rel="stylesheet" />
@Scripts.Render("~/bundles/exportJs")
<script>
    $(document).ready(function () {
        var varpdfFontSize = '7';
        $('#exportexcel').bind('click', function (e) {
            $('#example1').tableExport({ type: 'excel', escape: 'false', pdfFontSize: varpdfFontSize });
        });
        $('#exportpdf').bind('click', function (e) {
            $('#example1').tableExport({ type: 'pdf', escape: 'false', target: '_blank' });
        });
        $('#exportcsv').bind('click', function (e) {
            $('#example1').tableExport({ type: 'csv', escape: 'false' });
        });

        $('#exportword').bind('click', function (e) {
            $('#example1').tableExport({ type: 'doc', escape: 'false' });
        });

    });

</script>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="titlerow bg-light-blue">
                <div class="box-header with-border">
                    <h3 class="box-title" style="color:white;">Warehouse Stock Detail</h3>
                </div>
            </div>
            @using (Html.BeginForm("WarehouseStockReport", "Reports", FormMethod.Post))
            {
                <div class="box-header with-border">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Item Category</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.DropDownList("Itemcategory", (IEnumerable<SelectListItem>)ViewBag.itemcategorylist, "---Select Category---", new { @class = "form-control select2", @onchange = "this.form.submit();" })
                            </div>
                        </div>
                        @*<div class="col-sm-2">
                                <button type="submit" class="btn btn-block btn-info btn-sm">Show</button>
                            </div>*@
                    </div>
                </div>
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row table-responsive">
                            <div class="col-sm-12">

                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">
                                                Warehouse Name
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                                Item Category
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                                Item Name
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                                Available Qty
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                                UOM
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                                Inward/Outward
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">@item.SHORT_NAME</td>
                                                <td>@item.Itemcategory</td>
                                                <td>@item.ItemName</td>
                                                <td>@item.Accepted_Qty</td>
                                                <td>@item.ItemUnit</td>
                                                <td>
                                                    <button type="button" title="Inward" onclick="location.href='@Url.Action("ItemInwardReport", "Reports", new { itemname = item.ItemId })'" class="btn btn-block btn-success btn-sm inner" style="width:50px"><i class="fa fa-fw fa-arrow-left"></i></button>
                                                    <button type="button" title="Outward" onclick="location.href='@Url.Action("OutwardReport", "Reports", new { itemname = item.ItemId })'" class="btn btn-block btn-danger btn-sm inner" style="width:50px"><i class="fa fa-fw fa-arrow-right"></i></button>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <table>
                                    <tr id="footerExport">
                                        <td id="exportexcel"><img src="~/Content/iconsforexport/xls.png" title="Export to Excel" /></td>
                                        <td id="exportpdf"><img src="~/Content/iconsforexport/pdf.png" title="Export to PDF" /></td>
                                        <td id="exportcsv"><img src="~/Content/iconsforexport/csv.png" title="Export to CSV" /></td>
                                        <td id="exportword"><img src="~/Content/iconsforexport/word.png" title="Export to Word" /></td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script>
    $(function () {
        $('#example1').DataTable();
        $('.select2').select2();
    });
</script>