﻿@model Garments_ERP.Entity.M_SupplierBankDetailsEntity
@{
    ViewBag.Title = "BankIndex";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="titlerow bg-light-blue">
                <div class="box-header with-border">
                    <h3 class="box-title" style="color:white;">Supplier Bank Details</h3>
                    <div class="col-sm-2 pull-right">
                        <a class="btn btn-block btn-success btn-sm" href="@Url.Action("Index", "Supplier")">Back</a>
                    </div>
                </div>
            </div>

            <div class="box-header">
                
            </div>
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row table-responsive">
                        <div class="col-sm-12">

                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            Supplier Name
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">
                                            Bank Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Bank Code
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                                            Account Number
                                        </th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">                                      
                                            @if (Model.M_SupplierMaster != null)
                                            {
                                                @Model.M_SupplierMaster.Suppliername
                                            }
                                        </td>
                                        <td>@Model.Bankname</td>
                                        <td>@Model.Bankcode</td>
                                        <td>@Model.Accountno</td>                                       
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
