﻿@model Garments_ERP.Entity.M_SupplierMasterEntity
<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Contact Person<i class="text-red">*</i></label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.TextBoxFor(m => m.Contactpersonname, new { @class = "form-control", @id = "contactperson" })*@
                    <input type="text" height="20" class="form-control" id="contactperson" name="contactperson" />
                </div>
            </div>
            <div class="col-md-2">
                <label>Mobile No #<i class="text-red">*</i></label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.TextBoxFor(m => m.Mobileno, new { @class = "form-control", @id = "contactpersonmobile", @onkeypress = "return isNumber(event)" })*@
                    <input type="text" height="20" class="form-control" id="contactpersonmobile" name="contactpersonmobile" onkeypress="return isNumber(event)" maxlength="10"/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Telephone No #</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.TextBoxFor(m => m.Telephoneno, new { @class = "form-control", @id = "contactpersontelephone" })*@
                    <input type="text" height="20" class="form-control" id="contactpersontelephone" name="contactpersontelephone" maxlength="10"/>
                </div>
            </div>
            <div class="col-md-2">
                <label>Email</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "contactpersonemail"})*@
                    @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-red" })*@
                    <input type="text" height="20" class="form-control" id="contactpersonemail" name="contactpersonemail" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Fax No #</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.TextBoxFor(m => m.Faxno, new { @class = "form-control", @id = "contactpersonfaxno" })*@
                    <input type="text" height="20" class="form-control" id="contactpersonfaxno" name="contactpersonfaxno" />
                </div>
            </div>
            <div class="col-md-2">
                <label>Department</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownList("contactpersondepartmentid", (IEnumerable<SelectListItem>)ViewBag.deptlist, "---Select Department---", new { @class = "form-control select2" })
                    @*<select class="form-control select2" style="width: 100%;" id="contactpersondepartmentid" name="contactpersondepartmentid"></select>*@
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Remark</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.TextAreaFor(m => m.Remark, new { @class = "form-control", @id = "contactpersonremark" })*@
                    <textarea class="form-control" id="contactpersonremark" name="contactpersonremark"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button type="button" class="btn btn-info pull-left" style="margin-right:5px;" id="addcontacts">Add More</button>
</div>
<input type="hidden" id="ContactList" name="ContactList" />
<div class="box-footer">
    <div class="table-responsive">
        <table class="table" id="contactstable">
            <thead>
                <tr class="titlerow bg-blue">
                    <th>Contact Person</th>
                    <th>Mobile No #</th>
                    <th>Telepnone No #</th>
                    <th>Email</th>
                    <th>Fax No</th>
                    <th>Department</th>
                    <th>Remark</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="contactstablebody">
                @foreach (var item in Model.M_SupplierContactDetails)
                {
                    int i = 0;
                    ++i;
                    var insertedid = "insertedid" + i;
                    <tr class="data-contact-person" id="@i">
                        <td style="padding-right:10px;">
                            <input type="hidden" value="@item.Id" class="form-control contactrow" id="@insertedid" name=@insertedid>
                            <input type="hidden" value="@item.Contactpersonname" class="form-control">
                            <input type="text" name="Item" class="form-control f-name01 contactrow" id="Item" value="@item.Contactpersonname" onchange="EditItems(this.id)" />
                        </td>
                        <td style="padding-right:10px;"> <input type="text" name="Mobileno" id="@item.Mobileno" class="form-control f-name01 contactrow" value="@item.Mobileno" onchange="EditItems(this.id)">   </td>
                        <td style="padding-right:10px;"> <input type="text" name="Telephoneno" id="@item.Telephoneno" class="form-control f-name01 contactrow" value="@item.Telephoneno" onchange="EditItems(this.id)">   </td>
                        <td style="padding-right:10px;">
                            <input type="text" name="Email" id="@item.Email" class="form-control f-name01 contactrow" value="@item.Email" onchange="EditItems(this.id)">
                        </td>
                        <td style="padding-right:10px;">
                            <input type="text" name="Faxno" id="@item.Faxno" class="form-control f-name01 contactrow" value="@item.Faxno" onchange="EditItems(this.id)">
                        </td>
                        <td style="padding-right:10px;">
                            @Html.DropDownList("contactpersondeptid", new SelectList(Model.deptlist, "Id", "Departmentname", @item.Department), "---Select Department---", new { @class = "form-control f-name01 select2 contactrow", @onchange = "EditItems(this.id)" })
                            @*<select class="form-control select2" style="width: 100%;" id="@item.M_DepartmentMaster.Id" name="@item.M_DepartmentMaster.Departmentname"></select>*@
                            @*<input type="text" name="Departement" id="@item.M_DepartmentMaster.Departmentname" class="form-control f-name01 contactrow" value="@item.M_DepartmentMaster.Departmentname" onchange="EditItems(this.id)">*@
                        </td>
                        <td style="padding-right:10px;">
                            <input type="text" name="Remark" id="@item.Remark" class="form-control f-name01 contactrow" value="@item.Remark" onchange="EditItems(this.id)">
                        </td>
                        <td>
                            <button type="button" id="btnDelete" class="deleteContact btn btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteItemdiv">Remove</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
