﻿@model IEnumerable<Garments_ERP.Entity.M_SupplierMasterEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}
<style>
    .inner {
        display: inline-block;
    }
    /*.modal-lg {
       max-width: 80% !important;
    }*/
    .modal-ku {
        width: 750px;
        margin: auto;
    }
</style>

<style>
    #footerExport td {
        cursor: pointer;
        text-align: center;
        border: 1px solid #ccc;
        border: none;
    }
</style>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<link href="~/Content/JqueryUi.css" rel="stylesheet" />
<script src="~/Scripts/JqueryUI.js"></script>

<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>

<script src="~/Content/exportpugin/tableExport.js"></script>
<script src="~/Content/exportpugin/jquery.base64.js"></script>
<script src="~/Content/exportpugin/html2canvas.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/base64.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/sprintf.js"></script>
<script src="~/Content/exportpugin/jspdf/jspdf.js"></script>


<script>
    $(document).ready(function () {
        var varpdfFontSize = '7';
        $('#exportexcel').bind('click', function (e) {
            $('#example1').tableExport({ type: 'excel', escape: 'false', pdfFontSize: varpdfFontSize });
        });
        $('#exportpdf').bind('click', function (e) {
            $('#example1').tableExport({ type: 'pdf', escape: 'false' });
        });
        $('#exportimage').bind('click', function (e) {
            $('#v').tableExport({ type: 'png', escape: 'false' });
        });
        $('#exportcsv').bind('click', function (e) {
            $('#example1').tableExport({ type: 'csv', escape: 'false' });
        });
        $('#exportppt').bind('click', function (e) {
            $('#example1').tableExport({ type: 'powerpoint', escape: 'false' });
        });
        $('#exportxml').bind('click', function (e) {
            $('#example1').tableExport({ type: 'xml', escape: 'false' });
        });
        $('#exportword').bind('click', function (e) {
            $('#example1').tableExport({ type: 'doc', escape: 'false' });
        });
        $('#exporttxt').bind('click', function (e) {
            $('#example1').tableExport({ type: 'txt', escape: 'false' });
        });

    });
</script>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="titlerow bg-light-blue">
                <div class="box-header with-border">
                    <h3 class="box-title" style="color:white;">Supplier Details</h3>
                    <div class="col-sm-2 pull-right">
                        <a class="btn btn-block btn-success btn-sm" href="@Url.Action("Create", "Supplier")">Create New</a>
                    </div>
                </div>
            </div>


            <div class="box-header with-border">

            </div>
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row table-responsive">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th style="display:none;">Id</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">
                                            Supplier Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Supplier Type
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                                            Phone
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            GST No
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            Email
                                        </th>
                                        @*<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                        CST Reg No
                                    </th>*@
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            TIN No
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 155px;">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td style="display:none;">@item.Id</td>
                                            <td class="sorting_1">@item.Suppliername</td>
                                            <td>@item.M_SupplierTypeMaster.TypeName</td>
                                            <td>@item.Phone</td>
                                            <td>@item.GSTNo</td>
                                            <td>@item.Email</td>
                                            <td>@item.Tinno</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-linkedin">Action</button>
                                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="@Url.Action("Edit", "Supplier", new { id = item.Id })" class="btn bg-green" style="width:100px">Edit</a>
                                                        </li>
                                                        <li>
                                                            <button type="button" onclick="deleterecord(@item.Id)" class="btn bg-red" style="width:100px">Delete</button>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("BankIndex", "Supplier", new { id = item.Id })" class="btn bg-orange" style="width:100px">Bank Detail</a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("ContactIndex", "Supplier", new { id = item.Id })" class="btn bg-blue" style="width:120px">Contact Person</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <table>
                                <tr id="footerExport">
                                    <td id="exportexcel"><img src="~/Content/iconsforexport/xls.png" title="Export to Excel" /></td>
                                    <td id="exportpdf"><img src="~/Content/iconsforexport/pdf.png" title="Export to PDF" /></td>
                                    <td id="exportcsv"><img src="~/Content/iconsforexport/csv.png" title="Export to CSV" /></td>
                                    <td id="exportword"><img src="~/Content/iconsforexport/word.png" title="Export to Word" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            
            
    </div>
</div>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script>
    $(function () {

        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]]
        });
        $('.select2').select2();
        $('.datepicker').datepicker({
            autoclose: true
        });

        $("#fromdate").datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate: 0
        });
        $("#todate").datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate: 0
        });
    });
    function deleterecord(id) {
        var deletionid = id;
        var param = { 'Id': deletionid };

        swal({
            title: 'Confirmation',
            text: 'Are you sure to delete supplier?',
            showConfirmButton: true,
            showCancelButton: true,
            closeOnConfirm: true,
            closeOnCancel: true,
            confirmButtonText: 'Confirm',
            confirmButtonColor: '#8CD4F5',
            cancelButtonText: 'Cancel'
        },
         function (isConfirm) {

             if (isConfirm) {
                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("DeleteSupplier", "Supplier")',
                     data: JSON.stringify(param),
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: function (result) {

                         if (result == true) {
                             window.location.reload();
                         }

                     },
                     failure: function (response) {
                         alert(response.d);
                     }
                 });

             } else {
                 swal("Cancelled", ")", "error");
             }
         });
    }
  
</script>
