﻿@model Garments_ERP.Entity.M_SupplierMasterEntity
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="required">
                    <label>Supplier Name</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @*<input type="text" height="20" class="form-control" id="suppliername" name="suppliername" />*@
                    @Html.TextBoxFor(x => x.Suppliername, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Suppliername, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <label>Supplier Code</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="suppliercode" name="suppliercode" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <label>Supplier Type</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownList("suppliertypeid", (IEnumerable<SelectListItem>)ViewBag.typelist, "---Select Type---", new { @class = "form-control select2", @onchange = "setGSTtype()" })
                    @*<select class="form-control select2" id="suppliertypeid" name="suppliertypeid"></select>*@
                </div>
            </div>
            <div class="col-md-2">
                <div class="required">
                    <label>Phone #</label>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" maxlength="10" class="form-control" id="supplierphone" name="supplierphone" onkeypress="return isNumber(event)" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Address</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <textarea class="form-control" id="supplieraddress" name="supplieraddress"></textarea>
                </div>
            </div>
            <div class="col-md-2">
                <div class="required">
                    <label>Country</label>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownList("Countryid", (IEnumerable<SelectListItem>)ViewBag.countrylist, "---Select Country---", new { @class = "form-control select2", @onchange = "getState()" })
                    @*<select class="form-control select2" style="width: 100%;" id="suppliercityid" name="suppliercityid"></select>*@
                </div>
            </div>
        
        </div>

     

        <div class="col-md-12">
           
            <div class="col-md-2">
                <div class="required">
                    <label>State</label>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownList("supplierstateid", (IEnumerable<SelectListItem>)ViewBag.statelist, "---Select State---", new { @class = "form-control select2", @onchange = "getCity()" })
                    @*<select class="form-control select2" style="width: 100%;" id="supplierstateid" name="supplierstateid"></select>*@
                </div>
            </div>

            <div class="col-md-2">
                <div class="required">
                    <label>City</label>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownList("suppliercityid", (IEnumerable<SelectListItem>)ViewBag.citylist, "---Select City---", new { @class = "form-control select2" })
                    @*<select class="form-control select2" style="width: 100%;" id="suppliercityid" name="suppliercityid"></select>*@
                </div>
            </div>
          
        </div>

        <div class="col-md-12">

            <div class="col-md-2">
                <label>CST Reg No</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="supplierCSTNo" name="supplierCSTNo" onchange="setGSTno()" />
                </div>
            </div>



            <div class="col-md-2">
                <label>Email</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "supplieremail", @onblur = "checkEmail()" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-red" })
                    @*<input type="text" height="20" class="form-control" id="supplieremail" name="supplieremail" onblur="checkEmail()" />*@
                </div>
            </div>
           
        </div>


        <div class="col-md-12">

            <div class="col-md-2">
                <label>Remark</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="remark" name="remark" />
                </div>
            </div>

<div id="gstno">
                <div class="col-md-2">
                    <label>GST No</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.GSTNo, new { @class = "form-control", @id = "supplierGSTNo" })
                        @Html.ValidationMessageFor(model => model.GSTNo, "", new { @class = "text-red" })
                        @*<input type="text" height="20" class="form-control" id="supplierGSTNo" name="supplierGSTNo" />*@
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-md-12">

            <div class="col-md-2">
                <div class="required">
                    <label>TIN No</label>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="supplierTINNo" name="supplierTINNo" />
                </div>
            </div>


        </div>
    </div>
</div>
