﻿

<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Bank Name</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="supplierbank" name="supplierbank" />
                </div>
            </div>
            <div class="col-md-2">
                <label>Account Number</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="supplieraccountno" name="supplieraccountno" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <label>Bank Code</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="supplierbankcode" name="supplierbankcode" />
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>