﻿@model Garments_ERP.Entity.M_UserEntity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> ERP | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">

    <link href="~/Content/themecs/MaterialIcon.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/themecs/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/themecs/waves.css" rel="stylesheet" />
    <link href="~/Content/themecs/animate.css" rel="stylesheet" />
    <link href="~/Content/themecs/style.css" rel="stylesheet" />


</head>
@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
<body class="login-page">
    <div class="backtopImage">

    </div>

    <div class="login-box">
        <div class="card cardmargin" style="background: #f7f7f7;">
            <div class="body">
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="logo">
                            <a href="javascript:void(0);"><b>ERP </b>Login</a>
                            <small>Sign in to start your session</small>
                            
                        </div>
                        </div>

                        <div class="col-sm-6">

                            <div class="row" style="margin-top: 1.5em;">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">person</i>
                                    </span>
                                    <div class="form-line">
                                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Username", @required = true, @autofocus = true,@style= "background: #f7f7f7;" })
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 1em;">

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock</i>
                                    </span>
                                    <div class="form-line">
                                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password", @required = true, @style = "background: #f7f7f7;" })

                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-xs-8 p-t-5" style="margin-bottom:10px;">

                                    <input type="checkbox" name="RememberMe" id="RememberMe" value="model.RememberMe" class="filled-in chk-col-pink">
                                    <label for="rememberme">Remember Me</label>
                                    <div>
                                        <a href="@Url.Action("ResetPassword","Login")">Forgot Password?</a>
                                    </div>

                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-block bg-pink waves-effect" type="submit" onclick="location.href='@Url.Action("Index", "DashBoard")'">SIGN IN</button>
                                </div>
                                
                            </div>
                            <div class="row">
                                @if (TempData["LogMessage"] != null)
                                {
                                    <div style="color: #f71100 !important;">

                                        @TempData["LogMessage"].ToString()
                                    </div>
                                }
                            </div>
                            
                        </div>
                    </div>

                    
                   
                
            </div>
        </div>
        
    </div>

    
    <!-- /.login-box -->


    <script src="~/Scripts/themesjs/jquery.min.js"></script>
    <script src="~/Scripts/themesjs/bootstrap.js"></script>
    <script src="~/Scripts/themesjs/waves.js"></script>
    <script src="~/Scripts/themesjs/jquery.validate.js"></script>
    <script src="~/Scripts/themesjs/admin.js"></script>

    <script>
        $(function () {
          

            $('#sign_in').validate({
                highlight: function (input) {
                    console.log(input);
                    $(input).parents('.form-line').addClass('error');
                },
                unhighlight: function (input) {
                    $(input).parents('.form-line').removeClass('error');
                },
                errorPlacement: function (error, element) {
                    $(element).parents('.input-group').append(error);
                }
            });
        });
    </script>
</body>
}
</html>
