﻿@*<link href="~/Content/select2.min.css" rel="stylesheet" />
    <link href="~/Content/sweet/sweetalert.css" rel="stylesheet" />
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>*@

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">New Customer</h4>
</div>

<link href="~/Content/Custom.css" rel="stylesheet" />
@*@using (Html.BeginForm("CreateCustomer", "Customer", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data",@id="frm"}))
    {*@
<form id="custform">
    <div class="modal-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="box box-default">
            <div class="titlerow bg-light-blue">
                <div class="with-border panelHeader">
                    <header class="box-title">Customer Details</header>
                </div>
            </div>
            @Html.Partial("~/Views/Customer/CustomerDetails.cshtml")
        </div>
        <div class="box box-default">
            <div class="titlerow bg-light-blue">
                <div class="with-border panelHeader">
                    <header class="box-title">Contact Person Details</header>
                </div> 
            </div>
            @Html.Partial("~/Views/Customer/CustomerContactPerson.cshtml")
        </div>

        <div class="box box-default">
            <div class="titlerow bg-light-blue">
                <div class="with-border panelHeader">
                    <header class="box-title">Contact Address Details</header>
                </div> 
            </div>
            @Html.Partial("~/Views/Customer/ContactAddressDetail.cshtml")
        </div>


        <div class="box box-default">
            <div class="titlerow bg-light-blue">
                <div class="with-border panelHeader">
                    <header class="box-title">Bank Details</header>
                </div> 
            </div>
            @Html.Partial("~/Views/Customer/CustomerBank.cshtml")
        </div>


    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="saveCustomermodal">Save changes</button>
    </div>
</form>
<script src="~/Scripts/SaveCustomer.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {

        $('#customergstno').val("27");
        $('#statecodehidden').val("27");
    });
    function getState() {
        // $("#customercityid").empty();
        $("#addressstateid").empty();
        var countryid = $("#countryid").val();
        if (countryid != "0" && countryid != "") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Getstate", "Customer")',
                dataType: "json",
                data: "{'countryid':" + countryid + "}",
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#addressstateid").append('<option value="' + state.ID + '">' + state.Name + '</option>');
                    });
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
        }
    }



    //Customer Client Validation Code
    $('#saveCustomermodal').on('click', function () {
        var customername = $("#customername").val();
        var customertypeid = $('#customertypeid').val();
        var customerphone = $("#custpmerphone").val();
        var customerstateid = $('#customerstateid').val();
        var customercityid = $("#customercityid").val();
        var customerGSTNo = $('#customergstno').val();
        var customerTINNo = $('#cutomerTINno').val();
        var customermail = $("#customeremail").val();

        var str = "";
        var count = 0;
        var rowcount = 0;
        var isFirstItem = 0;

        var $dataRows = $("#contactstable tr:not('.titlerow')");
        var rowlenght = $dataRows.length;

        var $dataRows_address = $("#contactaddresstable tr:not('.titlerow')");
        var addressrowlenght = $dataRows_address.length;

        var isvalid = true;
        //validations of customer details
        if (customername == "") {
            swal("Please enter customer name");
            isvalid = false;
        }
        else if (customerTINNo == "") {
            swal("Please enter customer TIN No");
            isvalid = false;
        }
        else if (customertypeid == "" || customertypeid == 0) {
            swal("Please select customer type");
            isvalid = false;
        }
        else if (customerphone == "") {
            swal("Please enter customer phone no");
            isvalid = false;
        }
        else if (parseInt(addressrowlenght) <= 0) {
            swal("Please add address details.");
            isvalid = false;
        }
            
            // else if (customerstateid == "" || customerstateid == 0) {
            //     swal("Please select customer state");
            //     isvalid = false;
            //  }
            ///  else if (customercityid == "" || customercityid == 0) {
            //      swal("Please select customer city");
            //      isvalid = false;
            //  }

        else if (rowlenght > 0) {
            $dataRows.each(function () {
                count = 0;
                rowcount++;
                $(this).find('.contactrow').each(function (i) {
                    var contactlist = ($(this).val());
                    count++;

                    if (contactlist != undefined) {

                        if (count == 8) {
                            str += contactlist;
                        }
                        else {
                            str += contactlist + "~";
                        }
                    }

                });

                if (rowcount == rowlenght) {
                }
                else {
                    str += "#";
                }

            });
            //  alert(str);
            $('#ContactList').val(str);
            var addrowcount = 0;
            var addressstr = "";
            $dataRows_address.each(function () {
                count = 0;
                addrowcount++;
                $(this).find('.addressrow').each(function (i) {
                    debugger;
                    var addresslist = ($(this).attr("rawdata"));
                    count++;

                    if (addresslist != undefined) {

                        if (count == 6) {
                            addressstr += addresslist;
                        }
                        else {
                            addressstr += addresslist + "~";
                        }
                    }

                });

                if (addrowcount == addressrowlenght) {
                }
                else {
                    addressstr += "#";
                }

            });

            //alert(addressstr);
            $('#AddressList').val(addressstr);
            // $.ajax({



        }

        return isvalid;
    });

// Customer Client Validation Code End


//Save Customer Data
    $(document).on('submit', '#custform', function () {
        debugger;
        var customername = $('#contactname').val();
        var customertypeid = $('#customertypeid').val();
        var customerphone = $('#custpmerphone').val();
        var customeraddress = $('#customeraddress').val();
        // var customerstateid = $('#customerstateid').val();
        var customerGSTNo = $('#customergstno').val();
        var customeremail = $('#customeremail').val();
        var remark = $('#remark').val();
        var customerCSTNo = $('#customerCSTNo').val();
        var customerTINNo = $('#cutomerTINno').val();
        // var customercityid = $('#customercityid').val();
        //customer bank details
        var customerbank = $('#customerbank').val();
        var customeraccountno = $('#customeraccountno').val();
        var customerbankcode = $('#customerbankcode').val();
        var contactlist = $('#ContactList').val();
        var addresslist_ = $('#AddressList').val();

        var param = { 'custname': customername, '_customertypeid': customertypeid, 'custphone': customerphone, 'email': customeremail, '_remark': remark, 'cstno': customerCSTNo, 'tinno': customerTINNo, 'bankname': customerbank, 'accountno': customeraccountno, 'bankcode': customerbankcode, 'contactlist': contactlist, 'addresslist': addresslist_ };
        // string gstno,string email,string _remark,string cstno,string tinno,int cityid,string bankname,string accountno,string bankcode)
        // alert("On submit custform");
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("CreateCustomer", "Customer")',
            dataType: "json",
            data: JSON.stringify(param),
            success: function (value) {
                // alert("in success")
                if (value == true) {
                    swal("Customer Saved.");
                    fillcustomer();
                }
            },
            error: function (result) {
                alert("Error" + result.status);
            }
        });
    });

    //Save Customer END
</script>

<script>
    function fillcustomer() {
        var startrow = 0;
        var startrowvalue = "---Select----"
        //code to fill dropdown list
        $("#customerid").empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("getcustomerlist", "quotation")',
            data: '{}',
            contentType: "application/json; charset=utf-8",

            dataType: "json",
            success: function (countrys) {
                $("#customerid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(countrys, function (i, item) {
                    $("#customerid").append('<option value="' + item.Id + '">' + item.contactname + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function getCity() {
        $("#addresscityid").empty();
        var stateid = $("#addressstateid").val();
        if (stateid != "0" && stateid != "") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("getCityNameList", "Supplier")',
                dataType: "json",
                data: "{'stateid':" + stateid + "}",
                success: function (citys) {
                    $.each(citys, function (i, city) {
                        $("#addresscityid").append('<option value="' + city.ID + '">' + city.Name + '</option>');
                    });
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Getstatecode", "Customer")',
                dataType: "json",
                data: "{'stateid':" + stateid + "}",
                success: function (result) {
                    $('#statecodehidden').val(result);
                    setGSTno();
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
        }
    }
    function checkEmail() {
        var emailstr = $("#customeremail").val();
        if (emailstr != "") {
            var id = 0;
            var param = { 'strEmail': emailstr, 'Id': id }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("IsEmailExist", "Customer")',
                dataType: "json",
                data: JSON.stringify(param),
                success: function (value) {
                    if (value == false) {
                        swal({
                            title: "Email already exist!",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonText: "OK",
                            closeOnConfirm: false
                        }, function (isConfirm) {
                            if (isConfirm) {
                                swal.close();
                                $("#customeremail").val("");
                            }
                        })
                    }
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
        }
    }
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>