﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    var cururl = Request.Url.Authority;//"localhost:2423
    string styleimgpath_ = string.Empty;
    string rawimgpath_ = string.Empty;
    string itemimgpath_ = string.Empty;
    if (cururl.Contains("localhost"))
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
    else
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<link href="~/Content/photoGalleryStyle.css" rel="stylesheet" />


<style type="text/css">

    ul {
        margin: 0;
    }
</style>




<div class="titheader">
    <div class="block-header">
        <div class="col-sm-10">
            <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Customer Management</a>  >  </div>
            <div class="HMline"><a href="@Url.Action("Index", "Quotation")">Quotation Detail</a>  >  </div>
            <div class="HMsubline">Create</div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Quotation")'">Cancel</button>
            <button type="submit" class="btn btn btn-success pull-right" style="margin-right:5px;" id="savequotation">Save</button>


        </div>

    </div>
</div>
@using (Html.BeginForm("Create", "quotation", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Quotation Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Product Details
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#messages_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i> Material Details
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">

                                        <div class="col-md-2">
                                            <label>Quotation Number</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="hidden" id="Id" name="Id" value="0" />
                                                    <input type="text" class="form-control" id="QuotationNo" name="QuotationNo" value="@ViewBag.quotno" readonly>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Quotation Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right datepicker" id="Quotationdate" name="Quotationdate">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row clearfix">

                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Select Buyer</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="customerid" name="customerid" class="form-control text-box single-line ui-autocomplete-input valid" data-ID="0" data-val="true" value="" autocomplete="off" onchange="getCustomerdetails()" />
                                                </div>
                                                <span id="customermsg" class="help-block" style="color:red;"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Address</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select id="Addressid" class="form-control select2" name="Addressid"></select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="email" name="email" class="form-control" readonly />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-2">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="phone" name="phone" readonly />
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row clearfix">

                                        <div class="col-md-2">
                                            <div class="required">

                                                <label>Enquiry Ref No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select id="Enquiryrefno" name="Enquiryrefno" class="form-control select2" onchange="getenquirydetails(this.id)"> </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Sampling</label>
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <input type="radio" name="sam" id="sampleyes" value="yes" class="with-gap" />
                                            <label for="sampleyes">Yes</label>

                                            <input type="radio" name="sam" id="sampleno" value="no" class="with-gap" checked />
                                            <label for="sampleno" class="m-l-20">No</label>

                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Delivery Date</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" id="tentivedate" name="Tentivedate" />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2 pull-left">
                                            <div class="form-group">
                                                <label>Remark</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pull-left">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control alphaonly" id="narration" name="narration"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix approval" style="display:none;">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Approval Status</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="Approvalstatus" name="approvalstatus">
                                                    <option>Select</option>
                                                    <option selected="selected" value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2 pull-left approvalComment" style="display:none;">
                                            <label>Approval Comment</label>
                                        </div>

                                        <div class="col-md-4 pull-left approvalComment" style="display:none;">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="Comment" name="Comment"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">

                                    <div class="row clearfix">
                                        <div class="col-md-3 col-sm-3 col-xs-12 m-0">
                                            <div>
                                                <label>Segment Type</label>
                                            </div>
                                            @Html.DropDownList("Segmenttypeid", (IEnumerable<SelectListItem>)ViewBag.segmenttypelist, "Select", new { @class = "form-control select2", })
                                            <span id="segmentmsg" class="help-block" style="color:red;"></span>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <div class="required">
                                                <label>Select Item</label><a href="/Item/Create" target="_blank" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></a>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" data-ID="0" value="" autocomplete="off" id="Itemid" name="Itemid" onchange="getItemdetail()" />
                                                </div>
                                            </div>
                                            <input type="hidden" id="hidIsReadyMate" name="hidIsReadyMate" />
                                            <span id="itemmsg" class="help-block" style="color:red;"></span>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <div class="required">
                                                <label>Style Name</label><a href="/Style/Create" target="_blank" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></a>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" data-ID="0" autocomplete="off" id="Styleid" name="Styleid" onchange="GetStyleData()" />
                                                </div>
                                            </div>
                                            <span id="stylemsg" class="help-block" style="color:red;"></span>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <label>Style Desc</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control alphaonly disabled" name="Styledesc" id="Styledesc" readonly />
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <label>Style No</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" name="Styleno" id="Styleno" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <label>Brand Name</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control alphaonly" name="Brand" id="Brand">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <div class="required">
                                                <label> Total Req.Qty</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" autocomplete="off" id="Reqqty" name="Reqqty" readonly>
                                                </div>
                                            </div>
                                            <span id="qtymsg" class="help-block" style="color:red;"></span>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <input type="file" class="form-control" name="styleimg" id="styleimg" style="display:none;" multiple>
                                            <div class="form-group">
                                                <input type="button" class="btn btn-info mr-3" style="margin-top:2em;" value="Upload Image" onclick="ImageUpload(this.id,'upload','Style','styleimg')" />
                                                <input type="button" class="btn btn-primary" style="margin-top:2em;" value="Add To List" onclick="AddtoList()" />
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="AttributeId" name="AttributeId" />
                                    <input type="hidden" id="AttributList" name="AttributList" />
                                    <div class="row clearfix">
                                        <div class="col-md-12 mb-2">
                                            <div class="table table-responsive">
                                                <table class="table table-striped table-bordered" id="AttributeTable">
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="table table-responsive">
                                                <table class="table table-striped table-bordered" id="MultiItemTab">
                                                    <thead>
                                                        <tr style="background-color: #fccaca;">
                                                            <th>Segment Type</th>
                                                            <th>Item Name</th>
                                                            <th>Style Name</th>
                                                            <th>Style Desc.</th>
                                                            <th>Style NO.</th>
                                                            <th>Brand Name</th>
                                                            <th>Req. Qty.</th>
                                                            <th>Unit.<input type="hidden" id="ItemUnit" name="ItemUnit" value="" /></th>
                                                            <th>Cost Price Per Qty</th>
                                                            <th>Sell Price Per Qty</th>
                                                            <th>GST Charge(%)</th>
                                                            <th>Tax</th>
                                                            <th>Sub Total</th>
                                                            <th>Item Image</th>
                                                            <th>Req. Image</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="isselectenquiry" value="0" />
                                    <div class="row clearfix" style="display:none;">

                                        <div class="col-md-2">
                                            <div class="required">

                                                <label>Cost Price :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="costprice" autocomplete="off" name="costprice" value="0" onkeypress="javascript: return isNumber(event)" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required">

                                                <label>Sale Price :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="saleprice" autocomplete="off" name="saleprice" value="0" onkeypress="javascript:return isNumber(event)" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-2">
                                            <div class="required">

                                                <label>GST Charge(%)</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <select class="form-control select2" id="GSTCharge" name="GSTCharge" onchange="QuationCal()"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required">

                                                <label>Tax :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="tax" name="tax" value="0" disabled />
                                                    <input type="hidden" class="form-control" id="Htax" name="Htax" value="0" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Subtotal:</label>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="subtotal" name="subtotal" value="0" disabled />
                                                    <input type="hidden" class="form-control " id="Hsubtotal" name="Hsubtotal" value="0" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Total :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="Total" name="Total" value="0" disabled />
                                                    <input type="hidden" class="form-control" id="Htotal" name="Htotal" value="0" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Additional Charge :</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.DropDownList("otherchrge", (IEnumerable<SelectListItem>)ViewBag.OtherCharge, "Select", new { @class = "form-control select2", @onchange = "ShowOtherCharge()" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="OtherChargeDetails" class="table table-striped" style="display:none;">
                                                    <thead>
                                                        <tr class="bg-info rowtitle">
                                                            <th>Additional Charge Name</th>
                                                            <th>Amount</th>
                                                            <th>GST(%)</th>
                                                            <th>GST Amount</th>
                                                            <th>Total</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix" id="OC_GrandTotal_id" style="display:none;">

                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="hidden" id="otherchargestr" name="otherchargestr" />
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required"><label>Grand Total :</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="GrandTotal" name="GrandTotal" value="0" readonly />
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="messages_with_icon_title">
                                    <input type="hidden" name="styleliststr" id="styleliststr" onkeypress="" />
                                    <input type="hidden" name="rawitemliststr" id="rawitemliststr" />
                                    <input type="hidden" name="issampling" id="issampling" />
                                    <input type="hidden" name="sizeliststr" id="sizeliststr" />
                                    <input type="hidden" name="isapprovalstatus" id="isapprovalstatus" />
                                    <input type="file" name="stylefile" id="stylefile" style="display:none;" />
                                    <input type="file" name="rawimglist" id="rawimglist" style="display:none;" multiple />


                                    <div class="row clearfix">
                                        <div class="col-md-12" style="margin-bottom:40px;" id="rawMaterialMultiIdtab">


                                            @*<div class="box-body table-responsive no-padding">
                    <table class="table table-striped table-bordered" id="rawitemtable">
                        <caption class="tblcaptn">Item Name </caption>
                        <thead>
                            <tr style="background-color:#d5d5d5;">
                                <th>
                                    Item Category <a href="/ItemCategory/Create" target="_blank" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></a>
                                </th>
                                <th>Sub Category <a href="/ItemSubCategory/Create" target="_blank" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></a></th>
                                <th>Item Desc</th>
                                <th>Supplier <label onclick="ShowEntity(2)" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></label></th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <th>
                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="itemcatNameid" name="itemcatNameid" />
                                    <input type="hidden" id="itemcategoryid" name="itemcategoryid" />
                                </th>
                                <th>
                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="itemsubcategoryNameid" name="itemsubcategoryNameid" />
                                    <input type="hidden" id="itemsubcategory" name="itemsubcategory" />
                                </th>

                                <th>
                                    <input type="text" class="form-control alphaonly" id="itemdesc" name="itemdesc" />
                                </th>
                                <th>
                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="supplierNameid" name="supplierNameid" />
                                    <input type="hidden" id="supplier" name="supplier">
                                </th>
                                <th>
                                    <input type="file" class="form-control" name="rawimg" id="rawimg" style="display:none;">
                                    <input type="button" class="btn btn-info" style="margin-top:0em;" value="Upload Image" onclick="GetImageUpload(this.id,'upload','Raw')" />
                                </th>
                                <th>
                                    <button type="button" class="btn btn-info addrawitem">Add</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <table id="hiderawitemtable">
                        <tbody></tbody>
                    </table>

                </div>*@
                                        </div>
                                    </div>

                                </div>
                                @*<div role="tabpanel" class="tab-pane fade" id="price_with_icon_title">


                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


}


<!--Image View Modal-->
<div class="modal fade" id="UploadPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Preview Image</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="box box-default">

                        <div class="box-body with-border">
                            <div class="row clearfix" id="uploadid">
                                <div class="col-sm-4 col-xs-6">
                                    <span>Select Image</span>
                                </div>
                                <div class="col-sm-6  col-xs-6" style="margin:0;">
                                    <input type="hidden" id="noid" name="noid" value="" />
                                    <input type="hidden" id="nameid" name="nameid" value="" />
                                    <input type="hidden" id="typeid" name="typeid" value="" />
                                    <input type="hidden" id="fileid" name="fileid" value="" />
                                    <input type='file' id='ItemImages' name='ItemImages' class='form-control' multiple />
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="gallery-container">
                                        <div class="pagi-container imgpre" id="img_preview">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">

                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                    <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="Saveimage" onclick="SaveImage()">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-default" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            @Html.Partial("~/Views/CustomerEnquiry/CreateCustomer.cshtml")

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-style" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            @Html.Partial("~/Views/Style/CreateStyle_Partial.cshtml")
        </div>
    </div>
</div>
<div class="modal fade" id="modal-item" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            @Html.Partial("~/Views/CustomerEnquiry/CreateItem.cshtml")
        </div>
    </div>
</div>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<script src="~/Scripts/PageScript/CustomerQuotation.js"></script>
<script src="~/Scripts/OtherCharge.js"></script>
