﻿@model Garments_ERP.Entity.M_ShiftMasterEntity
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}


<link href="~/Content/select2.min.css" rel="stylesheet" />
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
@using (Html.BeginForm("Edit", "Shift", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    <main id="tabs">
        <ul id="tab_ulid">
            <li class="btnLi active">
                <a href="#content1">Edit Shift</a>
            </li>

            <li style="float:right;padding:9px 0;">
                <button type="submit" class="btn btn-success pull-left" style="margin-right:5px;" id="SaveShift">Update</button>
                <button type="button" class="btn btn-danger pull-left" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Shift")'">Cancel</button>


            </li>
        </ul>
        <section-tab id="content1" class="sectab">
            <div class="box box-default">
                <div class=" titlerow bg-light-blue">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="color:white;">Edit Shift</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                </div>
                <div class="box-body with-border">
                    <div class="row">
                        @Html.HiddenFor(m => m.ID)
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label>Shift Name<i class="text-red">*</i></label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.SHORT_NAME, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.SHORT_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Shift Code<i class="text-red">*</i></label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.CODE, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label>Start Time<i class="text-red">*</i></label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.START_TIME, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.START_TIME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>End Time</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.END_TIME, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.END_TIME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label>Department</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.departmentlist, "---Select Department---", new { @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Effective Date</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.EFFECTIVE_DATE, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label>
                                    Comment
                                </label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                @*<div class="box-footer">
                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Shift")'">Cancel</button>
                    <button type="submit" class="btn btn pull-right" style="margin-right:5px;" id="SaveShift">Update</button>
                </div>*@
            </div>
            </section-tab>
        </main>
            }
            <script src="~/Scripts/jquery-1.8.2.min.js"></script>
            <script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
