﻿@model Garments_ERP.Entity.M_BrandMasterEntity
<style type="text/css">
    ul {
        margin: 0;
    }
</style>
<div class="row clearfix">
    <div class="col-md-2">
        <label>Brand Name</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Brandname, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Brandname, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-2">
       
            <label>Brand Short Name</label>
     
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.Brandshortname, new { @class = "form-control" })
            </div>
        </div>

    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <label>Brand Description</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextAreaFor(model => model.Branddescription, new { @class = "form-control" })
            </div>
        </div>
        </div>
    </div> 

