﻿@model Garments_ERP.Entity.M_ItemMasterEntity

<style type="text/css">
    ul {
        margin: 0;
    }
    .pluxad {
        float: right;
        padding: 8px;
        background: green;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrash {
        float: right;
        padding: 8px;
        background: red;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrashdis {
        float: right;
        padding: 8px;
        background: red;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrash2 {
        float: right;
        padding: 8px;
        background: red;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrashdis {
        float: right;
        padding: 8px;
        background: #cec9c9;
        color: #af9a9a;
        border-radius: 14px;
        cursor: pointer;
    }

    .bodyscol {
        max-height: 230px;
        overflow: auto;
    }
</style>

<div class="box box-default">

    <div class="box-body with-border">
        <div class="row">
            <div class="col-sm-2">
                <span>Attribute</span>
            </div>
            <div class="col-sm-4">
                @Html.DropDownList("Attribute_ID", (IEnumerable<SelectListItem>)ViewBag.Attribute, new { @onchange = "GetAttributevalue(this)", @class = "form-control select2", @multiple = "multiple" })
                <span id="itemmsg" class="help-block" style="color:red;"></span>
                <input type="hidden" id="hidAttribId" name="hidAttribId" value="@ViewBag.AttibId" />
            </div>

        </div>
        <input type="hidden" id="AttributList" name="AttributList" />
        <div class="row">
            <div class="col-sm-12">
                <div class="table table-responsive">
                    <table class="table table-striped" id="AttributeTable"></table>
                    <table class="table table-striped" id="AttributeTable1"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UploadPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Upload/Preview Image</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="box box-default">

                        <div class="box-body with-border">
                            <div class="row clearfix" id="uploadid">
                                <div class="col-sm-4 col-xs-6">
                                    <span>Select Image</span>
                                </div>
                                <div class="col-sm-6  col-xs-6" style="margin:0;">
                                    <input type="hidden" id="noid" name="noid" value="" />
                                    <input type="hidden" id="nameid" name="nameid" value="" />
                                    <input type='file' id='ItemAttrimages' name='ItemAttrimages' class='form-control' multiple />
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="gallery-container">
                                        <div class="pagi-container imgpre" id="imgpreview1">

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">
                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="pophide()">Cancel</button>
                    <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="SaveImage" onclick="Savehide_A()">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ProdutInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:74em;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Product Info Details</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="box box-default">

                        <div class="box-body with-border">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span>Product Type</span>
                                </div>
                                <div class="col-sm-6" style="margin:0;">
                                    @Html.DropDownList("Dynamic_ID", (IEnumerable<SelectListItem>)ViewBag.ControlList, new { @onchange = "GetProductvalue(this)", @class = "form-control select2", @multiple = "multiple" })
                                    <span id="itemmsg" class="help-block" style="color:red;"></span>
                                </div>

                            </div>
                            <input type="hidden" id="proditemname" name="proditemname" dataval="" />
                            <input type="hidden" id="proAcptQty" name="proAcptQty" />
                            <input type="hidden" id="ProductTypeList" name="ProductTypeList" />
                            <div class="row">
                                <div class="col-sm-12" style="margin:0;">
                                    <div class="table table-responsive bodyscol" style="margin-bottom:0;">
                                        <table class="table table-striped" id="ProductInfoTable" style="width: 100%;display: none;">
                                            <thead style="background-color:#607d8b;color:#fff;height: 40px;">

                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="table table-responsive" style="margin-bottom:0;">
                                        <table class="table table-striped" id="TotalCount"></table>
                                    </div>
                                    <div class="table table-responsive" style="margin-bottom:0;">
                                        <table class="table table-striped" id="ProductInfoTable1"></table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">
                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="pophide()">Cancel</button>
                    <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="SaveProdInfo">Save</button>

                </div>
                <script src="~/Content/exportpugin/tableExport.js"></script>
                <script src="~/Content/exportpugin/jquery.base64.js"></script>
                <script src="~/Content/exportpugin/html2canvas.js"></script>
                <script src="~/Content/exportpugin/jspdf/libs/base64.js"></script>
                <script src="~/Content/exportpugin/jspdf/libs/sprintf.js"></script>
                <script src="~/Content/exportpugin/jspdf/jspdf.js"></script>

            </form>
        </div>
    </div>
</div>

