﻿@model Garments_ERP.Entity.M_ItemMasterEntity
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    var cururl = Request.Url.Authority;//"localhost:2423
    string itemimgpath_ = string.Empty;
    if (cururl.Contains("localhost"))
    {
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
    else
    {
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
}

<style type="text/css">
    ul {
        margin: 0;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<link href="~/Content/photoGalleryStyle.css" rel="stylesheet" />

@using (Html.BeginForm("Edit", "Item", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    <input type="hidden" id="altmsg" value="@Convert.ToString(TempData["alertmsg"])" />

    @Html.HiddenFor(m => m.Id)
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "Item")">Item Detail</a>  >  </div>
                <div class="HMsubline">Edit</div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Item")'">Cancel</button>
                
                    <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="SaveItem">Update</button>
               
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Basic Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Item Attributes
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#messages_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i> Item Documents
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">



                                    <div class="row clearfix">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.Partial("EditNewItem")
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <div class="row clearfix">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.Partial("EditItemAttribute")
                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="messages_with_icon_title">
                                    <div class="row clearfix">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.Partial("EditItemImage")
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
    <input type="hidden" id="HItemid" name="HItemid" value="@Model.Id" />
}
<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script src="~/Scripts/SaveItem.js"></script>
<script>
  

    function fnsetimgpreve(filecontrol, previecontrol) {
        $("#" + filecontrol).on("change", function (e) {

            $("#" + previecontrol).empty();
            var files = e.target.files,
            filesLength = files.length;
            for (var i = 0; i < filesLength ; i++) {
                var f = files[i]
                var fileReader = new FileReader();
                fileReader.onload = (function (e) {
                    var file = e.target;
                    var imgstr = "<div class='imgDiv'  onMouseOver='showclose(this);' onMouseOut='hideclose(this);'> <img class='imageThumb' src='" + e.target.result + "'   ></img> <a href='#' class='imgClose' title='Remove'>X</a></div>";
                    $("#" + previecontrol).append(imgstr);
                });
                fileReader.readAsDataURL(f);
            }
        });
    }

    function fillItemsubCategory()
    {
        var startrow = "0";
        var startrowvalue = "---Select---";
        var itemcategory = $('#ItemCategoryid').val();
        if (itemcategory != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getItemSubcategory", "CustomerEnquiry")',
                data: "{'itemcategoryid':" + itemcategory + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (subcates) {
                    $('#Itemsubcategoryid').empty();
                    $("#Itemsubcategoryid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                    $.each(subcates, function (i, subcate) {
                        $("#Itemsubcategoryid").append('<option  value="' + subcate.Id + '">' + subcate.Itemsubcategory + '</option>');
                    });
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
    }

    function GetAttributevalue(aid) {
        debugger;
        var AttribId = $(aid).val();

        if (AttribId != "" && AttribId != null) {
            var Data = $('#Attribute_ID option:selected').toArray().map(item => item.text).join();
            var index = Data.indexOf(',')
            if (index == -1) {
                Data = Data + ",";
            }
            Data = Data.split(',');
            var tabstr = "";
            $("#AttributeTable").html("");
            tabstr = tabstr + "<tr  class='attrbtab1'>";
            for (i = 0; i < Data.length; i++) {
                if (Data[i] != "") {
                    tabstr = tabstr + "<th style='width:9em;'>" + Data[i] + "</th>";
                }
            }
            tabstr = tabstr + "<th style='width:9em;'>Opening Stock</th> <th  style='width:9em;'>Rates</th><th style='width:9em;'>ROL</th><th style='width:9em;'>EOQ</th><th style='width:8em;'>Image</th><th style='width:5.8em;'>Batch Info</th><th style='width:5em;'>Action</th>";
            tabstr = tabstr + "</tr>"
            $("#AttributeTable").append(tabstr);


            var tabstr1 = "";
            $("#AttributeTable1").html("");
            tabstr1 = tabstr1 + "<tr  class='attrbtab2' style='display:none;'>";
            for (i = 0; i < Data.length; i++) {
                if (Data[i] != "") {
                    tabstr1 = tabstr1 + "<th style='width:9em;'>" + Data[i] + "</th>";
                }
            }
            tabstr1 = tabstr1 + "<th  style='width:9em;'>Opening Stock</th> <th  style='width:9em;'>Rates</th><th  style='width:9em;'>ROL</th><th style='width:9em;'>EOQ</th><th style='width:8em;'>Image</th><th style='width:5.8em;'>Batch Info</th><th style='width:5em;'>Action</th>";
            tabstr1 = tabstr1 + "</tr>"
            tabstr1 = tabstr1 + "<tr  class='attrbtab_val2'>";
            var index2 = AttribId.indexOf(',');
            if (index2 == -1) {
                AttribId = AttribId + ",";
            }
            AttribId = AttribId.split(',');

            for (i = 0; i < AttribId.length; i++) {
                var option = "";
                if (AttribId[i] != "") {
                    tabstr1 = tabstr1 + "<td style='width:10em;'><input type='hidden' id='Hid" + Data[i] + "1' class='hidid' /><input type='hidden' id='Hv" + Data[i] + "1' class='hidval' /> <input type='text' datavalue='' class='form-control text-box single-line ui-autocomplete-input valid' data-val='true' value='' autocomplete='off' id='" + Data[i] + "1' Name='" + Data[i] + "1' onkeypress=GetAttrList(this,'" + AttribId[i] +"') /></td>";
                }
            }
            tabstr1 = tabstr1 + "<td  style='width:10em;'><input type='text' id='itemstock1'  onchange='OnOffBI()'  class='form-control' onkeypress='return isNumber(event)' /></td> <td  style='width:10em;'><input type='text' id='rates1' class='form-control'  onkeypress='return isNumber(event)' /></td><td  style='width:10em;'><input type='text' id='ROL1'  class='form-control'  onkeypress='return isNumber(event)' /></td><td  style='width:10em;'><input type='text' id='EOQ1'  class='form-control'  onkeypress='return isNumber(event)' /></td><td style='width:3em;'><input type='button' class='btn btn-info' value='Upload Image' onclick=GetUPpp(this.id,'upload') /><div id='imagedata' name='imagedata'> </div> </td>";
            tabstr1 = tabstr1 + "<td style='width:3em;'><button type='button' id='btnSetProductInfo' disabled class='btn btn-danger btn-xs' onclick=GetPIpp(this.id) >ProductInfo</button> <input type='hidden' id='productinfo' name='productinfo' class='itemPIdata' /><input type='hidden'  class='itemPIdata' id='producttype' name='producttype' /></td><td style='width:5em;'><i class='fa fa-plus pluxad' onclick='SetAttributeValue()'></i></td>";
            tabstr1 = tabstr1 + "</tr>"
            $("#AttributeTable1").append(tabstr1);
            var cnt = 0;
           
        }
        else {
            debugger;
            $("#AttributeTable1").html("");
            $("#AttributeTable").html("");
            $("#Attribute_ID  option:selected").val("");
        }
    }
    
    function SetAttributeValue() {
        debugger;
        var comm = {  };
        var savedata = {};

        itemstock = $("#itemstock1").val();
        rates = $("#rates1").val();
        ROL = $("#ROL1").val(); 
        EOQ = $("#EOQ1").val();
        Images = $("#itemimages").val();
        var isvalid = true;
        var ErrorMessage = "";
        //validations of item master
        $("#AttributeTable1 tr.attrbtab_val2").children('td').find(".hidval").each(function () {
            var chkatrval = this.value;
            if (chkatrval == "" || chkatrval == "0") {
                ErrorMessage = "Please Select Column Attribute Value!";
                isvalid = false;
            }
        });

        var PIQty = $(".totqtycl").val();
        if (parseFloat(itemstock) > 0) {
            if (parseFloat(PIQty) > 0) {
                if (parseFloat(itemstock) != parseFloat(PIQty)) {
                    ErrorMessage = "Opening Quantity and Batch Info Total Qunatity Does Not Match!";
                    isvalid = false;
                }
            }
            else {
                ErrorMessage = "Please Enter Batch Info Details";
                isvalid = false;
            }
        }


        if (itemstock == "") {
            ErrorMessage = "Please Enter Item Stock";
            isvalid = false;
        }
        else if (rates == "") {
            ErrorMessage = "Please Enter Rate Of Item";
            isvalid = false;
        }
        else if (ROL == "") {
            ErrorMessage = "Please Enter Re-Order Level";
            isvalid = false;
        }
        else if (EOQ == "") {
            ErrorMessage = "Please Enter EOQ";
            isvalid = false;
        }
        if (ErrorMessage != "") {
            swal({
                title: 'Error',
                text: ErrorMessage,
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            });
            isvalid = false;
        }
        else {
            
            var Data = $('#Attribute_ID option:selected').toArray().map(item => item.text).join();
            var index = Data.indexOf(',')
            if (index == -1) {
                Data = Data + ",";
            }
            Data = Data.split(',');
            debugger
            var count = 0;
            var temprray ="";
            var atrval = "";
            var item1 = {}
            $("#AttributeTable1 tr.attrbtab_val2").children('td').find(".hidval").each(function () {
                atrval = atrval + "," + this.value;
            });
            
            $("#AttributeTable").find(".attrtabval").each(function () {
                temprray = "";
                $(this).children('td').find(".hidval2").each(function () {
                    temprray = temprray + "," + this.value;
                });
                if (atrval == temprray) {
                    count++;
                }
            });

                
            
            if (count == 0) {
                var file1 = document.querySelector('#ItemAttrimages');
                var fcount = file1.files.length;

                debugger;
                var atrid
                $("#AttributeTable1 tr.attrbtab_val2").children('td').find(".hidid").each(function () {
                    atrid = atrid + "," + this.value ;
                });
                atrid = atrid.split(',');
                atrid.splice(0,1);
                atrval = atrval.split(',');
                atrval.splice(0, 1);


                $(".attrbtab1").removeAttr('style');
                $(".attrbtab2").attr('style', 'display:none;');
                var tabstr = "";
                var len1 = $("#AttributeTable tr").length;
                len1 = len1 + 1;
                tabstr = tabstr + "<tr class='attrtabval'>";
                for (i = 0; i < Data.length; i++) {
                    if (Data[i] != "" && atrval[i] != "" && (atrid[i] != "" || atrid[i] !== "undefined")) {
                        tabstr = tabstr + "<td dataval='" + atrid[i] + "' style='width:10em;'><input type='hidden' value='" + atrid[i] + "' class='hid2'  /> <input type='hidden' class='hidval2' value='" + atrval[i] + "'  />" + atrval[i] +"</td>";
                    }
                }

                var AcQty = $("#proAcptQty").val();
                var tot = parseFloat(AcQty) + parseFloat(itemstock);
                $("#proAcptQty").val(tot);

                var disn = parseFloat(tot) > 0 ? "" : "disabled";

                var productinf = $("#productinfo").val();
                var productty = $("#producttype").val();

                var BTInfo = productinf + "|" + productty;



                tabstr = tabstr + "<td style='width:10em;' dataval='" + itemstock + "'>" + itemstock + "<input type='hidden' class='itemqtycl' value='" + itemstock + "' /></td> <td style='width:10em;' dataval='" + rates + "'>" + rates + "</td><td style='width:10em;'  dataval='" + ROL + "'>" + ROL + "</td><td style='width:10em;'  dataval='" + EOQ + "'>" + EOQ + "</td><td style='width:3em;'  dataval='" + fcount + "'>";
                if (parseInt(fcount) > 0) {
                    tabstr = tabstr + "<input type='button' class='btn btn-info' value='View Image' id='viewimage" + len1 + "'  onclick=GetUPpp(this.id,'preview') /><input type='button' class='btn btn-info' id='uploadimage" + len1 + "' value='Upload Image' style='display:none;' onclick=GetUPpp(this.id,'upload') />";
                }
                else {
                    tabstr = tabstr + "<input type='button' class='btn btn-info' value='View Image' style='display:none;'  id='viewimage" + len1 + "'  onclick=GetUPpp(this.id,'preview') /> <input type='button' class='btn btn-info' id='uploadimage" + len1 + "' value='Upload Image' onclick=GetUPpp(this.id,'upload') />";
                }
                tabstr = tabstr + "<input type='file' style='display:none;' id='ItemAttrimages" + len1 + "' name='ItemAttrimages_id' class='form-control' multiple /> </td><td style='display:none;' dataval='1'></td>";
                tabstr = tabstr + "<td style='width:3em;' dataval='" + BTInfo + "'><button type='button' id='btnSetProductInfo" + len1 + "'  " + disn + "  class='btn btn-danger btn-xs' onclick=GetPIpp(this.id) >ProductInfo</button> <input type='hidden' id='productinfo" + len1 + "' name='productinfo" + len1 + "' class='itemPIdata' value='" + productinf + "' /><input type='hidden'  class='itemPIdata' id='producttype" + len1 + "' name='producttype" + len1 + "' value='" + productty + "' /></td><td style='width:5em;'><i class='fa fa-trash pluxtrash' onclick='removetr()'></i></td></tr>";
                $("#AttributeTable").append(tabstr);

                if (parseInt(fcount) > 0) {
                    var file2 = document.querySelector('#ItemAttrimages' + len1);
                    file2.files = file1.files;
                    
                }

                $("#imgpreview1").html('');
                $("#productinfo").val('');
                $("#producttype").val('');
                $("#Dynamic_ID").val('');
                $("#btnSetProductInfo").attr("disabled", "disabled");

                SetTotalStock(itemstock);
            }
            else {
                swal({
                    title: 'Error',
                    text: "This Combination All Ready Add In Rows",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ok",
                    closeOnConfirm: false,
                    closeOnCancel: false

                });
            }

            $("#itemstock1").val("");
            $("#rates1").val("");
            $("#ROL1").val("");
            $("#EOQ1").val("");

        }
    }

    $(document).on('click', 'i.pluxtrashide', function () {
        $(this).closest('tr').attr('style', 'display:none;');
        return false;
    });
    
    function removetr() {
        $(this).closest('tr').remove();
        return false;
    }

    $(document).on('click', 'i.pluxtrash2', function () {

        $(this).closest('tr').attr("style", "display:none;");
        var len = $(this).closest('tr').children('td').length;
        $(this).closest('tr').children('td').eq(len - 3).attr("dataval", "0");
        return false;
    });

    function removetr2() {
        debugger;
        $(this).closest('tr').attr("style", "display:none;");
        var len = $(this).closest('tr').children('td').length;
        $(this).closest('tr').children('td').eq(len - 3).attr("dataval", "0");
        return false;
    }

    function SetTotalStock(Qty) {
        var itemQty = $("#OpeningStock").val() == "" ? 0 : $("#OpeningStock").val();
        var totstock = 0;
        $("#AttributeTable tr.attrtabval").children('td').find(".itemqtycl").each(function () {
            totstock = parseFloat(totstock) + parseFloat(this.value);
        });
        $("#OpeningStock").val(totstock);

    }

    function removetrHide() {
        $(this).closest('tr').attr('style', 'display:none;');
        return false;
    }

    $(document).ready(function () {
        $('.select2').select2();
        $('.select2').width("100%");

        var attriid = $("#hidAttribId").val();
        if (attriid != "") {
            $.each(attriid.split(","), function (i, e) {
                $("#Attribute_ID option[value='" + e + "']").prop("selected", true);
            });
            $("#Attribute_ID").select2().trigger('change');

            Get_ItemAttributeValue(attriid);
        }


        var ErrorMessage = "";
        function setswal(msg) {
            if (ErrorMessage.length > 0) {
                ErrorMessage += "\n" + msg;
            } else { ErrorMessage = msg; }
        }


        if (window.File && window.FileList && window.FileReader) {
            fnsetimgpreve("Leddoc", "documentList");
        } else { alert("Your browser doesn't support to File API") }


        


        //Get Tax List
        $.ajax({
            type: "POST",
            url: '@Url.Action("getGSTTaxlist", "quotation")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (gstsdata) {

                var result_ = JSON.parse(gstsdata);
                $('#GSTCharge').empty();
                $("#GSTCharge").append('<option value="select">Select</option>');
                $.each(result_, function (i, item) {

                    $("#GSTCharge").append('<option value="' + item.Tax_Rate + '">' + item.Category_Name + '</option>');
                });
                var gstrate = parseInt($("#gsttaxid").val());
                if (gstrate != "") {
                    $("#GSTCharge").val(gstrate);
                    $('#GSTCharge').select2().trigger('change');
                }
               

            },
            failure: function (response) {
                alert(response.d);
            }
        });



        $('#SaveItem').on('click', function () {
            debugger;
            var Astr = "";
            var Arawitemstr = "";
            var $AdataRows = $("#AttributeTable tr:not('.attrbtab1')");
            var Arowlenght = $AdataRows.length;
            var Astylerowcount = 0;
            //var stylerowCount = $('#maintable2 tr').length;
            $AdataRows.each(function () {
                debugger;
                Acount = 0;
                Astylerowcount++
                var Aleng = $(this).children('td').length;
                $(this).children('td').each(function (i) {
                    debugger;
                    var Aitemlist = ($(this).attr('dataval'));  //here get td value
                    Acount++;

                    if (Aitemlist != undefined) {

                        if (Acount == (Aleng - 1)) {
                            Astr += Aitemlist;
                        }
                        else {
                            Astr += Aitemlist + "~";
                        }
                    }

                });

                if (Astylerowcount == Arowlenght) {


                }
                else {
                    Astr += "#";
                }

            });

            $("#AttributList").val(Astr);

            ErrorMessage = "";
            var str = "";
            var count = 0;
            var rowcount = 0;
            var isFirstItem = 0;
            var $dataRows = $("#itemdoctable tr:not('.titlerow')");
            var rowlenght = $dataRows.length;

            var ItemCategoryid = $('#itemcatNameid').val();
            var Itemsubcategoryid = $('#itemsubcategoryNameid').val();
            var ItemName = $("#ItemName").val();
            var OpeningStock = $('#OpeningStock').val();
            var Unit = $("#Unit").val();
            var isvalid = true;
            //validations of item master
            if (ItemCategoryid == "" || ItemCategoryid == 0) {
                setswal("Please Select Item Category");
                isvalid = false;
            }
            else if (Itemsubcategoryid == "" || Itemsubcategoryid == 0) {
                setswal("Please Select Item Sub-Category");
                isvalid = false;
            }
            else if (ItemName == "") {
                setswal("Please Enter Item Name");
                isvalid = false;
            }
            else if (Unit == "" || Unit == "0") {
                setswal("Please Select Unit!");
                isvalid = false;
            }


            if (ErrorMessage.length > 0) {
                swal({
                    title: 'Error',
                    text: ErrorMessage,
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ok",
                    closeOnConfirm: false,
                    closeOnCancel: false

                });
                isvalid = false;
            }

            return isvalid;
        });




    });


    function SetitemCatValue(id, value) {
        $("#itemcategoryid").val(id);
        $("#itemcat_Nameid").val(value);
        $("#itemcatlist").hide();

    }

    function SetItemSubcatValue(id, value) {
        $("#itemsubcategory").val(id);
        $("#itemsubcategoryNameid").val(value);
        $("#itemsubcatlist").hide();

    }

    function fnsetimgpreve(filecontrol, previecontrol) {
        debugger;
        $("#" + filecontrol).on("change", function (e) {
            debugger;
            var files = e.target.files,
                filesLength = files.length;
            var fname = "";
            for (var i = 0; i < filesLength; i++) {
                var f = files[i]
                if (filesLength > 1) {
                    fname = f.name + "~^" + fname;
                }
                else {
                    fname = f.name;
                }
            }
            $("#" + previecontrol).val(fname);
        });

    }   



    function Get_ItemAttributeValue(attriid) {
        var itemid = $("#HItemid").val();
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '@Url.Action("getAttributeValue", "Item")',
            data: "{'MyJson':'" + itemid + "','type':3}",
            contentType: "application/json;",
            success: function (Result) {
                debugger;
                Result = JSON.parse(Result);
                var tabstr = "";
                var len1 = 1;
                $.each(Result.Table, function (i, subcate) {
                    len1 = len1 + i;
                    debugger;
                    var attrival = subcate.AttributeValue.split(',');
                    var ml = 0;
                    tabstr = tabstr + "<tr class='attrtabval' datarow='" + subcate.Item_Attribute_ID + "'>";
                    $.each(subcate.Attribute_Value_ID.split("~"), function (k, e) {
                        if (parseInt(e) != 0) {
                            tabstr = tabstr + "<td dataval='" + e + "' style='width:10em;'><input type='hidden' value='" + e + "' class='hid2'  /> <input type='hidden' class='hidval2' value='" + attrival[k] + "'  />" + attrival[k] + "</td>";
                            ml = ml + 1;
                        }
                    });

                    var path = "";
                    var n = 0;
                    if (subcate.AttributeImage != "" && subcate.AttributeImage != null) {
                        $.each(subcate.AttributeImage.split(','), function (c, d) {
                            if (n == 0) {
                                path = "@itemimgpath_/" + d;
                            }
                            else {
                                path = path + ',' + "@itemimgpath_/" + d;
                            }
                            n = n + 1;
                        });
                    }
                    var tot = 0;
                    var disn = "disabled";
                    var BTInfo = "";
                    var productinf = "";
                    var productty = "";
                    if (subcate.batchinfo != "" && subcate.batchinfo != null) {
                        tot = parseFloat(subcate.openingstock);
                        $("#proAcptQty").val(tot);

                        disn = parseFloat(tot) > 0 ? "" : "disabled";

                        BTInfo = subcate.batchinfo.split('|');
                        productinf = BTInfo[0];
                        productty = BTInfo[1];
                    }
                    tabstr = tabstr + "<td style='width:10em;' dataval='" + subcate.openingstock + "'>" + subcate.openingstock + "</td> <td style='width:10em;' dataval='" + subcate.rate + "'>" + subcate.rate + "</td><td style='width:10em;'  dataval='" + subcate.ROL + "'>" + subcate.ROL + "</td><td style='width:10em;'  dataval='" + subcate.EOQ + "'>" + subcate.EOQ + "</td><td style='width:3em;'  dataval='" + subcate.ImgCount + "'>";
                    if (parseInt(subcate.ImgCount) > 0) {
                        tabstr = tabstr + "<input type='button' class='btn btn-info' value='View Image' id='viewimage" + len1 + "'  onclick=GetUPpp(this.id,'preview') /><input type='button' class='btn btn-info' id='uploadimage" + len1 + "' value='Upload Image' style='display:none;' onclick=GetUPpp(this.id,'upload') />";
                    }
                    else {
                        tabstr = tabstr + "<input type='button' class='btn btn-info' value='View Image' style='display:none;'  id='viewimage" + len1 + "'  onclick=GetUPpp(this.id,'preview') /> <input type='button' class='btn btn-info' id='uploadimage" + len1 + "' value='Upload Image' onclick=GetUPpp(this.id,'upload') />";
                    }
                    tabstr = tabstr + " <input type='file' style='display:none;' id='ItemAttrimages" + len1 + "' name='ItemAttrimages_id' class='form-control' multiple /><input type='hidden' id='Attrimages" + len1 + "' name='Attrimages" + len1 + "' value='" + path + "' class='form-control' />  </td><td style='display:none;' dataval='1'></td>";
                    tabstr = tabstr + "<td style='width:3em;' dataval='" + subcate.batchinfo + "'><button type='button' id='btnSetProductInfo" + len1 + "'  " + disn + "  class='btn btn-danger btn-xs' onclick=GetPIpp(this.id) >ProductInfo</button> <input type='hidden' id='productinfo" + len1 + "' name='productinfo" + len1 + "' class='itemPIdata' value='" + productinf + "' /><input type='hidden'  class='itemPIdata' id='producttype" + len1 + "' name='producttype" + len1 + "' value='" + productty + "' /></td>";
                    if (parseInt(subcate.status) == 1) {
                        tabstr = tabstr + "<td style='width:5em;'><i class='fa fa-trash pluxtrashdis'></i></td>";
                    }
                    else {
                        tabstr = tabstr + "<td style='width:5em;'><i class='fa fa-trash pluxtrash2' onclick='removetr2()'></i></td>"
                    }
                    
                    tabstr = tabstr + "</tr>"
                   
                });
                debugger
                $("#AttributeTable").append(tabstr);    

            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }
    

</script>
