﻿<div class="row clearfix">
    @*<div class="titlerow bg-light-blue">
        <div class="box-header with-border">
            <h3 class="box-title" style="color:white;">Attach Documents</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
    </div>*@

    <div class="box-body with-border">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="col-md-2">
                    <span>Select Document</span>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="file" class="form-control" id="Leddoc" name="Leddoc" accept=".doc, .docx,.ppt, .pptx,.txt,.pdf" />
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" style="margin-right:5px;"  id="addDocument" onclick="adddocument()">Add</button>
                </div>
            </div>
            <input type="hidden" id="documentList" name="documentList" />
            @*<input type="file" name="itemdoclist" id="itemdoclist" style="display:none;" multiple />*@
        </div>
        <!-- /.row -->
    </div>
    <div class="box-footer">
        <div class="table-responsive">
            <table class="table" id="documettable">
                <thead>
                    <tr class="titlerow bg-blue">
                        <th>Document Type</th>
                        <th>Document Name</th>
                        <th style="display:none">Active</th>
                        <th>Action</th>
                    </tr>

                </thead>
                <tbody class="contactstablebody"></tbody>
            </table>
        </div>
    </div>
</div>



