﻿


<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Bank Name</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="customerbank" name="customerbank" maxlength="50"/>
                </div>
            </div>
            <div class="col-md-2">
                <label>Account Number</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="customeraccountno" name="customeraccountno" maxlength="40" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <label>Bank Code</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" height="20" class="form-control" id="customerbankcode" name="customerbankcode" maxlength="20" />
                </div>
            </div>
        </div>
    </div>
</div>