﻿@model Garments_ERP.Entity.M_CustomerMasterEntity
@Html.HiddenFor(m => m.M_CustomerBankDetails.Id)
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <label>Bank Name</label>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.M_CustomerBankDetails.Bankname, new { @class = "form-control", @id = "customerbank", @maxlength = "50" })
                        @*<input type="text" height="20" class="form-control" id="supplierbank" name="supplierbank" />*@
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Account Number</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.M_CustomerBankDetails.Accountno, new { @class = "form-control", @id = "customeraccountno", @maxlength = "40" })
                        @*<input type="text" height="20" class="form-control" id="supplieraccountno" name="supplieraccountno" />*@
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-2">
                    <label>Bank Code</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.M_CustomerBankDetails.Bankcode, new { @class = "form-control", @id = "customerbankcode", @maxlength = "20" })
                        @*<input type="text" height="20" class="form-control" id="supplierbankcode" name="supplierbankcode" />*@
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
   uu88788888888888888 </div>