﻿@using System.Data
@model DataSet
@{
    Layout = null;
}
@{
    ViewBag.Title = "SupplierGRNReport";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<style>
    ul {
        margin: 0;
    }
</style>

@using (Html.BeginForm("Export", "SupplierGRN", FormMethod.Post))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-8">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Inventory</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "SupplierGRN")">Good Receive Detail</a>  >  </div>
                <div class="HMsubline">GRN Report</div>
            </div>
            <div class="col-sm-4">
                <input type="hidden" name="GridHtml" />
                <input type="submit" id="btnSubmit" class="btn btn btn-info pull-right" value="ExportTOPdf" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <input type="hidden" name="GridHtml" />
                <input type="submit" id="btnSubmit" class="btn btn-block btn-info btn-sm" value="ExportTOPdf" />

            </div>
        </div>
    </div>
}

@using (Html.BeginForm("SupplierGRNReport", "SupplierGRN", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
            {
                foreach (DataRow row in Model.Tables[0].Rows)
                {

        <section class="content">
            <div class="container-fluid">
                <!-- #END# Hover Expand Effect -->
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card" style="width:70%">
                            <div class="body">
                                <!-- Nav tabs -->
                                <!-- Tab panes -->

                                <div class="tab-content">

                                    <!-- /.box-header -->
                                    <div class="body" id="PDF">
                                        <div class="container" style="width:100%">
                                            <div class="row clearfix">
                                                <div class="col-sm-5">

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Company Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Street Address</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Phone</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Fax</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group text-center">
                                                                <h4 class="bg-light-blue">GRN Report</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Inward Date</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["InwardDate"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>GRN No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["GRNNo"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Invoice NO</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["InvoiceNo"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Invoice Date</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["InvoiceDate"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-sm-5">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group text-center">
                                                                <h4 class="bg-light-blue">SUPPLIER</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["Ledger_Name"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Address</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["Address"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["Email"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Phone</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["Contact_No"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group text-center">
                                                                <h4 class="bg-light-blue">Transporter</h4>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["Transporter"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Truck No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @row["TruckNo"]
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-sm-12">
                                                    <table class="table table-striped" id="GRNtable">
                                                        <tr>
                                                            <th style="text-align:center;" class="col-md-2">Item Code</th>
                                                            <th style="text-align:center;" class="col-md-2">Item Name</th>
                                                            <th style="text-align:center;" class="col-md-2">Unit</th>
                                                            <th style="text-align:center;" class="col-md-2">PO_Qty</th>
                                                            <th style="text-align:center;" class="col-md-2">Challan Qty</th>
                                                            <th style="text-align:center;" class="col-md-2">GRN Qty</th>
                                                            <th style="text-align:center;" class="col-md-2">Balance Qty</th>

                                                        </tr>
                                                        @foreach (DataRow row1 in Model.Tables[1].Rows)
                                                        {

                                                            <tr>

                                                                <td style="text-align:center;" class="col-md-2">@row1["ItemCode"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["ItemName"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["ItemUnit"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["PO_Qty"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["Challan_Qty"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["GRN_Qty"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["Balance_Qty"]</td>

                                                            </tr>
                                                        }


                                                    </table>
                                                    <table class="table table-striped" id="GRN">
                                                        @foreach (DataRow row1 in Model.Tables[2].Rows)
                                                        {
                                                            <tr style="font-weight:bold">
                                                                <td style="text-align:center;" class="col-md-2"></td>
                                                                <td style="text-align:center;" class="col-md-2"></td>
                                                                <td style="text-align:right;" class="col-md-2">Total :-</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["Tot_PO_Qty"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["Tot_Challan_Qty"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["Tot_GRN_Qty"]</td>
                                                                <td style="text-align:center;" class="col-md-2">@row1["Tot_Balance_Qty"]</td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-sm-8">

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Invoice Amount</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>:</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>@row["InvoiceAmount"]</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12"></div>
                                            <div class="col-sm-12">
                                                <div class="row clearfix">
                                                    <div class="col-md-12">
                                                        <div class="form-group text-left">
                                                            <p>Terms and Conditions</p>
                                                            <p>1.Delivery:All goods to be delivered within 14 days from date of PO.</p>
                                                            <p>
                                                                2.Condition:We reserve the right to reject goods that are not in good order or conditions as determine
                                                                by our quality control.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        





    }
}
<script>
                                            $(function () {
                                                $("#btnSubmit").click(function () {
                                                    $("input[name='GridHtml']").val($("#PDF").html());
                                                });
                                            });

</script>