﻿@model Garments_ERP.Entity.M_ItemColorEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

@using (Html.BeginForm("Create", "ItemColor", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <main id="tabs">
        <ul id="tab_ulid">
            <li class="btnLi active">
                <a href="#content1">Item Color</a>
            </li>

            <li style="float:right;padding:9px 0;">
                <button type="submit" class="btn btn-success pull-left" style="margin-right:5px;" id="saveitemcolor">Save</button>
                <button type="button" class="btn btn-danger pull-left" style="margin-right:5px;" id="btncancel" onclick="location.href='@Url.Action("Index", "ItemColor")'">Cancel</button>

            </li>
        </ul>
        <section-tab id="content1" class="sectab">
            <div class="box box-default">
                <div class="titlerow bg-light-blue">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="color:white;">New Item Color</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
                        </div>
                    </div>
                </div>
                <div class="box-body with-border">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="required">
                                        <label>Item Color</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<input type="text" class="form-control" />*@
                                    @Html.TextBoxFor(model => model.ItemColor, new { @class = "form-control", @onkeypress = "return isString(event)" })
                                    @Html.ValidationMessageFor(model => model.ItemColor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*@Html.HiddenFor(model => model.Id)*@
                        </div>



                        <div class="col-md-12">

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Item Color Description</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<input type="text" class="form-control" />*@
                                    @Html.TextAreaFor(model => model.ItemColordesc, new { @class = "form-control", @onkeypress = "return isString(event)" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                @*<div class="box-footer">
                    <button type="submit" class="btn btn pull-left" style="margin-right:5px;" id="saveitemcolor">Save</button>
                    <button type="button" class="btn btn btn-danger pull-left" style="margin-right:5px;" id="btncancel" onclick="location.href='@Url.Action("Index", "ItemColor")'">Cancel</button>

                </div>*@

            </div>
            </section-tab>
</main>
        }

        <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="~/Scripts/JqueryUI.js"></script>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        @Scripts.Render("~/bundles/jqueryval")

        <script>

    $('#saveitemcolor').on("click", function () {
        var isvalid = true;
        var itemcolor = $('#ItemColor').val();
        var itemcolordesc = $('#ItemColordesc').val();
        if (itemcolor == "") {
            swal("Enter Item Color");
            isvalid = false;
        }
        //else if (itemshadedesc == "") {
        //    swal("Enter Item Shade Description");
        //    isvalid = false;
        //}
        return isvalid;
    });

    $('#btncancel').on("click",function(){
        document.location = '@Url.Action("Index","ItemColor")';
    });
        </script>







