﻿@model Garments_ERP.Entity.M_BrokerMasterEntity
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}
<link href="~/Content/select2.min.css" rel="stylesheet" />
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
@using (Html.BeginForm("Edit", "Broker", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="box box-default">
        <div class="titlerow  bg-light-blue">
            <div class="box-header with-border ">
                <header class="box-title boxhead">Broker Details</header>
                <div class="col-sm-2 pull-right">
                    <button type="button" class="btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Broker")'">Cancel</button>
                    <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="saveBroker">Update</button>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Broker Name<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.BrokerName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BrokerName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Phone #<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Address</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextAreaFor(x => x.Address, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Country<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Countryid, (IEnumerable<SelectListItem>)ViewBag.countrylist, "---Select Country---", new { @class = "form-control select2", @onchange = "getState()" })

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>State<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Stateid, (IEnumerable<SelectListItem>)ViewBag.statelist, "---Select State---", new { @class = "form-control select2", @onchange = "getCity()" })
                            @*<select class="form-control select2" style="width: 100%;" id="Stateid" name="Stateid"></select>*@
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label>City<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                             @Html.DropDownListFor(m => m.Cityid, (IEnumerable<SelectListItem>)ViewBag.citylist, "---Select City---", new { @class = "form-control select2" })
                          @*  <select class="form-control select2" style="width: 100%;" id="Cityid" name="Cityid"></select>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Email</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "supplieremail", @onblur = "checkEmail()" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-red" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>PAN No</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.PANNo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>GST No</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.GSTNo, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Remark</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<input type="hidden" id="altmsg" value="@Convert.ToString(TempData["alertmsg"])" />
<script>
    $(document).ready(function () {
        //getState();
        //getCity();

        var alrtmsg = $("#altmsg").val();
        if (alrtmsg != "") {
            swal({
                title: 'Success',
                text: alrtmsg,
                type: "success",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            },
                function (isConfirm) {
                    if (isConfirm) {
                        window.location = "/Broker";
                    }
                }
            );
        }

    });

    $('.select2').select2();
    $('.select2').width("100%");
    function getState() {
        $("#Stateid").empty();
        var countryid = $("#Countryid").val();
        if (countryid != "0" && countryid != "") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Getstate", "Customer")',
                dataType: "json",
                data: "{'countryid':" + countryid + "}",
                success: function (states) {
                    $.each(states, function (i, item) {
                        $("#Stateid").append('<option value="' + item.ID + '">' + item.Name + '</option>');

                    });
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
        }
    }

    function getCity() {
        $("#Cityid").empty();
        var stateid = $("#Stateid").val();
        if (stateid != "0" && stateid != "") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("getCityNameList", "Supplier")',
                dataType: "json",
                data: "{'stateid':" + stateid + "}",
                success: function (citys) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(citys, function (i, city) {
                        $("#Cityid").append('<option value="' + city.ID + '">' + city.Name + '</option>');
                    });
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Getstatecode", "Customer")',
                dataType: "json",
                data: "{'stateid':" + stateid + "}",
                success: function (result) {
                    //$('#customergstno').val(result);
                    $('#statecodehidden').val(result);
                    setGSTno();
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
        }
    }
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
