﻿@model IEnumerable<Garments_ERP.Entity.M_ItemMasterEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<style>
    .inner {
        display: inline-block;
    }
    /*.modal-lg {
       max-width: 80% !important;
    }*/
    .modal-ku {
        width: 750px;
        margin: auto;
    }
    .loader_img {
        text-align: center;
        min-height: 100px;
        padding-top: 50px;
    }
</style>

<style>
    #footerExport td {
        cursor: pointer;
        text-align: center;
        border: 1px solid #ccc;
        border: none;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


<div style="display:none;" id="divLoadingContent">
    <div id="CoilMappingloader" class="loader_img">
        <img src="~/Images/loader.gif"  class="loading-img " />
    </div>
</div>


<div class="titheader">
    <div class="block-header">
        <div class="col-sm-10">
            <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Inventory</a>  >  </div>
            <div class="HMsubline">Material Stock Detail</div>
        </div>
        <div class="col-sm-2">

        </div>

    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <!-- #END# Hover Expand Effect -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="col-xs-12 col-sm-3">
                            <h2 class="hedtit">
                                Material Stock Details
                            </h2>
                        </div>
                    </div>
                    <div>
                        <div id="Material">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="row clearfix" style="margin: 1em 2em;">
                                        <div class="col-xs-6 col-sm-4">
                                            <h4 class="card-inside-title">Material Type</h4>
                                            <div class="input-group">
                                                @Html.DropDownList("Itemgroupid", (IEnumerable<SelectListItem>)ViewBag.MaterialType, "Select Itemgroup", new { @class = "form-control select2", @onchange = "StockDetail()" })
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-sm-4" id="rawmatrial" style="display:none">
                                            <h4 class="card-inside-title">Vendor Name</h4>
                                            <div class="input-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="supplierNameid" name="supplierNameid" autocomplete="off" onkeypress="return isString(event)">
                                                    <input type="hidden" id="SupplierId" name="SupplierId" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-sm-4" id="Finmatrial" style="display:none">
                                            <h4 class="card-inside-title">Style Name</h4>
                                            <div class="input-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="stylenameid" name="stylenameid" autocomplete="off" onkeypress="return isString(event)">
                                                    <input type="hidden" id="styleid" name="styleid" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-sm-4">
                                            <h4 class="card-inside-title">Batch No</h4>
                                            <div class="input-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="BatchNo" name="BatchNo">
                                                    <input type="hidden" id="batchnoid" name="batchnoid" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix" style="margin: 1em 2em;">
                                        <div class="col-xs-6 col-sm-4">
                                            <h4 class="card-inside-title">Lot No</h4>
                                            <div class="input-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="LotNo" name="LotNo">
                                                    <input type="hidden" id="LotNoId" name="LotNoId">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-sm-4">
                                            <h4 class="card-inside-title">From Date</h4>
                                            <div class="input-group date " id="bs_datepicker_component_container">
                                                <div class="form-line">

                                                    <input type="text" class="form-control" id="fromdate" autocomplete="off" name="fromdate">

                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-4">
                                            <h4 class="card-inside-title">To Date</h4>
                                            <div class="input-group date" id="bs_datepicker_component_container1">
                                                <div class="form-line">

                                                    <input type="text" class="form-control" id="todate" name="todate" autocomplete="off">

                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>

                                            
                                        </div>

                                    </div>

                                    <div class="row clearfix" style="margin: 1em 2em;">
                                        <div class="col-xs-6 col-sm-4">
                                            <h4 class="card-inside-title">Item Name</h4>
                                            <div class="input-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="Inv_itemnameid" name="Inv_itemnameid" autocomplete="off" onkeypress="return isString(event)">
                                                    <input type="hidden" id="Invitemid" name="Invitemid" />
                                                    <input type="hidden" id="InvitemAttrid" name="InvitemAttrid" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-4">
                                            <h4 class="card-inside-title">Warehouse Name</h4>
                                            <div class="input-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="TFromWarehouse" name="TFromWarehouse" autocomplete="off" onkeypress="return isString(event)">
                                                    <input type="hidden" id="TFromWarehouseID" name="TFromWarehouseID" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-4">
                                            <button type="button" class="btn btn-info btn-sm" onclick="SearchData()">Search</button>
                                            <button type="button" class="btn btn-danger btn-sm" onclick="ClearData()">Clear Filter</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="body">
                                            <div class="table-responsive">

                                                <div id="tabbody" style="overflow-x:scroll;">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>



                            <div class="modal fade" id="BatchInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" style="color:#fff;">×</span>
                                            </button>
                                            <h4 class="modal-title">Product Info Details</h4>
                                        </div>
                                        <form id="prodform">
                                            <div class="modal-body" style="padding-bottom:0;">
                                                <div class="box box-default">

                                                    <div class="box-body with-border">
                                                        
                                                        <div class="row">
                                                            <div class="col-sm-12" style="margin:0;max-height:500px;overflow-y:auto;">
                                                                <div class="table table-responsive">
                                                                    <table class="table table-bordered table-striped" id="rackallocationtab">
                                                                        <thead>
                                                                            <tr class="bg-info">
                                                                                <th style="width:190px;">Warehouse</th>
                                                                                <th style="width:190px;">Rack</th>
                                                                                <th style="width:190px;">Expiry Date</th>
                                                                                <th style="width:190px;">Lot No.</th>
                                                                                <th style="width:190px;">Batch No.</th>
                                                                                <th style="width:190px;">Serial No.</th>
                                                                                <th>Total Qty.</th>
                                                                                <th>Consumed Qty</th>
                                                                                <th>Available Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<input type="hidden" id="altmsg" value="@Convert.ToString(TempData["alertmsg"])" />

<script>

    $(function () {
        $('.select2').select2();
        $('.select2').width("100%");

        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr('style', 'display:none;');
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr('style', 'display:none;');


        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]]
        });
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]]
        });
        $('#example3').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]]
        });
        $('.select2').select2();
        $('.datepicker').datepicker({
            autoclose: true
        });

        $("#fromdate").datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate: 0
        });
        $("#todate").datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate: 0
        });

        StockDetail();

    });


    function StockDetail() {
        var number = $("#Itemgroupid option:selected").text();
        var finish = number.search('Finish');
        if (finish >=0) {
            $("#rawmatrial").hide();
            $("#Finmatrial").show();
        }
        else {
            $("#rawmatrial").show();
            $("#Finmatrial").hide();
        }

        SearchData();

    }

    function ClearData() {
        $("#SupplierId").val(0);
        $("#styleid").val(0);
        $("#batchnoid").val(0);
        $("#LotNoId").val(0);
        $("#Invitemid").val(0);
        $("#TFromWarehouseID").val(0);
        $("#InvitemAttrid").val(0);

        $("#fromdate").val("");
        $("#todate").val("");
        $("#supplierNameid").val("");
        $("#stylenameid").val("");
        $("#BatchNo").val("");
        $("#LotNo").val(""); 
        $("#Inv_itemnameid").val("");
        $("#TFromWarehouse").val(""); 
        SearchData();

    }


    function SearchData() {
        var Groupid = $("#Itemgroupid").val();
        var vedid = $("#SupplierId").val() == "" || $("#supplierNameid").val() == "" ? 0 : $("#SupplierId").val();
        var styleid = $("#styleid").val() == "" || $("#stylenameid").val() == "" ? 0 : $("#styleid").val();
        var batchid = $("#batchnoid").val() == "" || $("#BatchNo").val() == "" ? 0 : $("#batchnoid").val();
        var lotno = $("#LotNoId").val() == "" || $("#LotNo").val() == "" ? 0 : $("#LotNoId").val();
        var itemId = $("#Invitemid").val() == "" || $("#Inv_itemnameid").val() == "" ? 0 : $("#Invitemid").val();
        var ItemAttr = $("#InvitemAttrid").val() == "" || $("#Inv_itemnameid").val() == ""  ? 0 : $("#InvitemAttrid").val();
        var warehouseid = $("#TFromWarehouseID").val() == "" || $("#TFromWarehouse").val() == "" ? 0 : $("#TFromWarehouseID").val();

        var frdt = $("#fromdate").val();
        var todt = $("#todate").val();
        var companyid = $("#companyid").val();
        var branchid = $("#branchid").val();
        $("#tabbody").html(loadingHTML());
        $("#tabbody").load("@Url.Action("GetInventory", "MaterialStock")", { 'GroupId': Groupid, 'VendorId': vedid, 'StyleID': styleid, 'BatchId': batchid, 'LotNo': lotno, 'FromDate': frdt, 'ToDate': todt, 'companyid': companyid, 'branchid': branchid, 'ItemId': itemId, 'ItemAttr': ItemAttr, 'WarehouseId': warehouseid });

    }

    function loadingHTML() {
        return $("#divLoadingContent").html();
    }

    function MachineDetail() {
        $("#machine").show();
        $("#Material").hide();
        $("#tabbody1").html("");
        var itemid = "";


        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '@Url.Action("EditAttributeValue", "CustomerEnquiry")',
            data: "{'MyJson':'" + itemid + "','type':18,'id':0}",
            contentType: "application/json;",
            success: function (Result) {
                debugger;
                Result = JSON.parse(Result);
                //var TotReqStockQty = 0;
                var tabstr = "";
                tabstr = '<table class="table table-bordered table-striped table-hover js-basic-example dataTable"><thead>';
                tabstr = tabstr + '<tr role="row"><th style="display:none;">ID</th><th class="sorting_asc" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">Machine Name</th>';
                tabstr = tabstr + '<th class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">Machine type</th>';
                tabstr = tabstr + '<th class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">Machine Sn</th>';
                tabstr = tabstr + '<th class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">Production Capacity</th>';
                tabstr = tabstr + '<th class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 155px;">Action</th>';
                tabstr = tabstr + '</tr></thead><tbody>';
                $.each(Result.Table, function (a, data) {
                    debugger
                    tabstr = tabstr + "<tr role='row' class='odd'><td style='display:none'></td><td class='sorting_1'>" + data.Machinename + "</td><td>" + data.Machine_TypeName + "</td><td>" + data.MachineSn + "</td><td>" + data.Productioncapacity + "</td><td></td> </tr>";


                });

                tabstr = tabstr + "</tbody></table>";
                $("#tabbody").append(tabstr);

                //$("#totReqInStockQty").val(TotReqStockQty);

            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function GetPIpp(id) {
        debugger;
        $("#Dynamic_ID option:selected").prop("selected", false);
        $("#BatchInfoTable > tbody").html('');
        $("#BatchInfoTable > thead").html('');
        $("#TotalCount").html('');

        var no = id.match(/\d+/);
        $('#BatchInfoModal').modal('toggle');


        var MyBIstr = $("#batchdataid" + no).val();
        if (MyBIstr != "") {

            var protype = MyBIstr.split('^');

            if (protype != "") {
                $.each(protype[1].split(","), function (i, e) {
                    debugger
                    $('#Dynamic_ID  option').each(function () {
                        debugger;
                        if (this.value == e) {
                            $("#Dynamic_ID option[value='" + e + "']").prop("selected", true);
                        }
                    });

                });

                $("#Dynamic_ID").select2().trigger('change');

                var pid = document.getElementById('Dynamic_ID');
                GetProductvalue(pid);
            }
            $.each(protype[0].split('#'), function (i, data) {

                var lenchk = data.split('~');
                lenchk = lenchk.length;
                var tabstr = "";
                tabstr = tabstr + "<tr class='attrtabval'>";
                $.each(data.split('~'), function (i, data) {

                    if (i > (lenchk - 4)) {
                        tabstr = tabstr + "<td dataval='" + data + "'>" + data + "<input type='hidden' class='itemqtycl' value='" + data + "' /> </td>";
                    }
                    else {
                        tabstr = tabstr + "<td dataval='" + data + "'><input type='hidden' value='" + data + "' class='hid2'  /> <input type='hidden' class='hidval2' value='" + data + "'  />" + data + "</td>";
                    }

                });
                tabstr = tabstr + "</tr>";
                $("#BatchInfoTable > tbody").append(tabstr);


            });
            $("#BatchInfoTable").attr('style', 'width:100%;display:block;');

        }
        else {
            $("#BatchInfoTable").attr('style', 'width:100%;display:none;');
        }
    }

    function GetProductvalue(aid) {
        var Data = $('#Dynamic_ID option:selected').toArray().map(item => item.text).join();
        var index = Data.indexOf(',');
        if (index == -1) {
            Data = Data + ",";
        }
        Data = Data.split(',');
        var tabstr = "";
        $("#BatchInfoTable > thead").html("");
        tabstr = tabstr + "<tr  class='attrbtab1'>";
        for (i = 0; i < Data.length; i++) {
            if (Data[i] != "") {
                tabstr = tabstr + "<th>" + Data[i] + "</th>";
            }
        }
        tabstr = tabstr + "<th >Total Qty</th> <th >Consumed Qty</th> <th>Balanced Qty</th>";
        tabstr = tabstr + "</tr>";
        $("#BatchInfoTable > thead").append(tabstr);
    }


    function GetRackInfopp(id) {
        var no = id.match(/\d+/);
        var itemid = $("#itemid" + no).val();
        var itemAttr = $("#itemAttr" + no).val();
        var param = { 'ItemId': itemid, 'ItemAttr': itemAttr};
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetRackData", "MaterialStock")',
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result != null) {
                    debugger;
                    $("#rackallocationtab > tbody").empty();
                    $('#BatchInfoModal').modal('toggle');
                    $.each(result, function (k, data) {
                        debugger;
                        var str = '<tr><td>' + data.Warehouse + '</td><td>' + data.Rack + '</td>' +
                            '<td>' + data.ExpiryDate + '</td><td>' + data.LotNo + '</td><td>' + data.BatchNo + '</td><td>' + data.SerialNo + '</td>' +
                            '<td>' + data.TotalQty + '</td>' +
                            '<td>' + data.ConsumedQty + '</td>' +
                            '<td>' + data.BalancedQty + '</td></tr>';
                        $("#rackallocationtab > tbody").append(str);
                    });
                }
                
            },
            failure: function (response) {
                         alert(response.d);
            }
         });
    }

</script>


<script>
    $(document).ready(function () {
        var varpdfFontSize = '7';
        $('#exportexcel').bind('click', function (e) {
            $('#example1').tableExport({ type: 'excel', escape: 'false', pdfFontSize: varpdfFontSize });
        });
        $('#exportpdf').bind('click', function (e) {
            $('#example1').tableExport({ type: 'pdf', escape: 'false' });
        });
        $('#exportcsv').bind('click', function (e) {
            $('#example1').tableExport({ type: 'csv', escape: 'false' });
        });

        $('#exportword').bind('click', function (e) {
            $('#example1').tableExport({ type: 'doc', escape: 'false' });
        });

    });
</script>