﻿
@{
    ViewBag.Title = "InventoryReport";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />

<style>
    ul {
        margin: 0;
    }
</style>
<script>

    $(document).ready(function () {

        var varpdfFontSize = '7';
        $('#exportexcel').bind('click', function (e) {
            $('#example1').tableExport({ type: 'excel', escape: 'false', pdfFontSize: varpdfFontSize });
        });
        $('#exportpdf').bind('click', function (e) {
            $('#example1').tableExport({ type: 'pdf', escape: 'false' });
        });
        $('#exportimage').bind('click', function (e) {
            $('#v').tableExport({ type: 'png', escape: 'false' });
        });
        $('#exportcsv').bind('click', function (e) {
            $('#example1').tableExport({ type: 'csv', escape: 'false' });
        });
        $('#exportppt').bind('click', function (e) {
            $('#example1').tableExport({ type: 'powerpoint', escape: 'false' });
        });
        $('#exportxml').bind('click', function (e) {
            $('#example1').tableExport({ type: 'xml', escape: 'false' });
        });
        $('#exportword').bind('click', function (e) {
            $('#example1').tableExport({ type: 'doc', escape: 'false' });
        });
        $('#exporttxt').bind('click', function (e) {
            $('#example1').tableExport({ type: 'txt', escape: 'false' });
        });

    });

</script>
<div class="titheader">
    <div class="block-header">
        <div class="col-sm-8">
            <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Inventory</a>  >  </div>
            <div class="HMline"><a href="@Url.Action("Index", "MaterialStock")">Material Stock Detail</a>  >  </div>
            <div class="HMsubline">Inventory Report</div>
        </div>
        <div class="col-sm-4">
            @*<input type="hidden" name="GridHtml" />
            <input type="submit" id="btnSubmit" class="btn btn btn-info pull-right" value="ExportTOPdf" />*@

        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <!-- #END# Hover Expand Effect -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <!-- Nav tabs -->
                        <!-- Tab panes -->

                        <div class="row clearfix">

                            <div class="form-group text-center">
                                <h4 class="bg-light-blue">Item Basic Info</h4>
                            </div>

                        </div>
                        <div class="row clearfix">
                            <div class="col-md-1">

                                <label>Item Group</label>

                            </div>
                            <div class="col-md-1">
                                <label>:</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">

                                </div>
                            </div>

                            <div class="col-md-1">
                                <label>Item Category</label>
                            </div>
                            <div class="col-md-1">
                                <label>:</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">

                                </div>
                            </div>

                            <div class="col-md-1">
                                <label>Sub Category</label>
                            </div>
                            <div class="col-md-1">
                                <label>:</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">

                                </div>
                            </div>

                        </div>

                        <div class="row clearfix">                            
                            <div class="col-md-1">
                                <label>Item</label>
                            </div>
                            <div class="col-md-1">
                                <label>:</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">

                                </div>
                            </div>

                            <div class="col-md-1">

                                <label>Item Code</label>

                            </div>
                            <div class="col-md-1">
                                <label>:</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">

                                </div>

                            </div>

                            <div class="col-md-1">

                                <label>Item Style</label>

                            </div>
                            <div class="col-md-1">
                                <label>:</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">


                                </div>

                            </div>


                        </div>
                                               
                        <div class="row clearfix">
                            <div class="col-md-1">

                                <label>Item Style No</label>

                            </div>
                            <div class="col-md-1">
                                <label>:</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">


                                </div>

                            </div>

                            <div class="col-md-1">
                                <label>Available Qty</label>
                            </div>
                            <div class="col-md-1">
                                <label>:</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">

                                </div>
                            </div>

                            <div class="col-md-1">

                                <label>Unit</label>
                            </div>
                            <div class="col-md-1">
                                <label>:</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">



                                </div>

                            </div>
                           


                        </div>
                        <div class="row clearfix">

                            <div class="form-group text-center">
                                <h4 class="bg-light-blue">Purchase Info</h4>
                            </div>

                        </div>
                        @*<div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr role="row">
                                        <th style="display:none;">id</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                                            Enquiry Details
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            BOM Details
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Vendor Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                           Inward Date
                                        </th>
                                       
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            PO Qty
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            GRN Qty
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Batch NO
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Batch Qty
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Balance Qty
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                      <td style="display:none;"></td>
                                      <td>ENQ-2019-11-12-22</td>
                                      <td>BOM-2019-11-12-27</td>
                                      <td>Kiran Softdata</td>
                                      <td>05-11-2019</td>
                                      <td>400</td>
                                      <td>400</td>
                                      <td>B10012</td>
                                      <td>400</td>
                                      <td>0</td>
                                  </tr>
                                </tbody>
                            </table>
                            <table>
                                <tr id="footerExport">
                                    <td id="exportexcel"><img src="~/Content/iconsforexport/xls.png" title="Export to Excel" /></td>
                                    <td id="exportpdf"><img src="~/Content/iconsforexport/pdf.png" title="Export to PDF" /></td>
                                    <td id="exportcsv"><img src="~/Content/iconsforexport/csv.png" title="Export to CSV" /></td>
                                    <td id="exportword"><img src="~/Content/iconsforexport/word.png" title="Export to Word" /></td>
                                </tr>
                            </table>
                        </div>*@
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="table-responsive ">
                                    <table class="table table-striped">
                                        <tr>
                                            <td>
                                                <div class="row clearfix">
                                                    <div class="col-sx-12 col-sm-5">
                                                        <div class="row clearfix">
                                                            <div class="col-md-3">

                                                                <label>Enquiry Details</label>

                                                            </div>
                                                            <div class="col-md-1">
                                                                <label>:</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                               
                                                                    ENQ-2019-11-12-22
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="row clearfix">
                                                            <div class="col-md-3">
                                                                <label>BOM Details</label>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <label>:</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                               
                                                                    BOM-2019-11-12-27
                                                               
                                                            </div>
                                                        </div>
                                                        <div class="row clearfix">
                                                            <div class="col-md-3">
                                                                <label>Vendor Name</label>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <label>:</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                
                                                                    Kiran Softdata
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sx-12 col-sm-7">
                                                        <div class="row clearfix">
                                                            <div class="col-sx-12 col-sm-6">
                                                                <div class="row clearfix">

                                                                    <div class="col-md-5">
                                                                        <label>Inward Date</label>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <label>:</label>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        
                                                                            05-11-2019
                                                                    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sx-12 col-sm-6">
                                                                <div class="row clearfix">

                                                                    <div class="col-md-5">
                                                                        <label>PO Qty</label>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <label>:</label>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                       
                                                                            400
                                                                 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row clearfix">
                                                            <div class="col-sx-12 col-sm-6">
                                                                <div class="row clearfix">

                                                                    <div class="col-md-5">
                                                                        <label>GRN Qty</label>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <label>:</label>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                       
                                                                            400
                                                                       
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sx-12 col-sm-6">
                                                                <div class="row clearfix">

                                                                    <div class="col-md-5">
                                                                        <label>Balance Qty</label>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <label>:</label>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        
                                                                            0
                                                                     
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-sm-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                                <thead>
                                                                    <tr role="row">
                                                                        <th style="display:none;">id</th>
                                                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                                                                         Expiry Date
                                                                        </th>
                                                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                                                            Lot No
                                                                        </th>
                                                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                                                            Batch NO
                                                                        </th>
                                                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                                                            Batch Qty
                                                                        </th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        
                                                                        <td>05/12/2019</td>
                                                                        <td>L00120</td>
                                                                        <td>B10012</td>
                                                                        <td>200</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>05/12/2019</td>
                                                                        <td>L00120</td>
                                                                        <td>B10013</td>
                                                                        <td>200</td>
                                                                    </tr>
                                                                   
                                                                </tbody>
                                                            </table>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">

                            <div class="form-group text-center">
                                <h4 class="bg-light-blue">Consumed Info</h4>
                            </div>

                        </div>              
                                     
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content(" ~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content(" ~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script>
    $(function () {
        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr('style', 'display:none;');
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr('style', 'display:none;');

        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]]
        });

        $('.select2').select2();


    });
</script>