﻿@model IEnumerable<Garments_ERP.Entity.M_InventoryListEntity>
@{
    var i = 0;
}

<table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
    <thead>

        <tr role="row">
            <th style="display:none;">ID</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">Item Category</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">Item Subcategory</th>
            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">Item Name</th>
            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">HSN Code</th>
            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">Unit</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">Opening Stock </th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">Purchase Stock</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">Process Stock</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">Total Stock</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">Consumed Stock</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">Closing Stock</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            i = i + 1;
            var itemid = "itemid" + i;
            var itemAttr = "itemAttr" + i;
            var batchinfo = "batchinfo" + i;
            var Detailsinfo = "Detailsinfo" + i;
            var batchdataid = "batchdataid" + i;
            var rackinfoid = "rackinfoid" + i;
        <tr role="row" class="odd">
            <td style="display:none">
                @data.Id
            <input type="hidden" id="@itemid" name="@itemid" value="@data.Id" />
            <input type="hidden" id="@itemAttr" name="@itemAttr" value="@data.Item_Attribute_ID" />
        </td>
        <td class="sorting_1">@data.Itemcategory</td>
        <td class="sorting_1">@data.Itemsubcategory</td>
        <td class="sorting_1">@data.ItemName</td>
        <td class="sorting_1">@data.HSNCode</td>
        <td class="sorting_1">@data.UnitName</td>
        <td>@data.OpeningStock</td>
        <td>@data.PurchaseINQty</td>
        <td>@data.ProcessQty</td>
        <td>@data.TotalStock</td>
        <td>@data.OutQty</td>
        <td>@data.BalStock</td>
        <td>
            @if (data.BatchInfo == "" || data.BatchInfo == null)
            {
                <button type="button" id="@batchinfo" disabled class="btn btn-danger btn-xs">BatchInfo</button>
                <button type="button" id="@Detailsinfo" style="margin-top:3px;" class="btn btn-info btn-xs">DetailsInfo</button>
                <input type="hidden" id="@batchdataid" name="@batchdataid" value="@data.BatchInfo" />
            }
            else
            {
                <button type="button" id="@batchinfo" class="btn btn-danger btn-xs" onclick="GetRackInfopp(this.id)">BatchInfo</button>
                <button type="button" id="@Detailsinfo" style="margin-top:3px;" class="btn btn-info btn-xs">DetailsInfo</button>
                <input type="hidden" id="@batchdataid" name="@batchdataid" value="@data.BatchInfo" />
            }
           
        </td>
    </tr>

        }
    </tbody>
</table>
<script>
    $(function () {
        
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
        
    });
</script>