﻿
@{
    ViewBag.Title = "Create2";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";

    var cururl = Request.Url.Authority;
    string rawimgpath_ = string.Empty;
    string styleimgpath_ = string.Empty;
    string itemimgpath_ = string.Empty;
    if (cururl.Contains("localhost"))
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
    else
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
}





<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<link href="~/Content/photoGalleryStyle.css" rel="stylesheet" />

<style type="text/css">

    ul {
        margin: 0;
    }
</style>

@using (Html.BeginForm("Create2", "Workorder", FormMethod.Post, new { @class = "form-horizontal form-simple BOM", enctype = "multipart/form-data" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-8">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Production Planning</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "Workorder")">Work Order Details</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "WorkOrder")'">Cancel</button>
                <button type="submit" class="btn btn-success pull-right disabled" style="margin-right:5px;" id="savewo" disabled="disabled">Save</button>
                <button type="button" class="btn btn-info pull-right disabled" style="margin-right:5px;" disabled="disabled" id="AutoPR">Auto PR</button>

            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Work Order Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Product Details
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#messages_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i> Material Details
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label class="required">WO No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value="@ViewBag.wono" id="wono" name="wono" readonly>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="required">WO Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" id="wodate" name="wodate">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label class="required">Select Customer</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">

                                                    <input type="text" id="custnameid" name="custnameid" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" onchange="getCustomerdetails()" />

                                                </div>

                                                <input type="hidden" id="customerid" name="customerid" />

                                                @*getAddress()*@

                                                <span id="customermsg" class="help-block" style="color:red;"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <label>WO Revision No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value="0" id="worevno" name="worevno" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="required">PO Ref No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" style="width: 100%;" id="porefno" name="porefno" onchange="getPOdetails(this.id)"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label class="required">Ref Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" id="refdate" name="refdate" readonly />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix approval" style="display:none;">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Approval Status</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="approvalstatus" name="approvalstatus">
                                                    <option>Select</option>
                                                    <option selected="selected" value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required"><label>Approval Date</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container1">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" id="approvaldate" name="approvaldate" />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row clearfix approvalComment" style="display:none;">

                                        <div class="col-md-2 pull-left">
                                            <label>Approval Comment</label>
                                        </div>

                                        <div class="col-md-4 pull-left">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="comment" name="comment"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="required">
                                                <label>Segment Type</label>
                                            </div>
                                            <select class="form-control select2" data-placeholder="Select"
                                                    id="segmenttypeid" name="segmenttypeid" disabled></select>
                                            <span id="segmentmsg" class="help-block" style="color:red;"></span>
                                            <input type="hidden" id="hsegmenttypeid" name="hsegmenttypeid" />
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="required">
                                                <label>Select Item</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid disabled" readonly data-val="true" value="" autocomplete="off" id="itemnameid" name="itemnameid" onchange="getItemdetail()" />

                                                </div>
                                            </div>
                                            <input type="hidden" id="itemid" name="itemid" />

                                            <span id="itemmsg" class="help-block" style="color:red;"></span>
                                            <input type="hidden" id="hitemid" name="hitemid" />

                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="required">
                                                <label>Style Name</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid disabled" readonly data-val="true" value="" autocomplete="off" id="stylenameid" name="stylenameid" onchange="GetStyleData()" />
                                                </div>
                                            </div>
                                            <input type="hidden" id="styleid" name="styleid" />

                                            <span id="stylemsg" class="help-block" style="color:red;"></span>
                                            <input type="hidden" id="hstyleid" name="hstyleid" />
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label>Style Desc</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control alphaonly disabled" name="styledesc" id="styledesc" readonly />
                                                </div>
                                            </div>
                                            <input type="hidden" id="hstyledesc" name="hstyledesc" />

                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label>Style No</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" name="styleno" id="styleno" readonly />
                                                </div>
                                            </div>

                                            <input type="hidden" id="hstyleno" name="hstyleno" />
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label>Brand Name</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control alphaonly disabled" readonly name="brand" id="brand">
                                                </div>
                                            </div>
                                            <input type="hidden" id="hbrand" name="hbrand" />
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="required">
                                                <label>Total Req.Qty</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" autocomplete="off" id="totalqty" name="totalqty" readonly>
                                                </div>
                                            </div>
                                            <span id="qtymsg" class="help-block" style="color:red;"></span>
                                            <input type="hidden" id="htotalqty" name="htotalqty" />
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input type="file" class="form-control" name="styleimg" id="styleimg" style="display:none;" multiple>
                                            <input type="hidden" name="HstyleImageId" id="HstyleImageId" value="" />
                                            <input type="hidden" id="styleimage_Id" name="styleimage_Id" value="" />
                                            <div class="form-group">
                                                <input type="button" class="btn btn-info" style="margin-top:2em;" value="View Image" onclick="GetImageUpload(this.id,'upload','Style')" />
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="AttributeId" name="AttributeId" />
                                    <input type="hidden" id="AttributList" name="AttributList" />
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="table table-responsive">
                                                <table class="table table-striped" id="AttributeTable">
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="totReqInStockQty" name="totReqInStockQty" value="" />
                                    <div id="stylegrid" style="display:none;">
                                        <div class="box-footer">
                                            <div class="col-md-1 ">
                                                <button type="button" style="margin-top:15px;" class="btn btn-info addstyle">Add</button>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <div class="col-md-12" style="margin-bottom:30px;">
                                                <div class="box-body table-responsive no-padding">
                                                    <table id="hidestyletable">
                                                        <tbody></tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="imagename">

                                    </div>
                                    <input type="hidden" name="postyleid" id="postyleid" value="" />
                                    <input type="hidden" name="sizeliststr" id="sizeliststr" />
                                    <input type="text" name="issampling" id="issampling" style="display:none;">

                                    <input type="hidden" name="hdnqty" id="hdnqty" />
                                    <input type="hidden" name="hdnquotationno" id="hdnquotationno" />

                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="messages_with_icon_title">
                                    <div class="row clearfix">

                                        <!--kiran-->
                                        <!--kiran-->
                                        <!-- BOM table view -->
                                        <div class="col-md-12" style="margin-bottom:40px;">
                                            <div class="box-body table-responsive no-padding">
                                                <table class="table  table-striped" id="rawitemtable"></table>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <input type="hidden" id="BOMitemList" name="BOMitemList" />
                                    <input type="hidden" id="BOMSizeList" name="BOMSizeList" />
                                    <input type="hidden" id="BOMQtyList" name="BOMQtyList" />


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Image View Modal-->
    <div class="modal fade" id="UploadPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:#fff;">×</span>
                    </button>
                    <h4 class="modal-title">Preview Image</h4>
                </div>
                <form id="prodform">
                    <div class="modal-body" style="padding-bottom:0;">
                        <div class="box box-default">

                            <div class="box-body with-border">
                                <div class="row clearfix" id="uploadid">
                                    <div class="col-sm-4 col-xs-6">
                                        <span>Select Image</span>
                                    </div>
                                    <div class="col-sm-6  col-xs-6" style="margin:0;">
                                        <input type="hidden" id="noid" name="noid" value="" />
                                        <input type="hidden" id="nameid" name="nameid" value="" />
                                        <input type="hidden" id="typeid" name="typeid" value="" />
                                        <input type='file' id='ItemAttrimages' name='ItemAttrimages' class='form-control' multiple />
                                    </div>

                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="gallery-container">
                                            <div class="pagi-container imgpre" id="img_preview">

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="padding-top:0;">

                        <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                        <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="Saveimage" onclick="Savehide()">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


}
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>


<script>
    function calBalanceQty(id) {
    var number = id.match(/\d+/);
    var balanceqty = 0;
    var j = 0;
    var poid = $('#porefno').val();

    $.ajax({
        type: "POST",
        url: '@Url.Action("getWOSEBal", "WorkOrder")',
        data: "{'id':" + poid + "}",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (result) {
            debugger;
            if (result.length >0) {
                var balqty = 0;
                var woqty = 0;
                $.each(result, function (i, buss) {
                    $.each(buss.workorderdetaillist, function (i, bussiness) {
                        debugger
                        var atrva = $('#sizeID' + number).val();
                        if (atrva == bussiness.Attribute_Value_ID) {
                            balqty = bussiness.BalanceQty;
                            woqty = bussiness.Quantity;
                        }

                    });
                });

                var prodqty1 = $('#prodQty' + number).val();
                var totprod = $('#IAtotProd' + number).val();
                if (prodqty1 <= balqty) {
                    balanceqty = parseFloat(woqty) - parseFloat(prodqty1) - parseFloat(totprod);
                    $('#balQty' + number).val(balanceqty);
                }
                else {
                    swal({
                        title: 'Error',
                        text: "Enter valid Quantity. You Have Remaing " + balqty + " Quantity !",
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Ok",
                        closeOnConfirm: false,
                        closeOnCancel: false

                    });

                    $('#balQty' + number).val(0);
                    $('#prodQty' + number).val(balqty);
                }
            }
            else {
                debugger;
                var woqty = $('#sizepcs' + number).val();
                    var prodqty = $('#prodQty' + number).val();
                    if (parseFloat(prodqty) <= parseFloat(woqty)) {
                    balanceqty = parseFloat(woqty) - parseFloat(prodqty);
                    $('#balQty' + number).val(balanceqty);
                }
                else {
                    setswal("Enter Valid Quantity.")
                    $('#balQty' + number).val(0);
                    $('#prodQty' + number).val(woqty);
                }
            }

            var TotReqStockQty = 0;
            var $dataRows = $("#AttributeTable tr:not('.attrbtab1')");
            $dataRows.each(function (i) {
                var ReqStock = $("#prodQty" + i).val();
                ReqStock = ReqStock > 0 ? ReqStock : 0;
                TotReqStockQty = parseFloat(TotReqStockQty) + parseFloat(ReqStock);
            });
            $("#totReqInStockQty").val(TotReqStockQty);

            var $dataRows1 = $("#rawitemtable tr:not('.rowtitle')");

            $dataRows1.each(function (i) {
                GetTotReqQty(i);
            });
        },
        failure: function (response) {
            alert(response.d);
        }
    });
}



    function getPOdetails(id) {
        var poid = $('#porefno').val();
        var ponumber = $("#porefno option:selected").text();

        // $('#quotno').val(quot);
        $('#itemsizetable').empty();
        $('#segmenttypeid').val("0");

        $('#segmenttypeid').trigger('change');

        $('#styleid').val("0");
        $('#styleid').trigger('change');

        // $('#isselectenquiry').val("1");

        $('#itemid').val("0");
        $('#itemid').trigger('change');

        $('#styleno').val("");

        $('#styledesc').val("");

        $('#brand').val("");

        $('#stylecolorid').val("0");
        $('#stylecolorid').trigger('change');

        $('#styleshadeid').val("0");
        $('#styleshadeid').trigger('change');

        $('#totalqty').val("")

        $.ajax({
            type: "POST",
            url: '@Url.Action("getPOdetailsbyid", "CustomerPO")',
            data: "{'id':" + poid + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                var result_ = JSON.stringify(result);
                var styleid = result.styledetailentity.Styleid;
                $('#hdnquotationno').val(result.Quotrefno);
                var refdt = result.podatestr;
                $('#refdate').val(refdt.replace('-', '/').replace('-', '/'));
                $('#segmenttypeid').val(result.styledetailentity.Segmenttypeid);
                $('#hsegmenttypeid').val(result.styledetailentity.Segmenttypeid);

                $('#segmenttypeid').trigger('change');

                $('#stylenameid').val(result.styledetailentity.styleM.Stylename);
                $('#styleid').val(styleid);
                $('#hstyleid').val(styleid);

                $('#isselectenquiry').val("1");
                $("#postyleid").val(result.styledetailentity.Id);
                $('#itemnameid').val(result.styledetailentity.itemM.ItemName);
                $('#itemid').val(result.styledetailentity.Itemid);
                $('#hitemid').val(result.styledetailentity.Itemid);
                $('#itemid').trigger('change');
                getItemdetail();
                getRawItemDetail();
                $('#styleno').val(result.styledetailentity.Styleno);
                $('#hstyleno').val(result.styledetailentity.Styleno);

                $('#styledesc').val(result.styledetailentity.Styledesc);
                $('#hstyledesc').val(result.styledetailentity.Styledesc);

                $('#brand').val(result.styledetailentity.Brand);
                $('#hbrand').val(result.styledetailentity.Brand);


                $('#totalqty').val(result.styledetailentity.Totalqty);
                $('#htotalqty').val(result.styledetailentity.Totalqty);

                var i = 0,j=0;
                var rowCount = 0;

                $('#isselectenquiry').val("0");


                    var m = 0;
                    var spath = "";
                    var sImagepath = "";
                    $.each(result.imgelist, function (d, data) {

                        if (d == 0) {
                            spath = "@styleimgpath_/" + data.styleimg;
                            sImagepath = data.styleimg;
                        }
                        else {
                            spath = spath + "," + "@styleimgpath_/" + data.styleimg;
                            sImagepath = sImagepath + "#" + data.styleimg;
                        }
                    });
                    $("#styleimage_Id").val(spath);
                    $("#HstyleImageId").val(sImagepath);

                j = 0;

            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function getItemdetail() {
        $("#AttributeTable").html("");
        var itemid = $("#itemid").val();
        var POSid = $("#postyleid").val();
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: '@Url.Action("EditAttributeValue", "CustomerPO")',
                data: "{'MyJson':'" + itemid + "','type':10,'id':" + POSid + "}",
                contentType: "application/json;",
                success: function (Result) {
                    debugger;
                    Result = JSON.parse(Result);
                    var TotReqStockQty = 0;
                    var tabstr = "";
                    tabstr = tabstr + "<tr  class='attrbtab1'><th style='display:none;'>Id</th>";
                    $.each(Result.Table, function (a, data) {
                        debugger
                        $("#AttributeId").val(data.Attribute_ID);

                        $.each(data.AttributName.split(","), function (b, edata) {

                            tabstr = tabstr + "<th style='width:10em;'>" + edata + "</th>";
                        });
                    });
                    tabstr = tabstr + "<th style='width:10em;'>Required Quantity</th><th style='width:10em;'>Balance Quantity</th><th style='width:10em;'>Production Quantity</th><th style='width:10em;display:none;'>Rate</th><th style='width:10em;'>Already Planned/Produced Qty</th>";
                    tabstr = tabstr + "</tr>"

                    $.each(Result.Table1, function (i, subcate) {

                        var attributename = subcate.AttributeValue;
                        var index1 = attributename.indexOf(',');
                        if (index1 == -1) {
                            attributename = attributename + ",";
                        }
                        attributename = attributename.split(',');
                        var ck = 0;
                        tabstr = tabstr + "<tr class='attrtabval'><td style='display:none;'><input type='hidden' class='EnqIdcs' value='" + subcate.Id + "' /><input type='hidden' id='sizeID" + i + "' value='" + subcate.Attribute_Value_ID + "' /> </td>";
                        $.each(subcate.Attribute_Value_ID.split(","), function (k, e) {
                            debugger;
                            if (e != "") {
                                tabstr = tabstr + "<td style='width:10em;'><input type='hidden' value='" + e + "' class='hid2'  />"
                                if (attributename[ck] != "") {
                                    tabstr = tabstr + "<input type='hidden' class='hidval2' value='" + attributename[ck] + "' /> " + attributename[ck] + "";
                                }
                                tabstr = tabstr + "</td>";
                                ck = ck + 1;
                            }
                        });
                        tabstr = tabstr + "<td style='width:10em;'><input type='text' id='sizepcs" + i + "' class='form-control IAReqQty' value='" + subcate.Reqqty + "' readonly onkeypress='return isNumber(event)' onkeyup='GetTotQty()' /></td>";
                        tabstr = tabstr + "<td style='width:10em;text-align:center;' id='balQtytd" + i + "'><input readonly type='text' name='SizeBalQty' value='0' id='balQty" + i + "' class='form-control IAbalQty' readonly /></td>"
                        tabstr = tabstr + "<td style='width:10em;text-align:center;' id='prodQtytd" + i + "'><input type='text' name='SizeProdQty' value='" + subcate.Reqqty + "' id='prodQty" + i + "' onchange='calBalanceQty(this.id)' onkeypress='return isNumber(event)' class='form-control IAproQty'/></td>"
                        tabstr = tabstr + "<td style='width:10em;display:none'><input type='text' class='form-control IARate' value='" + subcate.rate + "'  readonly /><input type='hidden' class='form-control IAsizeid' value='" + subcate.Item_Attribute_ID + "'  readonly /></td>";
                        tabstr = tabstr + "<td style='width:10em;'><input type='text' class='form-control IAtotProd' id='IAtotProd" + i + "' value='0'  readonly /></td>";
                        tabstr = tabstr + "</tr>"
                        var ReqStock = parseFloat(subcate.Reqqty);
                        ReqStock = ReqStock > 0 ? ReqStock : 0;
                        TotReqStockQty = parseFloat(TotReqStockQty) + parseFloat(ReqStock);

                    });
                    tabstr = "<tbody>" + tabstr + "</tbody>"
                    $("#AttributeTable").append(tabstr);
                    $("#totReqInStockQty").val(TotReqStockQty);

                    var poid = $('#porefno').val();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("getWOSEBal", "WorkOrder")',
                        data: "{'id':" + poid + "}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            debugger;

                            if (result != null) {
                                $.each(result, function (k, bus) {
                                    $.each(bus.workorderdetaillist, function (j, bussiness) {
                                        var atrval = $('#sizeID' + j).val();
                                        if (atrval == bussiness.Attribute_Value_ID) {
                                            var prodqty = $("#IAtotProd" + j).val() == "" ? 0 : $("#IAtotProd" + j).val();
                                            prodqty = parseFloat(prodqty) + parseFloat(bussiness.ProductionQty);
                                            $("#IAtotProd" + j).val(prodqty);
                                            $('#prodQty' + j).val(bussiness.BalanceQty);
                                        }

                                    });

                                });
                            }
                        },
                        failure: function (response) {
                            alert(response.d);
                        }
                    });
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
    }


    function getRawItemDetail() {
        debugger
        var companyid = $("#companyid").val();
        var branchid = $("#branchid").val();
        var UserId = $("#userid").val();

        var POid = $("#porefno").val();
        var myjson = { "POid": POid, 'Name': 'WO', 'CompanyId': companyid, 'BranchId': branchid, 'UserId': UserId  };

        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '@Url.Action("SaveAutoPR", "BillOfMaterial")',
            data: "{'Model':'[" + JSON.stringify(myjson) + "]','type':3}",
            contentType: "application/json;",
            success: function (result) {
                debugger;
                $("#rawitemtable").html('');
                result = JSON.parse(result);
                var tabstr = "";
                var unitsel = "";
                tabstr = tabstr + "<thead><tr class='rowtitle bg-blue' id='titlerow'>";
                tabstr = tabstr + "<th>Item Sub-Category</th><th>Raw Item Names</th><th style='display:none;'>Supplier</th><th>Per Quantity</th><th>Total Quantity</th><th>Available In Stock</th><th>Required In Stock</th><th style=width:8em;>Unit</th>";
                tabstr = tabstr + "</tr></thead><tbody id='rawitemtablebody'>"
                $.each(result.Table1, function (i, subcate) {

                    var ImagePath = "";
                    if (subcate.ImagePath != null) {
                        ImagePath = "<img class='imageThumb' src='@rawimgpath_/" + subcate.ImagePath + "'>";
                    }

                    tabstr = tabstr + "<tr class='data-contact-person odd bg-info' id='rowtitle'>";
                    tabstr = tabstr + "<td class='rawsizerow'>" + subcate.ItemsubcategoryName+"<input type='hidden' id='hiddenitemcategoryid' value='" + subcate.ItemSubCategoryId+"' class='form-control rawitemlist' /></td>";
                    tabstr = tabstr + "<td class='rawsizerow'>" + subcate.ItemName+"<input  type='hidden' class='form-control select2 rawitemlist' id='rawitemid" + i + "' name='rawitemid" + i + "' value='" + subcate.ItemId+"'   style='width: 100%;' readonly />";
                    tabstr = tabstr + "<input type='hidden' id='rawIAid" + i + "' name='rawIAid" + i + "' class='rawitemlist' value='" + subcate.Item_Attribute_ID + "' /></td>";
                    tabstr = tabstr + "<td style='text-align:center;display:none;' class='rawsizerow'><input type='text' class='form-control' value='" + subcate.Supplier + "' disabled /><input type='hidden' value='" + subcate.Supplier + "' class='form-control rawitemlist' /></td>";
                    var onclickper = "GetTotReqQty('" + i + "')";
                    var totreqty = $("#totalqty").val();
                    var Totqty = parseFloat(totreqty) * parseFloat(subcate.PerQty);
                    var addqty = parseFloat(Totqty) * subcate.Wastage / 100;
                    Totqty = parseFloat(Totqty) + parseFloat(addqty);
                    var ITotqty = parseFloat(Totqty).toFixed(2);
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'><input type='text' value='" + subcate.PerQty + "' id='Perqty_" + i + "' class='form-control rawitemlist' name='Perqty" + i + "' onkeypress='return isNumber(event)' readonly onkeyup=" + onclickper + "  /></td>";
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'><input type='text' id='Acceptedqty" + i + "' class='form-control rawitemlist' name='Acceptedqty" + i + "' value='" + ITotqty+"' readonly /></td>";
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'><input type='text' id='AvailInStock_" + i + "' class='form-control rawitemlist' name='AvailInStock' value='' readonly /></td>";
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'><input type='text' id='ReqInstock_" + i + "' class='form-control rawitemlist ReqInstock' name='ReqInstock' value='' readonly /></td>";
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'><input type='text' class='form-control' value='" + subcate.UnitName +"' readonly /><input type='hidden' class='form-control select2 rawitemlist' id='unitid" + i + "' name='unitid" + i + "' value='" + subcate.UnitId +"' readonly /></td>";
                    tabstr = tabstr + "</tr>"
                });
                tabstr =tabstr + "</tbody>"
                $("#rawitemtable").append(tabstr);
                $.each(result.Table1, function (i, subcate) {
                    debugger;
                    setItemUnit(i);
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        })
    }

    function setItemUnit(no) {
        debugger;
        var itemid = $("#rawitemid" + no).val();
        var IAid = $("#rawIAid"+no).val();
        if (itemid != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getUnit", "BillOfMaterial")',
                data: "{'itemid':" + itemid + ",'IAid':'" + IAid + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    result = JSON.parse(result);
                    debugger;
                    $.each(result.Table, function (i, item) {
                        debugger;
                        $("#AvailInStock_" + no).val(item.AvailQty);
                    });
                    if (result.Table.length == 0) {
                        $("#AvailInStock_" + no).val(0);
                    }
                    GetTotReqQty(no);
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
        else {
            $('#unitid' + no).val(0).trigger('change');
        }
    }

    function GetTotReqQty(no) {
        debugger;
        var TotReqQty = $("#Acceptedqty" + no).val();
        var availinstock = $("#AvailInStock_" + no).val();
        var totReqstock = parseFloat(TotReqQty) > parseFloat(availinstock) ?parseFloat(TotReqQty) - parseFloat(availinstock) : 0;
        $("#ReqInstock_" + no).val(totReqstock);

        var $dataRows1 = $("#rawitemtable tr:not('.rowtitle')");
        var rowlen = $dataRows1.length;
        var count = 0;
        $dataRows1.each(function (i) {
            if ($("#ReqInstock_" + i).val() > 0) {
                count = count + 1;
            }
            else {
                count = count == 0 ? 0 : count - 1;
            }
        });
        if (count>0) {
            $("#AutoPR").removeAttr('disabled');
            $("#AutoPR").removeClass('disabled');
            $("#savewo").attr('disabled', 'disabled');
            $("#savewo").addClass('disabled');

        }
        else {
            $("#AutoPR").attr('disabled', 'disabled');
            $("#AutoPR").addClass('disabled');
            $("#savewo").removeAttr('disabled');
            $("#savewo").removeClass('disabled');
        }

    }

    function GetTotReqQty1() {
        var perqty = $("#perqtyid").val() == "" ? 0 : $("#perqtyid").val();
        var Totqty = $("#totReqInStockQty").val();
        var TotReqQty = perqty * Totqty;
        $("#totqtyid").val(TotReqQty);
        var availinstock = $("#availinstockid").val();
        var totReqstock = TotReqQty > availinstock ? parseFloat(TotReqQty) - parseFloat(availinstock) : 0;
        $("#reqinstockid").val(totReqstock);

    }


    function GetRawItem() {
        var startrow = 0;
        var startrowvalue = "---Select----";
        var subid = $("#itemsubcategoryid").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetRawItemList", "BillOfMaterial")',
            data: "{'subCatid':" + subid + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                result = JSON.parse(result);
                $('#itemrawid').empty();
                $("#itemrawid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(result, function (i, item) {
                    $("#itemrawid").append('<option value="' + item.Id + '">' + item.ItemName + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function setItemUnit1() {
        var itemid = $("#itemrawid").val();
        if (itemid != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getUnit", "BillOfMaterial")',
                data: "{'itemid':" + itemid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    debugger;
                    result = JSON.parse(result);
                    debugger;
                    $.each(result.Table, function (i, item) {
                        debugger;
                        $('#_unitid').val(item.UnitId).trigger('change');
                        $("#availinstockid").val(item.AvailQty);
                    });
                    if (result.Table.length == 0) {
                        $("#availinstockid").val(0);
                        $('#_unitid').val(1).trigger('change');
                    }
                    GetTotReqQty1();
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
        else {
            $('#_unitid').val(0).trigger('change');
        }
    }

    function getCustomerdetails() {
        var startrow = 0;
        var startrowvalue = "---Select----";
        var custid = $("#customerid").val();
        $("#porefno").empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("getPOListbycustomerid", "WorkOrder")',
            data: "{'id':" + custid + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                $("#porefno").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(result, function (i, bussiness) {
                    $("#porefno").append('<option value="' + bussiness.Id + '">' + bussiness.POno + '</option>');
                });

            },
            failure: function (response) {
                alert(response.d);
            }
        });

        //getAddress();
        //getinfo();

    }




    $(document).ready(function () {

        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr("style", "display:none;");
        $('.select2').select2();
        $('.select2').width("100%");

        var roleid = $("#roleid").val();
        if (parseInt(roleid) != 4) {
            $(".approval").show();
            $(".approvalComment").show();
        }
        else {
            $(".approval").hide();
            $(".approvalComment").hide();
        }


        $("#wodate").datepicker({
            //setDate: currentDate,
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });

        $("#approvaldate").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });

        //$("#refdate").datepicker({
        //    //setDate: currentDate,
        //    dateFormat: 'mm/dd/yy',
        //    maxDate: 0,
        //    minDate:0,
        //});
        //$("#tentivedate").datepicker({
        //    //setDate: currentDate,
        //    dateFormat: 'dd/mm/yy'
        //    //  maxDate: 0
        //});

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = mm + '/' + dd + '/' + yyyy;


        $("#wodate").val(today);
        $("#approvaldate").val(today);

        var startrow = 0;
        var startrowvalue = "---Select----"

        $.ajax({
            type: "POST",
            url: '@Url.Action("getSegmenttypelist", "quotation")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (countrys) {
                $("#segmenttypeid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(countrys, function (i, item) {
                    $("#segmenttypeid").append('<option value="' + item.Id + '">' + item.Segmenttype + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("getrawitemlist", "quotation")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (countrys) {
                $("#rawitemid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(countrys, function (i, item) {
                    $("#rawitemid").append('<option value="' + item.Id + '">' + item.ItemName + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });

    });




    function showclose(div) {
        // $('.imgClose', div).show();
    }
    function hideclose(div) {
        // $('.imgClose', div).hide();
    }
    $(document).ready(function () {

        if (window.File && window.FileList && window.FileReader) {
            fnsetimgpreve("styleimg", "imgpreview");
            fnsetimgpreve("rawimg", "imgpreviewraw");
        } else { alert("Your browser doesn't support to File API") }
    });

    function fnsetimgpreve(filecontrol, previecontrol) {
        $("#" + filecontrol).on("change", function (e) {

            $("#" + previecontrol).empty();
            var files = e.target.files,
            filesLength = files.length;
            if (filecontrol == "styleimg") {


            }
            for (var i = 0; i < filesLength ; i++) {
                var f = files[i]

                var fileReader = new FileReader();
                fileReader.onload = (function (e) {
                    var file = e.target;
                    var imgstr = "<li> <img class='imageThumb' src='" + e.target.result + "'   ></img></li>";
                    $("#" + previecontrol).append(imgstr);
                });
                fileReader.readAsDataURL(f);
            }
        });

    }

    var ErrorMessage = "";

    function setswal(msg) {
        if (ErrorMessage.length > 0) {
            ErrorMessage += "\n" + msg;
        } else { ErrorMessage = msg; }
    }

    $("#savewo").on("click", function () {

        ErrorMessage = "";


        var segmenttypeid = $("#segmenttypeid").val();



        var styleid = $("#styleid").val();


        var itemid = $("#itemid").val();

        var isvalid = true;



        var custid = $('#customerid').val();

        var rowcountrawtable = $('#rawitemtable tr').length;

        if (custid == "0") {
            // $('#customermsg').text("select customer");
            setswal("Please Select Customer");
            isvalid = false;
        }

        if (segmenttypeid == "0") {
            setswal("Please Select Segmenttype.");
            isvalid = false;
        }
        if (styleid == "0") {
            setswal("Please Select Style.");
            isvalid = false;
        }
        if (itemid == "0") {
            setswal("Please Select Item.");
            isvalid = false;
        }

        if (ErrorMessage.length > 0) {

            swal({
                title: 'Error',
                text: ErrorMessage,
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            });

            isvalid = false;
        }
        else {
            //  var str = "";
            isvalid = true;
            addstyle();

            var str = "";
            var rawitemstr = "";
            var $dataRows = $("#hidestyletable tr:not('.titlerow')");
            var rowlenght = $dataRows.length;
            var stylerowcount = 0;
            //var stylerowCount = $('#maintable2 tr').length;
            $dataRows.each(function () {

                count = 0;
                stylerowcount++;
                var Aleng = $(this).children('td').length;
                $(this).find('.stylerow').each(function (i) {
                    var itemlist = ($(this).val());  //here get td value
                    count++;

                    if (itemlist != undefined) {

                        if (count == Aleng) {
                            str += itemlist;
                        }
                        else {
                            str += itemlist + "~";
                        }
                    }

                });

                if (stylerowcount == rowlenght) {


                }
                else {
                    str += "#";
                }

            });


            $('#sizeliststr').val(str);

        }
        return isvalid;

    });

    function addstyle() {

        var segmenttype = document.getElementById("segmenttypeid");
        var selectedsegment = segmenttype.options[segmenttype.selectedIndex].text;
        var segmenttypeid = $("#segmenttypeid").val();

        //var stylename = document.getElementById("styleid");
        //var selectedstyle = stylename.options[stylename.selectedIndex].text;
        //var styleid = $("#styleid").val();

        var selectedstyle = $("#stylenameid").val();
        var styleid = $("#styleid").val();

        //var item = document.getElementById("itemid");
        //var selectedItem = item.options[item.selectedIndex].text;
        //var itemid = $("#itemid").val();

        var selectedItem = $("#itemnameid").val();
        var itemid = $("#itemid").val();

        var styleno = $("#styleno").val();
        var styledesc = $("#styledesc").val();
        var brand = $("#brand").val();

        var styleimg = $("#styleimg").val();
        var reqqty = $("#reqqty").val();

        var rowCount = 0;

        var i = $('#hidestyletable tr').length;

        if (segmenttypeid == "") {
            // $('#segmentmsg').text("select segment type");
            setswal("Select Segment Type");
        }
        if (styleid == "") {
            // $('#stylemsg').text("select style");
            setswal("Select Style");
        }
        if (itemid == "") {
            //$('#itemmsg').text("select item");
            setswal("Select Item");
            // alert(itemid);
        }
        if (reqqty == "") {
            //$('#qtymsg').text("enter require quantity");
            setswal("Enter Require Quantity");
        }
        else {


            $('#segmentmsg').text("");
            $('#stylemsg').text("");
            $('#itemmsg').text("");
            $('#stylecolormsg').text("");
            $('#styleshademsg').text("");
            $('#qtymsg').text("");
            //segment  item style brand stydesc color shade image reqqty sizeratio
            var lengthofsize = $('#AttributeTable tr').length;
            var j = 0;
            // for (j = 0; j < lengthofsize; j++) {
            var rawsizerowcount = 0;
            var $dataRows3 = $("#AttributeTable tr:not('.attrbtab1')");
            var sizerowlenght = $dataRows3.length;
            var sizerowstr = "";

            $dataRows3.each(function () {
                debugger;
                var sizearray = [];
                //get row of sizetable
                var attributeval = "";
                var ReqQty = "";
                var Rate = "";
                var Bal = "";
                var produce = "";
                var sizeid = "";
                $(this).children('td').each(function (i) {
                    debugger;
                    $(this).find(".hid2").each(function () {
                        if (i == 0) {
                            attributeval = this.value;
                        }
                        else {
                            attributeval = attributeval + "," + this.value;
                        }
                    });

                    $(this).find(".IAReqQty").each(function () {
                        ReqQty = this.value;
                    });

                    $(this).find(".IARate").each(function () {
                        Rate = this.value;
                    });

                    $(this).find(".IAbalQty").each(function () {
                        Bal = this.value;
                    });

                    $(this).find(".IAproQty").each(function () {
                        produce = this.value;
                    });

                    $(this).find(".IAsizeid").each(function () {
                        sizeid = this.value;
                    });

                });
                var attributeid = $("#AttributeId").val();
                hidestylediv = '<tr class="data-contact-person odd" id="' + (i + 1) + '" value="' + (i + 1) + '" data="' + (i + 1) + '">' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + segmenttypeid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + styleid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + itemid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + styledesc + '" class="form-control stylerow"></td>' +
                    ' <td style="padding-right:10px;"><input type="hidden" value="' + brand + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + styleimg + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + attributeid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + attributeval + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + ReqQty + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + Bal + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + produce + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + Rate + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + sizeid + '" class="form-control stylerow"></td>' +
                    '</tr>';
                $('#hidestyletable').append(hidestylediv);

            });



            // }
        }
    }

    $('#AutoPR').on('click', function () {
        debugger;
        ErrorMessage = "";
        var str = "";
        var count = 0;
        var rowcount = 0;
        var isvalid = true;
        var $dataRows1 = $("#rawitemtable tr:not('.rowtitle')");
        var rowlenght1 = $dataRows1.length;
        if (rowlenght1 > 0) {
            $dataRows1.each(function () {
                count = 0;
                rowcount++;
                $(this).find('.rawitemlist').each(function (i) {
                    var contactlist = ($(this).val());
                    count++;
                    if (i == 3) {
                        if (contactlist == "") {
                            contactlist = "--";
                        }
                    }

                    if (contactlist != undefined && contactlist != "") {
                        if (i == 3) {

                            contactlist = " ";
                        }

                        if (count == 9) {
                            str += contactlist;
                        }
                        else {
                            str += contactlist + "~";
                        }
                    }
                    else {
                        setswal("Please Fill Raw Item Details");
                        isvalid = false;
                    }

                });

                if (rowcount == rowlenght1) {
                    rowlenght1 = rowlenght1;
                }
                else {
                    str += "#";
                }
            });
            $('#BOMitemList').val(str);
        }

        addstyle();
        var str2 = "";
        var rawitemstr = "";
        var $dataRows = $("#hidestyletable tr:not('.titlerow')");
        var rowlenght = $dataRows.length;
        var stylerowcount = 0;
        //var stylerowCount = $('#maintable2 tr').length;
        $dataRows.each(function () {

            count = 0;
            stylerowcount++;
            var Aleng = $(this).children('td').length;
            $(this).find('.stylerow').each(function (i) {

                var itemlist = ($(this).val());  //here get td value
                count++;

                if (itemlist != undefined) {

                    if (count == Aleng) {
                        str2 += itemlist;
                    }
                    else {
                        str2 += itemlist + "~";
                    }
                }

            });

            if (stylerowcount == rowlenght) {

            }
            else {
                str2 += "#";
            }

        });


        $('#BOMSizeList').val(str2);

        if (ErrorMessage.length > 0) {
            swal({
                title: 'Error',
                text: ErrorMessage,
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            });
            isvalid = false;
        }
        else {
            debugger;
            var $form = $(".BOM");
            var formData = $form.serializeArray();
            var MyJson = JSON.stringify(formData);

            $.ajax({
            type: "POST",
            dataType: 'json',
            url: '@Url.Action("SaveAutoPR", "BillOfMaterial")',
                data: "{'Model':'" + MyJson + "','type':4}",
            contentType: "application/json;",
            success: function (result) {
                result = JSON.parse(result);
                $.each(result.Table, function (i, item) {
                    if (item.save == 200) {
                        swal({
                            title: 'Warning',
                            text: item.msg,
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                            closeOnCancel: false

                        });
                    }
                    else {
                        swal({
                            title: 'Error',
                            text: item.ErrorMessage,
                            type: "error",
                            showCancelButton: false,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                            closeOnCancel: false

                        });
                    }

                });

            },
            failure: function (response) {
                alert(response.d);
            }
        })
        }
        return isvalid;

    });

    function GetGST() {
        //Get Tax List
            $.ajax({
                type: "POST",
                url: '@Url.Action("getGSTTaxlist", "quotation")',
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (gstsdata) {

                    var result_ = JSON.parse(gstsdata);
                    $('.IAGSTCharge').empty();
                    $(".IAGSTCharge").append('<option value="select">Select</option>');
                    $.each(result_, function (i, item) {
                        $(".IAGSTCharge").append('<option value="' + item.Tax_Rate + '">' + item.Category_Name + '</option>');
                    });

                    var i = 1;
                    $("#AttributeTable tr.attrtabval").children('td').find(".IATax").each(function () {
                        var GST = this.getAttribute('dataGST');
                        $("#GSTCharge" + i).val(GST);
                        i++;
                    });

                },
                failure: function (response) {
                    alert(response.d);
                }
            });
    }
</script>

<script src="~/Scripts/Sizetablecalculate.js"></script>