﻿@model Garments_ERP.Entity.MFG_WORK_ORDEREntity
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    var cururl = Request.Url.Authority;//"localhost:2423
    string styleimgpath_ = string.Empty;
    string rawimgpath_ = string.Empty;
    string imgpathname = string.Empty;
    string wodt = string.Empty;
    string refdt = string.Empty;

    if (cururl.Contains("localhost"))
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
    }
    else
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />

<style type="text/css">


    .noborder {
        border: none;
    }

    ul {
        margin: 0;
    }
</style>


@using (Html.BeginForm("Edit", "Workorder", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-8">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Production Planning</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "Workorder")">Work Order Details</a>  >  </div>
                <div class="HMsubline">Edit</div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "WorkOrder")'">Cancel</button>
                @if (Model.IsStatus == 2 || Model.IsStatus == 5)
                {
                    <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="savewo">Update</button>
                }
                else
                {
                    <button type="button" disabled class="btn btn-success pull-right" style="margin-right:5px;" id="savewo">Update</button>
                }
            </div>

        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Work Order Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Product Requirement
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#messages_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i> Material Requirement
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <input type="hidden" id="IsStatus" name="IsStatus" value="@Model.IsStatus" />
                                    @Html.HiddenFor(x => x.WorkOrderID)

                                    <div class="row clearfix">

                                        <div class="col-md-2">
                                            <label class="required">WO No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" readonly value=@Model.WorkOrderNo id="wono" name="wono">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="required">WO Date</label>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    @{
                                                        wodt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", @Model.Date));
                                                        wodt = wodt.Replace('-', '/');
                                                        
                                                    }
                                                    <input type="text" class="form-control pull-right disabled" readonly id="wodate" name="wodate" value="@wodt">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row clearfix">

                                        <div class="col-md-2">
                                            <label class="required">Select Customer</label>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">

                                                    <input type="text" id="custnameid" name="custnameid" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" readonly value="@Model.LedgerEntity.Ledger_Name" autocomplete="off" onchange="getCustomerdetails()" />

                                                </div>

                                                <input type="hidden" id="customerid" name="customerid" value="@Model.CustomerID" />

                                            </div>

                                        </div>



                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>WO Rev No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" readonly value=@Model.RevisionNo id="worevno" name="worevno">
                                                </div>

                                            </div>
                                        </div>


                                    </div>


                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>PO Ref No</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" readonly value="@Model.customerpo.POno" />
                                                </div>
                                                @*<select class="form-control select2" style="width: 100%;" id="porefno" name="porefno"></select>*@
                                                <input type="hidden" id="porefno" name="porefno" value="@Model.customerpo.Id" />

                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Ref Date</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    @{
                                                        refdt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", @Model.customerpo.PODate));
                                                        refdt = refdt.Replace('-', '/');


                                                    }
                                                    <input type="text" class="form-control pull-right disabled" id="refdate" name="refdate" readonly value="@refdt">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix approval" style="display:none;">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Approval Status</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="approvalstatus" name="approvalstatus">
                                                    <option>Select</option>
                                                    @if (Model.Approved == 1)
                                                    {
                                                        <option value="1" selected>Yes</option>
                                                        <option value="0">No</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="1">Yes</option>
                                                        <option value="0" selected>No</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required"><label>Approval Date</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container1">
                                                <div class="form-line">
                                                    @{

                                                        string appdt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.ApproveDate));
                                                        appdt = appdt.Replace('-', '/');

                                                    }
                                                    <input type="text" class="form-control pull-right" id="approvaldate" name="approvaldate" value="@appdt" />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row clearfix approvalComment" style="display:none;">
                                        <div class="col-md-2 pull-left">
                                            <label>Approval Comment</label>
                                        </div>
                                        <div class="col-md-4 pull-left">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="comment" name="comment">@Model.Comment</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label class="required">Segment Type</label>
                                            @Html.DropDownList("segmenttypeid", (IEnumerable<SelectListItem>)ViewBag.segmenttypelist, "Select", new { @class = "form-control select2", @disabled = "disabled" })
                                            <span id="segmentmsg" class="help-block" style="color:red;"></span>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label class="required">Select Item</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid disabled" readonly data-val="true" value="@Model.customerpo.styledetailentity.itemM.ItemName" autocomplete="off" id="itemnameid" name="itemnameid" onchange="getItemdetail()" />

                                                </div>
                                            </div>

                                            <input type="hidden" id="itemid" name="itemid" value="@Model.customerpo.styledetailentity.Itemid" />

                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label class="required">Style Name</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid disabled" data-val="true" readonly value="@Model.customerpo.styledetailentity.styleM.Stylename" autocomplete="off" id="stylenameid" name="stylenameid" onchange="GetStyleData()" />
                                                </div>
                                            </div>


                                            <input type="hidden" id="styleid" name="styleid" value="@Model.customerpo.styledetailentity.Styleid" />

                                            <span id="stylemsg" class="help-block" style="color:red;"></span>

                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label>Style Desc</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" id="styledesc" name="styledesc" readonly value=@Model.customerpo.styledetailentity.Styledesc>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label>Style No</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" id="styleno" name="styleno" readonly value=@Model.customerpo.styledetailentity.Styleno>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label>Brand Name</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" id="brand" name="brand" readonly value=@Model.customerpo.styledetailentity.Brand>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label>Total Req.Qty<i class="red">*</i></label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" id="reqqty" name="totalqty" readonly value=@Model.RequiredQty>
                                                </div>
                                            </div>
                                            <span id="qtymsg" class="help-block" style="color:red;"></span>

                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            @{
                                                int m = 0;
                                                string imgpath = "";
                                            }
                                            @foreach (var itemimg in Model.customerpo.styleimglist)
                                            {
                                                if (m == 0)
                                                {
                                                    imgpath = styleimgpath_ + "/" + itemimg.styleimg;
                                                    imgpathname = itemimg.styleimg;
                                                }
                                                else
                                                {
                                                    imgpath = imgpath + "," + styleimgpath_ + "/" + itemimg.styleimg;
                                                    imgpathname = imgpathname + "#" + Convert.ToString(itemimg.styleimg);
                                                }
                                                m++;
                                            }
                                            <input type="hidden" name="HstyleImageId" id="HstyleImageId" value="@imgpathname" />
                                            <input type="hidden" id="styleimage_Id" name="styleimage_Id" value="@imgpath" />
                                            <input type="file" class="form-control" name="styleimg" id="styleimg" style="display:none;" multiple>
                                            <div class="form-group">
                                                <input type="button" class="btn btn-info" style="margin-top:2em;" value="Upload Image" onclick="GetImageUpload(this.id,'upload','Style')" />
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="AttributeId" name="AttributeId" />
                                    <input type="hidden" id="AttributList" name="AttributList" />
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="table table-responsive">
                                                <table class="table table-striped" id="AttributeTable">
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                    <div id="stylegrid" style="display:none;">
                                        <div class="box-footer">
                                            <div class="col-md-1 ">
                                                <button type="button" style="margin-top:15px;" class="btn btn-info addstyle">Add</button>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <div class="col-md-12" style="margin-bottom:30px;">
                                                <div class="box-body table-responsive no-padding">
                                                    <table id="hidestyletable">
                                                        <tbody></tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" name="sizeliststr" id="sizeliststr" />
                                    <input type="text" name="issampling" id="issampling" style="display:none;">
                                    <input type="hidden" id="totReqInStockQty" name="totReqInStockQty" value="" />
                                    <input type="hidden" name="hdnqty" id="hdnqty" />
                                    <input type="hidden" name="hdnquotationno" id="hdnquotationno" />
                                    
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="messages_with_icon_title">
                                    <div class="row clearfix">

                                        <!--kiran-->
                                        <!--kiran-->
                                        <!-- BOM table view -->
                                        <div class="col-md-12" style="margin-bottom:40px;">
                                            <div class="box-body table-responsive no-padding">
                                                <table class="table  table-striped" id="rawitemtable"></table>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <input type="hidden" id="BOMitemList" name="BOMitemList" />
                                    <input type="hidden" id="BOMSizeList" name="BOMSizeList" />
                                    <input type="hidden" id="BOMQtyList" name="BOMQtyList" />

                                    <div class="row clearfix">
                                        <div class="col-md-2 pull-left">
                                            <div class="form-group">
                                                <label>Comment</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pull-left">
                                            <div class="form-group">
                                                <textarea class="form-control" name="comment" id="comment"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



}
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content(" ~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content(" ~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script>

    function calBalanceQty(id) {
    var number = id.match(/\d+/);
    var balanceqty = 0;
    var j = 0;
    var poid = $('#porefno').val();

    $.ajax({
        type: "POST",
        url: '@Url.Action("getWOSEBal", "WorkOrder")',
        data: "{'id':" + poid + "}",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (result) {
            debugger;
            if (result.workorderdetaillist != null) {
                $.each(result.workorderdetaillist, function (i, bussiness) {
                    debugger
                    j = j + 1;
                    if (parseInt($('#sizeID' + number).val()) == bussiness.SizeID) {
                        var woqty = bussiness.Quantity;
                        var prodqty = bussiness.ProductionQty;
                        var balqty = bussiness.BalanceQty;
                        var prodqty1 = $('#prodQty' + number).val();
                        if (prodqty1 <= balqty) {
                            balanceqty = parseFloat(woqty) - parseFloat(prodqty1);
                            $('#balQty' + number).val(balanceqty);
                        }
                        else {
                            swal("Enter valid Quantity. You Have Remaing " + balqty+" Quantity !")
                            $('#balQty' + number).val(0);
                            $('#prodQty' + number).val(balqty);
                        }

                    }

                });
            }
            else {
                debugger;
                var woqty = $('#sizepcs' + number).val();
                var prodqty = $('#prodQty' + number).val();
                if (parseFloat(prodqty) <= parseFloat(woqty)) {
                    balanceqty = parseFloat(woqty) - parseFloat(prodqty);
                    $('#balQty' + number).val(balanceqty);
                }
                else {
                    swal("Enter valid quantity.")
                    $('#balQty' + number).val(0);
                    $('#prodQty' + number).val(woqty);
                }
            }

            var TotReqStockQty = 0;
            var $dataRows = $("#AttributeTable tr:not('.attrbtab1')");
            $dataRows.each(function (i) {
                var ReqStock = $("#prodQty" + i).val();
                ReqStock = ReqStock > 0 ? ReqStock : 0;
                TotReqStockQty = parseFloat(TotReqStockQty) + parseFloat(ReqStock);
            });
            $("#totReqInStockQty").val(TotReqStockQty);

            var $dataRows1 = $("#rawitemtable tr:not('.rowtitle')");

            $dataRows1.each(function (i) {
                GetTotReqQty(i);
            });
        },
        failure: function (response) {
            alert(response.d);
        }
    });
}





    function getPOdetails(id) {
        var poid = $('#porefno').val();
        var ponumber = $("#porefno option:selected").text();

        // $('#quotno').val(quot);

    }


    function getCustomerdetails() {
        var startrow = 0;
        var startrowvalue = "---Select----";
        var custid = $("#customerid").val();
        $("#porefno").empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("getPObycustomerid", "CustomerPO")',
            data: "{'id':" + custid + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                $("#porefno").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(result, function (i, bussiness) {
                    $("#porefno").append('<option value="' + bussiness.Id + '">' + bussiness.POno + '</option>');
                });

            },
            failure: function (response) {
                alert(response.d);
            }
        });

        //getAddress();
        //getinfo();

    }


    $(document).ready(function () {

        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr("style", "display:none;");
        $('.select2').select2();
        $('.select2').width("100%");

        var roleid = $("#roleid").val();
        if (parseInt(roleid) != 4) {
            $(".approval").show();
            $(".approvalComment").show();
        }
        else {
            var status = $("#IsStatus").val();
            if (parseInt(status) == 2 || parseInt(status) == 5) {
                $(".approval").hide();
                $(".approvalComment").hide();
            }
            else {
                $(".approval").show();
                $("#approvalstatus").attr('disabled', 'disabled');
                $(".approvalComment").show();
                $("#comment").attr('readonly', 'readonly');
            }
        }

        $("#approvaldate").datepicker({
            //setDate: currentDate,
            dateFormat: 'mm/dd/yy'
            // maxDate: 0
        });
        $("#wodate").datepicker({
            //setDate: currentDate,
            dateFormat: 'mm/dd/yy'
            // maxDate: 0
        });
        $("#refdate").datepicker({
            //setDate: currentDate,
            dateFormat: 'mm/dd/yy'
            // maxDate: 0
        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = mm + '/' + dd + '/' + yyyy;
        //  document.getElementById("quotdate").value = today;
        //document.getElementById("approvaldate").value = today;
        // document.getElementById("tentivedate").value = today;
        // document.getElementById("wodate").value = today;


        var startrow = 0;
        var startrowvalue = "---Select----"
        //code to fill dropdown list

        var revno = $("#worevno").val();
        var nextrevno = 0;
        if (revno != "") {
            nextrevno = parseInt(revno) + 1;
            $("#worevno").val(nextrevno);
        } else {
            ("#worevno").val(0);
        }

        var itemid = $("#itemid").val();
        if (itemid != "") {
            getItemdetail();
        }

        getRawItemDetail();

    });



     function getItemdetail() {
        $("#AttributeTable").html("");
        var itemid = $("#itemid").val();
         var WOid = $("#WorkOrderID").val();

         $.ajax({
            type: "POST",
            dataType: 'json',
            url: '@Url.Action("EditAttributeValue", "WorkOrder")',
             data: "{'MyJson':'" + itemid + "','type':13,'id':" + WOid +"}",
            contentType: "application/json;",
             success: function (Result) {
                 debugger;
                 Result = JSON.parse(Result);
                 var TotReqStockQty = 0;
                 var tabstr = "";
                 tabstr = tabstr + "<tr  class='attrbtab1'><th  style='display:none;'>Id</th>";
                 $.each(Result.Table, function (a, data) {
                     debugger
                     $("#AttributeId").val(data.Attribute_ID);

                     $.each(data.AttributName.split(","), function (b, edata) {

                         tabstr = tabstr + "<th style='width:10em;'>" + edata + "</th>";
                     });
                 });
                 tabstr = tabstr + "<th style='width:10em;'>Required Quantity</th><th style='width:10em;'>Balance Quantity</th><th style='width:10em;'>Production Quantity</th><th style='width:10em;display:none;'>Rate</th>";
                 tabstr = tabstr + "</tr>"

                 $.each(Result.Table1, function (i, subcate) {

                     var attributename = subcate.AttributeValue;
                     var index1 = attributename.indexOf(',');
                     if (index1 == -1) {
                         attributename = attributename + ",";
                     }
                     attributename = attributename.split(',');
                     var ck = 0;
                     tabstr = tabstr + "<tr class='attrtabval'><td style='display:none;'><input type='hidden' class='EnqIdcs' value='" + subcate.Id + "' /></td>";
                     $.each(subcate.Attribute_Value_ID.split(","), function (k, e) {
                         debugger;
                         if (e != "") {
                             tabstr = tabstr + "<td style='width:10em;'><input type='hidden' value='" + e + "' class='hid2'  />"
                             if (attributename[ck] != "") {
                                 tabstr = tabstr + "<input type='hidden' class='hidval2' value='" + attributename[ck] + "' /> " + attributename[ck] + "";
                             }
                             tabstr = tabstr + "</td>";
                             ck = ck + 1;
                         }
                     });
                     tabstr = tabstr + "<td style='width:10em;'><input type='text' id='sizepcs" + i +"' class='form-control IAReqQty' value='" + subcate.Reqqty + "' readonly onkeypress='return isNumber(event)' onkeyup='GetTotQty()' /></td>";
                     tabstr = tabstr + "<td style='width:10em;text-align:center;' id='balQtytd" + i + "'><input readonly type='text' name='SizeBalQty' value='" + subcate.BalanceQty + "' id='balQty" + i + "' class='form-control IAbalQty' readonly /></td>"
                     tabstr = tabstr + "<td style='width:10em;text-align:center;' id='prodQtytd" + i + "'><input type='text' name='SizeProdQty' value='" + subcate.ProductionQty + "' id='prodQty" + i + "' onchange='calBalanceQty(this.id)' onkeypress='return isNumber(event)' class='form-control IAproQty'/></td>"
                     tabstr = tabstr + "<td style='width:10em;display:none'><input type='text' class='form-control IARate' value='" + subcate.rate + "'  readonly /><input type='hidden' class='form-control IAsizeid' value='" + subcate.Item_Attribute_ID +"'  readonly /></td>";
                     tabstr = tabstr + "</tr>";
                     var ReqStock = parseFloat(subcate.Reqqty);
                     ReqStock = ReqStock > 0 ? ReqStock : 0;
                     TotReqStockQty = parseFloat(TotReqStockQty) + parseFloat(ReqStock);

                 });
                 tabstr = "<tbody>" + tabstr + "</tbody>"
                 $("#AttributeTable").append(tabstr);
                 $("#totReqInStockQty").val(TotReqStockQty);

             },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

     function getRawItemDetail() {
        debugger
        var POid = $("#porefno").val();
         var myjson = { "POid": POid, 'Name': 'WO' };

        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '@Url.Action("SaveAutoPR", "BillOfMaterial")',
            data: "{'Model':'[" + JSON.stringify(myjson) + "]','type':3}",
            contentType: "application/json;",
            success: function (result) {
                  debugger;
                result = JSON.parse(result);
                var tabstr = "";
                var unitsel = "";
                tabstr = tabstr + "<thead><tr class='rowtitle bg-blue' id='titlerow'>";
                tabstr = tabstr + "<th>Item Sub-Category</th><th>Raw Item Names</th><th>Per Quantity</th><th>Total Quantity</th><th>Available In Stock</th><th>Required In Stock</th><th style=width:8em;>Unit</th>";
                tabstr = tabstr + "</tr></thead><tbody id='rawitemtablebody'>"
                $.each(result.Table1, function (i, subcate) {
                    debugger;

                    var ImagePath = "";
                    if (subcate.ImagePath != null) {
                        ImagePath = "<img class='imageThumb' src='@rawimgpath_/" + subcate.ImagePath + "'>";
                    }



                    tabstr = tabstr + "<tr class='data-contact-person odd bg-info' id='rowtitle'>";
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'>" + subcate.ItemsubcategoryName+"<input type='text' class='form-control' value='" + subcate.ItemsubcategoryName + "' style='display:none;' disabled /><input type='hidden' id='hiddenitemcategoryid' value='" + subcate.ItemSubCategoryId+"' class='form-control rawitemlist' /></td>";
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'>" + subcate.ItemName+"<input type='text' class='form-control'  style='display:none;'value='" + subcate.ItemName +"' readonly /><input  type='hidden' class='form-control select2 rawitemlist' id='rawitemid" + i + "' name='rawitemid" + i + "' value='" + subcate.ItemId+"'   style='width: 100%;' readonly />";
                    tabstr = tabstr + "<input type='hidden' id='rawIAid" + i + "' value='" + subcate.Item_Attribute_ID + "' /></td>";
                    var onclickper = "GetTotReqQty('" + i + "')";
                    var totreqty = $("#totReqInStockQty").val();
                    var Totqty = parseFloat(totreqty) * parseFloat(subcate.PerQty);
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'>" + subcate.PerQty+"<input type='text' style='display:none;' value='" + subcate.PerQty + "' id='Perqty_" + i + "' class='form-control rawitemlist' name='Perqty" + i + "' onkeypress='return isNumber(event)' readonly onkeyup=" + onclickper + "  /></td>";
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'>" + Totqty+"<input type='text' style='display:none;' id='Acceptedqty" + i + "' class='form-control rawitemlist' name='Acceptedqty" + i + "' value='" + Totqty+"' readonly /></td>";
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'><input type='text' id='AvailInStock_" + i + "' class='form-control rawitemlist' name='AvailInStock' value='' readonly /></td>";
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'><input type='text' id='ReqInstock_" + i + "' class='form-control rawitemlist ReqInstock' name='ReqInstock' value='' readonly /></td>";
                    tabstr = tabstr + "<td style='text-align:center;' class='rawsizerow'>" + subcate.UnitName+"<input type='text' class='form-control' style='display:none;' value='" + subcate.UnitName +"' readonly /><input type='hidden' class='form-control select2 rawitemlist' id='unitid" + i + "' name='unitid" + i + "' value='" + subcate.UnitId +"' readonly /></td>";
                    tabstr = tabstr + "</tr>"
                });
                tabstr =tabstr + "</tbody>"
                $("#rawitemtable").append(tabstr);
                $.each(result.Table1, function (i, subcate) {
                    debugger;
                    setItemUnit(i);
                });

            },
            failure: function (response) {
                alert(response.d);
            }
        })
    }


    function setItemUnit(no) {
        debugger;
        var itemid = $("#rawitemid" + no).val();
        var IAid = $("#rawIAid" + no).val();
        if (itemid != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getUnit", "BillOfMaterial")',
                data: "{'itemid':" + itemid + ",'IAid':'" + IAid + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    result = JSON.parse(result);
                    debugger;
                    $.each(result.Table, function (i, item) {
                        debugger;
                        $("#AvailInStock_" + no).val(item.AvailQty);
                    });
                    if (result.Table.length == 0) {
                        $("#AvailInStock_" + no).val(0);
                    }
                    GetTotReqQty(no);
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
        else {
            $('#unitid' + no).val(0).trigger('change');
        }
    }

    function GetSetDate(name) {
        debugger;
        var wodt = new Date($("#" + name).val());
        var dd1 = wodt.getDate();
        var mm1 = wodt.getMonth() + 1; //January is 0!
        var yyyy1 = wodt.getFullYear();
        if (dd1 < 10) {
            dd1 = '0' + dd1;
        }
        if (mm1 < 10) {
            mm1 = '0' + mm1;
        }
        wodt = mm1 + '/' + dd1 + '/' + yyyy1;
        $("#" + name).val(wodt);
    }


    function showclose(div) {
        // $('.imgClose', div).show();
    }
    function hideclose(div) {
        // $('.imgClose', div).hide();
    }
    $(document).ready(function () {

        if (window.File && window.FileList && window.FileReader) {
            fnsetimgpreve("styleimg", "imgpreview");
            fnsetimgpreve("rawimg", "imgpreviewraw");
        } else { alert("Your browser doesn't support to File API") }
    });

    function fnsetimgpreve(filecontrol, previecontrol) {
        $("#" + filecontrol).on("change", function (e) {

            $("#" + previecontrol).empty();
            var files = e.target.files,
            filesLength = files.length;
            if (filecontrol == "styleimg") {


            }
            for (var i = 0; i < filesLength ; i++) {
                var f = files[i]

                var fileReader = new FileReader();
                fileReader.onload = (function (e) {
                    var file = e.target;
                    var imgstr = "<li> <img class='imageThumb' src='" + e.target.result + "'   ></img></li>";
                    $("#" + previecontrol).append(imgstr);
                });
                fileReader.readAsDataURL(f);
            }
        });
    }

    function GetTotReqQty(no) {
        var perqty = $("#Perqty" + no).val() == "" ? 0 : $("#Perqty_" + no).val();

        var Totqty = $("#totReqInStockQty").val();
        var TotReqQty = perqty * Totqty;
        $("#Acceptedqty" + no).val(TotReqQty);
        var availinstock = $("#AvailInStock_" + no).val();
        var totReqstock = TotReqQty > availinstock ? parseFloat(TotReqQty) - parseFloat(availinstock) : 0;
        $("#ReqInstock_" + no).val(totReqstock);

        var $dataRows1 = $("#rawitemtable tr:not('.rowtitle')");
        var rowlen = $dataRows1.length;
        var count = 0;
        $dataRows1.each(function (i) {
            if ($("#ReqInstock_" + i).val() > 0) {
                count = count + 1;
            }
            else {
                count = count == 0 ? 0 : count - 1;
            }
        });
       
    }

</script>
<script>
    var ErrorMessage = "";

    function setswal(msg) {
        if (ErrorMessage.length > 0) {
            ErrorMessage += "\n" + msg;
        } else { ErrorMessage = msg; }
    }

    $("#savewo").on("click", function () {

        ErrorMessage = "";


        var segmenttypeid = $("#segmenttypeid").val();



        var styleid = $("#styleid").val();


        var itemid = $("#itemid").val();


        var stylecolorid = $("#stylecolorid").val();


        var styleshadeid = $("#styleshadeid").val();
        var isvalid = true;



        var custid = $('#customerid').val();

        var rowcountrawtable = $('#rawitemtable tr').length;

        if (custid == "0") {
            // $('#customermsg').text("select customer");
            setswal("select customer");
            isvalid = false;
        }

        if (segmenttypeid == "0") {
            setswal("Please select segmenttype.");
            isvalid = false;
        }
        if (styleid == "0") {
            setswal("Please select style.");
            isvalid = false;
        }
        if (itemid == "0") {
            setswal("Please select item.");
            isvalid = false;
        }
        if (stylecolorid == "0") {
            setswal("Please select stylecolor.");
            isvalid = false;
        }
        if (styleshadeid == "0") {
            setswal("Please select styleshade.");
            isvalid = false;

        }

        if (ErrorMessage.length > 0) {

            swal({
                title: 'Error',
                text: ErrorMessage,
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            });
            isvalid = false;
        }
        else {

            addstyle();

            var str = "";
            var rawitemstr = "";
            var $dataRows = $("#hidestyletable tr:not('.titlerow')");
            var rowlenght = $dataRows.length;
            var stylerowcount = 0;
            //var stylerowCount = $('#maintable2 tr').length;
            $dataRows.each(function () {
                count = 0;
                stylerowcount++;
                var Aleng = $(this).children('td').length;
                $(this).find('.stylerow').each(function (i) {
                    var itemlist = ($(this).val());  //here get td value
                    count++;
                    debugger;
                    if (itemlist != undefined) {

                        if (count == Aleng) {
                            str += itemlist;
                        }
                        else {
                            str += itemlist + "~";
                        }
                    }

                });

                if (stylerowcount == rowlenght) {


                }
                else {
                    str += "#";
                }

            });


            $('#sizeliststr').val(str);
        }
        return isvalid;

    });

    function addstyle() {

        var segmenttype = document.getElementById("segmenttypeid");
        var selectedsegment = segmenttype.options[segmenttype.selectedIndex].text;
        var segmenttypeid = $("#segmenttypeid").val();

        //var stylename = document.getElementById("styleid");
        //var selectedstyle = stylename.options[stylename.selectedIndex].text;
        //var styleid = $("#styleid").val();

        var selectedstyle = $("#stylenameid").val();
        var styleid = $("#styleid").val();

        //var item = document.getElementById("itemid");
        //var selectedItem = item.options[item.selectedIndex].text;
        //var itemid = $("#itemid").val();

        var selectedItem = $("#itemnameid").val();
        var itemid = $("#itemid").val();

        var styleno = $("#styleno").val();
        var styledesc = $("#styledesc").val();
        var brand = $("#brand").val();

        var styleimg = $("#styleimg").val();
        var reqqty = $("#reqqty").val();

        var rowCount = 0;

        var i = $('#hidestyletable tr').length;

        if (segmenttypeid == "") {
            // $('#segmentmsg').text("select segment type");
            setswal("Select Segment Type");
        }
        if (styleid == "") {
            // $('#stylemsg').text("select style");
            setswal("Select Style");
        }
        if (itemid == "") {
            //$('#itemmsg').text("select item");
            setswal("Select Item");
            // alert(itemid);
        }
        if (reqqty == "") {
            //$('#qtymsg').text("enter require quantity");
            setswal("Enter Require Quantity");
        }
        else {


            $('#segmentmsg').text("");
            $('#stylemsg').text("");
            $('#itemmsg').text("");
            $('#stylecolormsg').text("");
            $('#styleshademsg').text("");
            $('#qtymsg').text("");
            //segment  item style brand stydesc color shade image reqqty sizeratio
            var lengthofsize = $('#AttributeTable tr').length;
            var j = 0;
            // for (j = 0; j < lengthofsize; j++) {
            var rawsizerowcount = 0;
            var $dataRows3 = $("#AttributeTable tr:not('.attrbtab1')");
            var sizerowlenght = $dataRows3.length;
            var sizerowstr = "";

            $dataRows3.each(function () {
                debugger;
                var sizearray = [];
                //get row of sizetable
                var attributeval = "";
                var ReqQty = "";
                var Rate = "";
                var Bal = "";
                var produce = "";
                var sizeid = "";
                $(this).children('td').each(function (i) {
                    debugger;
                    $(this).find(".hid2").each(function () {
                        if (i == 0) {
                            attributeval = this.value;
                        }
                        else {
                            attributeval = attributeval + "," + this.value;
                        }
                    });

                    $(this).find(".IAReqQty").each(function () {
                        ReqQty = this.value;
                    });

                    $(this).find(".IARate").each(function () {
                        Rate = this.value;
                    });

                    $(this).find(".IAbalQty").each(function () {
                        Bal = this.value;
                    });

                    $(this).find(".IAproQty").each(function () {
                        produce = this.value;
                    });

                    $(this).find(".IAsizeid").each(function () {
                        sizeid = this.value;
                    });

                });
                var attributeid = $("#AttributeId").val();
                hidestylediv = '<tr class="data-contact-person odd" id="' + (i + 1) + '" value="' + (i + 1) + '" data="' + (i + 1) + '">' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + segmenttypeid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + styleid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + itemid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + styledesc + '" class="form-control stylerow"></td>' +
                    ' <td style="padding-right:10px;"><input type="hidden" value="' + brand + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + styleimg + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + attributeid + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + attributeval + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + ReqQty + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + Bal + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + produce + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + Rate + '" class="form-control stylerow"></td>' +
                    '<td style="padding-right:10px;"><input type="hidden" value="' + sizeid + '" class="form-control stylerow"></td>' +
                    '</tr>';
                $('#hidestyletable').append(hidestylediv);

            });



            // }
        }
    }
</script>
<script src="~/Scripts/Sizetablecalculate.js"></script>