﻿@model IEnumerable<Garments_ERP.Entity.MFG_WORK_ORDEREntity>

<style>
    .pluxad {
        float: right;
        padding: 8px;
        background: green;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrash {
        float: right;
        padding: 8px;
        background: red;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrashdis {
        float: right;
        padding: 8px;
        background: #cec9c9;
        color: #af9a9a;
        border-radius: 14px;
        cursor: pointer;
    }
</style>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
        <thead>
            <tr role="row">
                <th style="display:none;">Id </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    Wotk Order No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Work Order Date
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    PO. No
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    Customer
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    Style
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    WO Qty
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr role="row" class="odd">
                    <td style="display:none;">@data.WorkOrderID</td>
                    <td class="sorting_1">@data.WorkOrderNo</td>
                    <td>
                        @{
                            string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.Date));
                            tndt = tndt.Replace('-', '/');
                        }
                        @tndt
                    </td>
                    <td>@data.customerpo.POno</td>
                    <td>@data.LedgerEntity.Ledger_Name</td>
                    <td>@data.M_Styleentity.Stylename</td>
                    <td>@data.RequiredQty</td>
                    <td>
                        @if (ViewBag.roleid != 4)
                        {
                            if (data.PlanID == -1)
                            {
                                <a href="@Url.Action("Edit", "WorkOrder", new { id = data.WorkOrderID})" class="btn  btn-success btn-sm inner " data-original-title="Edit Quotation" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                                if (ViewBag.Status == 2)
                                {
                                    <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="CancleWO('@data.WorkOrderID')" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                                }
                                if (ViewBag.Status == 3)
                                {
                                    <a href="/ProductionPlan/Create2?WorkOrderID=@data.WorkOrderID" class="btn  btn-success btn-sm inner" data-original-title="Create Plan" style="width:100px;">Create Plan</a>
                                }
                            }
                            else
                            {
                                <a href="#" class="btn  btn-success btn-sm inner disabled" data-original-title="Edit Quotation" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                                if (ViewBag.Status == 2)
                                {
                                    <button type="button" id="delete" class="btn btn-danger btn-sm inner disabled" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                                }
                                if (ViewBag.Status == 3)
                                {
                                    <a href="/ProductionPlan/Edit?planID=@data.PlanID" class="btn  btn-success btn-sm inner" data-original-title="Create Plan" style="width:100px;">Edit Plan</a>
                                }
                            }
                        }
                        else
                        {
                            if (data.PlanID == -1)
                            {
                                <a href="@Url.Action("Edit", "WorkOrder", new { id = data.WorkOrderID})" class="btn  btn-success btn-sm inner " data-original-title="Edit Quotation" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                                if (ViewBag.Status == 2)
                                {
                                    <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="deleteworkorder('@data.WorkOrderID')" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                                }
                                if (ViewBag.Status == 3)
                                {
                                    <a href="/ProductionPlan/Create2?WorkOrderID=@data.WorkOrderID" class="btn  btn-success btn-sm inner" data-original-title="Create Plan" style="width:100px;">Create Plan</a>
                                }
                            }
                            else
                            {
                                <a href="#" class="btn  btn-success btn-sm inner disabled" data-original-title="Edit Quotation" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                                if (ViewBag.Status == 2)
                                {
                                    <button type="button" id="delete" class="btn btn-danger btn-sm inner disabled" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                                }
                                if (ViewBag.Status == 3)
                                {
                                    <a href="/ProductionPlan/Edit?planID=@data.PlanID" class="btn  btn-success btn-sm inner" data-original-title="Create Plan" style="width:100px;">Edit Plan</a>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
