﻿@model Garments_ERP.Entity.M_ItemCategoryMasterEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />

<style type="text/css">
    ul {
        margin: 0;
    }
</style>
@using (Html.BeginForm("Create", "ItemCategory", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "ItemCategory")">Item Category Detail</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "ItemCategory")'">Cancel</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" onclick="return validate()">Save</button>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Item Category Details Info
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Item Group</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                               
                                                    @Html.DropDownListFor(m => m.Itemgroupid, (IEnumerable<SelectListItem>)ViewBag.itemgrouplist, "Select Itemgroup", new { @class = "form-control select2" })
                                             
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">

                                            <label>Item Category Name</label>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(model => model.Itemcategory, new { @class = "form-control", @maxlength = "100" })
                                                    @Html.ValidationMessageFor(model => model.Itemcategory, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">

                                            <label>Item Category Desc</label>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextAreaFor(model => model.Itemcategorydesc, new { @class = "form-control"})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



        }

        <script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
        <script>
            $('.select2').select2();
            $('.select2').width("100%");
            function validate() {
                var isvalid = true;
                var itemgroup = $('#Itemgroupid').val();
                var itemcat = $('#Itemcategory').val();

                if (itemgroup == "") {
                    swal("select item group.");
                    isvalid = false;
                }
                else if (itemcat == "") {
                    swal("Enter itemcategory.");
                    isvalid = false;
                }
                return isvalid;
            }

        </script>


        <script>



            $(function () {
                $('#example1').DataTable();
                $('#example2').DataTable({
                    'paging': true,
                    'lengthChange': false,
                    'searching': false,
                    'ordering': true,
                    'info': true,
                    'autoWidth': false
                })
            })
        </script>



