﻿@model IEnumerable<Garments_ERP.Entity.M_JobworkEntity>
@{
    ViewBag.Title = "Index";
}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1" style="width:200%;">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    Job Work No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Work Order No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Process Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Machine Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Material Transfer No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Job Status
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Job Start Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Job Start Time
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Job End Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Job End Time
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Out Item Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Out Qty
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Accept Qty
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Is QC
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                var status = data.JobStatus == "1" ? "Start" : "END";
                <tr role="row" class="odd">
                    <td class="sorting_1">@data.jobworkno</td>
                    <td>@data.WOEntity.WorkOrderNo</td>
                    <td>@data.ProcessEntity.SHORT_NAME</td>
                    <td>@data.machineEntity.Machinename</td>
                    <td>@data.TransferEntity.STOCK_TRANSFER_NO</td>
                    <td>@status</td>
                    <td>
                        @{
                            string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.startjobdate));
                            tndt = tndt.Replace('-', '/');
                        }
                        @tndt
                    </td>
                    <td>@data.startjobtime</td>
                    <td>
                        @{
                            string tndt1 = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.endjobdate));
                            tndt1 = tndt1.Replace('-', '/');
                        }
                        @tndt1
                    </td>
                    <td>@data.endjobtime</td>
                    <td>@data.ItemEntity.ItemName</td>
                    <td>@data.OutQty</td>
                    <td>@data.AcceptQty</td>
                    <td>@data.QC </td>
                    <td>
                        <a href="@Url.Action("Edit", "Jobwork", new { id = data.jobworkid})" class="btn  btn-success btn-sm inner " data-original-title="Edit Job work" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;">IsQC </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
