﻿@model Garments_ERP.Entity.M_JobworkEntity

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />

<style type="text/css">
    ul {
        margin: 0;
    }

    .pluxad {
        float: right;
        padding: 8px;
        background: green;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrash1 {
        float: right;
        padding: 8px;
        background: red;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrash {
        float: right;
        padding: 8px;
        background: red;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .bodyscol {
        max-height: 165px;
        display: inline-block;
        width: 100%;
        overflow: scroll;
    }

    .close {
        float: left;
        padding: 4px 5px;
        margin: 5px 3px;
        cursor: pointer;
        color: #f44336;
        opacity: 1;
    }

    .bodyscol {
        max-height: 230px;
        overflow: auto;
    }

</style>
@using (Html.BeginForm("Create", "Jobwork", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Job Work</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "Jobwork")">Incharge Jobwork</a>  >  </div>
                @*<div class="HMsubline">InchargeJobwork</div>*@
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Jobwork")'">Cancel</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="Savejobwork">Save</button>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i>Incharge Jobwork Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#messages_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i> Material Details
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label class="required">Jobwork No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="sender" name="sender" value="@Model.jobworkno" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="required">Work Order No.</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.DropDownListFor(m => m.woid, (IEnumerable<SelectListItem>)ViewBag.workordernolist, "---Select Work Order---", new { @class = "form-control select2", @onchange = "GetProcess(this.id)" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label class="required">Process Name</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <select class="form-control select2" id="ProcessId" name="ProcessId" onchange="GetMachine()"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label class="required">Machine Name</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <select class="form-control select2" id="MachineId" name="MachineId"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label  class="required">Material Transfer No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <select class="form-control select2" id="TransferNo" name="TransferNo" onchange="GetMaterialTransfer()"  multiple></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label  class="required">Job Status</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <select class="form-control select2" id="jobstatus" name="jobstatus">
                                                        <option value="1" selected>Start</option>
                                                        <option value="2">Stop</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label  class="required">Job Start Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" id="startdate" name="startdate">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">

                                            <label  class="required">Start Time</label>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="time" class="form-control" id="starttime" name="starttime" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">

                                            <label>Job End Date</label>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" id="enddate" name="enddate">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>

                                        </div>
                                        <div class="col-md-2">

                                            <label>End Time</label>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="time" class="form-control" id="endtime" name="endtime" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="messages_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <input type="hidden" id="jbrawmaterial" name="jbrawmaterial" />
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover" id="materialitem">
                                                    <thead>
                                                        <tr role="row" class="titlerow">
                                                            <th style="display:none;">id</th>
                                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width:250px;">
                                                                Item Name
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width:100px;">
                                                                Unit
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 150px;">
                                                                Batch NO
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width:100px;">
                                                                Expiry Date
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 100px;">
                                                                Quantity
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 100px;">
                                                                Consumed Qty
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 100px;">
                                                                Balanced Qty
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label class="required">Out Item Name</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="outItemname" name="outItemname" value="" readonly />
                                                    <input type="hidden" class="form-control" id="outItemid" name="outItemid" value="" readonly />
                                                    <input type="hidden" class="form-control" id="outItemAttribId" name="outItemAttribId" value="" readonly />

                                                    <input type="hidden" id="Westageid" name="Westageid" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="required">Out Item Qty</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="outItemQty" name="outItemQty" value=""  onkeypress="return isNumber(event);" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

    <div class="modal fade" id="ProdutInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:#fff;">×</span>
                    </button>
                    <h4 class="modal-title">Product Info Details</h4>
                </div>
                <form id="prodform">
                    <div class="modal-body" style="padding-bottom:0;">
                        <div class="box box-default">

                            <div class="box-body with-border">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span>Product Type</span>
                                    </div>
                                    <div class="col-sm-6" style="margin:0;">
                                        @Html.DropDownList("Dynamic_ID", (IEnumerable<SelectListItem>)ViewBag.ControlList, new { @onchange = "GetProductvalue(this)", @class = "form-control select2", @multiple = "multiple" })
                                        <span id="itemmsg" class="help-block" style="color:red;"></span>
                                    </div>

                                </div>
                                <input type="hidden" id="proditemname" name="proditemname" dataval="" />
                                <input type="hidden" id="proAcptQty" name="proAcptQty" />
                                <input type="hidden" id="ProductTypeList" name="ProductTypeList" />
                                <div class="row">
                                    <div class="col-sm-12" style="margin:0;">
                                        <div class="table table-responsive bodyscol" style="margin-bottom:0;">
                                            <table class="table table-striped" id="ProductInfoTable" style="width: 100%;display: none;">
                                                <thead style="background-color:#607d8b;color:#fff;height: 40px;">

                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="table table-responsive" style="margin-bottom:0;">
                                            <table class="table table-striped" id="TotalCount"></table>
                                        </div>
                                        <div class="table table-responsive" style="margin-bottom:0;">
                                            <table class="table table-striped" id="ProductInfoTable1"></table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="padding-top:0;">
                        <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="pophide()">Cancel</button>
                        <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="SaveProdInfo">Save</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script>
    $(document).ready(function () {
        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "display:none;");
        $('.select2').select2();
        $('.select2').width("100%");

        $("#startdate").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0,
            minDate: 0
        });
        $("#enddate").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0,
            minDate: 0
        });
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = mm + '/' + dd + '/' + yyyy;
        $("#startdate").val(today);
        $("#enddate").val(today);

    });

    var ErrorMessage = "";

    function setswal(msg) {
        if (ErrorMessage.length > 0) {
            ErrorMessage = msg;
        } else { ErrorMessage = msg; }
    }


    function GetProcess(id) {
        var woid = $('#woid').val();
        if (woid != "" || woid != 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getWOdetailsbyid", "Jobwork")',
                data: "{'workorderID':" + woid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    debugger;
                    $("#ProcessId").empty();
                    $("#ProcessId").append('<option value="0">Select</option>');
                    $.each(result[0], function (i, data) {
                        
                        $("#ProcessId").append('<option value="' + data.Process_Id + '">' + data.SHORT_NAME + '</option>');
                    });

                    $("#TransferNo").empty();
                    $("#TransferNo").append('<option value="0">Select</option>');
                    $.each(result[1], function (i, data) {
                        
                        $("#TransferNo").append('<option value="' + data.TRANSFER_ID + '">' + data.STOCK_TRANSFER_NO + '</option>');
                    });
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
        else {
            $("#ProcessId").empty();
            $("#ProcessId").append('<option value="0">Select</option>');

            $("#TransferNo").empty();
            $("#TransferNo").append('<option value="0">Select</option>');
        }
    }

    function GetMachine() {
        var processid = $('#ProcessId').val();
        if (processid != "" || processid != 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetMachine", "Jobwork")',
                data: "{'ProcessId':" + processid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    debugger;
                    $("#MachineId").empty();
                    $("#MachineId").append('<option value="0">Select</option>');
                    $.each(result, function (i, data) {
                        
                        $("#MachineId").append('<option value="' + data.Id + '">' + data.Machinename + '</option>');
                    });

                    GetOutId();
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
        else {
            $("#MachineId").empty();
            $("#MachineId").append('<option value="0">Select</option>');
            
        }

    }


    function GetOutId() {
        var processid = $('#ProcessId').val();
        var woid = $('#woid').val();
        if (processid != "" || processid != 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetOutItem", "Jobwork")',
                data: "{'ProcessId':" + processid + ",'workorderID':" + woid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#outItemname").val(result.ItemMasterentity.ItemName);
                    $("#outItemid").val(result.ItemOutId);
                    $("#outItemAttribId").val(result.Item_Attribute_ID);
                    $("#Westageid").val(result.westage);
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
        else {
            $("#outItemname").val("");
            $("#outItemid").val("0");
            $("#outItemAttribId").val("0");
            $("#Westageid").val("0");
            
        }
    }

    function GetMaterialTransfer() {
        debugger;
        var TransferNo = $('#TransferNo').val();
        if (TransferNo != null) {
            var no = TransferNo.indexOf(',');
            if (no > 0) {
                TransferNo = TransferNo;
            }
            else {
                TransferNo = TransferNo + ",";
            }


            $.ajax({
                type: "POST",
                url: '@Url.Action("GetMaterialTransfer", "Jobwork")',
                data: "{'TransferNo':'" + TransferNo + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    debugger;
                    $("#materialitem > tbody").html("");
                    $.each(result, function (i, data) {
                        var str = "<tr><td style='display:none;'>"+ data.ID +"</td>";
                        str += "<td>" + data.itement.ItemName + "<input type='hidden' value='" + data.ITEM_ID + "' class='rawitemlist' /></td>";
                        str += "<td style='display:none;'><input type='hidden' value='" + data.ITEM_ATTRIBUTE_ID + "' class='rawitemlist' /></td>";
                        str += "<td>" + data.unit.ItemUnit + "<input type='hidden' value='" + data.UNIT_ID + "' class='rawitemlist' /></td>";
                        str += "<td>" + data.BatchInfo.Dynamic_Controls_value + "<input type='hidden' value='" + data.BATCH_NO_ID + "' class='rawitemlist' /></td>";
                        str += "<td>" + data.BatchInfo1.Dynamic_Controls_value + "</td>"; 
                        str += "<td><input type='text' class='form-control rawitemlist' onkeypress='return isNumber(event);' id='Inspected" + i + "' name='Inspected" + i +"'  value='" + data.InspectedQty + "' readonly /></td>";
                        str += "<td><input type='text' class='form-control rawitemlist' onkeypress='return isNumber(event);' id='consumed" + i + "' name='consumed" + i + "' onchange=Calculate('" + i + "')  /></td>";
                        str += "<td><input type='text' class='form-control rawitemlist' onkeypress='return isNumber(event);' id='balance" + i + "' name='balance" + i +"'readonly /></td></tr>";

                        $("#materialitem > tbody").append(str);
                    });
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
        else {
            $("#materialitem > tbody").html("Data Not Found!");
            
        }
    }

    function Calculate(no) {
        var InspecQty = $("#Inspected" + no).val();
        var ConsumedQty = $("#consumed" + no).val();
        if (parseFloat(ConsumedQty) > parseFloat(InspecQty)) {
            swal({
                title: 'Error',
                text: 'You Have Only' + InspecQty + ' Remainig Quantity!',
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            });
            $("#consumed" + no).val(0);
        }
        else {
            var balqty = parseFloat(InspecQty) - parseFloat(ConsumedQty);
            $("#balance" + no).val(balqty);

            var $dataRows = $("#materialitem tr:not('.titlerow')");
            var rowlenght = $dataRows.length;
            var stylerowcount = 0;
            var tot = 0;
            var Westgae = $("#Westageid").val();
            Westgae = Westgae == "" ? 0 : Westgae;
            $dataRows.each(function (i) {
                var ConsumdQty = $("#consumed" + i).val();
                tot = parseFloat(tot) + parseFloat(ConsumdQty);

            });
            if (Westgae == 0) {
                $("#outItemQty").val(tot);
            }
            else {
                var OUTqty = parseFloat(tot) * Westgae / 100;
                OUTqty = parseFloat(tot) - parseFloat(OUTqty);
                $("#outItemQty").val(OUTqty);
            }

        }
    }


    $('#Savejobwork').on('click', function () {
        var isvalid = true;
        ErrorMessage = "";
        var woid = $("#woid").val();
        if (woid == "") {
            setswal("Please Select Work Order");
            isvalid = false;
        }

        var ProcessId = $("#ProcessId").val();
        if (ProcessId == "") {
            setswal("Please Select Process Name");
            isvalid = false;
        }

        var MachineId = $("#MachineId").val();
        if (MachineId == "") {
            setswal("Please Select Machine Name");
            isvalid = false;
        }

        var TransferNo = $("#TransferNo").val();
        if (TransferNo == "") {
            setswal("Please Select Material Transfer No.");
            isvalid = false;
        }

        var TransferNo = $("#jobstatus").val();
        if (TransferNo == "") {
            setswal("Please Select Job Status.");
            isvalid = false;
        }

        var startdate = $("#startdate").val();
        if (startdate == "") {
            setswal("Please Select Start Date");
            isvalid = false;
        }

        var starttime = $("#starttime").val();
        if (starttime == "") {
            setswal("Please Select Start Time");
            isvalid = false;
        }

        if (MaterialData() == true) {
            setswal("Please Set Material Details");
            isvalid = false;
        }

        if (ErrorMessage.length > 0) {
            swal({
                title: 'Error',
                text: ErrorMessage,
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            });
            isvalid = false;
        }
        
        return isvalid;
    });


    function MaterialData() {

        var str2 = "";
        var rawitemstr = "";
        var $dataRows = $("#materialitem tr:not('.titlerow')");
        var rowlenght = $dataRows.length;
        var stylerowcount = 0;
        //var stylerowCount = $('#maintable2 tr').length;
        $dataRows.each(function () {
            debugger;
            count = 0;
            stylerowcount++;
            var Aleng = $(this).children('td').length;
            $(this).find('.rawitemlist').each(function (i) {
                debugger;
                var itemlist = ($(this).val());  //here get td value
                count++;

                if (itemlist != undefined && itemlist != "") {

                    if (count == Aleng) {
                        str2 += itemlist;
                    }
                    else {
                        str2 += itemlist + "~";
                    }
                }
                else {
                    return true;
                }

            });

            if (stylerowcount == rowlenght) {
                rowlenght = rowlenght;
            }
            else {
                str2 += "#";
            }

        });

        $("#jbrawmaterial").val(str2);

        return false;

    }
</script>

<script src="~/Scripts/jobwork.js"></script>