﻿@model IEnumerable<Garments_ERP.Entity.CRM_CustomerPOMasterentity>
@{
    ViewBag.Title = "Index";
}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    PO No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    PO Date
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">
                    Enquiry No
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    Quot. No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                    Customer
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
              <tr role="row" class="odd">
                <td class="sorting_1">@data.POno</td>
                <td>
                    @{
                        string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.PODate));
                        tndt = tndt.Replace('-', '/');
                    }
                    @tndt

                </td>
                <td>@data.Enquiryrefno</td>
                <td>@data.Quotrefno</td>
                <td>@data.MLedgersEntity.Ledger_Name</td>
                <td>
                    <button type="button" id="ItemData" class="btn btn-info btn-sm inner" onclick="GetPOProduct(@data.Id)" style="padding:2px 7px 5px 7px;border-radius: 4px;">PO. Product</button>
                    @if (ViewBag.roleid != 4)
                    {
                        <a href="@Url.Action("Edit", "CustomerPO", new { id = data.Id})" class="btn  btn-success btn-sm inner " data-original-title="Edit PO" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                        if (ViewBag.Status == 2)
                        {
                            <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="CancleCPO(@data.Id)" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                        }
                        <a href="@Url.Action("CustomerPOReport", "CustomerPO", new { id = data.Id})" class="btn btn-primary btn btn-sm" data-original-title="Print" title="Print" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-print"></i> </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Edit", "CustomerPO", new { id = data.Id})" class="btn  btn-success btn-sm inner " data-original-title="Edit PO" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                        if (ViewBag.Status == 2)
                        {
                            <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="deleteCustPO(@data.Id)" style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                        }
                        <a href="@Url.Action("CustomerPOReport", "CustomerPO", new { id = data.Id})" class="btn btn-primary btn btn-sm" data-original-title="Print" title="Print" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-print"></i> </a>

                    }
                </td>
              </tr>
            }
        </tbody>
    </table>

</div>

<div class="modal fade" id="POProductmodel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Quotation Product Details</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-striped table-bordered" id="EnqProductTab">
                                <thead>
                                    <tr style="background-color: #fccaca;">
                                        <th>Segment Type</th>
                                        <th>Item Name</th>
                                        <th>Style Name</th>
                                        <th>Style Desc.</th>
                                        <th>Style NO.</th>
                                        <th>Brand Name</th>
                                        <th>Req. Qty.</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">
                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>