﻿@model Garments_ERP.Entity.CRM_CustomerPOMasterentity

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    var cururl = Request.Url.Authority;//"localhost:2423
    string styleimgpath_ = string.Empty;
    string rawimgpath_ = string.Empty;
    string tndt = string.Empty;
    int ct = 0;
    string imgpathname = string.Empty;
    string itemimgpath_ = string.Empty;
    if (cururl.Contains("localhost"))
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
    else
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<link href="~/Content/photoGalleryStyle.css" rel="stylesheet" />

<style>
    ul {
        margin: 0;
    }
</style>

@using (Html.BeginForm("Edit", "CustomerPO", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Customer Management</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "CustomerPO")">Customer PO Details</a>  >  </div>
                <div class="HMsubline">Edit</div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "CustomerPO")'">Cancel</button>
                @if (Model.IsStatus == 2 || Model.IsStatus == 5)
                {
                    <button type="submit" class="btn btn pull-right btn-success" style="margin-right:5px;" id="savepo">Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn pull-right btn-success" disabled style="margin-right:5px;" id="savepo">Update</button>
                }
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Purchase Order Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Product Details
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#delivery_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Delivery Schedule
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <input type="hidden" id="IsStatus" name="IsStatus" value="@Model.IsStatus" />
                                    @Html.HiddenFor(model => model.Id)
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div>
                                                <label>PO No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value=@Model.POno name="POno" id="POno" readonly>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div>
                                                <label>PO Date</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right datepicker disabled" id="POdate" name="POdate" value="@Model.PODate.Value.ToString("MM/dd/yyyy").Replace('-','/')" readonly />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>

                                        </div>


                                    </div>


                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Select Customer</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line" style="width:79%;float:left;margin-right:10px;">
                                                    <input type="text" id="customerid" name="customerid" class="form-control text-box single-line ui-autocomplete-input valid" data-ID="@Model.customerid" data-val="true" value="@Model.MLedgersEntity.Ledger_Name" autocomplete="off" onchange="getAddress()" />
                                                </div>

                                                <span id="customermsg" class="help-block" style="color:red;"></span>
                                            </div>

                                        </div>


                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Address</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select id="Addressid" class="form-control select2" name="Addressid"></select>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="">
                                                <label for="" class="control-label">Phone No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="phone" placeholder="Phone Number" readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="">
                                                <label for="" class="control-label">Email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="email" placeholder="Email" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Quotation No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value="@Model.QuoEntity.QuotationNo" readonly />
                                                    <input type="hidden" class="form-control pull-right" id="Quotrefno" name="Quotrefno" value=@Model.Quotrefno readonly>
                                                </div>
                                                @*<select class="form-control select2" style="width: 100%;" id="quotrefno" name="quotrefno" onchange="getquotdetails(this.id)"></select>*@

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Quo Date</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right datepicker disabled" id="Quotdate" name="Quotdate" value="@Model.Quotdate.Value.ToString("MM/dd/yyyy").Replace('-','/')" readonly>
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Delivery Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    @{
                                                        tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", @Model.Tentivedate));
                                                        tndt = tndt.Replace('-', '/');
                                                    }
                                                    <input type="text" class="form-control pull-right disabled" id="Tentivedate" name="Tentivedate" value="@tndt" readonly />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2 pull-left">
                                            <div class="form-group">
                                                <label>Delivery Remark</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pull-left">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="Remark" id="Remark" value="@Model.Remark">
                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                    <div class="row clearfix approval" style="display:none;">
                                        <div class="col-md-2">
                                            <label>Approval Status</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="approvalstatus" name="approvalstatus">
                                                    <option>Select</option>
                                                    @if (Model.Approvalstatus == true)
                                                    {
                                                        <option value="1" selected>Yes</option>
                                                        <option value="0">No</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="1">Yes</option>
                                                        <option value="0" selected>No</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Approval Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" id="approvaldate" name="approvaldate" value="@Model.Approvaldate.Value.ToString("MM/dd/yyyy").Replace('-','/')" />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">

                                        <div class="col-md-2 pull-left approvalComment" style="display:none;">
                                            <label>Approval Comment</label>
                                        </div>

                                        <div class="col-md-4 pull-left approvalComment" style="display:none;">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="comment" name="comment">@Model.Comments</textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-3 col-sm-3 col-xs-12 m-0">
                                            <div>
                                                <label>Segment Type</label>
                                            </div>
                                            @Html.DropDownList("Segmenttypeid", (IEnumerable<SelectListItem>)ViewBag.segmenttypelist, "Select", new { @class = "form-control select2", })
                                            <span id="segmentmsg" class="help-block" style="color:red;"></span>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <div class="required">
                                                <label>Select Item</label><a href="/Item/Create" target="_blank" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></a>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" data-ID="0" value="" autocomplete="off" id="Itemid" name="Itemid" onchange="getItemdetail()" />
                                                </div>
                                            </div>
                                            <input type="hidden" id="hidIsReadyMate" name="hidIsReadyMate" />
                                            <span id="itemmsg" class="help-block" style="color:red;"></span>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <div class="required">
                                                <label>Style Name</label><a href="/Style/Create" target="_blank" class="btn btn-xs btn-success btn-flat" style="margin-left:5px;"><i class="fa fa-plus"></i></a>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" data-ID="0" autocomplete="off" id="Styleid" name="Styleid" onchange="GetStyleData()" />
                                                </div>
                                            </div>
                                            <span id="stylemsg" class="help-block" style="color:red;"></span>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <label>Style Desc</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control alphaonly disabled" name="Styledesc" id="Styledesc" readonly />
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <label>Style No</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" name="Styleno" id="Styleno" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <label>Brand Name</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control alphaonly" name="Brand" id="Brand">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <div class="required">
                                                <label> Total Req.Qty</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" autocomplete="off" id="Reqqty" name="Reqqty" readonly>
                                                </div>
                                            </div>
                                            <span id="qtymsg" class="help-block" style="color:red;"></span>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12  m-0">
                                            <input type="file" class="form-control" name="styleimg" id="styleimg" style="display:none;" multiple>
                                            <div class="form-group">
                                                <input type="button" class="btn btn-info mr-3" style="margin-top:2em;" value="Upload Image" onclick="ImageUpload(this.id,'upload','Style','styleimg')" />
                                                <input type="button" class="btn btn-primary" style="margin-top:2em;" value="Add To List" onclick="AddtoList()" />
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="AttributeId" name="AttributeId" />
                                    <input type="hidden" id="AttributList" name="AttributList" />
                                    <div class="row clearfix">
                                        <div class="col-md-12 mb-2">
                                            <div class="table table-responsive">
                                                <table class="table table-striped table-bordered" id="AttributeTable">
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="table table-responsive">
                                                <table class="table table-striped table-bordered" id="MultiItemTab">
                                                    <thead>
                                                        <tr style="background-color: #fccaca;">
                                                            <th>Segment Type</th>
                                                            <th>Item Name</th>
                                                            <th>Style Name</th>
                                                            <th>Style Desc.</th>
                                                            <th>Style NO.</th>
                                                            <th>Brand Name</th>
                                                            <th>Req. Qty.</th>
                                                            <th>Unit.<input type="hidden" id="ItemUnit" name="ItemUnit" value="" /></th>
                                                            <th>Cost Price Per Qty</th>
                                                            <th>Sell Price Per Qty</th>
                                                            <th>GST Charge(%)</th>
                                                            <th>Tax</th>
                                                            <th>Sub Total</th>
                                                            <th>Item Image</th>
                                                            <th>Req. Image</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="isselectenquiry" value="0" />
                                    <div class="row clearfix" style="display:none;">

                                        <div class="col-md-2">
                                            <div class="required">

                                                <label>Cost Price :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="costprice" autocomplete="off" name="costprice" value="0" onkeypress="javascript: return isNumber(event)" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required">

                                                <label>Sale Price :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="saleprice" autocomplete="off" name="saleprice" value="0" onkeypress="javascript:return isNumber(event)" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-2">
                                            <div class="required">

                                                <label>GST Charge(%)</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <select class="form-control select2" id="GSTCharge" name="GSTCharge" onchange="QuationCal()"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required">

                                                <label>Tax :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="tax" name="tax" value="0" disabled />
                                                    <input type="hidden" class="form-control" id="Htax" name="Htax" value="0" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Subtotal:</label>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="subtotal" name="subtotal" value="0" disabled />
                                                    <input type="hidden" class="form-control " id="Hsubtotal" name="Hsubtotal" value="0" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label class="required">Total :</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" id="total" name="total" value="@Model.Total" readonly />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div><label>Additional Charge :</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.DropDownList("otherchrge", (IEnumerable<SelectListItem>)ViewBag.OtherCharge, "Select", new { @class = "form-control select2", @onchange = "ShowOtherCharge()" })
                                                </div>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="OtherChargeDetails" class="table table-striped" style="display:none;">
                                                    <thead>
                                                        <tr class="bg-info rowtitle">
                                                            <th>Additional Charge Name</th>
                                                            <th>Amount</th>
                                                            <th>GST(%)</th>
                                                            <th>GST Amount</th>
                                                            <th>Total</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.POOtherChargeEntity != null)
                                                        {
                                                            int i = 0;
                                                            foreach (var data in Model.POOtherChargeEntity)
                                                            {
                                                                string otherchargeid = "otherchargeid" + i;
                                                                string OC_Amount = "OC_Amount" + i;
                                                                string OC_GSTid = "OC_GSTid" + i;
                                                                string hidgst = "hidgst" + i;
                                                                string OC_GSTAmt = "OC_GSTAmt" + i;
                                                                string OC_total = "OC_total" + i;
                                                                string ocTid = "ocTid" + i;
                                                                <tr>
                                                                    <td>
                                                                        @data.OCMaster.POOtherChargeName
                                                                        <input type="hidden" class="ocdata" id="@otherchargeid" name="@otherchargeid" value="@data.OtherChargeId" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control ocdata" value="@data.OtherChargeValue" id="@OC_Amount" name="@OC_Amount" onchange="OC_Cal(this.id)" onkeypress="return isNumber(event)" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="hidden" value="@data.GST" id="@hidgst" name="@hidgst" />
                                                                        <select class="form-control select2 OC_GST ocdata" style="width:115px;" id="@OC_GSTid" onchange="OC_Cal(this.id)" name="@OC_GSTid"></select>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control ocdata" id="@OC_GSTAmt" name="@OC_GSTAmt" onkeypress="return isNumber(event)" readonly />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control ocdata" id="@OC_total" name="@OC_total" onkeypress="return isNumber(event)" readonly />
                                                                    </td>
                                                                    <td>
                                                                        <input type="hidden" class="ocdata" id="@ocTid" name="@ocTid" value="@data.Id" />
                                                                        <a id='btnOCDelete' class='deleteOC btn-danger btn-xs'><i class='fa fa-fw fa-trash'></i></a>
                                                                    </td>
                                                                </tr>

                                                                i++;
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix" id="OC_GrandTotal_id" style="display:none;">

                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="hidden" id="otherchargestr" name="otherchargestr" />
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required"><label>Grand Total :</label></div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="Grandtotal" name="Grandtotal" value="@Model.GrandTotal" readonly />
                                                </div>

                                            </div>
                                        </div>
                                    </div>




                                </div>

                                <!-- Tab for delivery schedule- added by Ramesh take on date 23-Jan-2020-->
                                <div role="tabpanel" class="tab-pane fade" id="delivery_with_icon_title">

                                    <div class="row clearfix">
                                        @*<div class="col-md-2">


                                            </div>*@
                                        <div class="col-md-3">
                                            <div class="required"><label>Delivery Item</label></div>
                                            <div class="form-group">

                                                <select name="Item_ID" id="Item_ID" class="form-control select2">
                                                    <option value="0">--Select--</option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required"><label>Delivery Date</label></div>
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" id="Delivery_Schedule_Date" name="Delivery_Schedule_Date" />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                        @*<div class="col-md-2">


                                            </div>*@
                                        <div class="col-md-2">
                                            <div class="required"><label>Quantity</label></div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="Delivery_Qty" name="Delivery_Qty" onkeypress="return isNumberKey(event,this.id)" onchange="preventUser();" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div><label>Comments</label></div>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="Delivery_Comment" name="Delivery_Comment"></textarea>
                                                    @*<input type="text" class="form-control" id="Delivery_Comments" name="Delivery_Comments" />*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-info" id="btnAddDelivery">Add</button>

                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="DeliveryScheduleDetails" class="table table-striped">
                                                    <thead>
                                                        <tr class="bg-info">
                                                            <th>Delivery Item</th>
                                                            <th>Delivery Date</th>
                                                            <th>Delivery Qty</th>
                                                            <th>Comments</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            var rowCnt = 0;
                                                        }
                                                        @foreach (var item in Model.MFG_PO_DeliveryDetail)
                                                        {
                                                            /**/
                                                            rowCnt = rowCnt + 1;
                                                            var rowid = "rowid" + rowCnt;
                                                            var item_name = "txtDeliveryItem" + rowCnt;
                                                            var item_id = "Item_ID" + rowCnt;
                                                            var scheDate = "txtDelSchDateE" + rowCnt;
                                                            var delQty = "txtDelQtyE" + rowCnt;
                                                            var delivery_Comments = "txtDelivery_CommentsE" + rowCnt;
                                                            var PO_DelSchedule_ID = "PO_DelSchedule_IDE" + rowCnt;
                                                            var date = @item.Delivery_Date.Value.ToString("MM/dd/yyyy").Replace('-', '/');
                                                            var selecteditem = item.M_ItemMaster.ItemName;
                                                            var AttribId = "AttribId" + rowCnt;

                                                            <tr id="@rowid">
                                                                <td class="DeliveryItem"><input id="@item_name" type="text" value="@selecteditem" name="txtDeliveryItem" class="form-control" autocomplete="off" style="width: 200px;display:none;" readonly>@selecteditem</td>
                                                                <td class="DeliveryDate"><input id="@scheDate" type="text" value="@date" onfocus="applyDatepicker(@rowCnt);" name="txtDelSchDate" class="form-control delrow" autocomplete="off" style="width: 200px;display:none;">@date</td>
                                                                <td class="DeliverQty"><input id="@delQty" value="@item.Delivery_Qty" type="text" name="txtDelQty" onchange="validateQty(this.id);" onkeypress="return isNumberKey(event,this.id)" class="form-control text-right delrow" autocomplete="off" style="width: 200px;display:none;">@item.Delivery_Qty</td>
                                                                <td class="DeliverComment"><textarea class="form-control delrow" id="@delivery_Comments" name="txtDelivery_Comments" style="display:none;">@item.Comments</textarea>@item.Comments</td>
                                                                <td class="action text-center" style="width: 100px"><input type="hidden" id="@PO_DelSchedule_ID" class="form-control delrow" name="PO_DelSchedule_ID" value="@item.PO_DelSchedule_ID" /><input type="hidden" id="@item_id" class="form-control delrow" name="Item_ID" value="@item.Item_ID" /><a id="@rowCnt" class="fa fa-fw fa-remove" onclick="removeRow(@rowCnt);"></a></td>
                                                                <td style="display:none;"></td>
                                                                <td style="display:none;"><input type="hidden" id="@AttribId" class="form-control delrow" name="AttribId" value="@item.Item_Attribute_Id" /></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <tfoot></tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Tab for delivery schedule>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



<!--Image View Modal-->
<div class="modal fade" id="UploadPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Preview Image</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="box box-default">

                        <div class="box-body with-border">
                            <div class="row clearfix" id="uploadid">
                                <div class="col-sm-4 col-xs-6">
                                    <span>Select Image</span>
                                </div>
                                <div class="col-sm-6  col-xs-6" style="margin:0;">
                                    <input type="hidden" id="noid" name="noid" value="" />
                                    <input type="hidden" id="nameid" name="nameid" value="" />
                                    <input type="hidden" id="typeid" name="typeid" value="" />
                                    <input type='file' id='ItemAttrimages' name='ItemAttrimages' class='form-control' multiple />
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="gallery-container">
                                        <div class="pagi-container imgpre" id="img_preview">

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">

                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                    <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="Saveimage" onclick="Savehide()">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/PageScript/CustomerPO.js"></script>
<script src="~/Scripts/PO_DeliverySchedule.js"></script>
<script src="~/Scripts/Sizetablecalculate.js"></script>

<script src="~/Scripts/OtherCharge.js"></script>