﻿@model IEnumerable<Garments_ERP.Entity.ProductionEntities.FG_Transfer_To_RetailEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<style>
    #footerExport td {
        cursor: pointer;
        text-align: center;
        border: 1px solid #ccc;
        border: none;
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
@*<script src="~/Content/exportpugin/tableExport.js"></script>
<script src="~/Content/exportpugin/jquery.base64.js"></script>
<script src="~/Content/exportpugin/html2canvas.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/base64.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/sprintf.js"></script>
<script src="~/Content/exportpugin/jspdf/jspdf.js"></script>*@
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


<div class="titheader">
    <div class="block-header">
        <div class="col-sm-10">
            <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Production</a>  >  </div>
            <div class="HMsubline"> FG Transfer To Retail</div>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-block btn-success btn-sm" href="@Url.Action("Create", "FG_Retail")">New Transfer</a>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <!-- #END# Hover Expand Effect -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="col-xs-12 col-sm-6">
                            <h2 class="hedtit">
                                FG Transfer To Retail Details
                            </h2>
                        </div>

                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
                                <thead>
                                    <tr role="row">
                                        <th style="display:none">
                                            id
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 300px;">
                                            Customer Name
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 300px;">
                                            PO No
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Work Order No
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Transfer No
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            GRN No
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Item Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            HSN Code
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            PO Qty
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Transfer Qty
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Warehouse
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Rack
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 155px;">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 0;
                                    }
                                    @foreach (var item in @Model)
                                    {
                                        i++;
                                        var edit = "edit" + i;
                                        var FG_TR_ID = item.FG_TR_ID;
                                    <tr role="row" class="odd">
                                        <td style="display:none">@item.FG_TR_ID</td>
                                        <td class="sorting_1">@item.Customer_Name</td>
                                        <td class="sorting_1">@item.POEntity.POno</td>
                                        <td class="sorting_1">@(item.WorkOrderID != null ? item.MFG_WORK_ORDER.WorkOrderNo : "")</td>
                                        <td>@(item.FG_Transfer_ID != null ? item.FG_TransferMaster.TransferNo : "")</td>
                                        <td>@(item.GRNID != null ? item.GRNEntity.GRNNo : "")</td>
                                        <td>@item.M_ItemMaster.ItemName</td>
                                        <td>@item.HSNCode</td>
                                        <td>@item.PO_Qty</td>
                                        <td>@item.TransferQty</td>
                                        <td>@(item.WarehouseId != null ? item.M_WAREHOUSE.SHORT_NAME : "")</td>
                                        <td>@(item.RackId != null ? item.M_RackMaster.Rack : "")</td>
                                        <td>
                                            <div>
                                                <a href="/FG_Retail/Create?fg_tr_id=@FG_TR_ID" class="btn  btn-success btn-sm inner" data-original-title="Edit">
                                                    <i class="fa fa-fw fa-edit"></i>
                                                </a>   
                                            </div>
                                        </td>
                                    </tr>
                                    }


                                </tbody>
                            </table>
                            <table>
                                <tr id="footerExport">
                                    <td id="exportexcel"><img src="~/Content/iconsforexport/xls.png" title="Export to Excel" /></td>
                                    <td id="exportpdf"><img src="~/Content/iconsforexport/pdf.png" title="Export to PDF" /></td>
                                    <td id="exportcsv"><img src="~/Content/iconsforexport/csv.png" title="Export to CSV" /></td>
                                    <td id="exportword"><img src="~/Content/iconsforexport/word.png" title="Export to Word" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<input type="hidden" id="altmsg" value="@Convert.ToString(TempData["alertmsg"])" />
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script>

    function deleterecord(id) {
        var deletionid = id;
        var param = { 'Id': deletionid };

        swal({
            title: 'Confirmation',
            text: 'Are you sure to delete this transfer?',
            showConfirmButton: true,
            showCancelButton: true,
            closeOnConfirm: true,
            closeOnCancel: true,
            confirmButtonText: 'Confirm',
            confirmButtonColor: '#8CD4F5',
            cancelButtonText: 'Cancel'
        },
         function (isConfirm) {

             if (isConfirm) {
                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("delete", "FG_Retail")',
                     data: JSON.stringify(param),
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: function (result) {

                         if (result == true) {
                             window.location.reload();
                             swal("Record deleted successfully.");
                         }

                     },
                     failure: function (response) {
                         alert(response.d);
                     }
                 });

             } else {
                 swal("Cancelled", ")", "error");
             }
         });
    }

</script>
<script>
    $(document).ready(function () {
        var varpdfFontSize = '7';
        $('#exportexcel').bind('click', function (e) {
            $('#example1').tableExport({ type: 'excel', escape: 'false', pdfFontSize: varpdfFontSize });
        });
        $('#exportpdf').bind('click', function (e) {
            $('#example1').tableExport({ type: 'pdf', escape: 'false' });
        });
        $('#exportcsv').bind('click', function (e) {
            $('#example1').tableExport({ type: 'csv', escape: 'false' });
        });

        $('#exportword').bind('click', function (e) {
            $('#example1').tableExport({ type: 'doc', escape: 'false' });
        });

    });
</script>