﻿@model Garments_ERP.Entity.M_ItemShadeMasterEntity
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


@using (Html.BeginForm("Edit", "ItemShade", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "ItemShade")">Item Shade Detail</a>  >  </div>
                <div class="HMsubline">Edit</div>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success pull-left" style="margin-right:5px;" id="saveitemshade">Update</button>
                <button type="button" class="btn btn-danger pull-left" style="margin-right:5px;" id="btncancel" onclick="location.href='@Url.Action("Index", "ItemShade")'">Cancel</button>

            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> New Item Shade
                                    </a>
                                </li>

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Item Shade<i class="text-red">*</i></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(model => model.Itemshade, new { @class = "form-control"})
                                                </div>
                                                @*<input type="text" class="form-control" />*@

                                                @Html.ValidationMessageFor(model => model.Itemshade, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.Id)
                                    </div>
                                    <div class="row clearfix">

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Item Shade Desc</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextAreaFor(model => model.Itemshadedesc, new { @class = "form-control" })
                                                </div>
                                                @*<input type="text" class="form-control" />*@

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<script>
            $('#saveitemshade').on("click", function () {
                var isvalid = true;
                var itemshade = $('#Itemshade').val();
                var itemshadedesc = $('#Itemshadedesc').val();
                if (itemshade == "") {
                    swal("Enter Item Shade");
                    isvalid = false;

                }
                return isvalid;
            });

            $('#btncancel').on("click", function () {
                document.location = '@Url.Action("Index","ItemShade")';
            });
</script>
