﻿@model Garments_ERP.Entity.SRM_PurchaseOrderMasterEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    var cururl = Request.Url.Authority;//"localhost:2423
    string styleimgpath_ = string.Empty;
    string rawimgpath_ = string.Empty;
    string itemimgpath_ = string.Empty;
    if (cururl.Contains("localhost"))
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
    else
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<link href="~/Content/photoGalleryStyle.css" rel="stylesheet" />

<style>


    ul {
        margin: 0;
    }
</style>
@using (Html.BeginForm("Create", "SupplierPO", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Vendor Management</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "SupplierPO")">Supplier PO Details</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "SupplierPO")'">Cancel</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="SavePO">Save</button>
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Supplier PO Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Product Details
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#delivery_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">account_balance_wallet</i> Delivery Schedule
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <input type="hidden" name="hideItemTotal" id="hideItemTotal" value="0" />
                                    <input type="hidden" name="hideAmount" id="hideTaxAmount" value="0" />
                                    <input type="hidden" name="GrandTotal" id="GrandTotal" value="0" />
                                    <input type="hidden" name="POItemList" id="POItemList" />
                                    <input type="hidden" name="po_delivery_schedules" id="po_delivery_schedules" />

                                    @Html.Partial("CreatePO")
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    @Html.Partial("CreatePOItemDetails")
                                </div>
                                <!-- Tab for delivery schedule- added by Ramesh take on date 23-Jan-2020-->
                                <div role="tabpanel" class="tab-pane fade" id="delivery_with_icon_title">
                                    @Html.Partial("PODeliverySchedule")
                                </div>
                                <!-- End Tab for delivery schedule>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

<!--Image View Modal-->
<div class="modal fade" id="UploadPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Preview Image</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="box box-default">

                        <div class="box-body with-border">
                            <div class="row clearfix" id="uploadid">
                                <div class="col-sm-4 col-xs-6">
                                    <span>Select Image</span>
                                </div>
                                <div class="col-sm-6  col-xs-6" style="margin:0;">
                                    <input type="hidden" id="noid" name="noid" value="" />
                                    <input type="hidden" id="nameid" name="nameid" value="" />
                                    <input type="hidden" id="typeid" name="typeid" value="" />
                                    <input type='file' id='ItemAttrimages' name='ItemAttrimages' class='form-control' multiple />
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="gallery-container">
                                        <div class="pagi-container imgpre" id="img_preview">

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">

                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                    <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="Saveimage" onclick="Savehide()">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>



<!--Image View Modal-->
<div class="modal fade" id="UploadPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Preview Image</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="box box-default">

                        <div class="box-body with-border">
                            <div class="row clearfix" id="uploadid">
                                <div class="col-sm-4 col-xs-6">
                                    <span>Select Image</span>
                                </div>
                                <div class="col-sm-6  col-xs-6" style="margin:0;">
                                    <input type="hidden" id="noid" name="noid" value="" />
                                    <input type="hidden" id="nameid" name="nameid" value="" />
                                    <input type="hidden" id="typeid" name="typeid" value="" />
                                    <input type='file' id='ItemAttrimages' name='ItemAttrimages' class='form-control' multiple />
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="gallery-container">
                                        <div class="pagi-container imgpre" id="img_preview">

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">

                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                    <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="Saveimage" onclick="Savehide()">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>



<script src="~/Scripts/select2.min.js"></script>
<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script>

    $(document).ready(function () {

        $('.select2').select2();
        $('.select2').width("100%");

        var roleid = $("#roleid").val();
        if (parseInt(roleid) != 4) {
            $(".approval").show();
            $(".approvalComment").show();
        }
        else {
            $(".approval").hide();
            $(".approvalComment").hide();
        }


        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr("style", "display:none;");

        $("#PO_Date").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });
        $("#POValidityFrom").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });
        $("#POValidityTo").datepicker({
            dateFormat: 'mm/dd/yy',
            minDate: 0
        });

        $("#approvaldate").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });

        $("#Delivery_Schedule_Date").datepicker({
            //setDate: currentDate,
            dateFormat: 'mm/dd/yy',
            minDate: 0
        });
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = mm + '/' + dd + '/' + yyyy;

        $("#PO_Date").val(today);
        $("#POValidityFrom").val(today);
        $("#approvaldate").val(today);


    });

    function GetQuoList() {
        var subpid = $("#supplierid").val();
        if (subpid != "" && parseInt(subpid) > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetQuoList", "SupplierPO")',
                data: "{'id':" + subpid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#QuotationId").empty();
                    $("#QuotationId").append('<option value="0">Select</option>');
                    if (result != null) {
                        $.each(result, function (i, item) {
                            $("#QuotationId").append('<option value="' + item.Id + '">' + item.QuotationNo + '</option>');
                        });
                    }

                    var startrow = 0;
                    var startrowvalue = "---Select Person----";
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("getaddress", "CustomerEnquiry")',
                        data: "{'custid':" + subpid + "}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            result = JSON.parse(result);
                            $('#contactperson').empty();
                            $("#contactperson").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                            $.each(result, function (i, item) {
                                $("#contactperson").append('<option value="' + item.Id + '">' + item.Billing_Name + '</option>');
                            });
                            debugger;
                            $('#supplieraddress').val(result[0].Address);
                            $("#contactperson").val($("#contactperson option:eq(1)").val());
                        },
                        failure: function (response) {
                            alert(response.d);
                        }
                    });
               },
                failure: function (response) {
                alert(response.d);
                }
            });
        }
    }

    function GetDateFormateChage(DateString) {

        if (DateString != "" && DateString != null) {
            DateString = DateString.substring(0, DateString.indexOf("T"));
            var splitString = DateString.split('-');
            DateString = splitString[1] + "/" + splitString[2] + "/" + splitString[0];
        }
        else {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            DateString = mm + '/' + dd + '/' + yyyy;
        }
        return DateString
    }

    
    function geQuotationItemDetails(id) {
        var quotationnoid = $('#QuotationId').val();
        var quotationno = $("#QuotationId option:selected").text();

        $.ajax({
            type: "POST",
            url: '@Url.Action("getQuotaionItemDetails", "SupplierPO")',
            data: "{'id':" + quotationnoid + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                result = JSON.parse(result);
                $("#rawitemtable > tbody").empty();
                var i = 0;
                var r = 0;
                var rowCount = 0;
                var totalcost = 0;
                var supId = 0;
                var Supname = "";
                var Suppaddress = "";
                var quotationDate = "";
                var taxoption = "";
                $("#IsReadymate").val(result.IsReadymade);
                if (result.POOtherChargeEntity != null) {
                    if (result.POOtherChargeEntity.length > 0) {
                        var j = 0;
                        $("#OtherChargeDetails").show();
                        $("#OC_GrandTotal_id").show();
                        $('#OtherChargeDetails > tbody').empty();
                        $.each(result.POOtherChargeEntity, function (k, ocdata) {
                            var otherchargeid = "otherchargeid" + j;
                            var OC_Amount = "OC_Amount" + j;
                            var OC_GSTid = "OC_GSTid" + j;
                            var hidgst = "hidgst" + j;
                            var OC_GSTAmt = "OC_GSTAmt" + j;
                            var OC_total = "OC_total" + j;
                            var ocTid = "ocTid" + j;
                            var GST = ocdata.GST == "" || ocdata.GST == null ? 0 : parseFloat(ocdata.GST);
                            var OC_amount = parseFloat(ocdata.OtherChargeValue);
                            var gstamount = parseFloat(OC_amount) * parseFloat(GST) / 100;
                            var tot = parseFloat(gstamount) + parseFloat(OC_amount);

                            var row = '<tr><td>' + ocdata.OCMaster.POOtherChargeName + '<input type="hidden" class="ocdata" id="' + otherchargeid + '" name="' + otherchargeid + '" value="' + ocdata.OtherChargeId + '" /></td>' +
                                '<td>' + OC_amount + '<input type="hidden" class="form-control ocdata" value="' + ocdata.OtherChargeValue + '" id="' + OC_Amount + '" name="' + OC_Amount + '" onchange="OC_Cal(this.id)" onkeypress="return isNumber(event)" style="display:none;" readonly /></td>' +
                                '<td>' + GST + '<input type="hidden" class="ocdata" value="' + GST + '" id="' + hidgst + '" name="' + hidgst + '" /></td>' +
                                '<td>' + gstamount + '<input type="hidden" value="' + gstamount + '" class="form-control ocdata" id="' + OC_GSTAmt + '" name="' + OC_GSTAmt + '" onkeypress="return isNumber(event)" readonly /></td>' +
                                '<td>' + tot + '<input type="hidden" value="' + tot + '" class="form-control ocdata" id="' + OC_total + '" name="' + OC_total + '" onkeypress="return isNumber(event)" readonly /></td>' +
                                '<td><a id="btnOCDelete" class="deleteOC btn-danger btn-xs"><i class="fa fa-fw fa-trash"></i></a><input type="hidden" class="ocdata" id="' + ocTid + '" name="' + ocTid + '" value="' + ocdata.Id + '" /></td></tr>';
                            $('#OtherChargeDetails > tbody').append(row);
                            j++;
                        });
                    }
                    else {
                        $("#OtherChargeDetails").hide();
                    }
                }


                $.each(result.rawitemlist, function (i, bussiness) {
                    rowCount++;
                    debugger;
                    if (rowCount == 1) {
                        var qind = bussiness.SRM_QuotationMaster.quotdate.indexOf('-');
                        if (qind > 0) {
                            quotationDate = bussiness.SRM_QuotationMaster.quotdate.split('-');
                            quotationDate = quotationDate[1] + "/" + quotationDate[0] + "/" + quotationDate[2];
                        }
                        else {
                            quotationDate = bussiness.SRM_QuotationMaster.quotdate.split('/');
                            quotationDate = quotationDate[1] + "/" + quotationDate[0] + "/" + quotationDate[2];
                        }
                    }
                    r = r + 1;
                    var itemtd = "itemtd" + r;
                    var ItemRatetd = "ItemRatetd" + r;
                    var totalprice = "totalprice" + r;
                    var Totalqty = "Totalqty" + r;
                    var poqty = "poqty" + r;
                    var wastageper = "wastageper" + r;
                    var stockqty = "stockqty" + r;
                    var provsion = bussiness.M_ItemMaster.EOQ == "" || bussiness.M_ItemMaster.EOQ == "null" || bussiness.M_ItemMaster.EOQ == null ? 0 : bussiness.M_ItemMaster.EOQ;

                    rawdiv = '<tr class="data-contact-person" id="' + r + '" value="' + r + '" data="' + r + '" >' +
                        '<td>' + bussiness.M_ItemMaster.ItemName + '<input type="hidden" class="rawitem" name="rawitem" value="' + bussiness.ItemId + '"><input type="hidden" value="' + bussiness.M_ItemMaster.ItemName + '" name="txtItem" /></td>' +
                        '<td>' + bussiness.M_ItemMaster.HScode + '<input type="hidden" class="rawitem" name="ItemAttr" value="' + bussiness.Item_Attribute_ID + '"></td>' +
                        '<td>' + bussiness.M_UnitMaster.ItemUnit + '<input type="hidden" class="rawitem" value="' + bussiness.UnitId + '"></td>' +
                        '<td><input type="text" class="form-control rawitem" value="' + bussiness.TotalQty + '" id="' + Totalqty + '" readonly /></td>' +
                        '<td><input type="text" class="form-control rawitem" value="' + bussiness.ItemRate + '" id="' + ItemRatetd + '" readonly /></td>' +
                        '<td>' + bussiness.M_RateIndicatorMaster.RateIndicatorName + '<input type="hidden"  class="form-control rawitem" value="' + bussiness.RateIndicatorId + '" /></td>' +
                        '<td><input type="text" class="form-control rawitem" value="' + provsion + '"></td>' +
                        '<td><input type="text" class="form-control rawitem" id="' + wastageper + '" onchange="calculatepoqty(this.id)" /></td>' +
                        '<td><input type="text" class="form-control rawitem" id="' + stockqty + '" value="' + bussiness.M_ItemMaster.OpeningStock + '" readonly /></td>' +
                        '<td><input type="text" class="form-control rawitem" id="' + poqty + '" readonly /></td>' +
                        '<td><select id="tax' + r + '" class="form-control select2 GSTCharge rawitem" style="width:100px;" onchange="getTaxvalue(this.id)"><option value="0">---Select---</option>"' + taxoption + '"</select></td>' +
                        '<td><input type="text" class="form-control rawitem" id="' + itemtd + '" onkeypress="return isNumber(event)" onchange="calculatepoqty(this.id)" readonly /></td>' +
                        '<td><input type="text" class="form-control rawitem totalprice totalamt" id="' + totalprice + '" readonly /></td><td>';
                    var imgpath = "";
                    if (bussiness.rawitemimg_list.length >0)
                    {
                        var l = 0;
                        $.each(bussiness.rawitemimg_list, function (lk, img) {
                            if (l == 0) {
                                if (bussiness.IsReadymade == 0) {
                                    imgpath = "@rawimgpath_" + "/" + img;
                                }
                                else {
                                    imgpath = "@itemimgpath_" + "/" + img;
                                }
                            }
                            else {
                                if (bussiness.IsReadymade == 0) {
                                    imgpath = imgpath + "," + "@rawimgpath_" + "/" + img;
                                }
                                else {
                                    imgpath = imgpath + "," + "@itemimgpath_" + "/" + img;
                                }
                            }
                            l++;

                        });
                    }
                            if (bussiness.rawitemimg_list.length > 0)
                            {
                                rawdiv = rawdiv + '<input type="button" class="btn btn-info" value="View Image" id="viewimage' + r + '" onclick=GetImageUpload(this.id,"preview","RawItem") /><input type="button" class="btn btn-info" style="display:none;" id="Ruploadimage' + r + '" value="Upload Image" onclick=GetImageUpload(this.id,"upload","RawItem") />';
                            }
                            else
                            {
                                rawdiv = rawdiv + '<input type="button" class="btn btn-info" value="View Image" style="display:none;" id="viewimage' + r + '" onclick=GetImageUpload(this.id,"preview","RawItem") /><input type="button" class="btn btn-info" id="Ruploadimage' + r + '" value="Upload Image" onclick=GetImageUpload(this.id,"upload","RawItem") />';
                    }
                    rawdiv = rawdiv + '<input type="file" style="display:none;" id="rawitemimg' + r + '" name="rawitemimg" class="form-control" multiple /><input type="hidden" value="0" class="form-control rawitemlist" id="rawitemcount' + r + '"><input type="hidden" id="rawitemimg_Id' + r + '" name="rawitemimg_Id' + r + '" value="' + imgpath + '" class="form-control" />';
                    rawdiv = rawdiv +'</td></tr>';
                    $('#rawitemtable > tbody').append(rawdiv);
                    setItemUnit(bussiness.ItemId, bussiness.Item_Attribute_ID,r);
                });
                AppendItems();
                //Get Tax List
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getGSTTaxlist", "quotation")',
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (gstsdata) {
                        debugger;
                        var result_ = JSON.parse(gstsdata);
                        var result_ = JSON.parse(gstsdata);
                        $('.GSTCharge').empty();
                        $(".GSTCharge").append('<option value="select">Select</option>');
                        $.each(result_, function (i, item) {
                            $(".GSTCharge").append('<option value="' + item.Tax_Rate + '">' + item.Category_Name + '</option>');
                        });

                    },
                    failure: function (response) {
                        alert(response.d);
                    }
                });
                
                $('#QuotationDate').val(quotationDate);
                $(".totalprice").each(function () {
                    if ($(this).val() != "") {
                        totalcost = totalcost + parseInt($(this).val());
                    }
                });
                $("#ItemTotal").val(totalcost);
                $("#hideItemTotal").val(totalcost);
                $('.select2', $('#rawitemtable')).select2().width("100%");
                // $('.select2').width("100%");
            },
            failure: function (response) {
                alert(response.d);
            }
        });


    }

    function setItemUnit(itemid, IAid, no) {
        if (itemid != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getUnit", "BillOfMaterial")',
                data: "{'itemid':" + itemid + ",'IAid':'" + IAid + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    result = JSON.parse(result);
                    debugger;
                    $.each(result.Table, function (i, item) {

                        $("#stockqty" + no).val(item.AvailQty);
                    });
                    if (result.Table.length == 0) {
                        $("#stockqty" + no).val(0);
                    }

                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
    }

    function GetSetDate(name) {
        debugger;
        var wodt = new Date($("#" + name).val());
        var dd1 = wodt.getDate();
        var mm1 = wodt.getMonth() + 1; //January is 0!
        var yyyy1 = wodt.getFullYear();
        if (dd1 < 10) {
            dd1 = '0' + dd1;
        }
        if (mm1 < 10) {
            mm1 = '0' + mm1;
        }
        wodt = mm1 + '/' + dd1 + '/' + yyyy1;
        $("#" + name).val(wodt);
    }



</script>
<script src="~/Scripts/SaveSupplierPO.js"></script>
<script src="~/Scripts/SPO_DeliverySchedule.js"></script>
<script src="~/Scripts/OtherCharge.js"></script>