﻿@model Garments_ERP.Entity.SRM_PurchaseOrderMasterEntity

<div class="row clearfix">
    <div class="col-md-2">
        <label>PO No<i class="text-red">*</i></label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="hidden" id="IsStatus" name="IsStatus" value="@Model.IsStatus" />
                @Html.TextBoxFor(m => m.PO_NO, new { @class = "form-control disabled", @readonly = true })
                <input type="hidden" id="PO_NO" name="PO_NO" value="@Model.PO_NO" />
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <label>PO Date</label>
    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container">
            <div class="form-line">
                @{
                    string podt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.PO_Date));
                    podt = podt.Replace('-', '/');
                }
                @Html.TextBoxFor(m => m.PO_Date, podt, new { @class = "form-control disabled", @readonly = true })
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>

    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <label>Valid From<i class="text-red">*</i></label>
    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container">
            <div class="form-line">
                @if (Model.POValidityFrom != null)
                {
                    string povfdt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.POValidityFrom));
                    povfdt = povfdt.Replace('-', '/');

                    @Html.TextBoxFor(m => m.POValidityFrom, povfdt, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.POValidityFrom, new { @class = "form-control" })
                }
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>

    </div>
    <div class="col-md-2">
        <label>Valid-Up To<i class="text-red">*</i></label>
    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container">
            <div class="form-line">
                @if (Model.POValidityTo != null)
                {
                    string povtdt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.POValidityTo));
                    povtdt = povtdt.Replace('-', '/');

                    @Html.TextBoxFor(m => m.POValidityTo, povtdt, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.POValidityTo, new { @class = "form-control" })
                }
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>


    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <label>Supplier Name</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" readonly="readonly" value="@Model.M_Ledgersentity.Ledger_Name" autocomplete="off" id="supplierNameid" name="supplierNameid" />
                </div>
                <input type="hidden" id="supplierid" name="supplierid" value="@Model.SupplierId" />

            </div>
        </div>
    </div>
    <div class="col-md-2">
        <label>Contact Person<i class="text-red">*</i></label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.DropDownListFor(m => m.ContactPersonId, (IEnumerable<SelectListItem>)ViewBag.contactslist, "---Select conatct person---", new { @class = "form-control select2" })
            @*<select class="form-control select2" style="width: 100%;" id="contactperson" name="contactperson"></select>*@
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-2">
        <label>Supplier Address</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" name="suppliername" id="suppliername" class="form-control disabled" readonly="readonly" value="@Model.M_Ledger_BillDEntity.Address" />
            </div>

        </div>
    </div>

    <div class="col-md-2">
        <label>Quotation No<i class="text-red">*</i></label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" name="QuotationNo" id="QuotationNo" class="form-control disabled" readonly="readonly" value="@Model.SRM_QuotationMaster.QuotationNo" />
            </div>

        </div>
    </div>
    
</div>

<div class="row clearfix">
    <div class="col-md-2">
        <label>Quotation Date</label>
    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container">
            <div class="form-line">
                @{
                    string qtdt = Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.QuotationDate));
                    qtdt = qtdt.Replace('-', '/');
                }
                <input type="text" name="QuotationDate" id="QuotationDate" class="form-control disabled" readonly="readonly" value="@qtdt" />
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>

    </div>
    <div class="col-md-2">
        <label>Delivery Location<i class="text-red">*</i></label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="@Model.M_WAREHOUSE.SHORT_NAME" autocomplete="off" id="warehousenameid" name="warehousenameid" />
            </div>

            <input type="hidden" id="DeliveryLoaction" name="DeliveryLoaction" value="@Model.DeliveryLoaction" />

        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <label>Payment Term<i class="text-red">*</i></label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.DropDownListFor(m => m.PaymentTerm, (IEnumerable<SelectListItem>)ViewBag.paymenttermlist, "---Select Payment Term---", new { @class = "form-control select2" })
        </div>
    </div>
    <div class="col-md-2">
        <label>Narration</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextAreaFor(m => m.Narration, new { @class = "form-control" })
            </div>

        </div>
    </div>
</div>
<div class="row clearfix approval" style="display:none;">
    <div class="col-md-2">
        <div class="required">
            <label>Approval Status</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <select class="form-control select2" id="approvalstatus" name="approvalstatus">
                <option>Select</option>
                @if (Model.Approvalstatus == true)
                {
                    <option value="1" selected>Yes</option>
                    <option value="0">No</option>
                }
                else
                {
                    <option value="1">Yes</option>
                    <option value="0" selected>No</option>
                }
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="required"><label>Approval Date</label></div>

    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container1">
            <div class="form-line">
                @{

                    string appdt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.Approvaldate));
                    appdt = appdt.Replace('-', '/');

                }
                <input type="text" class="form-control pull-right" id="approvaldate" name="approvaldate" value="@appdt" />
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>

    </div>
</div>

<div class="row clearfix approvalComment" style="display:none;">
    <div class="col-md-2 pull-left">
        <label>Approval Comment</label>
    </div>
    <div class="col-md-4 pull-left">
        <div class="form-group">
            <div class="form-line">
                <textarea class="form-control" id="comment" name="comment">@Model.Comment</textarea>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr("style", "display:none;");
    });
</script>