﻿<div class="row clearfix">
    @*<div class="col-md-2">


        </div>*@
    <div class="col-md-3">
        <div class="required"><label>Delivery Item</label></div>
        <div class="form-group">
            
             <select name="Item_ID" id="Item_ID" class="form-control select2">
                 <option value="0">--Select--</option>
             </select>

        </div>
    </div>
    <div class="col-md-2">
        <div class="required"><label>Delivery Date</label></div>
        <div class="input-group date" id="bs_datepicker_component_container">
            <div class="form-line">
                <input type="text" class="form-control pull-right" id="Delivery_Schedule_Date" name="Delivery_Schedule_Date" autocomplete="off" />
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>
    </div>
    @*<div class="col-md-2">


        </div>*@
    <div class="col-md-2">
        <div class="required"><label>Quantity</label></div>
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" id="Delivery_Qty" name="Delivery_Qty" onkeypress="return isNumberKey(event,this.id)" onchange="preventUser();" autocomplete="off" />
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div><label>Comments</label></div>
        <div class="form-group">
            <div class="form-line">
                <textarea class="form-control" id="Delivery_Comment" name="Delivery_Comment"></textarea>
                @*<input type="text" class="form-control" id="Delivery_Comments" name="Delivery_Comments" />*@
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-info" id="btnAddDelivery">Add</button>

    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="DeliveryScheduleDetails" class="table table-striped">
                <thead>
                    <tr  class="titlerow bg-info">
                        <th>Delivery Item</th>
                        <th>Delivery Date</th>
                        <th>Delivery Qty</th>
                        <th>Comments</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>