﻿@model Garments_ERP.Entity.M_TaxMasterEntity

<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Tax Name</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Taxname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Taxname, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Tax Percentage</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Percentage, new { @class = "form-control" })
                </div>
            </div>

        </div>

        <div class="col-md-12">

            <div class="col-md-2">
                <div class="form-group">
                    <label>Tax Description</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextAreaFor(model => model.Taxdescription, new { @class = "form-control" })
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->
</div>

@*<div class="box-footer">
    <button type="submit" class="btn btn pull-left" style="margin-right:5px;" id="savetax">Save</button>
    <button type="button" class="btn btn btn-danger pull-left" style="margin-right:5px;" id="btncancel" onclick="location.href='@Url.Action("Index", "Tax")'">Cancel</button>

</div>*@
