﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}


<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<link href="~/Content/JqueryUi.css" rel="stylesheet" />
<link href="~/Content/select2.min.css" rel="stylesheet" />
<link href="~/Content/Custom.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "SalesInvoice", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    <div class="box box-default">
        <div class="titlerow bg-light-blue">
            <div class="with-border panelHeader">
                <header class="box-title">Sales Invoice Details</header>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Sale Invoice No</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.TextBoxFor(m => m.TransferNo, new { @class = "form-control", @readonly = true })*@
                            <input type="text" id="InvoiceNo" name="InvoiceNo" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Invoice Date</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @*@Html.TextBoxFor(m => m.TransferDate,"",new { @class = "form-control", @id = "TransferDate" })*@
                                <input type="text" id="InvoiceDate" name="InvoiceDate" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Ref Work Order No<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select id="InvoiceDate" name="InvoiceDate" class="form-control"></select>
                            @*@Html.DropDownListFor(m => m.RefWorkOrderId, (IEnumerable<SelectListItem>)ViewBag.workordernolist, "---Select Work Order---", new { @class = "form-control select2", @onchange = "getWorkOrderSizeDetails(this.id)" })*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Work Order Date</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" id="WorkorderDate" name="WorkorderDate" class="form-control" readonly />
                                @*@Html.TextBoxFor(m => m.RefWorkOrderDate, new { @class = "form-control", @id = "RefWorkOrderDate", @readonly = true })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Customer Name</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" id="CustomerName" name="CustomerName" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Address</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" id="CustomerAddress" name="CustomerAddress" class="form-control" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Ref Transfer No<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select id="RefTransferNo" name="RefTransferNo" class="form-control"></select>
                            @*@Html.DropDownListFor(m => m.RefWorkOrderId, (IEnumerable<SelectListItem>)ViewBag.workordernolist, "---Select Work Order---", new { @class = "form-control select2", @onchange = "getWorkOrderSizeDetails(this.id)" })*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Transfer Date</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" id="RefTransferDate" name="RefTransferDate" class="form-control" readonly />
                                @*@Html.TextBoxFor(m => m.RefWorkOrderDate, new { @class = "form-control", @id = "RefWorkOrderDate", @readonly = true })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Remark</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <textarea id="Remark" name="Remark" class="form-control"></textarea>
                            @*@Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="titlerow bg-light-blue">
            <div class="with-border panelHeader">
                <header class="box-title">Style Details</header>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12" style="margin-bottom:20px;">
                    <div class="col-md-8 table-responsive">
                        @*<label>Size Entries</label>*@
                        <table class="col-md-12" border="1" id="itemsizetable">
                            <tr class="bg-blue titlerow" style="margin-bottom:20px;">
                                <td style="text-align:center;" class="col-md-2">Size</td>
                                <td style="text-align:center;" class="col-md-2">Work Order Qty</td>
                                <td style="text-align:center;" class="col-md-2">MFG Qty</td>
                                <td style="text-align:center;" class="col-md-2">Sale Amount (per qty)</td>
                            </tr>
                            <tr style="margin-bottom:20px;">
                                <td style="text-align:center;" class="col-md-2">XXL</td>
                                <td style="text-align:center;" class="col-md-2">500</td>
                                <td style="text-align:center;" class="col-md-2">300</td>
                                <td style="text-align:center;" class="col-md-2"><input type="text" style="border:none" /></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="sizeliststr" id="sizeliststr" />
    </div>
    <div class="box box-default">
        <div class="titlerow bg-light-blue">
            <div class="with-border panelHeader">
                <header class="box-title">Invoice Transction Details</header>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12 pull-right">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-2">
                        <label>Total MFG Qty</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.TextBoxFor(m => m.TransferNo, new { @class = "form-control", @readonly = true })*@
                            <input type="text" id="ttlMFGqty" name="ttlMFGqty" class="form-control" readonly />
                        </div>
                    </div>

                </div>
                <div class="col-md-12 pull-right">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-2">
                        <label>Total Sale Amount</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.TextBoxFor(m => m.TransferNo, new { @class = "form-control", @readonly = true })*@
                            <input type="text" id="totalAmt" name="totalAmt" class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pull-right">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-2">
                        <label>GST Tax (%)</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.TextBoxFor(m => m.TransferNo, new { @class = "form-control", @readonly = true })*@
                            <select id="ddlGST" name="ddlGST" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pull-right">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-2">
                        <label>Grand Total</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.TextBoxFor(m => m.TransferNo, new { @class = "form-control", @readonly = true })*@
                            <input type="text" id="grandtotal" name="grandtotal" class="form-control" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "SalesInvoice")'">Cancel</button>
        <button type="submit" class="btn btn btn-success pull-right" style="margin-right:5px;" id="saveTransfer">Save</button>
    </div>
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="~/Scripts/JqueryUI.js"></script>

<script>

    $(document).ready(function () {
        $("#InvoiceDate").datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate: 0
        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + yyyy;
        document.getElementById("InvoiceDate").value = today;

    });

    function getWorkOrderSizeDetails(id) {
        var woid = $('#RefWorkOrderId').val();
        var wonumber = $("#RefWorkOrderId option:selected").text();
        if (woid != "" || woid != 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getWOdetailsbyid", "Transfer")',
                data: "{'id':" + woid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var result_ = JSON.stringify(result);
                    var i = 0;
                    var rowCount = 0;
                    $("#itemsizetable tr:gt(0)").remove();

                    $.each(result.workorderdetaillist, function (i, wosize) {
                        i = i + 1;
                        rowCount++;
                        var div = '<tr class="">' +
                         '<td style="text-align:center;" class="col-md-3" id="sizetd' + rowCount + '" sizedata="' + wosize.M_ItemSizeMasterentity.Sizetype + '">' + wosize.M_ItemSizeMasterentity.Sizetype + '<input type="hidden" value="' + wosize.SizeID + '" id="sizetd' + i + '" name="sizetypeid"/></td>' +
                         '<td style="text-align:center;" class="col-md-2"><input type="text" value="' + wosize.Quantity + '" id="workorderqty' + i + '" name="workorderqty" readonly /></td>' +
                         '<td style="text-align:center;" class="col-md-2"><input type="text" id="producedqty' + i + '" name="producedqty" onchange="calQty(this.id)"/></td>' +
                          '<td style="text-align:center;" class="col-md-2"><input type="text" id="balanceqty' + i + '" name="balanceqty" value="' + wosize.Quantity + '" readonly /></td>' +
                          '<td style="text-align:center;" class="col-md-2"><input type="checkbox" id="qcdone' + i + '" name="qcdone" onchange="isQCcheck(this.id)"/><input type="hidden" id="hideqcdone' + i + '" name="hideqcdone" value="No"/></td>' +
                          '<td style="text-align:center;display:none;" class="col-md-2" sizedata="' + wosize.SizeID + '" id="sizeidtd' + i + '"></td>' +
                          '</tr>';
                        $('#itemsizetable').append(div);
                    });
                    $('#RefWorkOrderDate').val(result.wodate);
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
        else {
            $("#itemsizetable tr:gt(0)").remove();
            $('#RefWorkOrderDate').val("");
        }
    }
</script>
