﻿@model Garments_ERP.Entity.SRM_QuotationMasterEntity

<div class="box-footer">
    <div class="table-responsive">
        <table class="table table-striped" id="rawitemtable">
            <thead>
                <tr class="bg-info titlerow">
                    <th>Item</th>
                    <th>HSN Code</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <th>Rate</th>
                    <th>Total Price</th>
                    <th>Dis. type</th>
                    <th>Rate Indicator</th>
                    <th>Dis. Rate</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



