﻿@model Garments_ERP.Entity.M_LedgersEntity

<style type="text/css">
    ul {
        margin: 0;
    }
</style>
@Html.HiddenFor(m => m.Ledger_Id)
<div class="row clearfix">
    <div class="col-md-2">
        <label>Entity Type</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.DropDownList("customertypeid", (IEnumerable<SelectListItem>)ViewBag.typelist, "---Select Type---", new { @class = "form-control select2", @multiple = "multiple" })
            <input type="hidden" value="@Model.LedgerType_Id" id="hidledgertype" name="hidledgertype" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>Name</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(x => x.Ledger_Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ledger_Name, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <label>Department</label>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" id="DepartmentnameId" value="@Model.M_Departmententity.Departmentname" name="DepartmentnameId"  />
                <input type="hidden" id="departmentid" name="departmentid" value="@Model.Department" />
                <div id="Deptlist" class="searchlist" style="display:none;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>PAN No.</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" height="20" class="form-control" id="PANno" name="PANno" value="@Model.PAN_no" />
            </div>
        </div>

    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>Description</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <textarea class="form-control" id="description" name="description">@Model.Ledger_Description</textarea>
            </div>
        </div>

    </div>
</div>
<div class="row clearfix">
    <hr />
</div>
@*<div class="row clearfix">
    <div class="col-md-2">
        <label>Company</label>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.DropDownList("companyid", (IEnumerable<SelectListItem>)ViewBag.complist, "---Select Company---", new { @class = "form-control select2", @onchange = "GetBranchListById()" })
        </div>
    </div>
    <div class="col-md-2">
        <label>Branch</label>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <select id="branchid" name="branchid" class="form-control select2"></select>
        </div>
    </div>
    <div class="col-md-2">
        <input type="button" value="Add" class="btn btn-primary" onclick="AddOnTable()" />
    </div>
</div>*@


<div class="row clearfix">
   

    <input type="hidden" id="combranchList" name="combranchList" />
    <div class="col-md-12" style="display:none">
        <div class="table table-responsive">
            <table class="table table-striped" id="companyMapTab">
                <thead>
                    @*<tr class="titlerow">
                        <th>Company Name</th>
                        <th>Branch Name</th>
                        <th style="display:none;">Active</th>
                        <th>Action</th>
                    </tr>*@
                </thead>
                <tbody>
                    @*@if (Model.M_CompanyBranch_Mapping != null)
                    {
                        foreach (var data in Model.M_CompanyBranch_Mapping)
                        {
                    <tr class="attrtabval">
                        <td class="combranchval" rawdata="@data.Company_ID"><input type="hidden" class="hidval2" value="@data.Company_ID" />@data.M_company.Company_Name</td>
                        <td class="combranchval" rawdata="@data.Branch_ID"><input type="hidden" class="hidval2" value="@data.Branch_ID" />@data.M_Branch.Branch_Name</td>
                        @if (data.Is_Active==true)
                        {
                            <td class="combranchval" rawdata="1" style="display:none;"></td>
                        }
                        else
                        {
                            <td class="combranchval" rawdata="0" style="display:none;"></td>
                        }
                        <td><i class="fa fa-trash pluxtrash" style="color:red;cursor:pointer;" onclick="removetr()"></i></td>
                    </tr>
                        }
                    }*@
                </tbody>
            </table>
        </div>
    </div>

</div>
<input type="hidden" id="statecodehidden" name="statecodehidden" />
@*<input type="hidden" id="pannohidden" name="pannohidden" />*@
