﻿@model IEnumerable<Garments_ERP.Entity.M_LedgersEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";

    string LedgerType = "" ;
    string deptname = "";
}




<style>
    #footerExport td {
        cursor: pointer;
        text-align: center;
        border: 1px solid #ccc;
        border: none;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Content/exportpugin/tableExport.js"></script>
<script src="~/Content/exportpugin/jquery.base64.js"></script>
<script src="~/Content/exportpugin/html2canvas.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/base64.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/sprintf.js"></script>
<script src="~/Content/exportpugin/jspdf/jspdf.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


<script>
    $(document).ready(function () {
        var varpdfFontSize = '7';
        $('#exportexcel').bind('click', function (e) {
            $('#example1').tableExport({ type: 'excel', escape: 'false', pdfFontSize: varpdfFontSize });
        });
        $('#exportpdf').bind('click', function (e) {
            $('#example1').tableExport({ type: 'pdf', escape: 'false' });
            // demoFromHTML();
        });
        $('#exportcsv').bind('click', function (e) {
            $('#example1').tableExport({ type: 'csv', escape: 'false' });
        });
        $('#exportword').bind('click', function (e) {
            $('#example1').tableExport({ type: 'doc', escape: 'false' });
        });
    });
</script>

<div class="titheader">
    <div class="block-header">
        <div class="col-sm-10">
            <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
            <div class="HMsubline">Entity Details</div>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-block btn-success btn-sm" href="@Url.Action("Create", "LedgerAccount")">Create New</a>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <!-- #END# Hover Expand Effect -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="col-xs-12 col-sm-6">
                            <h2 class="hedtit">
                                Entity Details
                            </h2>
                        </div>

                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr role="row">
                                        <th style="display:none">id</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 158px;">
                                            Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Entity Type
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                                            PAN No.
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            Department
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                                            Description
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 155px;">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        int i = 0;

                                        <tr role="row" class="odd">
                                            <td style="display:none;">@item.Ledger_Id</td>
                                            <td class="sorting_1">@item.Ledger_Name</td>
                                            <td>
                                                @foreach (var data in item.M_CustomerTypeMaster)
                                                {
                                                    if (i == 0)
                                                    {
                                                        LedgerType = data.TypeName;
                                                    }
                                                    else
                                                    {
                                                        LedgerType = LedgerType + "," + data.TypeName;
                                                    }
                                                    i = i + 1;
                                                }
                                                @LedgerType
                                            </td>
                                            <td>@item.PAN_no</td>
                                            <td>
                                                @foreach (var data in item.deptlist)
                                                {
                                                    deptname = data.Departmentname;
                                                }
                                                @deptname
                                            </td>
                                            <td>@item.Ledger_Description</td>
                                            <td>
                                                <a class="btn btn-success" href="@Url.Action("Edit", "LedgerAccount", new { id = item.Ledger_Id})" style="padding:5px;font-size:12px;" title="Edit"><i class="fa fa-fw fa-edit"></i></a>

                                                <a class="btn btn-warning" style="padding:5px;font-size:12px;" onclick="deleterecord(@item.Ledger_Id)" title="Delete"><i class="fa fa-fw fa-trash"></i></a>
                                                <a class="btn btn-info" style="padding:5px;font-size:12px;" title="Info"><i class="fa fa-fw fa-plus"></i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <table>
                                <tr id="footerExport">
                                    <td id="exportexcel"><img src="~/Content/iconsforexport/xls.png" title="Export to Excel" /></td>
                                    <td id="exportpdf"><img src="~/Content/iconsforexport/pdf.png" title="Export to PDF" /></td>
                                    <td id="exportcsv"><img src="~/Content/iconsforexport/csv.png" title="Export to CSV" /></td>
                                    <td id="exportword"><img src="~/Content/iconsforexport/word.png" title="Export to Word" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<input type="hidden" id="altmsg" value="@Convert.ToString(TempData["alertmsg"])" />

<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script>
    $(function () {

        var alrtmsg = $("#altmsg").val();
        if (alrtmsg != "") {
            swal({
                title: 'Success',
                text: alrtmsg,
                type: "success",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            },
                function (isConfirm) {
                    if (isConfirm) {
                        window.location = "/LedgerAccount";
                    }
                }
            );
        }
        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr('style', 'display:none;');
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr('style', 'display:none;');

        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]]
        });

        $('#bs_datepicker_component_container').datepicker({
            autoclose: true,
            container: '#bs_datepicker_component_container'
        });

        $('#bs_datepicker_component_container1').datepicker({
            autoclose: true,
            container: '#bs_datepicker_component_container1'
        });
    });

    //external jquery plugin for to pdf
    //function demoFromHTML() {
    //    var pdf = new jsPDF('p', 'pt', 'letter');
    //    // source can be HTML-formatted string, or a reference
    //    // to an actual DOM element from which the text will be scraped.
    //    source = $('#customers')[0];

    //    // we support special element handlers. Register them with jQuery-style
    //    // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
    //    // There is no support for any other type of selectors
    //    // (class, of compound) at this time.
    //    specialElementHandlers = {
    //        // element with id of "bypass" - jQuery style selector
    //        '#bypassme': function (element, renderer) {
    //            // true = "handled elsewhere, bypass text extraction"
    //            return true
    //        }
    //    };
    //    margins = {
    //        top: 80,
    //        bottom: 60,
    //        left: 40,
    //        width: 522
    //    };
    //    // all coords and widths are in jsPDF instance's declared units
    //    // 'inches' in this case
    //    pdf.fromHTML(
    //    source, // HTML string or DOM elem ref.
    //    margins.left, // x coord
    //    margins.top, { // y coord
    //        'width': margins.width, // max width of content on PDF
    //        'elementHandlers': specialElementHandlers
    //    },

    //    function (dispose) {
    //        // dispose: object with X, Y of the last line add to the PDF
    //        //          this allow the insertion of new lines after html
    //        pdf.save('Test.pdf');
    //    }, margins);
    //}





    function deleterecord(id) {
        var deletionid = id;
        var param = { 'Id': deletionid };

        swal({
            title: 'Confirmation',
            text: 'Are You Sure To Delete Record?',
            showConfirmButton: true,
            showCancelButton: true,
            closeOnConfirm: true,
            closeOnCancel: true,
            confirmButtonText: 'Confirm',
            confirmButtonColor: '#8CD4F5',
            cancelButtonText: 'Cancel'
        },
         function (isConfirm) {

             if (isConfirm) {
                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("DeleteLedgerAccount", "LedgerAccount")',
                     data: JSON.stringify(param),
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: function (result) {

                         if (result == true) {
                             window.location.reload();
                         }

                     },
                     failure: function (response) {
                         alert(response.d);
                     }
                 });

             } else {
                 swal("Cancelled", ")", "error");
             }
         });
    }
</script>

