﻿@model Garments_ERP.Entity.M_Ledger_BillingDetailsEntity
<style type="text/css">
    ul {
        margin: 0;
    }
</style>
<div class="row clearfix">
   
        @*<div class="col-md-2">Document Type</div>
        <div class="col-md-2">
            <div class="form-group">
                <select class="form-control select2" id="document" name="document">
                    <option>--Select DocumentType--</option>
                    <option value="PanCard">PanCard</option>
                    <option value="Pdf">Pdf</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>*@
            <div class="col-md-2">
                <span>Select Document</span>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="file" class="form-control" id="Leddoc" name="Leddoc" />
                    </div>
                </div>
              
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" style="margin-right:5px;" id="addDocument" onclick="adddocument()">Add</button>
            </div>
      

</div>

<input type="hidden" id="documentList" name="documentList" />

<div class="box-footer">
    <div class="table-responsive">
        <table class="table" id="documettable">
            <thead>
                <tr class="titlerow bg-blue">
                    <th>Document Type</th>
                    <th>Document Name</th>
                    <th style="display:none">Active</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody class="contactstablebody"></tbody>
        </table>
    </div>
</div>



