﻿@{
    ViewBag.Title = "Unauthorised Request";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<body>
  
    <h4>Error 401 : Unauthorised Request</h4>

    <div id="error">You do not have permission to access the requested resource due to security restrictions.  In order to gain access, please speak to your system administrator.</div>
</body>
