﻿@model IEnumerable<Garments_ERP.Entity.MFG_MaterialIssueMasterEntity>
@{
                ViewBag.Title = "Index";
}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    WO-No
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    PP No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    MI No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Issue Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Style Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr role="row" class="odd">
                    <td class="sorting_1">@data.MFG_WORK_ORDER.WorkOrderNo</td>
                    <td>@data.Productionplan.PlanNo</td>
                    <td>@data.MaterialIssueNo</td>
                    <td>
                        @{
                            string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.IssueDate));
                            tndt = tndt.Replace('-', '/');
                        }
                        @tndt
                    </td>
                    <td>@data.M_StyleMaster.Stylename</td>
                    <td>
                        @foreach(var dat in data.outwarditemlist)
                        {
                            if (Convert.ToInt32(dat.MI_ID) == 0)
                            {
                                <a href="@Url.Action("Edit", "MaterialIssue", new { id = data.Id})" class="btn  btn-success btn-sm inner " data-original-title="Edit Material Issue" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                                if (ViewBag.Status == 2)
                                {
                                    <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="deleterecord(@data.Id)"  style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                                }
                                <a href="@Url.Action("Create2", "MaterialIssue", new { id = data.Id})" class="btn  btn-success btn-sm inner " data-original-title="Process Cycle Material Issue" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-recycle"></i></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Edit", "MaterialIssue", new { id = data.Id})" class="btn  btn-success btn-sm inner " data-original-title="Edit Material Issue" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                                if (ViewBag.Status == 2)
                                {
                                    <button type="button" id="delete" class="btn btn-danger btn-sm inner disabled"  style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                                }
                                <a href="@Url.Action("Create2", "MaterialIssue", new { id = data.Id})" class="btn  btn-success btn-sm inner " data-original-title="Process Cycle Material Issue" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-recycle"></i></a>
                            }
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
