﻿@model Garments_ERP.Entity.MFG_MaterialIssueMasterEntity
@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    string idt = string.Empty;
    string wodt = string.Empty;
    string ppdt = string.Empty;

}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


<style>

    ul {
        margin: 0;
    }
</style>

@using (Html.BeginForm("Edit", "MaterialIssue", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-8">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Inventory</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "MaterialIssue")">Material Issue Detail</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "MaterialIssue")'">Cancel</button>
                <button type="submit" class="btn btn btn-success pull-right" disabled style="margin-right:5px;" id="savematerialissue">Update</button>
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Material Issue Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i> Material Requirement
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Warehouse<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="@Model.M_WAREHOUSE.SHORT_NAME" autocomplete="off" id="warehousenameid" name="warehousenameid">
                                                </div>
                                                <input type="hidden" id="WarehouseID" name="WarehouseID" value="@Model.WarehouseID" />

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            @Html.HiddenFor(x => x.Id)
                                            <label>Warehouse Incharge<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="@Model.Employee.Name" autocomplete="off" id="AccountHeadnameId" name="AccountHeadnameId" >
                                                </div>
                                                <input type="hidden" id="EmpID" name="EmpID" value="@Model.EmpID" />

                                            </div>
                                        </div>
                                    </div>



                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Material Issue No<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="mino" name="mino" class="form-control disabled" value="@Model.MaterialIssueNo" readonly />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Issue Date<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    @{ 
                                                        idt = @Convert.ToString(string.Format("{0:MM/dd/yyyy}", @Model.IssueDate));
                                                        idt = idt.Replace('-', '/');
                                                    }
                                                    <input type="text" class="form-control pull-right " id="issuedate" name="issuedate" value="@idt">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Ref Work Order No.<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="wonoh" name="wonoh" class="form-control" value="@Model.MFG_WORK_ORDER.WorkOrderNo" readonly />
                                                </div>
                                                <input type="hidden" id="wono" name="wono" class="form-control" value="@Model.RefWO" />
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>WO Date<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    @{
                                                        wodt = @Convert.ToString(string.Format("{0:MM/dd/yyyy}", @Model.RefWODate));
                                                        wodt = wodt.Replace('-', '/');
                                                    }
                                                    <input type="text" class="form-control pull-right disabled" id="wodate" value="@wodt" name="wodate" readonly />
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Production Plan No<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="ppno" name="ppno" class="form-control disabled" value="@Model.Productionplan.PlanNo" readonly />
                                                </div>

                                                <input type="hidden" id="ppnoid" name="ppnoid" class="form-control" value="@Model.PPNo" readonly />
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Production Plan Date<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    @{
                                                        ppdt = @Convert.ToString(string.Format("{0:MM/dd/yyyy}", @Model.PPDate));
                                                        ppdt = ppdt.Replace('-', '/');
                                                    }

                                                    <input type="text" class="form-control pull-right disabled" id="ppdate" name="ppdate" value="@ppdt" readonly>
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Style Name<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value="@Model.M_StyleMaster.Stylename" id="Stylename" readonly placeholder="" name="Stylename">
                                                </div>

                                                <input type="hidden" class="form-control" id="StyleID" value="@Model.StyleID" placeholder="" name="StyleID">
                                                <input type="hidden" id="porefno" name="porefno" />

                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Department<i class="text-red">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" autocomplete="off" id="DepartmentnameId" value="@Model.deptenty.Departmentname" name="DepartmentnameId" />
                                                </div>

                                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DeptId" />

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="imgpreview">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <input type="hidden" id="planStartDate" name="planStartDate" />
                                    <input type="hidden" id="planTargetDate" name="planTargetDate" />
                                    <input type="hidden" class="form-control inputControls disabled" placeholder="0" id="TargetQty" readonly="readonly" name="TargetQty">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-condensed" id="ProductionTable">
                                                    <caption class="panelHeader" style="font-size:14px;height:30px;"><div style="padding:0.3em 0.5em;">Production Days Via Qty</div></caption>
                                                    <thead style="background-color:white;">
                                                        <tr class="titlerow">
                                                            <th style="text-align:center">Total Days</th>
                                                            <th style="text-align:center">Total Quntity</th>
                                                            <th style="text-align:center">Per Day Production</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="clickable  dropdown-deliverable" data-for="#details_1">
                                                            <td style="text-align:center"><input type="text" id="Ptotaldays" class="form-control inputControls" name="totaldays" readonly /></td>
                                                            <td style="text-align:center"><input type="text" id="PTotalQty" class="form-control inputControls" name="PTotalQty" readonly /> </td>
                                                            <td style="text-align:center"><input type="text" id="PPDProd" class="form-control inputControls" name="PPDProd" readonly /> </td>


                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                    <input type="hidden" id="rawitemdetails" name="rawitemdetails" />

                                    @*<input type="hidden" name="issampling" id="issampling" />*@
                                    <input type="text" name="issampling" id="issampling" style="display:none;">
                                    @*<input type="hidden" name="sizeliststr" id="sizeliststr" />
        <input type="hidden" name="isapprovalstatus" id="isapprovalstatus" />
        <input type="hidden" name="enquiryno" id="enquiryno" />*@
                                    <input type="file" name="stylefile" id="stylefile" style="display:none;" />
                                    <input type="file" name="rawimglist" id="rawimglist" style="display:none;" multiple />
                                    <div class="row clearfix">
                                        <div class="col-md-12" style="margin-bottom:40px;">
                                            <div class="box-body table-responsive no-padding">
                                                <table class="table" id="rawitemtable">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:9em;">Stock Type</th>
                                                            <th style="width:15em;">Item Sub Category</th>
                                                            <th style="width:15em;">Item Name</th>

                                                            <th>Required Qty</th>
                                                            <th>Available Qty</th>
                                                            <th>Issue Qty</th>
                                                            <th>UOM</th>
                                                            <th>Balance Qty</th>
                                                            <th>Total Produced</th>
                                                        </tr>
                                                    </thead>
                                                    @{
                                                        var i = 0;
                                                    }
                                                    @foreach (var item in Model.issueitemlist)
                                                    {
                                                        i++;

                                                        var requiredqty = "requiredqty" + i;
                                                        var available = "available" + i;
                                                        var issueqty = "issueqty" + i;
                                                        var balqty = "balqty" + i;
                                                        var stoctypes = "stoctypes" + i;
                                                        var totProd = "totProd" + i;
                                                        var deleterecord = "deleterecord" + item.Id;
                                                        var inwardid = "inwardid" + i;

                                                        <tbody class="bg-info">
                                                            <tr>
                                                                <td style="text-align: center;" class="rawsizerow">
                                                                    <input type="text" class="form-control itemrow" value="@item.stocktype" readonly id="@stoctypes" />

                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" name="itemsub_@i" id="itemsub_@i" value="@item.M_ItemSubCategoryMaster.Itemsubcategory" readonly>
                                                                    <input type="hidden" class="form-control itemrow" name="itemsub_@i" id="itemsub_@i" value="@item.ItemSubCategoryID" readonly>
                                                                </td>
                                                                <td>

                                                                    <input type="text" class="form-control" value="@item.M_ItemMaster.ItemName" readonly>
                                                                    <input type="hidden" class="form-control itemrow" value="@item.ItemID" readonly>
                                                                    <input type="hidden" class="form-control itemrow" value="@item.Item_Attribute_ID" readonly>
                                                                </td>

                                                                <td><input type="text" class="form-control itemrow" name="requiredqty" id=@requiredqty value=@item.ReqQty readonly></td>
                                                                <td><input type="text" class="form-control itemrow" name="availableqty" id=@available value="@item.AvailableQty" readonly></td>
                                                                <td><input type="text" class="form-control itemrow" name="issueqty" id=@issueqty value="@item.IssueQty" readonly onchange="calcqty(this.id);"></td>
                                                                @if (@item.M_UnitMaster == null)
                                                                {
                                                                    <td><input type="text" class="form-control " id="unit1" name="uomid" value="" readonly><input type="hidden" class="itemrow" id="unitid1" name="unitid1" value=""> </td>
                                                                }
                                                                else
                                                                {
                                                                    <td><input type="text" class="form-control " id="unit1" name="uomid" value="@item.M_UnitMaster.ItemUnit" readonly><input type="hidden" class="itemrow" id="unitid1" name="unitid1" value="@item.M_UnitMaster.Id"> </td>
                                                                }

                                                                <td><input type="text" class="form-control itemrow" name="balqty" id=@balqty value="@item.BalanceQty" readonly></td>
                                                                <td style="display:none"><input type="hidden" class="itemrow" id="rowid" name="rowid" value="@item.Id"> </td>
                                                                <td><input type="text" class="form-control rawitemlist itemrow" value="@item.IssueQty" name="@totProd" id="@totProd" readonly /></td>
                                                            </tr>
                                                        </tbody>
                                                    }
                                                </table>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2 pull-left">
                                            <div class="form-group">
                                                <label>Comment</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pull-left">
                                            <div class="form-group">
                                                <textarea class="form-control" id="comment" name="comment">@Model.Comment</textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>





}


<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<script>

    $(document).ready(function () {
        $('.select2').select2();
        $('.select2').width("100%");

        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");

        if (window.File && window.FileList && window.FileReader) {
            fnsetimgpreve("styleimg", "imgpreview");
           // fnsetimgpreve("rawimg", "imgpreviewraw");
        } else { alert("Your browser doesn't support to File API") }
    });

    function fnsetimgpreve(filecontrol, previecontrol) {
        $("#" + filecontrol).on("change", function (e) {

            $("#" + previecontrol).empty();
            var files = e.target.files,
            filesLength = files.length;

            for (var i = 0; i < filesLength ; i++) {
                var f = files[i]

                var fileReader = new FileReader();
                fileReader.onload = (function (e) {
                    var file = e.target;
                    var imgstr = "<div class='imgDiv'> <img class='imageThumb' src='" + e.target.result + "'   ></img> <a href='#' class='imgClose' title='Remove'>X</a></div>";
                    $("#" + previecontrol).append(imgstr);
                });
                fileReader.readAsDataURL(f);
            }
        });

    }


    $("#savematerialissue").on("click", function () {

        var isvalid = true;
        var warehouseId = $("#WarehouseID").val();
        var emp = $("#EmpID").val();
        var item = $("#item1").val();
        var dept = $("#DepartmentId").val();
        if (warehouseId == "" || warehouseId == "0") {
            swal("Select Warehouse");
            isvalid = false;
        }

        else if (emp == "") {
            swal("Select Customer");
            isvalid = false;
        }
        else if (item == "" || item == "0") {
            swal("Select Item");
            isvalid = false;
        }
        else if (dept == "" || dept == "0") {
            swalmsg("Select Department");
            isvalid = false;
        }
        else {

            var str = "";
            var rawitemstr = "";
            var $dataRows = $("#rawitemtable tr:not('.titlerow')");
            var rowlenght = $dataRows.length;
            var stylerowcount = 0;
            //var stylerowCount = $('#maintable2 tr').length;
            $dataRows.each(function () {
                count = 0;
                stylerowcount++;
                $(this).find('.itemrow').each(function (i) {
                    var itemlist = ($(this).val());  //here get td value
                    count++;

                    if (itemlist != undefined) {

                        if (count == 9) {
                            str += itemlist;
                        }
                        else {
                            str += itemlist + "~";
                        }
                    }

                });

                if (stylerowcount == rowlenght) {

                }
                else {
                    str += "#";
                }

            });

            isvalid = true;
            $('#rawitemdetails').val(str);
            //alert(str);
        }
        return isvalid;
    });



    function deleterecord(id) {
        var id_ = id.match(/\d+/);
        if (id_ != "0") {

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("deleterawitem", "MaterialIssue")',
                dataType: "json",
                data: "{'id':" + id_ + "}",
                success: function (result) {
                    if (result == true) {
                        swal("Raw item removed.");
                        //$(this).closest("tr").remove();
                        $('table#rawitemtable tr#' + id_).remove();
                        //$("#" + id_).remove();
                    }

                },
                error: function (result) {
                    alert("Error" + result.status);
                }

            });
        }

    }


    function addrow() {

        $('#dropdwon1 option').clone().appendTo('#dropdwon2');
        //code to add new row
        var $dataRows = $("#rawitemtable tr:not('.titlerow')");
        var len = $dataRows.length;
        //newrow = $($dataRows[0]).clone();
        var item = "item" + len + 1;
        var available = "available" + len + 1;
        var unit = "unit" + len + 1;
        var unitid = "unitid" + len + 1;
        var tdid = "tdid" + len + 1;
        var requiredqty1 = "requiredqty" + len + 1;
        var issueqty1 = "issueqty" + len + 1;
        var balqty1 = "balqty" + len + 1;

        var newrow = ' <tr>' +
        '<td id="' + tdid + '"><select class="form-control select2 itemrow" id="' + item + '" name="itemid" onchange="getbyId(this.id);">  </select>' +
                                '<td><input type="text" class="form-control rawitemlist itemrow" name="requiredqty" id="' + requiredqty1 + '" onchange="calcqty(this.id);"></td>' +
                                '<td><input type="text" class="form-control rawitemlist itemrow" name="availableqty" id="' + available + '" readonly></td>' +
                                '<td><input type="text" class="form-control rawitemlist itemrow" name="issueqty" id="' + issueqty1 + '" readonly></td>' +
                                '<td><input type="text" class="form-control rawitemlist" id="' + unit + '" name="uomid" readonly><input type="hidden" class="itemrow" id="' + unitid + '" name="' + unitid + '"></td>' +
                                '<td><input type="text" class="form-control rawitemlist itemrow" name="balqty" id="' + balqty1 + '"></td>' +
                                '<td style="display:none;"><input type="hidden" class="form-control rawitemlist itemrow" name="rowid" id="rowid" value="0" readonly></td>' +
                                '<td><button type="button" class="btn-info" onclick="addrow();"><i class="fa fa-fw fa-plus"></i></button></td>' +
                                '<td><button type="button" class="btn-danger deleteitem" id="0" onclick="deleterecord(this.id)"><i class="fa fa-fw fa-remove"></i></button></td>' +
                            '</tr>';


        $('#rawitemtable tbody').append(newrow);

        var dropdown = $('#item1').clone();
        //  $('#' + tdid).html(dropdown);
        // $('#' + item).append(dropdown);
        $('#' + item).append($('#item1').html());
    }

    //code to remove current row
    $(document).on("click", ".deleteitem", function () {
        var id = $(this).closest("tr").attr('data');
        // alert(id);
        $(this).closest("tr").remove();
    });

    $(document).ready(function () {
        getProdPlanList();
        var startrow = 0;
        var startrowvalue = "---Select----"
        //code to fill dropdown list of warehouse
        $.ajax({
            type: "POST",
            url: '@Url.Action("getwarehouselist", "MaterialIssue")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (warehouses) {
                $("#warehouseid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(warehouses, function (i, item) {
                    $("#warehouseid").append('<option value="' + item.Id + '">' + item.SHORT_NAME + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        //code to fill dropdown list of WarehouseIncharge
        $.ajax({
            type: "POST",
            url: '@Url.Action("getemplist", "MaterialIssue")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (employees) {
                $("#woinchargeid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(employees, function (i, item) {
                    $("#woinchargeid").append('<option value="' + item.Id + '">' + item.Name + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        //code to fill dropdown list of Style
        $.ajax({
            type: "POST",
            url: '@Url.Action("getstylelist", "MaterialIssue")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (styles) {
                $("#styleid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(styles, function (i, item) {
                    $("#styleid").append('<option value="' + item.StyleNo + '">' + item.Stylename + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        //code to fill dropdown list of Item
        $.ajax({
            type: "POST",
            url: '@Url.Action("getitemlist", "MaterialIssue")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (items) {
                $("#item1").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(items, function (i, item) {
                    $("#item1").append('<option value="' + item.Id + '">' + item.ItemName + '</option>');
                });

            },
            failure: function (response) {
                alert(response.d);
            }
        });



        //code to fill dropdown list of UOM
        $.ajax({
            type: "POST",
            url: '@Url.Action("getuomlist", "MaterialIssue")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (uoms) {
                $("#uomid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(uoms, function (i, item) {
                    $("#uomid").append('<option value="' + item.Id + '">' + item.ItemUnit + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    });
    function getbyId(id) {

        var number = id.match(/\d+/);
        $("#requiredqty" + number).val('');
        $("#issueqty" + number).val('');
        $("#balqty" + number).val('');
        $("#unit" + number).val('');
        $("#unitid" + number).val('');


        var itid = $('#item' + number).val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("getitemlistbyId", "MaterialIssue")',
            data: "{'id':" + itid + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (items) {

                $("#available" + number).val(items.OpeningStock);
                $("#unit" + number).val(items.M_UnitMaster.ItemUnit);
                $("#unitid" + number).val(items.M_UnitMaster.Id);


            },

            failure: function (response) {
                alert(response.d);
            }

        });
    }


    function calcqty(id) {
        var number = id.match(/\d+/);
        var reqqty = $("#requiredqty" + number).val();
        var availqty = $("#available" + number).val();
        $("#issueqty" + number).val(reqqty);

        var balanceqty = availqty - reqqty;

        $("#balqty" + number).val(balanceqty);

    }

    function setdate(dat) {
        var Sdat = dat.split('-');
        var today = Sdat[1] + '/' + Sdat[0] + '/' + Sdat[2];
        return today
    }

    function getProdPlanList() {
        var WOid = $("#wono").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("getWODetials", "MaterialIssue")',
            data: '{"WOID":' + WOid+'}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result != null && result != "") {
                    debugger;
                    result = JSON.parse(result);

                    $.each(result, function (i, item) {
                        $("#TargetQty").val(item.Target_Qty);
                        $("#planStartDate").val(setdate(item.StartDateString.split(" ")[0]));
                        $("#planTargetDate").val(setdate(item.TargetDateString.split(" ")[0]));
                        GetProductionDetails();

                    });
                }

            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function GetProductionDetails() {

        var ad1 = $("#planStartDate").val();
        var ad2 = $("#planTargetDate").val();
        var date1 = new Date(ad1);
        var date2 = new Date(ad2);
        var timeDiff = Math.abs(date2.getTime() - date1.getTime());
        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
        $("#Ptotaldays").val(diffDays);
        var tarQty = $("#TargetQty").val();
        $("#PTotalQty").val(tarQty);
        var PPProdPlan = tarQty / diffDays;
        $("#PPDProd").val(Math.round(PPProdPlan));
    }
</script>
