﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<link href="~/Content/JqueryUi.css" rel="stylesheet" />
<link href="~/Content/select2.min.css" rel="stylesheet" />
<link href="~/Content/Custom.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "Challan", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    <div class="box box-default">
        <div class="titlerow bg-light-blue">
            <div class="with-border panelHeader">
                <header class="box-title">4/5 Challan Details</header>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Challan No<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" height="20" class="form-control" name="challanno" value="CHN-2018-07-05-0001" readonly/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Challan Date</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="challanDate" name="challanDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">                   
                    <div class="col-md-2">
                        <label>Supplier<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" height="20" class="form-control" name="Supplier" id="Supplier" readonly/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Supplier Address<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control select2" id="SupplierAddress" name="SupplierAddress"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>PAN No<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" height="20" class="form-control" name="PANNo" id="PANNo" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>GSTIN<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" height="20" class="form-control" name="GSTIN" id="GSTIN" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Place of Supply<i class="text-red">*</i></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="radio" name="PlaceofSupply" id="rbnWarehouse" value="Warehouse" checked/>Warehouse
                            <input type="radio" name="PlaceofSupply" id="rbnOther" value="Other" />Other
                        </div>
                    </div>
                    <div id="rowOther">
                        <div class="col-md-2">
                            <label>Other Address<i class="text-red">*</i></label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <textarea class="form-control" id="otherAddress" name="otherAddress"></textarea>
                            </div>
                        </div>
                    </div>
                  <div id="rowWarehouse">
                      <div class="col-md-2">
                          <label>Warehouse<i class="text-red">*</i></label>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <input type="text" height="20" class="form-control" name="Warehouse" id="Warehouse" readonly/>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Consigner</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" height="20" class="form-control" name="Consigner" id="Consigner" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Consigner Address</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <textarea class="form-control" id="ConsignerAddress" name="ConsignerAddress"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>PAN No</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" height="20" class="form-control" name="CrPANNo" id="CrPANNo" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>GSTIN</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" height="20" class="form-control" name="CrGSTIN" id="CrGSTIN" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>Consignee</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" height="20" class="form-control" name="Consignee" id="Consignee" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Consignee Address</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <textarea class="form-control" id="ConsigneeAddress" name="ConsigneeAddress"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label>PAN No</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" height="20" class="form-control" name="CePANNo" id="CePANNo" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>GSTIN</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" height="20" class="form-control" name="CeGSTIN" id="CeGSTIN" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="titlerow bg-light-blue">
            <div class="with-border panelHeader">
                <header class="box-title">Item Details</header>
            </div>
        </div>
        <div class="box-footer">
            <div class="table-responsive">
                <table class="table" id="maintable2">
                    <thead>
                        <tr class="titlerow bg-blue">
                            <th>Item</th>         
                            <th>Unit</th>                
                            <th>Challan Qty</th>                        
                        </tr>
                    </thead>
                    <tbody class="maintable2body">
                        <tr>
                            <td>Cotton Fabric</td>
                            <td>MTR</td>
                            <td>120.00</td>
                        </tr>
                        <tr>
                            <td>Buttons</td>
                            <td>Dozen</td>
                            <td>100.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="col-md-6 pull-right">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Total Items:</th>
                            <td>
                                <input type="text" class="form-control pull-right" id="totalitems" value="2" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <th>Total Qty:</th>
                            <td>
                                <input type="text" class="form-control pull-right" id="totalqty" value="220.00" readonly/>
                            </td>
                        </tr>                   
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Challan")'">Cancel</button>
        <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="saveGRNInward">Save</button> 
        <button type="button" class="btn btn btn-info pull-right" id="btnPopup" style="margin-right:5px;" onclick="location.href='@Url.Action("PrintChallan", "Challan")'">Print Preview</button>     
    </div> 

}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script>
    $(document).ready(function () {
        $("#challanDate").datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate: 0
        });
     
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + yyyy;
        document.getElementById("challanDate").value = today;
    });

    $('.select2').select2();
    $('.select2').width("100%");

    $("#rowOther").hide();
    $("#rbnOther").click(function () {
        $("#rowWarehouse").hide();
        $("#rowOther").show();
    });
       
    $("#rbnWarehouse").click(function () {
        $("#rowOther").hide();
        $("#rowWarehouse").show();
    });
</script>

