﻿@model Garments_ERP.Entity.MasterEntities.M_SchemeMaster_Entity
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    var branch_Id = Model.Branch_Id;
    var user_id = Model.Created_By;
    var scheme_id = Model.Scheme_ID;
    var company_id = Model.Company_Id;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />

<style type="text/css">

    ul {
        margin: 0;
    }
</style>



<!-- Select2 -->
@*@using (Html.BeginForm("Create", "Scheme", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
    {*@
<div class="titheader">
    <div class="block-header">
        <div class="col-sm-10">
            <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
            <div class="HMline"><a href="@Url.Action("Index", "Scheme")">Scheme Master</a>  >  </div>
            <div class="HMsubline">Create</div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Scheme")'">Cancel</button>

            <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="btnSave">Save</button>

        </div>

    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <!-- #END# Hover Expand Effect -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <input type="hidden" id="Scheme_ID" class="form-control" name="Scheme_ID" value="@scheme_id" />
                    <input type="hidden" id="Created_By" class="form-control" name="Created_By" value="@user_id" />
                    <input type="hidden" id="Branch_Id" class="form-control" name="Branch_Id" value="@branch_Id" />
                    <input type="hidden" id="Company_Id" class="form-control" name="Company_Id" value="@company_id" />
                    <input type="hidden" id="IsSchemeExist" class="form-control" name="IsSchemeExist" />
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="required">
                                    <label>Segment Type</label>
                                </div>
                                <select id="segmenttypeid" class="form-control select2"></select>
                                @*@Html.DropDownList("segmenttypeid", (IEnumerable<SelectListItem>)null, "Select", new { @class = "form-control select2", })*@
                            </div>
                            <div class="col-md-4">
                                <div class="required">
                                    <label>Select Style</label>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="stylenameid" name="stylenameid" />
                                    </div>
                                </div>
                                <input type="hidden" id="styleid" name="styleid" />
                            </div>
                            <div class="col-md-4">
                                <div class="required">
                                    <label>Select Item</label>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="itemnameid" name="itemnameid" onchange="checkExists();" />

                                    </div>
                                </div>
                                <input type="hidden" id="itemid" name="itemid" />

                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-3">
                                <div class="required">
                                    <label>Scheme Name</label>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control text-box single-line" data-val="true" value="" autocomplete="off" id="Scheme_Name" name="Scheme_Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="required">
                                    <label>Discount Percentage</label>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control text-box single-line" data-val="true" value="" autocomplete="off" id="Discount_Percentage" name="Discount_Percentage" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="required">
                                    <label>Start Date</label>
                                </div>
                                <div class="input-group date" id="">
                                    <div class="form-line">
                                        <input type="text" class="form-control pull-right" id="Start_Date" name="Start_Date" onchange="checkExists();" />
                                    </div>
                                    <span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="required">
                                    <label>End Date</label>
                                </div>
                                <div class="input-group date" id="">
                                    <div class="form-line">
                                        <input type="text" class="form-control pull-right" id="End_Date" name="End_Date" onchange="checkExists();" />
                                    </div>
                                    <span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- /.tab-pane -->
@*}*@

<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="~/Scripts/themesjs/bootstrap-datepicker.js"></script>
<script src="~/Scripts/Scheme.js"></script>
<script>

      $(document).ready(function () {

          $('.select2').select2();
          $('.select2').width("100%");
          $("#Start_Date").datepicker({
            //setDate: currentDate,
            dateFormat: 'd-M-yy'
            // maxDate: 0
        });
          $("#End_Date").datepicker({
            //setDate: currentDate,
            dateFormat: 'd-M-yy'
            // maxDate: 0
        });
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
      var today = mm + '/' + dd + '/' + yyyy;
          today = dMyyyy(today);
        var startrow = 0;
        var startrowvalue = "---Select----"

        $.ajax({
            type: "POST",
            url: '@Url.Action("getSegmenttypelist", "quotation")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (countrys) {
                $("#segmenttypeid").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(countrys, function (i, item) {
                    $("#segmenttypeid").append('<option value="' + item.Id + '">' + item.Segmenttype + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
          load_salesData();

    });


</script>