﻿@model Garments_ERP.Entity.M_StyleMasterEntity
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

<div class="row clearfix">
    <div class="col-md-2">
        <div class="form-group">
            <label>Style No</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.StyleNo, new { @class = "form-control" })
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <div class="required">
                <label>Style Name</label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class=" form-line">
                @Html.TextBoxFor(model => model.Stylename, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.Stylename, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-2">
        <div class="form-group">
            <label>Style Short Name</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(model => model.StyleShortname, new { @class = "form-control" })
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Style Description</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextAreaFor(model => model.Styledescription, new { @class = "form-control" })
            </div>
            
        </div>
    </div>

</div>


