﻿@model Garments_ERP.Entity.M_StyleMasterEntity
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />

@using (Html.BeginForm("Edit", "Style", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)

    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "Style")">Style Detail</a>  >  </div>
                <div class="HMsubline">Edit</div>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success pull-left" style="margin-right:5px;" id="savestyle">Update</button>
                <button type="button" class="btn btn-danger pull-left" style="margin-right:5px;" id="btncancel" onclick="location.href='@Url.Action("Index", "Style")'">Cancel</button>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Style Info
                                    </a>
                                </li>

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    @Html.Partial("CreateStyle")
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="@Url.Content(" ~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="~/Scripts/SaveCustomer.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

            $('#savestyle').on("click", function () {
                var isvalid = true;
                var stylename = $('#Stylename').val();

                if (stylename == "") {
                    swal("Enter Style Name");
                    isvalid = false;
                }

                return isvalid;
            });

            $('#btncancel').on("click", function () {
                document.location = '@Url.Action("Index","Style")';
            });
</script>
