﻿@model IEnumerable<Garments_ERP.Entity.T_ISSUE_RETURNSEntity>
@{
    ViewBag.Title = "Index";
}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="returmtab">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Return No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Return Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Type
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Buy./Sell./Opt. Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    PO No.
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    PO Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    WO No.
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    WO Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Inv. No.
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Inv. Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    MI No.
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    MI Transfer no.
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    MIT. Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Remark
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>
                        @data.RETURN_NO;
                    </td>
                    <td>
                        @{
                            string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.RETURNS_DATE));
                            tndt = tndt.Replace('-', '/');
                        }
                        @tndt
                    </td>
                    <td>
                        @data.STYPE
                    </td>
                    <td>
                        @if (data.STYPE == "customer" || data.STYPE == "supplier")
                        {
                            @data.MLedgerEntity.Ledger_Name
                        }
                        else
                        {
                            @data.empentity.Name
                        }
                    </td>
                    <td>
                        @data.POno
                    </td>
                    <td>
                        @{
                            string tndt1 = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.PO_DATE));
                            tndt1 = tndt1.Replace('-', '/');
                        }
                        @tndt1
                    </td>
                    <td>
                        @data.wono
                    </td>
                    <td>
                        @if (data.WO_ID > 0)
                        {

                            string tndt2 = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.WO_DATE));
                            tndt2 = tndt2.Replace('-', '/');
                            @tndt2
                        }
                    </td>
                    <td>
                        @data.invno
                    </td>
                    <td>
                        @if (data.INVOICE_ID > 0)
                        {

                            string tndt3 = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.INV_DATE));
                            tndt3 = tndt3.Replace('-', '/');
                            @tndt3
                        }
                    </td>
                    <td>
                        @data.MI_NO
                    </td>
                    <td>
                        @data.Tno
                    </td>
                    <td>
                        @if (data.TRANSFER_ID > 0)
                        {

                            string tndt4 = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.TRANSFER_DATE));
                            tndt4 = tndt4.Replace('-', '/');
                            @tndt4
                        }
                    </td>
                    <td>
                        @data.RETURNS_DESC
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "ReturnOrder", new { id = data.ID})" class="btn btn-info" style="padding:5px;font-size:12px;" title="Info"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#returmtab').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>