﻿@model Garments_ERP.Entity.T_ISSUE_RETURNSEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


<style>

    ul {
        margin: 0;
    }
</style>

@using (Html.BeginForm("Create", "ReturnOrder", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{

    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-8">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Inventory</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "ReturnOrder")">Return Stock Details</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "ReturnOrder")'">Cancel</button>
                <button type="submit" class="btn btn btn-success pull-right" style="margin-right:5px;" id="saveReturnStock">Save</button>
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Return Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i>Return Material Details
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Return No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="returnno" name="returnno" class="form-control disabled" value="@ViewBag.rono" readonly />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Return Date</label>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right " id="reuturndate" name="reuturndate">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Type</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="typeid" name="typeid" onchange="ClearData()">
                                                    <option value="select">Select</option>
                                                    <option value="customer">Customer</option>
                                                    <option value="supplier">Supplier</option>
                                                    <option value="operator">Operator</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Buyer/Seller/Operator</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="BSOnameId" name="BSOnameId" onchange="GetList()" />
                                                </div>

                                                <input type="hidden" id="BSOid" name="BSOid" />

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>PO NO</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="POid" name="POid" onchange="GetPoData()"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>PO Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" readonly id="podate" name="podate">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>WO NO</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="WOid" name="WOid" onchange="getWOData()"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>WO Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" readonly id="wodate" name="wodate">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Invoice No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="invoicenoid" name="invoicenoid" onchange="GetInvoiceData()"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Invoice Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" readonly id="invoicedate" name="invoicedate">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Material Issue No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="MInoid" name="MInoid" onchange="GetransferData()"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Material Transfer No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control select2" id="MTnoid" name="MTnoid" onchange="GetTransferItem()"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Transfer Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right" readonly id="transferdate" name="transferdate">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Remark</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea id="remark" class="form-control" name="remark"></textarea>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <input type="hidden" id="returnItemstr" name="returnItemstr" />
                                   <div class="row clearfix">
                                       <div class="col-sm-12">
                                           <div class="table-responsive">
                                               <table class="table table-condensed" id="returnTable">
                                                   <thead class="bg-info">
                                                       <tr class="titlerow">
                                                           <th>Item Name</th>
                                                           <th>HSN Code</th>
                                                           <th>Unit</th>
                                                           <th>PO/Transfer Qty</th>
                                                           <th>Delivery/Inv. Qty</th>
                                                           <th>Batch/Lot No</th>
                                                           <th>Return Qty</th>
                                                           <th>Balance Qty</th>
                                                       </tr>
                                                   </thead>
                                                   <tbody>

                                                   </tbody>
                                               </table>
                                           </div>
                                       </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

}


<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<script>
    $(document).ready(function () {
        $('.select2').select2();
        $('.select2').width("100%");

        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");
        $("#reuturndate").datepicker({
            format: 'mm/dd/yy'
        });

        var today = new Date();

        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        // var today2 = today.setMonth(mm + 1);
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        today = mm + '/' + dd + '/' + yyyy;

        $("#reuturndate").val(today);
    });
    
</script>
<script src="~/Scripts/ReturnStock.js"></script>