﻿.panelHeader {
    font-weight: bold;
    text-align: center;
    /*width: 35px;*/
    height: 20px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 2px !important;
    background-color: #70add9;
    color: #ffffff;
    font-size: 14px;
    font-family: Calibri;
    text-align: left;
}

.noborder {
    border: none;
}

.input[type="file"] {
    display: block;
}

.imgDiv {
    display: block;
    float: left;
}

.imgClose {
    position: relative;
    display: none;
    left: 22px;
    bottom: 24px;
}

.imageThumb {
    max-height: 50px;
    border: 2px solid;
    margin: 0px 10px 0 0;
    padding: 1px;
    cursor:pointer;
}


#imgpreview > .SIP {
    display: block;
    float: left;
    position: absolute;
    height: 85px;
    overflow: hidden;
    width: 130px;
    background-color: #fff;
}

    #imgpreview > .SIP:hover:before {
        content: "View All";
        max-height: 105%;
        border: 2px solid;
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        bottom: -3px;
        font-size: 18px;
        background-color: #0003;
        color: #f6f6f6;
        z-index: 100;
        text-align: center;
        line-height: 4.5em;
        cursor: pointer;
    }


    #imgpreview > .SIP > .SIP_thumb {
        max-height: 100%;
        border: 2px solid;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


.boxhead {
    color: #fff;
    padding-top: 7px;
}

.boxheader_sub {
    padding: 5px;
    color: #fff;
}

.sizeIntriesInp {
    margin: 0;
    width: 130px;
    padding: 3px 2px;
}


.searchlist {
    border: 1px solid #f8e0e0;
    padding: 0.2em 0.3em;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 3;
    position: absolute;
    background: #fff;
    width: 100%;
    text-align: left;
}

    .searchlist ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        .searchlist ul li {
            padding: 0.4em 0.5em;
            cursor: pointer;
        }

            .searchlist ul li:hover {
                padding: 0.4em 0.5em;
                cursor: pointer;
                background-color: #4e84ef;
                color: #fff;
            }

.required:after {
    content: "*";
    font-weight: bold;
    color: red;
}

#imgpreview1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

    #imgpreview1 ul li {
        float: left;
        margin-bottom: 1em;
    }

        #imgpreview1 ul li img {
            float: left;
            width: 50px;
            height: 50px;
        }


.textcolor {
    color: white;
}

.input[type="file"] {
    display: block;
}

.imgDiv {
    display: block;
    float: left;
}

.imgClose {
    position: relative;
    display: none;
    left: 22px;
    bottom: 24px;
}

.SRmain {
    padding: 6px 0px 0px 13px;
    position: relative;
    height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
}

    .SRmain .SRmainHead {
        background: #f44336;
        color: #fff;
        padding: 6px 0px 0px 13px;
        position: relative;
    }

    .SRmain .SRmainbody {
        background: #e8e7e7;
        color: #211f1f;
        padding: 6px 0px 0px 13px;
        position: relative;
        height: 151px;
        overflow-y: auto;
        overflow-x: hidden;
    }

        .SRmain .SRmainbody ul li {
            list-style: none;
            padding: 6px 0 0px 0;
        }

        .FW-N
        {
            font-weight:normal !important;
        }



