﻿
* {
    margin: 0;
    padding: 0;
}

/* ============================== This is for Overall Styling of the Image Gallery. */
.gallery-container {
    width: 640px;
    border: 2px solid rgb(197, 200, 202);
    -webkit-border-radius: 5px 5px 10px 10px;
    -moz-border-radius: 5px 5px 10px 10px;
    border-radius: 5px 5px 10px 10px;
    margin: 10px auto;
    padding: 0px;
    display: table;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #d3d3dc;
}

    .gallery-container h2 {
        font-family: arial;
        color: #fff;
        background: rgb(8, 9, 55);
        text-shadow: 0 0 15px #12C024;
    }

/* Styling the Pagination Thumbnail Images. */
.pagi-container {
    width: 640px;
    text-align: center;
    border: 2px solid rgb(161, 160, 162);
    /*border-radius*/
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    padding-top: 350px; /* This creates the space for viewing the Slider Images. */
    position: relative;
    overflow: hidden;
}

    .pagi-container input[name='input_thumb'] {
        display: none;
    }

    .pagi-container > label {
        border: 1px solid #aaa;
        padding: 5px; /* This is important to Increase the Click-able Region of the anchor Elements */
        background: radial-gradient(rgba(255, 255, 255, 0.8) 50%, rgba(180,180,180,0.8));
        display: inline-flex;
        transition: all 0.5s;
        margin-bottom: 5px;
        box-shadow: 0 0 2px #404741;
    }

        .pagi-container > label:hover {
            background: radial-gradient(rgba(220, 220, 220, 0.3), rgba(180,180,180,0.8) 95%);
        }

    .pagi-container label img {
        opacity: 0.7;
    }

        .pagi-container label img:hover {
            opacity: 1.0;
        }

    /* This will add the Click Effect */
    .pagi-container input[name='input_thumb']:checked + label {
        border: 1px solid #111;
        opacity: 1;
    }

        .pagi-container input[name='input_thumb']:checked + label > img {
            opacity: 1;
        }

        .pagi-container input[name='input_thumb']:checked + label + img {
            opacity: 1;
            width: 640px;
            height: 345px;
            position: absolute;
            left: 0px;
            top: 0px;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
            transform: scale(1);
        }

/* Adding #background region to hide the images coming from bottom direction, as it'll overlap with the Pagination Thumbnail images, while transitioning from Down direction. */
#background {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 29%;
    z-index: 0;
}

/* Different Styling for each Patterns. */
.DefaultBigStyle1 {
    position: absolute;
    opacity: 0;
    width: 640px;
    height: 345px;
    left: 0px;
    top: 0px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    transform: scale(1.05);
    padding: 20px;
    border-bottom: 4px solid #baec7e;
}

.DefaultBigStyle2 {
    position: absolute;
    width: 640px;
    height: 345px;
    left: -650px;
    top: 0px;
    opacity: 0;
}

.DefaultBigStyle3 {
    position: absolute;
    width: 640px;
    height: 345px;
    left: 650px;
    top: 0px;
    opacity: 0;
}

.DefaultBigStyle4 {
    position: absolute;
    width: 640px;
    height: 345px;
    left: 0px;
    top: -350px;
    opacity: 0;
}

.DefaultBigStyle5 {
    position: absolute;
    width: 640px;
    height: 345px;
    left: 0px;
    top: 350px;
    opacity: 0;
    z-index: -2; /* IMPORTANT: To give the images coming from down direction a depth, so that it'll not overlap with the Pagination Thumbnail images. */
}

.DefaultBigStyle6 {
    position: absolute;
    width: 640px;
    height: 345px;
    left: 650px;
    top: -350px;
    opacity: 0;
}

.DefaultBigStyle7 {
    position: absolute;
    width: 640px;
    height: 345px;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    transform: scale(0.5);
}


.imgpre > [type="radio"] + label:before, .imgpre > [type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: -1;
    transition: .28s ease;
}

.imgpre > [type="radio"]:checked + label:after, .imgpre > [type="radio"].with-gap:checked + label:after {
    background-color: #26a69a;
    z-index: -1;
}
.modal-dialog {
    width: auto;
    margin: 30px 10em;
}

.entity-modal {
    width: 1000px;
}
@media (min-width: 768px)  {
    .entity-modal {
        width: 830px;
    }
    .modal-dialog {
        width: auto;
        margin: 30px 10em;
    }
}

@media (max-width: 767px) {
    .modal-dialog {
        width: auto;
        margin: 30px 10em;
    }
    .entity-modal {
        width:555px;
    }

    /* ============================== This is for Overall Styling of the Image Gallery. */
    .gallery-container {
        width: 457px;
        border: 2px solid rgb(197, 200, 202);
        -webkit-border-radius: 5px 5px 10px 10px;
        -moz-border-radius: 5px 5px 10px 10px;
        border-radius: 5px 5px 10px 10px;
        margin: 10px auto;
        padding: 0px;
        display: table;
        position: relative;
        text-align: center;
        box-shadow: 0 0 20px #d3d3dc;
    }

    /* Styling the Pagination Thumbnail Images. */
    .pagi-container {
        width: 457px;
        text-align: center;
        border: 2px solid rgb(161, 160, 162);
        /*border-radius*/
        -webkit-border-radius: 0px 0px 8px 8px;
        -moz-border-radius: 0px 0px 8px 8px;
        border-radius: 0px 0px 8px 8px;
        padding-top: 350px; /* This creates the space for viewing the Slider Images. */
        position: relative;
        overflow: hidden;
    }

        .pagi-container input[name='input_thumb']:checked + label + img {
            opacity: 1;
            width: 457px;
            height: 345px;
            position: absolute;
            left: 0px;
            top: 0px;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
            transform: scale(1);
        }



    /* Different Styling for each Patterns. */
    .DefaultBigStyle1 {
        position: absolute;
        opacity: 0;
        width: 457px;
        height: 345px;
        left: 0px;
        top: 0px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        transform: scale(1.05);
        padding: 10px;
        border-bottom: 4px solid #baec7e;
    }

}


@media (max-width: 400px)  {
    .modal-dialog {
        width: auto;
        margin: 30px 4em;
    }
    .entity-modal {
        width: 300px;
    }

    

    /* ============================== This is for Overall Styling of the Image Gallery. */
    .gallery-container {
        width:160px;
        border: 2px solid rgb(197, 200, 202);
        -webkit-border-radius: 5px 5px 10px 10px;
        -moz-border-radius: 5px 5px 10px 10px;
        border-radius: 5px 5px 10px 10px;
        margin: 10px auto;
        padding: 0px;
        display: table;
        position: relative;
        text-align: center;
        box-shadow: 0 0 20px #d3d3dc;
    }

    /* Styling the Pagination Thumbnail Images. */
    .pagi-container {
        width:160px;
        text-align: center;
        border: 2px solid rgb(161, 160, 162);
        /*border-radius*/
        -webkit-border-radius: 0px 0px 8px 8px;
        -moz-border-radius: 0px 0px 8px 8px;
        border-radius: 0px 0px 8px 8px;
        padding-top:202px; /* This creates the space for viewing the Slider Images. */
        position: relative;
        overflow: hidden;
    }

        .pagi-container input[name='input_thumb']:checked + label + img {
            opacity: 1;
            width: 160px;
            height:115px;
            position: absolute;
            left: 0px;
            top: 0px;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
            transform: scale(1);
        }

   

    /* Different Styling for each Patterns. */
    .DefaultBigStyle1 {
        position: absolute;
        opacity: 0;
        width:160px;
        height:115px;
        left: 0px;
        top: 0px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        transform: scale(1.05);
        padding:10px;
        border-bottom: 4px solid #baec7e;
    }
}

@media (max-width:576px) {
    .modal-dialog {
        width: auto;
        margin: 30px 6em;
    }

    .entity-modal {
        width:350px;
    }
    
    /* ============================== This is for Overall Styling of the Image Gallery. */
    .gallery-container {
        width:220px;
        border: 2px solid rgb(197, 200, 202);
        -webkit-border-radius: 5px 5px 10px 10px;
        -moz-border-radius: 5px 5px 10px 10px;
        border-radius: 5px 5px 10px 10px;
        margin: 10px auto;
        padding: 0px;
        display: table;
        position: relative;
        text-align: center;
        box-shadow: 0 0 20px #d3d3dc;
    }

    /* Styling the Pagination Thumbnail Images. */
    .pagi-container {
        width:220px;
        text-align: center;
        border: 2px solid rgb(161, 160, 162);
        /*border-radius*/
        -webkit-border-radius: 0px 0px 8px 8px;
        -moz-border-radius: 0px 0px 8px 8px;
        border-radius: 0px 0px 8px 8px;
        padding-top:195px; /* This creates the space for viewing the Slider Images. */
        position: relative;
        overflow: hidden;
    }

        .pagi-container input[name='input_thumb']:checked + label + img {
            opacity: 1;
            width:220px;
            height: 185px;
            position: absolute;
            left: 0px;
            top: 0px;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
            transform: scale(1);
        }


    /* Different Styling for each Patterns. */
    .DefaultBigStyle1 {
        position: absolute;
        opacity: 0;
        width:220px;
        height: 185px;
        left: 0px;
        top: 0px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        transform: scale(1.05);
        padding:10px;
        border-bottom: 4px solid #baec7e;
    }
}

