﻿@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#tabs {
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#tabs1 {
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.sectab {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #abc;
}


#tabs ul#tab_ulid li {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #abc;
    cursor: pointer;
    border: 1px solid transparent;
}

#tabs1 ul#tab_ulid1 li {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #abc;
    cursor: pointer;
    border: 1px solid transparent;
}

#tabs ul#tab_ulid li:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

#tabs1 ul#tab_ulid1 li:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

#tabs ul#tab_ulid li[aria-controls*='1']:before {
    content: '\f1cb';
}

#tabs1 ul#tab_ulid1 li[aria-controls*='1']:before {
    content: '\f1cb';
}

#tabs ul#tab_ulid li[aria-controls*='2']:before {
    content: '\f17d';
}

#tabs1 ul#tab_ulid1 li[aria-controls*='2']:before {
    content: '\f17d';
}

#tabs ul#tab_ulid li[aria-controls*='3']:before {
    content: '\f16c';
}

#tabs1 ul#tab_ulid1 li[aria-controls*='3']:before {
    content: '\f16c';
}



#tabs ul#tab_ulid li a:hover {
    color: #789;
    cursor: pointer;
}

#tabs1 ul#tab_ulid1 li a:hover {
    color: #789;
    cursor: pointer;
}

#tabs ul#tab_ulid li.active {
    color: #0af;
    border: 1px solid #abc;
    border-top: 2px solid #0af;
    border-bottom: 1px solid #fff;
}

#tabs1 ul#tab_ulid1 li.active {
    color: #0af;
    border: 1px solid #abc;
    border-top: 2px solid #0af;
    border-bottom: 1px solid #fff;
}

@media screen and (max-width: 800px) {
    #tabs ul#tab_ulid li {
        font-size: 0;
    }

    #tabs1 ul#tab_ulid1 li {
        font-size: 0;
    }

    #tabs ul#tab_ulid li:before {
        margin: 0;
        font-size: 18px;
    }

    #tabs1 ul#tab_ulid1 li:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    #tabs > ul#tab_ulid li {
        padding: 15px;
    }

    #tabs1 > ul#tab_ulid1 li {
        padding: 15px;
    }
}
