﻿@model Garments_ERP.Entity.M_DepartmentMasterEntity
@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<style type="text/css">
    ul {
        margin: 0;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


@using (Html.BeginForm("Create", "Department", FormMethod.Post, new { @class = "form-vertical form-simple", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "Department")">Department Detail</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Department")'">Cancel</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="savedept">Save</button>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> New Department
                                    </a>
                                </li>

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">



                                    <div class="row clearfix">
                                        @Html.Partial("CreateDepartment")
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    


    

}
<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script src="~/Scripts/SaveCustomer.js"></script>       
<script>

    $('#savedept').on("click", function () {
        var isvalid = true;
        var deptname = $('#Departmentname').val();
        var deptType = $("#deptType").val();

        if (deptname == "") {
            swal({
                title: "Error",
                text: "Enter Department Name",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            });

            isvalid = false;
        }
        else if (parseInt(deptType) > 1) {
            var ParentDid = $("#parentid").val();
            if (ParentDid == "" || ParentDid=="Select") {
                swal({
                    title: "Error",
                    text: "Please Select Parent Department Name",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ok",
                    closeOnConfirm: false,
                    closeOnCancel: false

                });

                isvalid = false;
            }
        }

        return isvalid;
    });

</script>