﻿@model IEnumerable<Garments_ERP.Entity.MFG_Store_WorkOrderEntity>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                    Store WO No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 120px;">
                    Store WO Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 120px;">
                    Store Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 150px;">
                    Warehouse Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 60px;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr role="row" class="odd">
                    <td class="sorting_1">@data.Store_WO_No</td>
                    <td>
                        @{
                            string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.Store_WO_Date));
                            tndt = tndt.Replace('-', '/');
                        }
                        @tndt
                    </td>
                    <td>@data.StoreName</td>
                    <td>@data.StoreWarehouse</td>
                    <td>
                        <button type="button" id="ItemData" class="btn btn-info btn-sm inner" onclick="GetSWOProduct(@data.Store_WO_Id)" style="padding:2px 7px 5px 7px;border-radius: 4px;">SWO. Product</button>
                        @*<a href="@Url.Action("Edit", "StoreWorkOrder", new { id = data.Store_WO_Id})" class="btn  btn-success btn-sm inner" data-original-title="Edit Enquiry" style="padding:2px 7px 5px 7px;border-radius: 4px;">
                            <i class="fa fa-fw fa-edit"></i>
                        </a>*@
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>

<!--Image View Modal-->
<div class="modal fade" id="SWOProductmodel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Store Work Order Product Details</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-striped table-bordered" id="SWOProductTab">
                                <thead>
                                    <tr style="background-color: #fccaca;">
                                        <th>Brand Name</th>
                                        <th>Item Category</th>
                                        <th>Item Name</th>
                                        <th>Item Code</th>
                                        <th>Unit</th>
                                        <th>Production Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">
                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>