﻿<style>
    .pluxad {
        float: right;
        padding: 8px;
        background: green;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .deleteitemArr {
        float: right;
        padding: 8px;
        background: red;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }
</style>

<div class="row clearfix">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered" id="StoreItemTab">
                <thead>
                    <tr class="bg-info titlerow">
                        <th>Brand Name</th>
                        <th>Item Category</th>
                        <th>Item Name</th>
                        <th>Item Code</th>
                        <th>Unit</th>
                        <th>Production Quantity</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th>
                            <div style="width:195px;">
                                <input type="text" class="form-control" value="" id="BrandName" name="BrandName" />
                            </div>
                            
                        </th>
                        <th>
                            <div style="width:195px;">
                                <input type="text" class="form-control" value="" id="SWO_itemcatNameid" name="SWO_itemcatNameid" />
                            </div>
                        </th>
                        <th>
                            <div style="width:195px;">
                                <input type="text" class="form-control" value="" id="StoreItemid" name="StoreItemid" />
                            </div>
                        </th>
                        <th>
                            <div style="width:195px;">
                                <input type="text" class="form-control" value="" id="ItemCode" name="ItemCode" readonly />
                            </div>
                        </th>
                        <th>
                            <div style="width:195px;">
                                <input type="text" class="form-control" value="" id="ItemUnit" name="ItemUnit" readonly />
                            </div>
                        </th>
                        <th>
                            <div style="width:195px;">
                                <input type="text" class="form-control" value="" id="ItemQty" name="ItemQty" />
                            </div>
                        </th>
                        <th>
                            <i class="fa fa-plus pluxad" onclick="CheckBOM()"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="ItemBOMmodel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">BOM Details</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-striped table-bordered" id="BOMTab">
                                <thead>
                                    <tr style="background-color: #fccaca;">
                                        <th>Item Sub-Category</th>
                                        <th>Raw Item Names</th>
                                        <th>Supplier</th>
                                        <th>Per Qty</th>
                                        <th>Total Qty</th>
                                        <th>Avail In Stock</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">
                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>
