﻿<div class="row clearfix">
    <div class="col-md-2">
        <label>Store WO No</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="hidden" id="Store_WO_Id" name="Store_WO_Id" value="0" />
                <input type="text" class="form-control disabled" value="@ViewBag.SWOno" id="StoreWO_No" name="StoreWO_No" readonly>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <label>Store WO Date</label>
    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container">
            <div class="form-line">
                <input type="text" class="form-control pull-right" id="SWO_Date" name="SWO_Date">
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <label>Store Name</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="StoreNameId" name="StoreNameId" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" />
            </div>
            <span id="customermsg" class="help-block" style="color:red;"></span>
        </div>
    </div>

    <div class="col-md-2">
        <label>Store Warehouse</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="StoreWarehouseId" name="StoreWarehouseId" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" />
            </div>
            <span id="customermsg" class="help-block" style="color:red;"></span>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <label>Customer Name</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" id="customerid" name="customerid" class="form-control text-box single-line ui-autocomplete-input valid" data-ID="0" data-val="true" value="" autocomplete="off" />
            </div>
            <span id="customermsg" class="help-block" style="color:red;"></span>
        </div>
    </div>

    <div class="col-md-2">
        <label>PO Ref No</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <select class="form-control select2" style="width: 100%;" id="porefno" name="porefno"></select>
        </div>
    </div>
</div>

<div class="row clearfix approval" style="display:none;">
    <div class="col-md-2">
        <div>
            <label>Approval Status</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <select class="form-control select2" id="Approvalstatus" name="Approvalstatus">
                <option>Select</option>
                <option selected="selected" value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div><label>Approval Comment</label></div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <textarea class="form-control" id="Comment" name="Comment"></textarea>
            </div>
        </div>
    </div>
</div>
