﻿
@{
    ViewBag.Title = "Store Work Order";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";

    var cururl = Request.Url.Authority;
}





<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<link href="~/Content/photoGalleryStyle.css" rel="stylesheet" />

<style type="text/css">

    ul {
        margin: 0;
    }
</style>

    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-8">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Production Planning</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "StoreWorkOrder")">Store Work Order Details</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "StoreWorkOrder")'">Cancel</button>
                <button type="button" class="btn btn-success pull-right" style="margin-right:5px;" id="saveswo">Save</button>

            </div>

        </div>
    </div>

    <section class="content" style="margin-top:8em;">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i>Store Work Order Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Product Details
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    @Html.Partial("_SWO_Info")
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    @Html.Partial("_SWO_ItemInfo")
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Image View Modal-->
    <div class="modal fade" id="UploadPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:#fff;">×</span>
                    </button>
                    <h4 class="modal-title">Preview Image</h4>
                </div>
                <form id="prodform">
                    <div class="modal-body" style="padding-bottom:0;">
                        <div class="box box-default">

                            <div class="box-body with-border">
                                <div class="row clearfix" id="uploadid">
                                    <div class="col-sm-4 col-xs-6">
                                        <span>Select Image</span>
                                    </div>
                                    <div class="col-sm-6  col-xs-6" style="margin:0;">
                                        <input type="hidden" id="noid" name="noid" value="" />
                                        <input type="hidden" id="nameid" name="nameid" value="" />
                                        <input type="hidden" id="typeid" name="typeid" value="" />
                                        <input type='file' id='ItemAttrimages' name='ItemAttrimages' class='form-control' multiple />
                                    </div>

                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="gallery-container">
                                            <div class="pagi-container imgpre" id="img_preview">

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="padding-top:0;">

                        <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                        <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="Saveimage" onclick="Savehide()">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script src="~/Scripts/PageScript/StoreWorkOrder.js"></script>
