﻿@model Garments_ERP.Entity.M_companyEntity

@{
                /**/

                ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />

<style type="text/css">
    ul {
        margin: 0;
    }
</style>
@using (Html.BeginForm("Create", "Company", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "Company")">Company Details</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Company")'">Cancel</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="SaveCompany">Save</button>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Company Info
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Company Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="comName" name="comName" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Legal Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="LegalName" name="LegalName" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>User Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="UserName" name="UserName" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Mobile No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" height="20" class="form-control" maxlength="10" id="mobile" name="mobile" onkeypress="return isNumberKey(event)" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            @*<div>
                                                <div class="required">*@
                                                    <label>Phone No</label>
                                                    @*</div>
                                                </div>*@
                                            </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" height="20" class="form-control" maxlength="15" id="phone" name="phone" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Fax No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" height="20" class="form-control" maxlength="15" id="facno" name="facno" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Address</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="address" name="address"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Country</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.DropDownList("countryid", (IEnumerable<SelectListItem>)ViewBag.countrylist, "---Select Country---", new { @class = "form-control select2", @onchange = "getState()" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>State</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.DropDownList("addressstateid", (IEnumerable<SelectListItem>)ViewBag.statelist, "---Select State---", new { @class = "form-control select2", @onchange = "getCity()" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>City</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.DropDownList("addresscityid", (IEnumerable<SelectListItem>)ViewBag.citylist, "---Select City---", new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">

                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>PinCode</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="PinCode" name="PinCode" class="form-control" onkeypress="return isNumberKey(event)" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-2">
                                            <label>Email ID</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" height="20" class="form-control" id="cemail" name="cemail" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Pan No </label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" height="20" class="form-control" maxlength="10" id="PanNo" name="PanNo" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>GST No </label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" height="20" class="form-control" maxlength="20" id="GSTNo" name="GSTNo" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Website</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="Website" name="Website" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Company Type</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <select class="form-control select2" onchange="SetParent()" id="BranchType" name="BranchType">
                                                        <option value="0">Select Company Type</option>
                                                        <option value="1">Main Branch</option>
                                                        <option value="2">Sub Branch</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div>
                                                <label>Head Office Add.</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="HeadAdd" name="HeadAdd"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div>
                                                <label>Remark</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="Remark" name="Remark"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix" id="parentSHid" style="display:none">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Main Branch</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.DropDownList("mainBranchid", (IEnumerable<SelectListItem>)ViewBag.CompanyList, "---Select Company---", new { @class = "form-control select2" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<script>


    $(document).ready(function () {
        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");
        $('.select2').select2();
        $('.select2').width("100%");
       

    });
    
    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode == 46 && evt.srcElement.value.split('.').length > 1) {
            return false;
        }
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    var ErrorMessage = "";

    function setswal(msg) {
        if (ErrorMessage.length > 0) {
            ErrorMessage += "\n" + msg;
        } else { ErrorMessage = msg; }
    }

    function SetParent() {
        var id = $("#BranchType").val();
        if (parseInt(id) > 1) {
            $("#parentSHid").show();
        }
        else {
            $("#parentSHid").hide();
        }
    }


    $('#SaveCompany').on("click", function () {

        ErrorMessage = "";
        var companyName = $('#comName').val();
        var countryid = $('#countryid').val();
        var stateid = $('#addressstateid').val();
        var cityid = $('#addresscityid').val();
        var mobile = $('#mobile').val();
        var address = $('#address').val();
        //var phone = $('#phone').val();
        var companyType = $("BranchType").val();
        var UserName = $("#UserName").val();    

        var isvalid = true;
        if (UserName == "") {
            setswal("Enter User Name.");
            isvalid = false;
        }
        //if (phone == "") {
        //    setswal("Enter Phone No.");
        //    isvalid = false;
        //}
        if (countryid == "0" || countryid == "" || countryid == "---Select Country---") {
            setswal("Select Country");
            isvalid = false;
        }
        if (stateid == "0" || stateid == "" || stateid == "---Select State---") {
            setswal("Select State");
            isvalid = false;
        }
        if (cityid == "" || cityid == "0" || cityid == "---Select City---") {
            setswal("Select City");
            isvalid = false;
        }
        if (mobile == "") {
            setswal("Enter Mobile No");
            isvalid = false;
        }
        if (address == "") {
            setswal("Enter Address");
            isvalid = false;
        }

        if (companyName == "") {
            setswal("Enter Company Name");
            isvalid = false;
        }
        if (parseInt(companyType) > 1) {
            var mainid = $("#mainBranchid").val();
            if (mainid == "" || mainid == "0") {
                setswal("Please Select Main Branch!");
                isvalid = false;
            }
        }

        if (ErrorMessage.length > 0) {
            swal({
                title: 'Error',
                text: ErrorMessage,
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false
            });
            isvalid = false;
        }

        return isvalid;

    });
</script>
