﻿@model Garments_ERP.Entity.M_ProcessCycleEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


@using (Html.BeginForm("Create", "ProcessCycle", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "ProcessCycle")">Process Cycle Detail</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success pull-left" style="margin-right:5px;" id="saveprocesscycle">Save</button>
                <button type="button" class="btn btn-danger pull-left" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "ProcessCycle")'">Cancel</button>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Process Cycle Info
                                    </a>
                                </li>

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Process Cycle</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextAreaFor(model => model.Process_cycle_Name, 3, 5, new { @class = "form-control" })
                                                </div>

                                                @Html.ValidationMessageFor(model => model.Process_cycle_Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Process Cycle Desc</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextAreaFor(model => model.Processcysledesc, 3, 5, new { @class = "form-control" })
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="box box-default">
                                                <div class="box-header with-border" style="background-color: #2196f3;padding: 1px 12px;color: #fff;margin-bottom:10px;">
                                                    <h5 class="box-title">Process Details</h5>
                                                    <div class="box-tools pull-right">


                                                    </div>
                                                </div>

                                                <div class="box-body">

                                                    <div class="row clearfix">
                                                        <div class="col-md-2">
                                                            <div class="required">
                                                                <label>Process</label>
                                                            </div>
                                                            @Html.DropDownList("processid", (IEnumerable<SelectListItem>)ViewBag.processlist, "Select", new { @class = "form-control select2", })
                                                            <span id="itemcategorymsg" style="color:red;"></span>


                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="required">
                                                                <label>Process Sequence</label>
                                                            </div>
                                                            <select class="form-control select2" data-placeholder=""
                                                                    id="sequence">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                                <option>9</option>
                                                                <option>10</option>
                                                            </select>
                                                            <span id="itemcategorymsg" style="color:red;"></span>

                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="required">
                                                                <label>Item Category-In</label>
                                                            </div>

                                                            @Html.DropDownList("itemcategoryin", (IEnumerable<SelectListItem>)ViewBag.itemcategorylist_in, "Select", new { @class = "form-control select2", @multiple = "multiple" })
                                                            <span id="itemmsg" class="help-block" style="color:red;"></span>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="required">
                                                                <label>Item Category-Out</label>
                                                            </div>

                                                            @Html.DropDownList("itemcategoryout", (IEnumerable<SelectListItem>)ViewBag.itemcategorylist_out, "Select", new { @class = "form-control select2", })
                                                            <span id="itemmsg" class="help-block" style="color:red;"></span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Comments</label>
                                                            <input type="text" class="form-control" name="comment" id="comment">

                                                        </div>
                                                        <div class="col-md-1 ">
                                                            <button type="button" style="margin-top:20px;" class="btn btn-info addprocess">Add</button>
                                                        </div>

                                                    </div>
                                                </div>

                                                <input type="hidden" name="processlist" id="processlist" />
                                                @*<div class="box-footer">
                                                        <div class="col-md-1 ">
                                                            <button type="button" style="margin-top:15px;" class="btn btn-info addstyle">Add</button>
                                                        </div>
                                                    </div>*@
                                                <div class="row clearfix">
                                                    <div class="col-md-12" style="margin-bottom:30px;">
                                                        <div class="box-body table-responsive no-padding">
                                                            <table class="table table-striped" id="processtable">
                                                                <tbody>
                                                                    <tr class="titlerow">
                                                                        <th>Process</th>
                                                                        <th>Sequence</th>
                                                                        <th>Item Category-In</th>


                                                                        <th>Item Category-Out</th>

                                                                        <th>Comments</th>
                                                                        <th>Action</th>

                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <table id="hidestyletable">
                                                                <tbody></tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <input type="hidden" name="incategoryids" id="incategoryids" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<script>
    $(document).ready(function () {
        $('.select2').select2();
        $('.select2').width("100%");
    });
    var ErrorMessage = "";
    function setswal(msg) {
        if (ErrorMessage.length > 0) {
            ErrorMessage += "\n" + msg;
        } else { ErrorMessage = msg; }
    }

    $(document).on("click", ".deleteprocessitem", function () {
        // var id = $(this).closest("tr").attr('data');
        // alert(id);
        $(this).closest("tr").remove(); // closest used to remove the respective 'tr' in which I have my controls
        // $('#hidestyletable tr').find('#' + id).remove();
        //  $('table#hidestyletable tr#' + id).remove();

    });

    $(document).on("click", "#saveprocesscycle", function () {
        var isvalid = true;
        var processname = $('#Process_cycle_Name').val();
        var $dataRows = $("#processtable tr:not('.titlerow')");
        var rowlenght = $dataRows.length;
        if (rowlenght <= 0) {
            swal("please add process");
            isvalid = false;
        }
        else if (processname == "") {
            swal("enter process cycle name");
            isvalid = false;
        }
        else {
            var str = "";
            var rawitemstr = "";
            var stylerowcount = 0;

            isvalid = true;
            var str1 = "";
            var count = 0;

            //var $dataRows = $("#itemsizetable tr:not('.titlerow')");
            //  var rowlenght = $dataRows.length;

            var j = 1;
            $dataRows.each(function (i) {
                debugger;
                rowdata = "#";
                rowdataval = '0';
                if ($('#hdnincategoryids'+(j+1)).val() != "") {
                    rowdata += $('#hdnincategoryids' + (j + 1)).val();
                }
                rowdataval1 = ($('#hdnincategoryids' + (j + 1)).val() != "" ? '1' : '0');

                rowdataval = rowdataval1;
                if (rowdata.length > 0) {
                    if (rowdataval == '1') {
                        str1 += rowdata;
                        count++;
                    }
                    else if (rowdataval == '0') {
                        swal("Every process must have In-Category");
                        isvalid = false;
                    }
                }
                j = j + 1;
            });
            if (count == rowlenght) {
                str1 = str1.substring(1, str1.length);
                //alert(str);
                $('#incategoryids').val(str1);
            }
            else {
                swal("Every process must have In-Category.");
                isvalid = false;
            }



            //var stylerowCount = $('#maintable2 tr').length;
            $dataRows.each(function () {
                count = 0;
                stylerowcount++;
                $(this).find('.processrow').each(function (i) {
                    var itemlist = ($(this).val());  //here get td value
                    count++;

                    if (itemlist != undefined) {

                        if (count == 4) {
                            str += itemlist;
                        }
                        else {
                            str += itemlist + "~";
                        }
                    }

                });

                if (stylerowcount == rowlenght) {

                }
                else {
                    str += "#";
                }

            });
            // alert(str);
            $('#processlist').val(str);
        }
        return isvalid;
    });

    $(document).on("click", ".addprocess", function () {

        ErrorMessage = "";

        var isvalid = true;
        var itemcatin = document.getElementById("itemcategoryin");
        var selecteditemcategoryin = itemcatin.options[itemcatin.selectedIndex].text;
        var itemcatinid = $('#itemcategoryin').val();
        // var selecteditemcategoryin = itemcatin.options[itemcatinid.selectedIndex].text;
        var strInCategories = "";
        $('#itemcategoryin :selected').each(function (i, sel) {
            strInCategories += $(sel).text() + ", ";
        });

        var itemcatout = document.getElementById("itemcategoryout");
        var selecteditemcategoryout = itemcatout.options[itemcatout.selectedIndex].text;
        var itemcatoutid = $('#itemcategoryout').val();

        var process_ = document.getElementById("processid");
        var selectedprocess = process_.options[process_.selectedIndex].text;
        var processid = $('#processid').val();

        var sequence = $('#sequence').val();
        var comment = $('#comment').val();
        var i = $('#processtable tr').length;


        if (itemcatinid == "") {
            setswal("select item category_in");
            isvalid = false;
        }
        if (itemcatoutid == "") {
            setswal("select item");
            isvalid = false;
        }
        if (processid == "") {
            setswal("select process");
            isvalid = false;
        }
        if (sequence == "") {
            setswal("select sequence");
            isvalid = false;
        }
        if (validprocess() == false) {
            setswal("selected process or sequence already added");
            isvalid = false;
        }

        if (ErrorMessage.length > 0) {
            swal({
                title: 'Oops',
                text: ErrorMessage
            });
            isvalid = false;
        }
        else {
            div = '<tr class="data-contact-person odd bg-info" id="' + (i + 1) + '" value="' + (i + 1) + '" data="' + (i + 1) + '">' +
                '<td style="padding-right:10px;"><input type="hidden" value="' + processid + '" class="form-control processrow validprocessrow"><p class="">' + selectedprocess + '</p></td>' +
                '<td style="padding-right:10px;"><input type="hidden" value="' + sequence + '" class="form-control processrow validsequence"><p class="">' + sequence + '</p></td>' +
                '<td style="padding-right:10px;"><input type="hidden" value="' + itemcatinid + '" class="form-control" id="hdnincategoryids' + (i + 1) + '" name="hdnincategoryids"><p class="">' + strInCategories + '</p></td>' +
                '<td style="padding-right:10px;"><input type="hidden" value="' + itemcatoutid + '" class="form-control processrow"><p class="">' + selecteditemcategoryout + '</p></td>' +
                '<td style="padding-right:10px;" id="imgraw' + (i + 1) + '"><input type="hidden" value="' + comment + '" class="form-control processrow">' + comment + ' </td>' +

                '<td><button type="button" id="btnDelete" class="deleteprocessitem btn btn btn-danger btn-xs"><i class="fa fa-fw fa-trash"></i></button></td>' +
                '</tr>';
            $('#processtable').append(div);

            $('#itemcategoryin').val("0");
            $('#itemcategoryin').trigger("change");
            $('#itemcategoryout').val("0");
            $('#itemcategoryout').trigger("change");

            $('#processid').val("0");
            $('#processid').trigger("change");

            $('#sequence').val("0");
            $('#sequence').trigger("change");

            $('#comment').val("");





        }
        return isvalid;
    });




    function validprocess() {
        var valid = true;

        var processid = $('#processid').val();
        var sequence = $('#sequence').val();

        $('.validprocess').each(function () {
            var provalue = $(this).val();
            if (processid == provalue) {
                valid = false;
            }

        });
        $('.validsequence').each(function () {
            var seqvalue = $(this).val();
            if (sequence == seqvalue) {
                valid = false;
            }

        });




        return valid;
    }

</script>
