﻿@model Garments_ERP.Entity.M_ProcessCycleEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


@using (Html.BeginForm("Edit", "ProcessCycle", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "ProcessCycle")">Process Cycle Detail</a>  >  </div>
                <div class="HMsubline">Edit</div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "ProcessCycle")'">Cancel</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="saveprocesscycle">Update</button>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Process Cycle Info
                                    </a>
                                </li>

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Process Cycle</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextAreaFor(model => model.Process_cycle_Name, 3, 5, new { @class = "form-control", @disabled = "disabled" })
                                                </div>

                                                @Html.ValidationMessageFor(model => model.Process_cycle_Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Process Cycle Desc</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextAreaFor(model => model.Processcysledesc, 3, 5, new { @class = "form-control", @disabled = "disabled" })
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="box box-default">
                                                <div class="box-header with-border" style="background-color: #2196f3;padding: 1px 12px;color: #fff;margin-bottom:10px;">
                                                    <h5 class="box-title">Process Details</h5>
                                                    <div class="box-tools pull-right">


                                                    </div>
                                                </div>

                                                <div class="box-body">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-2">
                                                                <label>Process<i class="text-danger">*</i></label>
                                                                @Html.DropDownList("processid", (IEnumerable<SelectListItem>)ViewBag.processlist, "Select", new { @class = "form-control select2", })
                                                                <span id="itemcategorymsg" style="color:red;"></span>


                                                            </div>

                                                            <div class="col-md-2">
                                                                <label>Process Sequence<i class="text-danger">*</i></label>

                                                                <select class="form-control select2" data-placeholder=""
                                                                        id="sequence">
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                    
                                                                </select>
                                                                <span id="itemcategorymsg" style="color:red;"></span>

                                                            </div>

                                                            <div class="col-md-2">
                                                                <label>Item Category-In<i class="text-danger">*</i></label>

                                                                @Html.DropDownList("itemcategoryin", (IEnumerable<SelectListItem>)ViewBag.itemcategorylist_in, "Select", new { @class = "form-control select2", })
                                                                <span id="itemmsg" class="help-block" style="color:red;"></span>
                                                            </div>

                                                            <div class="col-md-2">
                                                                <label>Item Category-Out<i class="text-danger">*</i></label>

                                                                @Html.DropDownList("itemcategoryout", (IEnumerable<SelectListItem>)ViewBag.itemcategorylist_out, "Select", new { @class = "form-control select2", })
                                                                <span id="itemmsg" class="help-block" style="color:red;"></span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>Comments</label>
                                                                <input type="text" class="form-control" name="comment" id="comment">

                                                            </div>
                                                            <div class="col-md-1 ">
                                                                <button type="button" style="margin-top:20px;" class="btn btn-info addprocess">Add</button>
                                                            </div>



                                                        </div>
                                                    </div>






                                                </div>

                                                <input type="hidden" name="processlist" id="processlist" />
                                                @*<div class="box-footer">
                <div class="col-md-1 ">
                    <button type="button" style="margin-top:15px;" class="btn btn-info addstyle">Add</button>
                </div>
            </div>*@<div class="box-footer">
                                                    <div class="col-md-12" style="margin-bottom:30px;">
                                                        <div class="box-body table-responsive no-padding">
                                                            <table class="table table-striped" id="processtable">
                                                                <tbody>
                                                                    <tr>
                                                                        <th>Process</th>
                                                                        <th>Sequence</th>
                                                                        <th>Item Category-In</th>


                                                                        <th>Item Category-Out</th>

                                                                        <th>Comments</th>
                                                                        <th>Action</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </tbody>
                                                                @{
                                                                    var i = 0;
                                                                }
                                                                @foreach (var item in Model.processcyclelist)
                                                                {
                                                                    i = i + 1;
                                                                    var tdprocess = "tdprocess" + i;
                                                                    var tdsequence = "tdsequence" + i;
                                                                    var tditemin = "tditemin" + i;
                                                                    var tditemout = "tditemout" + i;
                                                                    var tdcomment = "tdcomment" + i;

                                                                    var proceess = "process" + i; ;
                                                                    var processsequence = "processsequence" + i;
                                                                    var itemcategoryin = "itemcatin" + i;
                                                                    var itemcategoryot = "itemcatout" + i;
                                                                    var comment = "comment" + i;
                                                                    var edit = "edit" + i;
                                                                    var delete = "delete" + i;
                                                                    var update = "update" + i;
                                                                    var itemid = "itemid" + i;
                                                                    var iteminval = "";
                                                                    var iteminid = "";
                                                                    var l = 0;

                                                                    foreach (var itmdt in item.M_ProcessInCategoryDetails)
                                                                    {
                                                                        if (l == 0)
                                                                        {
                                                                            iteminval = itmdt.M_ItemCategoryMaster.Itemcategory;
                                                                            iteminid = Convert.ToString(itmdt.M_ItemCategoryMaster.Id);
                                                                        }
                                                                        else
                                                                        {
                                                                            iteminval = iteminval + "," + itmdt.M_ItemCategoryMaster.Itemcategory;
                                                                            iteminid = iteminid + "," + Convert.ToString(itmdt.M_ItemCategoryMaster.Id);
                                                                        }
                                                                        l = l + 1;
                                                                    }
                                                                    <tr data=@item.Id>
                                                                        <td style="padding-right:10px;" id=@tdprocess rawdata=@item.M_PROCESS_entity.Process_Id><input type="hidden" id=@proceess value=@item.M_PROCESS_entity.Process_Id class="processrow validprocess"><p class="">@item.M_PROCESS_entity.SHORT_NAME</p></td>

                                                                        <td style="padding-right:10px;" id=@tdsequence rawdata=@item.Processsequence><input type="hidden" id=@processsequence value=@item.Processsequence class="processrow validsequence"><p class="">@item.Processsequence</p></td>

                                                                        <td style="padding-right:10px;" id=@tditemin rawdata=@iteminid>

                                                                            <input type="hidden" id=@itemcategoryin value=@iteminid class="processrow">
                                                                            <p class="">@iteminval</p>


                                                                        </td>

                                                                        <td style="padding-right:10px;" id=@tditemout rawdata=@item.M_ItemCategoryentity2.Id><input type="hidden" id=@itemcategoryot value=@item.M_ItemCategoryentity2.Id class="processrow"><p class="">@item.M_ItemCategoryentity2.Itemcategory</p></td>

                                                                        <td style="padding-right:10px;" id=@tdcomment><input type="hidden" id=@comment class="processrow" value=@item.comment>@item.comment </td>



                                                                        <td>
                                                                            <button type="button" id=@edit class="deleteprocessitem btn  btn-xs" onclick="edititem(this.id)"><i class="fa fa-fw fa-edit"></i></button>
                                                                            <button type="button" id=@update class="btn btn btn-default btn-xs" onclick="updateitem(this.id)" style="display:none;" rowid=@item.Id>Update</button>
                                                                            <input type="hidden" id=@itemid value=@item.Id />
                                                                            <button type="button" id="btnDelete" class="deleteitem btn btn btn-danger btn-xs"><i class="fa fa-fw fa-trash"></i></button>

                                                                        </td>

                                                                    </tr>

                                                                }

                                                            </table>

                                                            <table id="hidestyletable">
                                                                <tbody></tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


}
<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<script>
    $(document).ready(function () {
        $('.select2').select2();
        $('.select2').width("100%");
    });
                var ErrorMessage = "";
                function setswal(msg) {
                    if (ErrorMessage.length > 0) {
                        ErrorMessage += "\n" + msg;
                    } else { ErrorMessage = msg; }
                }


                $(document).on("click", ".addprocess", function () {

                    ErrorMessage = "";
                    var isvalid = true;
                    var itemcatin = document.getElementById("itemcategoryin");
                    var selecteditemcategoryin = itemcatin.options[itemcatin.selectedIndex].text;
                    var itemcatinid = $('#itemcategoryin').val();

                    var itemcatout = document.getElementById("itemcategoryout");
                    var selecteditemcategoryout = itemcatout.options[itemcatout.selectedIndex].text;
                    var itemcatoutid = $('#itemcategoryout').val();

                    var process_ = document.getElementById("processid");
                    var selectedprocess = process_.options[process_.selectedIndex].text;
                    var processid = $('#processid').val();

                    var sequence = $('#sequence').val();
                    var comment = $('#comment').val();
                    var i = $('#processtable tr').length;


                    if (itemcatinid == "") {
                        setswal("select item category_in");
                        isvalid = false;
                    }
                    if (itemcatoutid == "") {
                        setswal("select item category out");
                        isvalid = false;
                    }
                    if (processid == "") {
                        setswal("select process");
                        isvalid = false;
                    }
                    if (sequence == "") {
                        setswal("select sequence");
                        isvalid = false;
                    }

                    if (ErrorMessage.length > 0) {
                        swal({
                            title: 'Oops',
                            text: ErrorMessage
                        });
                        isvalid = false;
                    }
                    else {
                        div = '<tr class="data-contact-person odd bg-info" id="' + (i + 1) + '" value="' + (i + 1) + '" data="' + (i + 1) + '">' +

                                 '<td style="padding-right:10px;"><input type="hidden" value="0" class="form-control processrow"><input type="hidden" value="' + processid + '" class="form-control processrow"><p class="">' + selectedprocess + '</p></td>' +
                                 '<td style="padding-right:10px;"><input type="hidden" value="' + sequence + '" class="form-control processrow"><p class="">' + sequence + '</p></td>' +
                                 '<td style="padding-right:10px;"><input type="hidden" value="' + itemcatinid + '" class="form-control processrow"><p class="">' + selecteditemcategoryin + '</p></td>' +
                                '<td style="padding-right:10px;"><input type="hidden" value="' + itemcatoutid + '" class="form-control processrow"><p class="">' + selecteditemcategoryout + '</p></td>' +
                                  '<td style="padding-right:10px;" id="imgraw' + (i + 1) + '"><input type="hidden" value="' + comment + '" class="form-control processrow">' + comment + ' </td>' +
                                 '<td style="padding-right:10px;"></td>' +
                                 '<td><button type="button" id="btnDelete" class="deleteprocessitem btn btn btn-danger btn-xs">Remove</button></td>' +
                                 '</tr>';
                        $('#processtable').append(div);
                    }
                    return isvalid;
                });

                function edititem(id) {
                    var number = id.match(/\d+/);


                    var procesid = $('#process' + number).val();
                    var sequenceid = $('#processsequence' + number).val();
                    var iteminid = $('#itemcatin' + number).val();
                    var itemoutid = $('#itemcatout' + number).val();
                    var comment_ = $('#comment' + number).val();

                    var clone = $("#processid").clone();
                    var ctrlid = 'processid_' + number;
                    clone.attr('id', ctrlid);
                    $('#tdprocess' + number).html(clone);
                    $("#" + ctrlid).select2();

                    var clonesequence = $("#sequence").clone();
                    var subcatid = 'sequenceid_' + number;
                    clonesequence.attr('id', subcatid);
                    $('#tdsequence' + number).html(clonesequence);
                    $('#' + subcatid).select2();

                    // var itemincolne=
                    var itemincolne = $("#itemcategoryin").clone();
                    var ctrlid_ = 'itemcategoryin' + number;
                    itemincolne.attr('id', ctrlid_);
                    $('#tditemin' + number).html(itemincolne);
                    $("#" + ctrlid_).select2();


                    var itemoutcolne = $("#itemcategoryout").clone();
                    var ctrlid_2 = 'itemcategoryout_' + number;
                    itemoutcolne.attr('id', ctrlid_2);
                    $('#tditemout' + number).html(itemoutcolne);
                    $("#" + ctrlid_2).select2();

                    var commentclone = $("#comment").clone();
                    var commentid = 'commentid_' + number;
                    commentclone.attr('id', commentid);
                    $('#tdcomment' + number).html(commentclone);



                    $("#" + ctrlid).select2().select2("val", procesid);
                    $("#" + subcatid).select2().select2("val", sequenceid);
                    $("#" + ctrlid_).select2().select2("val", iteminid);
                    $("#" + ctrlid_2).select2().select2("val", itemoutid);
                    $("#" + commentid).val(comment_);

                    $(this).hide();
                    $("#update" + number).css("display", "block");

                }

                function updateitem(id) {
                    // alert("in update");
                    var number = id.match(/\d+/);
                    // alert("edited");
                    var id_ = $('#itemid' + number).val();
                    var procesid = $('#processid_' + number).val();
                    var sequenceid = $('#sequenceid_' + number).val();
                    var iteminid = $('#itemcategoryin' + number).val();
                    var itemoutid = $('#itemcategoryout_' + number).val();
                    var commentstr = $('#commentid_' + number).val();
                    //var itid = $('#hiddenrawid' + number).val();commentid_
                    //var itemcatid = $('#itemcategoryid' + number).val();
                    //var itemsubcatid = $('#itemsubcategoryid' + number).val();
                    //var itemdesc = $('#itemdesc' + number).val();
                    //var supplier = $('#supplier' + number).val();

                    if (procesid == "") {
                        swal("select process");
                    }
                    else if (sequenceid == "") {
                        swal("select sequenceid");
                    }
                    else if (iteminid == "") {
                        swal("select item categoryin ");
                    }
                    else if (itemoutid == "") {
                        swal("select item categoryout");
                    }
                    else {
                        var param = {
                            'id': id_, 'proceid': procesid, 'itemcat_inid': iteminid, 'itemcat_outid': itemoutid, 'sequenceid': sequenceid, 'comment': commentstr
                        };
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("edititem", "ProcessCycle")',
                            data: JSON.stringify(param),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (result) {
                                // alert("in success inserted");
                                if (result == true) {
                                    swal("item updated");

                                }

                            },
                            failure: function (response) {
                                alert(response.d);
                            }
                        });
                    }
                }

                $(document).on("click", ".deleteitem", function () {
                    var id_ = $(this).closest("tr").attr('data');
                    // alert(id);

                    if (id_ != "0") {

                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("delete", "ProcessCycle")',
                            dataType: "json",
                            data: "{'id':" + id_ + "}",

                            success: function (result) {
                                if (result == true) {
                                    swal("Item Removed");
                                    // $(this).closest("tr").remove();

                                }

                            },
                            error: function (result) {
                                alert("Error" + result.status);
                            }

                        });
                    }
                    //   else {
                    $(this).closest("tr").remove(); // closest used to remove the respective 'tr' in which I have my controls
                    // }


                    //$('table#hiderawitemtable tr#' + id).remove();

                });
</script>
