﻿@model IEnumerable<Garments_ERP.Entity.M_ProcessCycleEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}
<style>
    #footerExport td {
        cursor: pointer;
        text-align: center;
        border: 1px solid #ccc;
        border: none;
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Content/exportpugin/tableExport.js"></script>
<script src="~/Content/exportpugin/jquery.base64.js"></script>
<script src="~/Content/exportpugin/html2canvas.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/base64.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/sprintf.js"></script>
<script src="~/Content/exportpugin/jspdf/jspdf.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


<script>

    $(document).ready(function () {

        var varpdfFontSize = '7';
        $('#exportexcel').bind('click', function (e) {
            $('#example1').tableExport({ type: 'excel', escape: 'false', pdfFontSize: varpdfFontSize });
        });
        $('#exportpdf').bind('click', function (e) {
            $('#example1').tableExport({ type: 'pdf', escape: 'false' });
        });
        $('#exportimage').bind('click', function (e) {
            $('#v').tableExport({ type: 'png', escape: 'false' });
        });
        $('#exportcsv').bind('click', function (e) {
            $('#example1').tableExport({ type: 'csv', escape: 'false' });
        });
        $('#exportppt').bind('click', function (e) {
            $('#example1').tableExport({ type: 'powerpoint', escape: 'false' });
        });
        $('#exportxml').bind('click', function (e) {
            $('#example1').tableExport({ type: 'xml', escape: 'false' });
        });
        $('#exportword').bind('click', function (e) {
            $('#example1').tableExport({ type: 'doc', escape: 'false' });
        });
        $('#exporttxt').bind('click', function (e) {
            $('#example1').tableExport({ type: 'txt', escape: 'false' });
        });

    });

</script>



<div class="titheader">
    <div class="block-header">
        <div class="col-sm-10">
            <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
            <div class="HMsubline">Process Cycle Detail</div>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-block btn-success btn-sm" href="@Url.Action("Create", "ProcessCycle")">Create Process Cycle</a>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <!-- #END# Hover Expand Effect -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="col-xs-12 col-sm-6">
                            <h2 class="hedtit">
                                Process Cycle Details
                            </h2>
                        </div>

                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                                            Process cycle
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                            Description
                                        </th>

                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 154px;">
                                            Action
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        //var enqid = item.Id;
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">@item.Process_cycle_Name</td>
                                            <td>@item.Processcysledesc</td>

                                            <td>
                                                @*<button type="button" class="btn btn-success btn-sm" style="margin-right:5px;width:50px;">Quotaion</button>*@

                                                @*<button type="button" title="Edit" class="btn  btn-success btn-sm inner" style="width:50px"><i class="fa fa-fw fa-edit"></i></button>*@
                                                <a href="@Url.Action("Edit", "ProcessCycle", new { id=item.Prooce_Cycle_id})" class="btn  btn-success btn-sm inner" data-original-title="Edit Process">
                                                    <i class="fa fa-fw fa-edit"></i>

                                                </a>
                                                <button type="button" id=@item.Prooce_Cycle_id class="btn btn-danger btn-sm inner" style="width:50px;margin-right:5px;" onclick="deleteprocesscycle(this.id)"><i class="fa fa-fw fa-remove"></i></button>
                                                @*<button type="button" class="btn btn-warning btn-sm inner" style="width:50px;"><i class="fa fa-fw fa-print"></i></button>*@
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <table>
                                <tr id="footerExport">
                                    <td id="exportexcel"><img src="~/Content/iconsforexport/xls.png" title="Export to Excel" /></td>
                                    <td id="exportpdf"><img src="~/Content/iconsforexport/pdf.png" title="Export to PDF" /></td>
                                    <td id="exportcsv"><img src="~/Content/iconsforexport/csv.png" title="Export to CSV" /></td>
                                    <td id="exportword"><img src="~/Content/iconsforexport/word.png" title="Export to Word" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<input type="hidden" id="altmsg" value="@Convert.ToString(TempData["alertmsg"])" />
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<script>
    function deleteprocesscycle(id) {
        var _id = id;
        var param = { 'id': _id };

        swal({
            title: 'Confirmation',
            text: 'Are You sure delete itemshade?',
            showConfirmButton: true,
            showCancelButton: true,
            closeOnConfirm: true,
            closeOnCancel: true,
            confirmButtonText: 'Confirm',
            confirmButtonColor: '#8CD4F5',
            cancelButtonText: 'Cancel'
        },
         function (isConfirm) {

             if (isConfirm) {

                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("delete", "ProcessCycle")',
                     data: JSON.stringify(param),
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: function (result) {

                         if (result == true) {
                             //alert("true");
                             window.location.reload();
                         }

                     },
                     failure: function (response) {
                         alert(response.d);
                     }
                 });

             } else {
                 swal("Cancelled", ")", "error");
             }
         });


    }
    $(function () {

        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr('style', 'display:none;');
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr('style', 'display:none;');


        $('#example1').DataTable();
        $('.select2').select2();

    });

    $('#bs_datepicker_component_container').datepicker({
        autoclose: true,
        container: '#bs_datepicker_component_container'
    });

    $('#bs_datepicker_component_container1').datepicker({
        autoclose: true,
        container: '#bs_datepicker_component_container1'
    });
</script>