﻿@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }

    ul {
        margin: 0;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />




@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">CSI Master</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "Employee")">Employee Detail</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Employee")'">Cancel</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="saveEmployee">Save</button>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Employee Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#Add_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Address Info
                                    </a>
                                </li>

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active " id="home_with_icon_title">

                                    @Html.Partial("EmployeeDetails")
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Add_with_icon_title">

                                    @Html.Partial("EmployeeAddress")
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script src="~/Scripts/SaveEmployee.js"></script>


<script>
    
    $(document).ready(function () {
        $('.select2').select2();
        $('.select2').width("100%");
        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");
        var radno = Math.random().toFixed(4).split(".").pop();
        radno = parseInt(radno);
        radno = radno.length == 3 ? radno + "1" : radno;
        $("#EmpID").val(radno);

        $("#dob").datepicker({
            //setDate: currentDate,
            format: 'mm/dd/yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            yearRange: '1950:2020',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            },
            maxDate: 0

        });
        getState();
    });

    
    function getState() {
        debugger;
        $("#addressstateid").empty();
        var countryid = $("#countryid").val();
        if (countryid != "0" && countryid != "") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Getstate", "Customer")',
                dataType: "json",
                data: "{'countryid':" + countryid + "}",
                success: function (states) {
                    debugger;
                    $.each(states, function (i, item) {
                        $("#addressstateid").append('<option value="' + item.ID + '">' + item.Name + '</option>');

                    });
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
        }
    }


    function getCity() {
        debugger;
        $("#addresscityid").empty();
        var stateid = $("#addressstateid").val();
        if (stateid != "" && stateid != "0") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("getCityNameList", "Supplier")',
                dataType: "json",
                data: "{'stateid':" + stateid + "}",
                success: function (citys) {
                    debugger;
                    $.each(citys, function (i, city) {
                        $("#addresscityid").append('<option value="' + city.ID + '">' + city.Name + '</option>');

                    });
                },
                error: function (result) {
                    alert("Error" + result.status);
                }
            });
        }


    }
</script>

