﻿@model Garments_ERP.Entity.EmployeeEntity
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

<input type="hidden" id="UserID" name="UserID" value="@Model.UserId" />
<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>Employee Name</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @onkeypress = "return isString(event)" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>Employee ID</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                @Html.TextBoxFor(x => x.EmpID, new { @class = "form-control", @readonly = true })
            </div>

        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>Gender</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @if (Model.Gender == "Male")
            {
                <input type="radio" name="Gender" id="rbtnmale" value="Male" class="with-gap" checked /><label for="rbtnmale">Male</label>
                <input type="radio" name="Gender" id="rbtnfemale" value="Female" class="with-gap" /><label for="rbtnfemale">Female</label>
            }
            else
            {
                <input type="radio" name="Gender" id="rbtnmale" value="Male" class="with-gap"/><label for="rbtnmale">Male</label>
                <input type="radio" name="Gender" id="rbtnfemale" value="Female" class="with-gap" checked /><label for="rbtnfemale">Female</label>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>DOB</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group date" id="bs_datepicker_component_container">
            <div class="form-line">
                <input type="text" class="form-control pull-right" id="dob" name="dob" autocomplete="off" value="@Model.DOB" />
            </div>
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
        </div>
    </div>
</div>


<div class="row clearfix">
    <div class="col-md-2">
        <label>Place Of Birth</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" id="placeofbirth" name="placeofbirth" value="@Model.PlaceOfBirth" />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <label>Blood Group</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" id="booldgroup" name="booldgroup" value="@Model.BloodGroup" />
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>Marital Status</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="hidden" id="hidMS" name="hidMS" value="@Model.MaritalStatus" />
            <select class="form-control select2" id="maritalstatus" name="maritalstatus">
                <option value="0">Select</option>
                <option value="1">Married</option>
                <option value="2">Unmarried</option>
                <option value="3">Widowed</option>
                <option value="4">Divorced</option>
                <option value="5">Separated</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>Nationality</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" id="Nationality" name="Nationality" value="@Model.Nationality" />
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-2">
        <label>Religion</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" id="Religion" name="Religion" value="@Model.Religion" />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <label>Cast</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" id="Cast" name="Cast" value="@Model.Caste" />
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">

            <label>Mother Tongue</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="hidden" id="hidMT" name="hidMT" value="@Model.MotherTongue" />
            <select class="form-control select2" id="MotherTongue" name="MotherTongue">
                <option value="0">Select</option>
                <option value="1">English</option>
                <option value="2">Hindi</option>
                <option value="3">Marathi</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>Employee Type</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="hidden" id="hidEmpType" name="hidEmpType" value="@Model.EmpTypeId" />
            @Html.DropDownList("EmployeeType", (IEnumerable<SelectListItem>)ViewBag.EmployeeType, "Select", new { @class = "form-control select2" })
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-2">
        <div class="required">
            <label>Employee Role</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.DropDownList("EmployeeRole", (IEnumerable<SelectListItem>)ViewBag.Role, "Select", new { @class = "form-control select2" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="required">
            <label>Employee Department</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.DropDownList("EmployeeDept", (IEnumerable<SelectListItem>)ViewBag.DepartMent, "Select", new { @class = "form-control select2" })
        </div>
    </div>
</div>

