﻿@model IEnumerable<Garments_ERP.Entity.MFG_PRODUCTION_PLANEntity>
@{
                /**/

                ViewBag.Title = "Index";
}


<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
        <thead>
            <tr role="row">
                
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 14%;">
                    Plan No
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 11%;">
                    Plan Date
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 14%;">
                    WorkOrder No
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 10%;">
                    StartDate
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 10%;">
                    TargetDate
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 3%;">
                    TargetQty
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width:10%">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr role="row" class="odd">
                    <td class="sorting_1">@data.PlanNo</td>
                    <td>
                        @{
                            string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.PlanDate));
                            tndt = tndt.Replace('-', '/');
                        }
                        @tndt
                    </td>
                    <td>@data.WorkOrderNo</td>
                    <td>
                        @{
                            string tndt1 = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.StartDate));
                            tndt1 = tndt1.Replace('-', '/');
                        }
                        @tndt1

                    </td>
                    <td>
                        @{
                            string tndt2 = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.TargetDate));
                            tndt2 = tndt2.Replace('-', '/');
                        }
                        @tndt2

                    </td>
                    <td>@data.Target_Qty</td>
                    <td>
                        @if (ViewBag.roleid != 4)
                        {
                            <a href="/ProductionPlan/Edit?planID=@data.ID" class="btn  btn-success btn-sm inner" data-original-title="Edit Plan" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                            if (ViewBag.Status == 2)
                            {
                                <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="CanclePP(@data.ID)"  style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                                             }
                        }
                        else
                        {
                            <a href="/ProductionPlan/Edit?planID=@data.ID" class="btn  btn-success btn-sm inner" data-original-title="Edit Plan" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                            if (ViewBag.Status == 2)
                            {
                               <button type="button" id="delete" class="btn btn-danger btn-sm inner" onclick="deletePP(@data.ID)"  style="padding:2px 7px 5px 7px;border-radius: 4px;"><i class="fa fa-fw fa-remove"></i></button>
                                             }
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>

