﻿@{
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


@using (Html.BeginForm("Create2", "ProductionPlan", FormMethod.Post, new { @class = " form-simple" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-8">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Production Planning</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "Workorder")">Production Plan Detail</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "WorkOrder")'">Cancel</button>
                <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="savepo" onclick="Validate(event)">Save</button>
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Production Plan Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Process Details
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#messages_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i> Style Details
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-sm-4">
                                            <div class="form-group frmGroup">
                                                <label for="exampleInputEmail2" class="inputLabelControls"> Plan No:</label>
                                                <div class="form-line">
                                                    <input type="text" class="form-control disabled" value="@ViewBag.PlanNo" readonly />
                                                </div>
                                                <input type="hidden" name="planID" id="planID" value="@ViewBag.PlanNo" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls"> Date:</label>
                                                <div class="input-group date" id="bs_datepicker_component_container">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control  pull-right" id="planDate" name="planDate">
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group ">
                                                <label class="inputLabelControls">Sample Ref. No:</label>
                                                <div class="form-line">
                                                    <input type="text" class="form-control inputControls numeric disabled" id="planSampleRefNo" value="@ViewBag.Refno" readonly name="planSampleRefNo">
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-sm-4">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls">Customer:</label>
                                                <div class="form-line">
                                                    <input type="text" name="CustName" id="CustName" class="form-control inputControls" readonly value="@ViewBag.custName" />
                                                </div>
                                                <input type="hidden" name="customerid" id="customerid" value="@ViewBag.custid" />
                                                @*@Html.DropDownList("customerid", (IEnumerable<SelectListItem>)ViewBag.customerlist, "Select Customer", new { @class = "form-control inputControls select2", @onchange = "getCustomerWorkOrders()", style = "width:250px;" })*@
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls">Work Order Ref:</label>
                                                <div class="form-line">
                                                    <input type="text" name="WOno" id="WOno" class="form-control inputControls" readonly value="@ViewBag.WOno" />
                                                </div>
                                                <input type="hidden" name="customerWorkOrders" id="customerWorkOrders" value="@ViewBag.WOid" />

                                                @*<select id="customerWorkOrders" class="form-control inputControls select2" style="width:170px;" onchange="getWorkOrderDetails()" name="customerWorkOrders"></select>*@
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="inputLabelControls"> Date:</label>
                                                <div class="input-group date" id="bs_datepicker_component_container">
                                                    <div class="form-line">
                                                        <input type="text" readonly="readonly" class="form-control  pull-right disabled" id="workOrderDate" name="workOrderDate">
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls">SO No:</label>
                                                <div class="form-line">
                                                    <input id="poNumber" type="text" class="form-control inputControls disabled" readonly="readonly" name="poNumber">
                                                </div>

                                                <input type="hidden" name="poID" id="poID" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls"> Date:</label>
                                                <div class="input-group date" id="bs_datepicker_component_container">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control  pull-right" id="poDate" readonly="readonly" name="poDate">
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls">SO Revision No :</label>
                                                <div class="form-line">
                                                    <input id="poRevNo" type="text" class="form-control inputControls disabled" readonly="readonly" name="poRevNo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                           
                                            <div class="table-responsive">
                                                <table class="table table-striped" style="width:100%;background-color: #e6e0bf;" id="ProcessTable">
                                                    <caption class="panelHeader" style="font-size:14px;height:30px;"><div style="padding:0.3em 0.5em;">Process Details</div></caption>


                                                    <thead style="background-color:white;">
                                                        <tr>
                                                            <th style="width:20%">Process</th>
                                                            <th style="width:5%">Sequence</th>
                                                            <th style="width:20%">Operator </th>
                                                            <th style="width:15%">Machine</th>
                                                            <th style="width:5%">Wastage / Tolerance(%)</th>
                                                            <th style="width:20%">Product IN</th>
                                                            <th style="width:20%">Product Out</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="clickable warning dropdown-deliverable" data-for="#details_1">
                                                            <td colspan="6" style="text-align:center">No Process Found</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="messages_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                           
                                            <input type="hidden" id="AttributeId" name="AttributeId" />
                                            <div class="table-responsive">
                                                <table class="table table-striped" style="width:100%;background-color: #e6e0bf;" id="StyleTable">
                                                    <caption class="panelHeader" style="font-size: 14px;height:30px;"><div style="padding:0.3em 0.5em;">Style Details</div></caption>
                                                    <tr class="clickable warning dropdown-deliverable" data-for="#details_1">
                                                        <td colspan=7 style="text-align:center"> No Style found. </td>


                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-sm-4">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls"> Start Date:</label>
                                                <div class="input-group date" id="bs_datepicker_component_container">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control  pull-right " autocomplete="off" id="planStartDate" name="planStartDate">
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls">Target Date:</label>
                                                <div class="input-group date" id="bs_datepicker_component_container">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control  pull-right " autocomplete="off" onchange="GetProductionDetails()" id="planTargetDate" name="planTargetDate">
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls"> Target Quantity:</label>
                                                <div class="form-line">
                                                    <input type="text" class="form-control inputControls disabled" placeholder="0" id="TargetQty" readonly="readonly" name="TargetQty">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    @*Production Details*@
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-condensed" id="ProductionTable">
                                                    <caption class="panelHeader" style="font-size:14px;height:30px;"><div style="padding:0.3em 0.5em;">Production Days Via Qty</div></caption>
                                                    <thead style="background-color:white;">
                                                        <tr class="titlerow">
                                                            <th style="text-align:center">Total Days</th>
                                                            <th style="text-align:center">Total Quntity</th>
                                                            <th style="text-align:center">Per Day Production</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="clickable  dropdown-deliverable" data-for="#details_1">
                                                            <td style="text-align:center"><input type="text" id="Ptotaldays" class="form-control inputControls" name="totaldays" readonly /></td>
                                                            <td style="text-align:center"><input type="text" id="PTotalQty" class="form-control inputControls" name="PTotalQty" readonly /> </td>
                                                            <td style="text-align:center"><input type="text" id="PPDProd" class="form-control inputControls" name="PPDProd" readonly /> </td>


                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-sm-4">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls"> Work Center:</label>
                                                <div class="form-line">
                                                    <input type="text" id="workCenternameID" name="workCenternameID" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" />
                                                </div>

                                                <input type="hidden" id="workCenterID" name="workCenterID" />

                                                <div id="WClist" class="searchlist" style="display:none;">

                                                </div>


                                            </div>
                                        </div>


                                        <div class="col-sm-4 approval">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls"> Approval Status</label>
                                                <div class="form-line">
                                                    <select class="form-control select2" id="approvalstatus" name="approvalstatus">
                                                        <option>Select</option>
                                                        <option selected="selected" value="1">Yes</option>
                                                        <option value="0">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 approval">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls"> Approval Date</label>
                                                <div class="input-group date" id="bs_datepicker_component_container1">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control pull-right" id="approvaldate" name="approvaldate" />
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">date_range</i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-4 approvalComment">
                                            <div class="form-group frmGroup">
                                                <label class="inputLabelControls">Approval Comment</label>
                                                <div class="form-line">
                                                    <input type="text" class="form-control inputControls" id="Comment" name="Comment">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group frmGroup" style="width:280px;display:none;">
                                                <label class="inputLabelControls"> Required Tools:</label>
                                                @Html.DropDownList("requiredToolID", (IEnumerable<SelectListItem>)ViewBag.requiredToolsList, "Select Tool", new { @class = "form-control inputControls select2", style = "width:170px;" })
                                            </div>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group " style="width:280px;display:none;">
                                                <label class="inputLabelControls"> Operator:</label>
                                                @Html.DropDownList("operatorID", (IEnumerable<SelectListItem>)ViewBag.operatorList, "Select Operator", new { @class = "form-control inputControls select2", style = "width:170px;" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <input type="hidden" name="styleID" id="styleID" value=" " />
    <input type="hidden" name="styleSizeDetails" id="styleSizeDetails" />
}
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content(" ~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content(" ~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script>
    $(document).ready(function () {
        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");
        $('.select2').select2();
        $('.select2').width("100%");

        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr("style", "display:none;");
        $('.select2').select2();
        $('.select2').width("100%");

        var roleid = $("#roleid").val();
        if (parseInt(roleid) != 4) {
            $(".approval").show();
            $(".approvalComment").show();
        }
        else {
            $(".approval").hide();
            $(".approvalComment").hide();
        }

        $("#approvaldate").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });


        var _dateFormat = 'mm/dd/yy';

        $("#planStartDate").datepicker({
            dateFormat: _dateFormat,
            minDate: 0
        });


        $("#planTargetDate").datepicker({
            dateFormat: _dateFormat,
            minDate: 0
        });

        $("#planDate").datepicker({
            dateFormat: _dateFormat,
            maxDate: 0
        });
        


        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = mm + '/' + dd + '/' + yyyy;

        $("#planDate").val(today);
        $("#planStartDate").val(today);
        $("#planStartDate").val(today);
        $("#approvaldate").val(today);


        var specialKeys = new Array();
        specialKeys.push(8); //Backspace

            $(".numeric").bind("keypress", function (e) {
                var keyCode = e.which ? e.which : e.keyCode
                var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
                $(".error").css("display", ret ? "none" : "inline");
                return ret;
            });
            $(".numeric").bind("paste", function (e) {
                return false;
            });
            $(".numeric").bind("drop", function (e) {
                return false;
        });

        var WorkOrderID = $("#customerWorkOrders").val();
         $.ajax({
                type: "POST",
                url: '@Url.Action("GetWorkOrderDetails", "ProductionPlan")',
                data: "{'workorderID':" + WorkOrderID + ",'planID': '0'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    var DATE_FORMAT = "MM/DD/YYYY";
                    var workOrder = result.WorkOrderEntity;

                    var workOrderDate = moment(workOrder.Date).format(DATE_FORMAT);
                    var poDate = moment(workOrder.customerpo.PODate).format(DATE_FORMAT);
                    $("#workOrderDate").val(workOrderDate);
                    $("#poNumber").val(workOrder.customerpo.POno);
                    $("#poID").val(workOrder.POID);
                    $("#styleID").val(workOrder.StyleID);
                    $("#poDate").val(poDate);
                    getItemdetail();


                    var processDetails = result.ProcessList;
                    $("#ProcessTable > tbody").html("");
                    if (processDetails.length == 0) {
                        $("#ProcessTable > tbody").html(noProcessFound);
                    }
                    else {
                        let prow = ' <tr>';
                        let allPRows = '';

                        $.each(processDetails, function (key, processDetail) {

                            let newPRow = prow;

                            newPRow = newPRow +
                                         '<td>' + processDetail.SHORT_NAME + '</td>' +
                                         '<td>' + processDetail.Processsequence + '</td>' +
                                         '<td>' + processDetail.Operator + '</td>' +
                                         '<td>' + processDetail.Machine + '</td>' +
                                '<td>' + processDetail.Wastage + '</td>' +
                                '<td>' + processDetail.ProcessProductIN + '</td>'+
                                         '<td>' + processDetail.ProcessProduct + '</td>';
                            newPRow = newPRow + '</tr>';

                            allPRows = allPRows + newPRow;
                        });

                        $("#ProcessTable > tbody").html(allPRows);

                    }
                },
                failure: function (response) {
                    alert(response.d);
                }
        });

    });



    function getItemdetail() {
        debugger;
         $("#StyleTable").html("");
        var itemid = 0
        var WOid = $("#customerWorkOrders").val();

         $.ajax({
            type: "POST",
            dataType: 'json',
            url: '@Url.Action("EditAttributeValue", "WorkOrder")',
             data: "{'MyJson':'" + itemid + "','type':14,'id':" + WOid +"}",
            contentType: "application/json;",
             success: function (Result) {
                 debugger;
                 Result = JSON.parse(Result);
                 var tabstr = "";
                 tabstr = tabstr + "<tr  class='attrbtab1'><th  style='display:none;'>Id</th><th style='width:10em;'>Segment Type</th><th style='width:10em;'>Style Name</th>";
                 tabstr = tabstr +"<th style='width:10em;'>Item Name</th><th style='width:10em;'>Description</th>"
                 $.each(Result.Table, function (a, data) {
                     debugger
                     $("#AttributeId").val(data.Attribute_ID);

                     $.each(data.AttributName.split(","), function (b, edata) {

                         tabstr = tabstr + "<th style='width:10em;'>" + edata + "</th>";
                     });
                 });
                 var targtot = 0;
                 tabstr = tabstr + "<th style='width:10em;'>Order Qty</th><th style='width:10em;'>Target Qty</th><th style='width:10em;display:none;'>Rate</th>";
                 tabstr = tabstr + "</tr>"

                 $.each(Result.Table1, function (i, subcate) {

                     var attributename = subcate.AttributeValue;
                     var index1 = attributename.indexOf(',');
                     if (index1 == -1) {
                         attributename = attributename + ",";
                     }
                     attributename = attributename.split(',');
                     var ck = 0;
                     tabstr = tabstr + "<tr class='attrtabval'><td style='display:none;'><input type='hidden' value='" + subcate.Id + "' class='form-control stylerow'></td>";
                     tabstr = tabstr + "<td><input type='hidden' value='" + subcate.Segmenttype + "' class='form-control stylerow'>" + subcate.Segmenttype + "</td>";
                     tabstr = tabstr + "<td><input type='hidden' value='" + subcate.Stylename + "' class='form-control stylerow'>" + subcate.Stylename + "</td>";
                     tabstr = tabstr + "<td><input type='hidden' value='" + subcate.ItemName + "' class='form-control stylerow'>" + subcate.ItemName + "</td>";
                     tabstr = tabstr + "<td><input type='hidden' value='" + subcate.Styledesc + "' class='form-control stylerow'>" + subcate.Styledesc + "</td>";
                     $.each(subcate.Attribute_Value_ID.split(","), function (k, e) {
                         debugger;
                         if (e != "") {
                             tabstr = tabstr + "<td style='width:10em;'><input type='hidden' value='" + e + "' class='hid2'  />"
                             if (attributename[ck] != "") {
                                 tabstr = tabstr + "<input type='hidden' class='hidval2' value='" + attributename[ck] + "' /> " + attributename[ck] + "";
                             }
                             tabstr = tabstr + "</td>";
                             ck = ck + 1;
                         }
                     });
                     var attribid = $("#AttributeId").val();
                     tabstr = tabstr + "<td style='width:10em;display:none'><input type='hidden' value='" + attribid + "' class='form-control stylerow'> </td>";
                     tabstr = tabstr + "<td style='width:10em;display:none'><input type='hidden' value='" + subcate.Attribute_Value_ID + "' class='form-control stylerow'></td>";
                     tabstr = tabstr + "<td><input type='hidden' value='" + subcate.Reqqty + "' class='form-control stylerow'>" + subcate.Reqqty + "</td>";
                     tabstr = tabstr + "<td><input type='hidden' value='" + subcate.ProductionQty + "' class='form-control stylerow'>" + subcate.ProductionQty + "</td>";
                     tabstr = tabstr + "<td style='width:10em;display:none'><input type='text' class='form-control stylerow' value='" + subcate.rate + "'  readonly /><input type='hidden' class='form-control stylerow' value='" + subcate.Item_Attribute_ID +"'  readonly /></td>";
                     tabstr = tabstr + "</tr>"
                     targtot = targtot + subcate.ProductionQty;
                 });
                 tabstr = "<caption class='panelHeader' style='font-size:14px;height:30px;'><div style='padding:0.3em 0.5em;'>Style Details</div></caption><tbody>" + tabstr + "</tbody>"
                 $("#StyleTable").append(tabstr);
                 $("#TargetQty").val(targtot);

             },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function GetProductionDetails() {

        var ad1 = $("#planStartDate").val().split('/');
        var ad2 = $("#planTargetDate").val().split('/');
        var d1 = ad1[0] + '/' + ad1[1] + '/' +  ad1[2];
        var d2 = ad2[0] + '/' +ad2[1] + '/' +  ad2[2];
        var date1 = new Date(d1);
        var date2 = new Date(d2);
        var timeDiff = Math.abs(date2.getTime() - date1.getTime());
        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
        $("#Ptotaldays").val(diffDays);
        var tarQty = $("#TargetQty").val();
        $("#PTotalQty").val(tarQty);
        var PPProdPlan = tarQty / diffDays;
        $("#PPDProd").val(Math.round(PPProdPlan));
    }
</script>

<script type="text/javascript">
    var noStyleFound = ' <tr class="clickable warning dropdown-deliverable" data-for="#details_1">' +
        '<td colspan=7 style="text-align:center"> No Style found. </td>' +
        '</tr>';
    var noProcessFound = ' <tr class="clickable warning dropdown-deliverable" data-for="#details_1">' +
        '<td colspan=5 style="text-align:center"> No process found. </td>' +
        '</tr>';



    function Validate(e) {

        var title = "ERPGarment Validation!";

        var message = "";
        if ($('#planDate').val() == '')
            message = message + "- Plan Date Is Required";

        if ($('#planSampleRefNo').val() == '')
            message = message + "- Plan Ref. No Is Required";

        if ($('#customerid').val() == null || $('#customerid').val() == '')
            message = message + "- Customer Is Required";

        if ($('#customerWorkOrders').val() == null || $('#customerWorkOrders').val() == '' || $('#customerWorkOrders').val() == '0')
            message = message + "- WorkOrder Is Required";

        if ($('#planStartDate').val() == '')
            message = message + "- Start Date Is Required";
        if ($('#planTargetDate').val() == '')
            message = message + "- Target Date Is Required";
        if ($('#TargetQty').val() == '' || $('#TargetQty').val() == '0')
            message = message + "- Target Quantity Is Required";

        if ($('#workCenterID').val() == '' || $('#workCenterID').val() == '0' || $('#workCenterID').val() == "Select WorkCenter")
            message = message + "- Select WorkCenter Required";


        if (message != "") {
            e.preventDefault();
            swal({
                title: title,
                text: message,
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            });

            return false;
        }
        else {

            SetStyleSizeDetails();
            return true;
        }
    }

    function ClearFields() {
        $("#TargetQty").val('');
        $("#workOrderDate").val('');
        $("#poNumber").val('');
        $("#poID").val('');
        $("#styleID").val('');
        $("#poDate").val('');
        $("#StyleTable > tbody").html(noStyleFound);
        $("#ProcessTable > tbody").html(noProcessFound);
    }

 

    function UpdateTargetQty(eventSource) {

        // Target Quantity validation before Total Quantity Sum
        // Here Target Quantity should not exceeed the
        //if (ValidateOrderQty(eventSource)) {

        var TotalQty = 0;
        var targetQtyInputs = $(".TargetQtyClass_");
        $.each(targetQtyInputs, function (key, inputCtrl) {
            var ctrlVal = (inputCtrl != null && inputCtrl.value != undefined && inputCtrl.value != null && inputCtrl.value != "") ? parseFloat(inputCtrl.value) : parseFloat("0");
            TotalQty = TotalQty + ctrlVal;

        });
        document.getElementById('TargetQty').value = TotalQty.toString()
    }

    // Function to validate Production Target Quantity against WorkOrder Quantity
    function ValidateOrderQty(eventSource) {

        let targetQty = $('#txtTargetQty_' + eventSource);
        let woQty = $('#hdnWOQty_' + eventSource);
    }

    function SetStyleSizeDetails() {
        $('#styleSizeDetails').val("");

        var str = "";
        var rawitemstr = "";
        var $dataRows = $("#StyleTable tr:not('.attrbtab1')");
        var rowlenght = $dataRows.length;
        var stylerowcount = 0;
        //var stylerowCount = $('#maintable2 tr').length;
        $dataRows.each(function () {
            count = 0;
            stylerowcount++;
            var Aleng = $(this).children('td').length;
            $(this).find('.stylerow').each(function (i) {
                var itemlist = ($(this).val());  //here get td value
                count++;

                if (itemlist != undefined) {

                    if (count == Aleng) {
                        str += itemlist;
                    }
                    else {
                        str += itemlist + "~";
                    }
                }

            });

            if (stylerowcount == rowlenght) {


            }
            else {
                str += "#";
            }

        });
        $('#styleSizeDetails').val(str);

    }


    function getCustomerWorkOrders()
    {
        ClearFields();
        var startrow = 0;
        var startrowvalue = "---Select---";
        var customerID = $("#customerid").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCustomerWorkOrders", "WorkOrder")',
            data: "{'customerID':" + customerID + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#customerWorkOrders').empty();
                $("#customerWorkOrders").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                $.each(result, function (i, item) {
                    $("#customerWorkOrders").append('<option value="' + item.WorkOrderID + '">' + item.WorkOrderNo + '</option>');
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });

    }

</script>

@*<script src="~/Scripts/ProductionPlan.js"></script>*@
