﻿@model Garments_ERP.Entity.SRM_PurchaseRequestMasterEntity

<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <label>PR No<i class="text-red">*</i></label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.PR_No, new { @class = "form-control", @disabled = "disabled" })
                    <input type="hidden" id="PR_No" name="PR_No" value="@Model.PR_No" />
                    @Html.ValidationMessageFor(model => model.PR_No, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <label>PR Date</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @*@Html.TextBoxFor(m => m.PR_Date, new { @class = "form-control", @id = "PR_Date" })*@   
                        <input type="text" id="PR_Date" name="PR_Date" class="form-control" />                     
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <label>Additional Info</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.AdditionalInfo, new { @class = "form-control" })                    
                </div>
            </div>
            <div class="col-md-2">
                <label>Priority</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <select class="form-control select2" name="priority">                       
                        <option selected="selected">Normal</option>
                        <option>High</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="col-md-12">           
            <div class="col-md-2">
                <label>Department<i class="text-red">*</i></label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownListFor(m=>m.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.departmentlist, "---Select Department---", new { @class = "form-control select2" })
                </div>
            </div>
            <div class="col-md-2">
                <label>Account Head<i class="text-red">*</i></label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownListFor(m=>m.AccountHeadId, (IEnumerable<SelectListItem>)ViewBag.employeelist, "---Select Head---", new { @class = "form-control select2" })
                </div>
            </div>
        </div>
    </div>
</div>
