﻿@model Garments_ERP.Entity.SRM_PurchaseRequestMasterEntity
@{
    ViewBag.Title = "DemoPR";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}
<style>
    .imgDiv {
        display: block;
        float: left;
    }

    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        margin: 10px 10px 0 0;
        padding: 1px;
    }
        .textcolor {
        color: white;
    }
</style>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<div class="box box-default">
    <div class="titlerow bg-light-blue">
        <div class="box-header with-border">
            <h3 class="box-title textcolor">Purchase Request</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <label>PR No<i class="text-red">*</i></label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.PR_No, new { @class = "form-control", @disabled = "disabled" })
                        <input type="hidden" id="PR_No" name="PR_No" value="@Model.PR_No" />
                        @Html.ValidationMessageFor(model => model.PR_No, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2">
                    <label>PR Date</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @*@Html.TextBoxFor(m => m.PR_Date, new { @class = "form-control", @id = "PR_Date" })*@
                            <input type="text" id="PR_Date" name="PR_Date" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-2">
                    <label>Additional Info</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.AdditionalInfo, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Priority</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="form-control select2" name="priority">
                            <option selected="selected">Normal</option>
                            <option>High</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <label>Department<i class="text-red">*</i></label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.departmentlist, "---Select Department---", new { @class = "form-control select2" })
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Account Head<i class="text-red">*</i></label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.AccountHeadId, (IEnumerable<SelectListItem>)ViewBag.employeelist, "---Select Head---", new { @class = "form-control select2" })
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <label>BOM<i class="text-red">*</i></label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @*@Html.DropDownListFor(m => m.AccountHeadId, (IEnumerable<SelectListItem>)ViewBag.employeelist, "---Select Head---", new { @class = "form-control select2" })*@
                        @Html.TextBoxFor(m => m.AdditionalInfo, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="table-responsive">
            <table class="table" id="rawitemtable">
                <thead>
                    <tr class="titlerow bg-blue">
                        <th>Style No</th>
                        <th>ENQ. No</th>
                        <th>Item Category<i class="text-red">*</i></th>
                        <th>Item Name</th>
                        <th>Item Desc.</th>
                        <th>Image</th>
                        <th>Comment</th>
                        <th>Req. Qty<i class="text-red">*</i></th>
                        <th>Unit<i class="text-red">*</i></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="bg-info">
                    <tr>
                        <td style="padding-right:10px;"><input type="text" class="form-control" name="styleno"></td>
                        <td style="padding-right:10px;"><input type="text" class="form-control" name="enqno"></td>
                        <td style="padding-right:10px;">@Html.DropDownList("rawitem", (IEnumerable<SelectListItem>)ViewBag.rawitemlist, "---Select Item---", new { @class = "form-control select2", @id = "rawitem" })</td>
                        <td style="padding-right:10px;">@Html.DropDownList("rawitem", (IEnumerable<SelectListItem>)ViewBag.rawitemlist, "---Select Item---", new { @class = "form-control select2", @id = "rawitem" })</td>
                        <td style="padding-right:10px;"><input type="text" class="form-control" name="itemdescription"></td>
                        <td style="padding-right:10px;"><div class="imgDiv"> <img class="imageThumb" src="~/Images/accent.png"></div></td>
                        <td style="padding-right:10px;"><input type="text" class="form-control" name="comment"></td>
                        <td style="padding-right:10px;"><input type="text" class="form-control" name="Totalqty" onkeypress="return isNumber(event)"></td>
                        <td style="padding-right:10px;">@Html.DropDownList("unitid", (IEnumerable<SelectListItem>)ViewBag.itemunitlist, "---Select Unit---", new { @class = "form-control select2", @id = "unitid" })</td>
                        <td style="padding-right:10px;">
                            <a style="margin-right:2px;" id="upadaterecord" onclick="updaterawitem(this.id)" href=""><i class="fa fa-fw fa-plus"></i>New Item</a>
                            <a style="margin-right:2px;" id="deleterecord" onclick="deleterecord(this.id)" href=""><i class="fa fa-fw fa-edit"></i>Update BOM</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('.select2').select2();
    $('.select2').width("100%");
</script>
