﻿@model Garments_ERP.Entity.SRM_PurchaseRequestMasterEntity
@{ 
    var cururl = Request.Url.Authority;//"localhost:2423
    string styleimgpath_ = string.Empty;
    string rawimgpath_ = string.Empty;
    string itemimgpath_ = string.Empty;
    if (cururl.Contains("localhost"))
    {

        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
    else
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
}


<div class="row clearfix">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table  table-striped" id="rawitemtable">
                <thead>
                    <tr class="bg-info titlerow">
                        <th>Item Sub-Category</th>
                        <th>Item</th>
                        <th>HSN Code</th>
                        <th>Unit</th>
                        <th>Order. Qty</th>
                        <th>Req. Qty</th>
                        <th>Avail. Stock</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var r = 0;
                        var i = 0;
                    }
                    @foreach (var item in Model.SRM_PurchaseRequestItemDetail)
                    {
                        r = r + 1;
                        i++;
                        var row = "row" + r;
                        var itemid = "itemid" + r;
                        var unitid = "unitid" + r;
                        var itemdescription = "itemdescription" + r;
                        var hdnunitid = "hdnunitid" + r;
                        var comment = "comment" + r;
                        var Totalqty = "Totalqty" + r;
                        var itemimg = "itemimg" + r;
                        var upadaterecord = "upadaterecord" + i;
                        var deleterecord = "deleterecord" + item.Id;
                        var sizecount = "sizecount" + r;
                        var imgpath = "";
                        var rawitemid = "rawitemid" + r;
                        var rawIAid = "rawIAid" + r;
                        var rawitemnameid = "rawitemnameid" + r;
                        var rawitemlist = "itemlist" + r;
                        var itemsubcatid = "hiddenitemcategoryid" + r;
                        var imgraw = "imgraw" + r;
                        var viewimage = "viewimage" + r;
                        var Ruploadimage = "Ruploadimage" + r;
                        var rawitemimg = "rawitemimg" + r;
                        var rawitemcount = "rawitemcount" + r;
                        var rawitemimg_Id = "rawitemimg_Id" + r;
                        var availstock = "availstock" + r;

                    <tr id="@r" value="@r" data="@r">
                        <td>@item.M_ItemSubCategoryMaster.Itemsubcategory<input type="hidden" class="rawitem" value="@item.ItemCategoryId"></td>
                        <td>
                            @item.M_ItemMaster.ItemName
                            <input type="hidden" class="rawitem" id="@rawitemid"  value="@item.ItemId" />
                        </td>
                        <td>
                            @item.M_ItemMaster.HScode
                            <input type="hidden" class="rawitem" id="@rawIAid" value="@item.Item_Attribute_ID" />
                        </td>
                        <td> @item.M_UnitMaster.ItemUnit <input type="hidden" class="rawitem" value="@item.UnitId"></td>
                        <td><input type="text" class="form-control rawitem" readonly value="@item.orderQty" /></td>
                        <td><input type="text" class="form-control rawitem" value="@item.RequiredQty" onkeypress="return isNumber(event)" /></td>
                        <td><input type="text" class="form-control rawitem" id="@availstock" readonly onkeypress="return isNumber(event)" /></td>
                        <td>
                            @if (item.rawitemimg_list != null)
                            {
                                int l = 0;
                                foreach (var img in item.rawitemimg_list)
                                {
                                    if (l == 0)
                                    {
                                        if (Model.M_BillOfMaterialMaster.IsReadymate == 0)
                                        {
                                            imgpath = rawimgpath_ + "/" + img;
                                        }
                                        else
                                        {
                                            imgpath = itemimgpath_ + "/" + img;
                                        }
                                    }
                                    else
                                    {
                                        if (Model.M_BillOfMaterialMaster.IsReadymate == 0)
                                        {
                                            imgpath = imgpath + "," + rawimgpath_ + "/" + img;
                                        }
                                        else
                                        {
                                            imgpath = imgpath + "," + itemimgpath_ + "/" + img;
                                        }
                                    }
                                    l++;
                                }
                            }
                            @if (item.rawitemimg_list != null)
                            {
                                if (item.rawitemimg_list.Count > 0)
                                {
                                    <input type="button" class="btn btn-info" value="View Image" id="@viewimage" onclick="GetImageUpload(this.id,'preview','RawItem')" />
                                    <input type="button" class="btn btn-info" style="display:none;" id="@Ruploadimage" value="Upload Image" onclick="GetImageUpload(this.id,'upload','RawItem')" />
                                }
                                else
                                {
                                    <input type="button" class="btn btn-info" value="View Image" style="display:none;" id="@viewimage" onclick="GetImageUpload(this.id,'preview','RawItem')" />
                                    <input type="button" class="btn btn-info" id="@Ruploadimage" value="Upload Image" onclick="GetImageUpload(this.id,'upload','RawItem')" />
                                }
                            }
                            else
                            {
                                <input type="button" class="btn btn-info" value="View Image" style="display:none;" id="@viewimage" onclick="GetImageUpload(this.id,'preview','RawItem')" />
                                <input type="button" class="btn btn-info" id="@Ruploadimage" value="Upload Image" onclick="GetImageUpload(this.id,'upload','RawItem')" />
                            }
                            <input type="file" style="display:none;" id="@rawitemimg" name="rawitemimg" class="form-control" multiple />
                            <input type="hidden" value="0" class="form-control rawitemlist" id="@rawitemcount">
                            <input type="hidden" id="@rawitemimg_Id" name="@rawitemimg_Id" value="@imgpath" class="form-control" />
                        </td>
                        <td style="display:none;">
                            <input type="hidden" value="@item.Id" class="rawitem" />
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    
</div>