﻿@model Garments_ERP.Entity.SRM_PurchaseRequestMasterEntity
@{
    ViewBag.Title = "Create2";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    var cururl = Request.Url.Authority;//"localhost:2423
    string styleimgpath_ = string.Empty;
    string rawimgpath_ = string.Empty;
    string itemimgpath_ = string.Empty;
    if (cururl.Contains("localhost"))
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
    else
    {
        styleimgpath_ = "http://" + cururl + "/uploadedStyle";
        rawimgpath_ = "http://" + cururl + "/uploadedrawitem";
        itemimgpath_ = "http://" + cururl + "/ItemImages";
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<link href="~/Content/photoGalleryStyle.css" rel="stylesheet" />

<style>
    ul {
        margin: 0;
    }
</style>

@using (Html.BeginForm("Edit", "SupplierPurchase", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Customer Management</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "SupplierPurchase")">Supplier Purchase Request Details</a>  >  </div>
                <div class="HMsubline">Edit</div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "SupplierPurchase")'">Cancel</button>
                @if (Model.IsStatus == 2 || Model.IsStatus == 5)
                {
                    <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="savePR">Update</button>
                }
                else
                {
                    <button type="button" class="btn btn-success pull-right" disabled style="margin-right:5px;" id="savePR">Update</button>
                }
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Purchase Request Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Product Details
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">

                                    @Html.Partial("EditPRInfo")
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    @Html.Partial("EditItemDetails")

                                    <input type="hidden" id="hidIsReadyMate" name="hidIsReadyMate" value="@Model.M_BillOfMaterialMaster.IsReadymate" />
                                    <input type="hidden" name="hdnBOM_ID" id="hdnBOM_ID" />
                                    <input type="hidden" name="hdnEnqID" id="hdnEnqID" />
                                    <input type="hidden" name="hdnPOID" id="hdnPOID" />
                                    <input type="hidden" id="PRItemList" name="PRItemList" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


}

<!--Image View Modal-->
<div class="modal fade" id="UploadPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Preview Image</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="box box-default">

                        <div class="box-body with-border">
                            <div class="row clearfix" id="uploadid">
                                <div class="col-sm-4 col-xs-6">
                                    <span>Select Image</span>
                                </div>
                                <div class="col-sm-6  col-xs-6" style="margin:0;">
                                    <input type="hidden" id="noid" name="noid" value="" />
                                    <input type="hidden" id="nameid" name="nameid" value="" />
                                    <input type="hidden" id="typeid" name="typeid" value="" />
                                    <input type='file' id='ItemAttrimages' name='ItemAttrimages' class='form-control' multiple />
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="gallery-container">
                                        <div class="pagi-container imgpre" id="img_preview">

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top:0;">

                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="hidepop()">Cancel</button>
                    <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="Saveimage" onclick="Savehide()">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>




<script src="~/Scripts/select2.min.js"></script>
<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function () {

        $('.select2').select2();
        $('.select2').width("100%");

        var startrow = 0;
        var startrowvalue = "---Select----";
        var deptid = $("#DepartmentId").val();
        if (deptid != "") {
            $.ajax({
                type: "POST",
                url: '/SupplierPurchase/GetAccountHead/',
                data: "{'deptid':" + deptid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#AccountHeadId").append('<option value="' + startrow + '">' + startrowvalue + '</option>');
                    $.each(result, function (i, bussiness) {
                        $("#AccountHeadId").append('<option value="' + bussiness.UserId + '">' + bussiness.Name + '</option>');
                    });
                    var id = $("#HidAHId").val();
                    $("#AccountHeadId").val(id);
                    $("#AccountHeadId").select2().trigger('change');
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }


                $("#PR_Date").datepicker({
                    dateFormat: 'mm/dd/yy',
                    maxDate: 0
                });
                $('input[name="requireddate"]').datepicker({
                    dateFormat: 'mm/dd/yy',
                    minDate: 0
                });

                $("#approvaldate").datepicker({
                    dateFormat: 'mm/dd/yy',
                    maxDate: 0
                });

                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1;
                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
        var today = mm + '/' + dd + '/' +yyyy;
        document.getElementById("PR_Date").value = today;
        $('input[name="requireddate"]').val(today);
        $("#approvaldate").val(today);


        var roleid = $("#roleid").val();
        if (parseInt(roleid) != 4) {
            $(".approval").show();
            $(".approvalComment").show();
        }
        else {
            var status = $("#IsStatus").val();
            if (parseInt(status) == 2 || parseInt(status) == 5) {
                $(".approval").hide();
                $(".approvalComment").hide();
            }
            else {
                $(".approval").show();
                $("#approvalstatus").attr('disabled', 'disabled');
                $(".approvalComment").show();
                $("#comment").attr('readonly', 'readonly');
            }
        }

        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "display:none;");
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr("style", "display:none;");

        var $dataRows = $("#rawitemtable tr:not('.titlerow')");
        var rowlenght = $dataRows.length;
        if (rowlenght > 0) {
            for (var r = 1; r <= rowlenght; r++) {
                var itemid = $("#rawitemid" + r).val();
                var rawIAid = $("#rawIAid" + r).val();
                setavailstock(r, itemid, rawIAid);
            }
        }

        
    });


       function setavailstock(no, itemid, IAid) {
            if (itemid != "") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getUnit", "BillOfMaterial")',
                    data: "{'itemid':" + itemid + ",'IAid':'" + IAid + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {

                        result = JSON.parse(result);
                        debugger;
                        $.each(result.Table, function (i, item) {
                            $("#availstock" + no).val(item.AvailQty);
                        });
                        if (result.Table.length == 0) {
                            $("#availstock" + no).val(0);
                        }
                    },
                    failure: function (response) {
                        alert(response.d);
                    }
                });
            }
    }

            function SetdeptValue(id, value) {
                $("#DepartmentId").val(id);
                $("#DepartmentnameId").val(value);
                $("#Deptlist").hide();
            }

            function SetAccHdValue(id, value) {
                $("#AccountHeadId").val(id);
                $("#AccountHeadnameId").val(value);
                $("#AccHdlist").hide();
            }


            function GetSetDate(name) {
                debugger;
                var wodt = new Date($("#" + name).val());
                var dd1 = wodt.getDate();
                var mm1 = wodt.getMonth() + 1; //January is 0!
                var yyyy1 = wodt.getFullYear();
                if (dd1 < 10) {
                    dd1 = '0' + dd1;
                }
                if (mm1 < 10) {
                    mm1 = '0' + mm1;
                }
                wodt = mm1 + '/' + dd1 + '/' + yyyy1;
                $("#" + name).val(wodt);
            }

            function getBOMDetails() {
                var bomid = $('#BOM_Id').val();
                var bomno = $("#BOM_Id option:selected").text();
                $("#BOMDate").val("");
                $("#EnqNo").val("");
                $("#StyleName").val("");
                if (bomid != 0) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("getBOMDetails", "SupplierPurchase")',
                        data: "{'bomid':" + bomid + "}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            debugger;
                            $("#BOMDate").val(result.CreatedDate);
                            GetSetDate('BOMDate');
                            $("#hdnPOID").val(result.Poid);
                            $("#hdnEnqID").val(result.EnquiryId);
                            if (result.CRM_EnquiryMaster != null) {
                                $("#EnqNo").val(result.CRM_EnquiryMaster.Enquiryno);
                            }
                            $("#hdnStyleId").val(result.StyleId);
                            $("#StyleName").val(result.M_StyleMaster.Stylename);
                            $("#rawitemtable tr:gt(0)").remove();
                            var i = 0;
                            var j = 0;
                            var p = 0;
                            var r = 0;
                            $("#hdnBOM_ID").val(result.BOM_ID);
                            var rowCount = 0;
                            var items = '<option value="0">---Select---</option>';
                            //var itemcollection = result.M_BillOfMaterialDetail.ItemList;
                            $.each(result.M_BillOfMaterialDetail, function (i, itemcollection) {
                                $.each(itemcollection.ItemList, function (i, item) {
                                    items += '<option value="' + item.Id + '">' + item.ItemName + '</option>';
                                });
                            });

                            $.each(result.M_BillOfMaterialDetail, function (i, rawitem) {
                                debugger;
                                rowCount++;
                                var selecteditemcate = rawitem.M_ItemSubCategoryMaster.Itemsubcategory;
                                var bomid = $("#hdnBOM_ID").val();
                                var enqid = $("#hdnEnqID").val();
                                r = r + 1;
                                var row = "row" + r;
                                var itemid = "itemid" + r;
                                var unitid = "unitid" + r;
                                var hdnunitid = "hdnunitid" + r;
                                var itemimg = "itemimg" + r;
                                //$.each(rawitem.ItemList, function (i, item) {
                                //    items += '<option value="' + item.Id + '">' + item.ItemName + '</option>';
                                //});
                                var updlink = "";
                                if (enqid != null) {
                                    updlink = 'http://localhost:2423/BillOfMaterial/Edit/' + rawitem.ID + '/?bomid=' + bomid + ''
                                }
                                else {
                                    updlink = 'http://localhost:2423/BillOfMaterial/Edit/' + result.Poid + '/?bomid=' + bomid + ''
                                }

                                var imgpath = "@rawimgpath_" + "/" + result.porawitemlist[r - 1].imagepath;
                                // var imgpath = "http://localhost:2423/uploadedrawitem/" + bussiness.rawitemimg;
                                rawdiv = '<tr class="bg-info" id="' + row + '">' +
                                    '<td>' + selecteditemcate + '<input type="hidden" class="form-control" name="hiddenitemcategoryid" value="' + rawitem.ItemSubCategoryId + '" id="hiddenitemcategoryid' + r + '"></td>' +
                                    '<td><input type="text" class="form-control" id="rawitemnameid' + r + '" name="rawitemnameid' + r + '"  onkeyup="Getrawitemlist(' + r + ')" />' +
                                    '<input type="hidden" id="rawitemid' + r + '" name="rawitemid" class="rawitemlist" /><div id="itemlist' + r + '" class="searchlist" style="display:none;"></div><input type="hidden" id="rawIAid' + r +'" name="rawIAid" class="rawitemlist" /></td>' +
                                    '<td class="col-md-1"><input type="text" class="form-control" id="' + unitid + '" readonly><input type="hidden" class="form-control" id="' + hdnunitid + '" name="unitid"></td>' +
                                        '<td><input type="text" class="form-control" name="itemdescription"></td>' +
                                    '<td><div class="imgDiv"> <img class="imageThumb" src="' + imgpath + '" id="' + itemimg + '"></div></td>' +
                                        '<td><input type="text" class="form-control" name="comment"></td>' +
                                        '<td class="col-md-1"><input type="text" class="form-control" name="Totalqty" value="' + rawitem.RequiredQty + '" onkeypress="return isNumber(event)"></td>' +
                                    '<td style="display:none;"><input type="hidden" value="0" name="rowid" /></td>' +
                                    '</tr>';

                                $('#rawitemtable').append(rawdiv);

                            });
                            $('.select2', $('#rawitemtable')).select2().width("100%");
                            // $('.select2').width("100%");
                        },
                        failure: function (response) {
                            alert(response.d);
                        }
                    });
                }


            }


            function SetitemValue2(id, value, attbid, no) {
                $("#rawitemid" + no).val(id);
                $("#rawIAid" + no).val(attbid);
                $("#rawitemnameid" + no).val(value);
                $("#itemlist" + no).hide();
                getItemdetails(no);
            }


            function getItemdetails(no) {
                var number =no;
                var itemid = $('#itemid' + number).val();
                $('#unitid' + number).val("");
                if (itemid != "") {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("getUnit", "BillOfMaterial")',
                        data: "{'itemid':" + itemid + "}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            $('#unitid' + number).val(result.M_UnitMaster.ItemUnit);
                            $('#hdnunitid' + number).val(result.Unit);

                        },
                        failure: function (response) {
                            alert(response.d);
                        }
                    });
                }
                else {
                    $('#unitid' + number).val("");
                }
            }

</script>
<script src="~/Scripts/SaveSupplierPR.js"></script>






