﻿@model IEnumerable<Garments_ERP.Entity.SRM_PurchaseRequestMasterEntity>
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}
<style>
    #footerExport td {
        cursor: pointer;
        text-align: center;
        border: 1px solid #ccc;
        border: none;
    }

    .loader_img {
        text-align: center;
        min-height: 100px;
        padding-top: 50px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Content/exportpugin/tableExport.js"></script>
<script src="~/Content/exportpugin/jquery.base64.js"></script>
<script src="~/Content/exportpugin/html2canvas.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/base64.js"></script>
<script src="~/Content/exportpugin/jspdf/libs/sprintf.js"></script>
<script src="~/Content/exportpugin/jspdf/jspdf.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />




@using (Html.BeginForm("Index", "SupplierPurchase", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    <div style="display:none;" id="divLoadingContent">
        <div id="CoilMappingloader" class="loader_img">
            <img src="~/Images/loader.gif" class="loading-img " />
        </div>
    </div>

    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Vendor Management</a>  >  </div>
                <div class="HMsubline">Supplier Purchase Request Details</div>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-block btn-success btn-sm" href="@Url.Action("Create2", "SupplierPurchase")">Create PR</a>
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <div class="col-xs-12 col-sm-3">
                                <h2 class="hedtit">
                                    Supplier PR Details
                                </h2>
                            </div>

                            <div class="col-xs-6 col-sm-3">
                                <h4 class="card-inside-title">From Date</h4>
                                <div class="input-group date " id="bs_datepicker_component_container">
                                    <div class="form-line">
                                        @if (@ViewBag.fromdate != null)
                                        {
                                            <input type="text" class="form-control" placeholder="From Date" id="fromdate" autocomplete="off" name="fromdate" value=@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.fromdate))>
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" id="fromdate" autocomplete="off" name="fromdate">
                                        }
                                    </div>
                                    <span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-3">
                                <h4 class="card-inside-title">To Date</h4>
                                <div class="input-group date" id="bs_datepicker_component_container1">
                                    <div class="form-line">
                                        @if (@ViewBag.todate != null)
                                        {
                                            <input type="text" class="form-control" placeholder="To Date" id="todate" autocomplete="off" name="todate" value=@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @ViewBag.todate))>
                                        }

                                        else
                                        {
                                            <input type="text" class="form-control" id="todate" name="todate" autocomplete="off">
                                        }
                                    </div>
                                    <span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <button type="button" class="btn btn-info btn-sm" onclick="FilterDataShow()">Show</button>
                                <button type="button" class="btn btn-info btn-sm" onclick="RefreshPage()">Refresh</button>
                            </div>
                        </div>
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#Pending" data-toggle="tab" onclick="GetData(2,'Pending')">
                                        <i class="material-icons">access_time</i> Pending For Approval (<label id="Pendingcount" name="Pendingcount">0</label>)
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#InProgress" data-toggle="tab" onclick="GetData(3,'InProgress')">
                                        <i class="material-icons">hourglass_empty</i> In-Progress  (<label id="InProgresscount" name="InProgresscount">0</label>)
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#Completed" data-toggle="tab" onclick="GetData(4,'Completed')">
                                        <i class="material-icons">check_circle_outline</i> Completed  (<label id="Completedcount" name="Completedcount">0</label>)
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#Rejected" data-toggle="tab" onclick="GetData(5,'Rejected')">
                                        <i class="material-icons">highlight_off</i> Rejected  (<label id="Rejectedcount" name="Rejectedcount">0</label>)
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content" id="Tablist">
                                <div role="tabpanel" class="tab-pane fade in active" id="Pending" datavalue="2">

                                </div>


                                <div role="tabpanel" class="tab-pane fade" id="InProgress" datavalue="3">

                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="Completed" datavalue="4">

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rejected" datavalue="5">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<input type="hidden" id="altmsg" value="@Convert.ToString(TempData["alertmsg"])" />
<script>
    $(function () {
        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr('style', 'display:none;');
        $("#bs_datepicker_component_container1 > .ui-datepicker-inline").attr('style', 'display:none;');

        GetData(2, 'Pending');

        var param = { 'Type': 4,'attribute':''};
        $.ajax({
            type: "POST",
            url: '@Url.Action("StatusCount", "CustomerEnquiry")',
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                result = JSON.parse(result);
                $.each(result.Table, function (i, data) {
                    $("#Pendingcount").text(data.pending);
                    $("#InProgresscount").text(data.inprogress);
                    $("#Completedcount").text(data.completed);
                    $("#Rejectedcount").text(data.Rejected);
                });
            },
            failure: function (response) {
                         alert(response.d);
            }
         });

        //$('.timepicker').timepicker({
        //    showInputs: false
        //})
    });


    $('#bs_datepicker_component_container').datepicker({
        autoclose: true,
        container: '#bs_datepicker_component_container'
    });

    $('#bs_datepicker_component_container1').datepicker({
        autoclose: true,
        container: '#bs_datepicker_component_container1'
    });


    function deleterecord(id) {
        var deletionid = id;
        var param = { 'Id': deletionid };

        swal({
            title: 'Confirmation',
            text: 'Are you sure to delete supplier purchase request?',
            showConfirmButton: true,
            showCancelButton: true,
            closeOnConfirm: true,
            closeOnCancel: true,
            confirmButtonText: 'Confirm',
            confirmButtonColor: '#8CD4F5',
            cancelButtonText: 'Cancel'
        },
         function (isConfirm) {

             if (isConfirm) {
                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("DeletePR", "SupplierPurchase")',
                     data: JSON.stringify(param),
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: function (result) {

                         if (result == true) {
                             window.location.reload();
                         }

                     },
                     failure: function (response) {
                         alert(response.d);
                     }
                 });

             } else {
                 swal("Cancelled", ")", "error");
             }
         });
    }

     function Canclequo(id) {
        var quoid = id;
        var param = { 'id': quoid };

        swal({
            title: 'Confirmation',
            text: 'Are You Sure Rejected This Purchase Request?',
            showConfirmButton: true,
            showCancelButton: true,
            closeOnConfirm: true,
            closeOnCancel: true,
            confirmButtonText: 'Confirm',
            confirmButtonColor: '#8CD4F5',
            cancelButtonText: 'Cancel'
        },
         function (isConfirm) {

             if (isConfirm) {

                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("RejectedPR", "SupplierPurchase")',
                     data: JSON.stringify(param),
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: function (result) {

                         if (result == true) {
                             swal({
                                 title: 'Confirmation',
                                 text: 'Record Rejected Successfully!',
                                 showConfirmButton: true,
                                 closeOnConfirm: true,
                                 closeOnCancel: true,
                                 confirmButtonText: 'OK',
                                 confirmButtonColor: '#8CD4F5',
                             },
                                 function (isConfirm) {
                                     if (isConfirm) {
                                         window.location.reload();
                                     }
                                 }
                             )

                         }

                     },
                     failure: function (response) {
                         alert(response.d);
                     }
                 });

             } else {
                 swal("Cancelled", ")", "error");
             }
         });


    }


    function GetData(Status, Name) {

        $("#Pending").empty();
        $("#Completed").empty();
        $("#InProgress").empty();
        $("#Rejected").empty();

        $("#" + Name).html(loadingHTML());
        $("#" + Name).load("@Url.Action("GetStatusData", "SupplierPurchase")", { 'IsStatus': Status});

    }


    function loadingHTML() {
        return $("#divLoadingContent").html();
    }

    function setDateformat(Dt) {

        var dt1 = Dt.substring(6, Dt.length);
        dt1 = dt1.substring(0, dt1.length - 2);
        var today = new Date(parseInt(dt1));
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        // var today2 = today.setMonth(mm + 1);
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        today = mm + '/' + dd + '/' + yyyy;

        return today;
    }

     function FilterDataShow() {
        debugger;
        var formDate = $("#fromdate").val();
        var toDate = $("#todate").val();
        var Name = $("#Tablist > .active").attr('id');
         var Status = $("#" + Name).attr("datavalue");

         $("#Pending").empty();
        $("#Completed").empty();
        $("#InProgress").empty();
        $("#Rejected").empty();

        $("#" + Name).html(loadingHTML());
        $("#" + Name).load("@Url.Action("GetFilterStatusData", "SupplierPurchase")", { 'fromdate': formDate, 'todate': toDate, 'IsStatus': Status});

    }
</script>