﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}
@model Garments_ERP.Entity.M_ItemMasterEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />
<link href="~/Content/themecs/jquery.multiselect.css" rel="stylesheet" />

<style>
    ul {
        margin: 0;
    }

    .pluxad {
        float: right;
        padding: 8px;
        background: green;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrash1 {
        float: right;
        padding: 8px;
        background: red;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrash {
        float: right;
        padding: 8px;
        background: red;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .bodyscol {
        max-height: 165px;
        display: inline-block;
        width: 100%;
        overflow: scroll;
    }

    .close {
        float: left;
        padding: 4px 5px;
        margin: 5px 3px;
        cursor: pointer;
        color: #f44336;
        opacity: 1;
    }
</style>
@using (Html.BeginForm("Create", "FGCreate", FormMethod.Post, new { @class = "form-horizontal form-simple", enctype = "multipart/form-data" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-8">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Production</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "FGCreate")">FG Create</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "FGCreate")'">Cancel</button>
                <button type="submit" class="btn btn btn-success pull-right" style="margin-right:5px;" id="saveFinishGoods">Save</button>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Finish Goods Details
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i> Finish Goods Create

                                    </a>
                                </li>

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Finished Item Name<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control valid" data-val="true" id="fgitemname" name="fgitemname" />
                                                </div>
                                                <input type="hidden" id="fgitemname" name="fgitemname" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Finished Item Code<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control valid" data-val="true" id="fgitemcode" name="fgitemcode" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>HSN Code<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="hsncode" name="hsncode" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>GST Charge(%)<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <select class="form-control select2" id="GSTCharge" name="GSTCharge"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Packing Type<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.DropDownListFor(m => m.Packingtypeid, (IEnumerable<SelectListItem>)ViewBag.packingtypelist, "---Select Type---", new { @class = "form-control select2" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Is Active<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <select class="form-control select2" id="isActive" name="isActive">
                                                        <option value="1">Yes</option>
                                                        <option value="0">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Is Set<i style="color:red;">*</i></label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">                                                    
                                                    <input checked="checked" id="is_set" name="isNewlyEnrolled" type="checkbox" value="true" />
                                                    <label for="sezid"></label>
                                                </div>
                                            </div>
                                        </div>


                                    </div>



                                </div>
                                @*rahul*@
                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <input type="hidden" class="form-control" id="Target_Qty" name="Target_Qty">
                                    <input type="hidden" id="finishitemdetails" name="finishitemdetails" />
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="box box-default">
                                                <div class="box-header with-border" style="background-color: #f8f1f1;padding: 1px 12px;color: #000;margin-bottom:10px;">
                                                    <h5 class="box-title">Item Stock Details</h5>
                                                    <div class="box-tools pull-right">
                                                    </div>
                                                </div>
                                                <div class="box-body">

                                                    <div class="row clearfix">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="required">
                                                                    <label>Item Name</label>
                                                                </div>
                                                                <input type="hidden" id="hiddenitemcategoryid" name="hiddenitemcategoryid" value="" />
                                                                <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="" autocomplete="off" id="fgitemnameid" name="fgitemnameid" />
                                                                <input type="hidden" id="InItem" name="InItem" class="rawitemlist" />
                                                                <input type="hidden" id="rawIAid" class="rawitemlist" />
                                                            </div>


                                                            <div class="col-md-2">
                                                                <div class="required">
                                                                    <label>Batch No</label>
                                                                </div>
                                                                <select class="form-control active" multiple="multiple" id="Batchnoid" name="Batchnoid[]" onchange="GetInwardQty()"></select>
                                                                <input type="hidden" id="Rowid" name="Rowid" />
                                                                <span id="itemmsg" class="help-block" style="color:red;"></span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="required">
                                                                    <label>Total Qty</label>
                                                                </div>
                                                                <input type="text" class="form-control" id="batchTotQty" value="0" name="batchTotQty" readonly />
                                                            </div>

                                                            <div class="col-md-1 ">
                                                                <button type="button" class="btn btn-info" onclick="SetBatchNo()">Add</button>
                                                                <input type="hidden" id="totalisssue" name="totalisssue" />
                                                                <input type="hidden" id="totalitemqty" name="totalitemqty" />
                                                                @*<button type="button" class="btn btn-info">Add</button>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-12" style="margin-bottom:30px;">
                                                        <div class="box-body table-responsive no-padding">
                                                            <div class="col-sm-12" style="margin:0;">
                                                                <div class="table table-responsive">
                                                                    <table class="table table-striped" id="BatchInfoTable" style="width: 100%;display: none;">
                                                                        <thead style="background-color:#f8f1f1;color:#000;display: inline-block;width: 100%;height: 40px;">
                                                                        </thead>
                                                                        <tbody class="body"></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <input type="hidden" name="incategoryids" id="incategoryids" />
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
}
<script>
    $(document).ready(function () {

        //Get Tax List
        $.ajax({
            type: "POST",
            url: '@Url.Action("getGSTTaxlist", "quotation")',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (gstsdata) {

                var result_ = JSON.parse(gstsdata);
                $('#GSTCharge').empty();
                $("#GSTCharge").append('<option value="select">Select</option>');
                $.each(result_, function (i, item) {

                    $("#GSTCharge").append('<option value="' + item.Tax_Rate + '">' + item.Category_Name + '</option>');
                });

            },
            failure: function (response) {
                alert(response.d);
            }
        });

        $("#transferdate").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });
        $("#Deliverydate").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });
        $("#wodate").datepicker({
            dateFormat: 'mm/dd/yy',
            maxDate: 0
        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = mm + '/' + dd + '/' + yyyy;



    });


</script>

<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script src="~/Scripts/themesjs/jquery.multiselect.js"></script>
<script src="~/Scripts/CreateFG.js"></script>

