﻿@model IEnumerable<Garments_ERP.Entity.FG_TransferMasterEntity>

<style>
    .pluxad {
        float: right;
        padding: 8px;
        background: green;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrash {
        float: right;
        padding: 8px;
        background: red;
        color: #fff;
        border-radius: 14px;
        cursor: pointer;
    }

    .pluxtrashdis {
        float: right;
        padding: 8px;
        background: #cec9c9;
        color: #af9a9a;
        border-radius: 14px;
        cursor: pointer;
    }
</style>

<table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
    <thead>
        <tr role="row">
            <th style="display:none;">Id</th>
            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                Transfer No
            </th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                Transfer Date
            </th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                Warehouse
            </th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                Work Order No
            </th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                Item Name
            </th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                HSN Code
            </th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                Tot. Batch Qty.
            </th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                Tot. Produce Qty.
            </th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                Tot. Bal. Qty.
            </th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 300px;">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr role="row" class="odd">
                <td style="display:none;">@data.Id</td>
                <td class="sorting_1">@data.TransferNo</td>
                <td>
                    @{
                        string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.TransferDate));
                        tndt = tndt.Replace('-', '/');
                    }
                    @tndt

                </td>
                <td>@data.M_WAREHOUSE.SHORT_NAME</td>
                <td>@data.MFG_WORK_ORDER.WorkOrderNo</td>
                <td>@data.ItemName</td>
                <td>@data.HSNCode</td>
                <td>@data.TotBatchQty</td>
                <td>@data.ProducedQty</td>
                <td>@data.BalanceQty</td>
                <td>
                    <a href="@Url.Action("Edit", "Transfer", new { id = data.Id})" class="btn  btn-success btn-sm inner " data-original-title="Edit Quotation" style="padding:2px 7px 5px 7px;border-radius: 4px;margin-bottom: 4px;"><i class="fa fa-fw fa-edit"></i></a>
                    @if (data.RackAllocation != "" && data.RackAllocation != null)
                    {
                        <button type="button" class="btn btn-warning btn-sm inner" onclick="setRackAllocation('@data.Id')" style="padding:2px 7px 5px 7px;border-radius: 4px;">View Rack Allocation</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger btn-sm inner" onclick="setRackAllocation('@data.Id')" style="padding:2px 7px 5px 7px;border-radius: 4px;">Rack Allocation</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="RackAllocationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">×</span>
                </button>
                <h4 class="modal-title">Rack Allocation Details</h4>
            </div>
            <form id="prodform">
                <div class="modal-body" style="padding-bottom:0;">
                    <div class="box box-default">

                        <div class="box-body with-border">
                            <div class="row clearfix" style="margin-bottom:10px;">
                                <div class="col-sm-2">
                                    <span>Transfer No</span>
                                </div>
                                <div class="col-sm-4" style="margin:0;">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" height="20" class="form-control disabled" readonly name="transferno" id="transferno" value="" />
                                            <input type="hidden" id="transferid" name="transferid" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <span>Warehouse</span>
                                </div>
                                <div class="col-sm-4" style="margin:0;">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" readonly value="" id="warehousenameid" class="form-control disabled" />
                                            <input type="hidden" id="warehouseid" name="warehouseid" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="rackallocationtab">
                                        <thead>
                                            <tr class="bg-info">
                                                <th style="width:190px;">Item</th>
                                                <th style="width:190px;">Batch/Lot No.</th>
                                                <th>Batch/Lot Qty.</th>
                                                <th style="width:190px;">Rack</th>
                                                <th>Rack Qty</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <select id="rackItemName" name="rackItemName" class="form-control select2" onchange="GetbatchLot()"></select>
                                                </td>
                                                <td>
                                                    <select id="BatchLotid" name="BatchLotid" class="form-control select2" onchange="GetInwardQty()" multiple></select>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control disabled" readonly value="" id="batclotQty" style="width:150px" />
                                                </td>
                                                <td>
                                                    <select id="rackid" name="rackid" class="form-control select2" multiple></select>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control disabled" readonly value="" id="rackQty" style="width:150px" />
                                                </td>
                                                <td><i class='fa fa-plus pluxad' onclick='SetRackData()'></i></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="pophide()">Cancel</button>
                    <button type="button" class="btn btn pull-right" style="margin-right:5px;" id="SaveProdInfo">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });

     function setRackAllocation(id) {

        var param = { 'Id': parseInt(id)};
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetTransferData", "Transfer")',
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                $('#RackAllocationModal').modal('toggle');
                $('.select2').select2();
                $('.select2').width("100%");
                if (result != null) {
                    $("#transferid").val(id);
                    $("#transferno").val(result.TransferNo);
                    $("#warehouseid").val(result.WarehouseId);
                    $("#warehousenameid").val(result.M_WAREHOUSE.SHORT_NAME);
                    debugger;
                    if (result.RackAllocation != "" && result.RackAllocation != null) {
                        $("#rackallocationtab > tbody").empty();
                        $("#rackallocationtab > tfoot").hide();
                        $("#SaveProdInfo").hide();
                        $.each(result.RackAllocation.split('#'), function (k, data) {
                            debugger;
                            if (data != "") {
                                var rackstr = data.split('~');
                                var str = '<tr><td>' + rackstr[1] + '<input type="hidden" value="' + rackstr[0] + '" class="rackdata"><input type="hidden" value="' + rackstr[2] + '" class="rackdata"></td>' +
                                    '<td>' + rackstr[4] + '<input type="hidden" value="' + rackstr[3] + '" datavalue="' + rackstr[4] + '" class="rackdata Batchnor"></td>' +
                                    '<td>' + rackstr[5] + '<input type="hidden" value="' + rackstr[5] + '" class="rackdata"></td>' +
                                    '<td>' + rackstr[7] + '<input type="hidden" value="' + rackstr[6] + '" datavalue="' + rackstr[7] + '" class="rackdata rackvalue"></td>' +
                                    '<td>' + rackstr[8] + '<input type="hidden" value="' + rackstr[8] + '" class="rackdata"></td>' +
                                    '<td><i class="fa fa-trash pluxtrashdis"></i></td><tr>';
                                $("#rackallocationtab > tbody").append(str);
                            }
                        });
                        
                    }
                    else {
                        if (result != null) {
                            $("#rackItemName").empty();
                            $("#rackItemName").append('<option value="0">Select</option>');
                            $("#rackItemName").append('<option value="' + result.ItemId + '" dataAttr="' + result.Item_Attribute_Id + '"   databatch="' + result.BatchList + '">' + result.M_ItemMaster.ItemName + '</option>');
                        }
                        GetRackData();
                    }
                }
                
            },
            failure: function (response) {
                         alert(response.d);
            }
         });
    }

    function GetRackData() {
        var Warehouseid = $("#warehouseid").val();
        if (parseInt(Warehouseid) > 0) {
            var param = { 'Id': Warehouseid };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetRackData", "SupplierGRN")',
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result != null) {
                        $("#rackid").empty();
                        $("#rackid").append('<option value="0">Select</option>');
                        $.each(result, function (i, data) {
                            $("#rackid").append('<option value="' + data.Id+'">' + data.Rack+'</option>');
                        });
                    }
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
    }

    function GetbatchLot() {
        var MyPIstr = $("#rackItemName option:selected").attr("databatch");
        if (MyPIstr != "" && MyPIstr != null && MyPIstr != undefined) {
            $("#BatchLotid").empty();
            $("#BatchLotid").append("<option value='0'>Select</option>");
            $.each(MyPIstr.split('#'), function (i, data) {
                var btachdata = data.split(',');
                var Blen = btachdata.length;
                if (Blen == 3) {
                    $("#BatchLotid").append("<option value='" + btachdata[2] + "' text='" + btachdata[1] + "'>" + btachdata[1] + "</option>");
                }
                else {
                    $("#BatchLotid").append("<option value='" + btachdata[1] + "' text='" + btachdata[0] + "'>" + btachdata[0] + "</option>");
                }
            });
        }
        else {
            $("#BatchLotid").empty();
        }
    }

    function GetInwardQty() {
        debugger;
        var ItemId = $("#rackItemName").val();
        var itemAttr = $("#rackItemName option:selected").attr('dataAttr');
        var inwardid = $('#BatchLotid option:selected').toArray().map(item => item.value).join();

        var Josndata = { 'ItemId': ItemId, 'ItemAttr': itemAttr, 'inwardid': inwardid };
        var MyJson = JSON.stringify(Josndata);
        $.ajax({
            type: "POST",
            url: '/BillOfMaterial/SaveAutoPR/',
            data: "{'Model':'" + MyJson + "','type':9}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                result = JSON.parse(result);
                $.each(result.Table, function (key, BT) {
                    $("#batclotQty").val(BT.TotalQty);
                    $("#rackQty").val(BT.TotalQty);
                });
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function SetRackData() {
        var ItemId = $("#rackItemName").val();
        var Itemname = $("#rackItemName option:selected").text();
        var itemAttr = $("#rackItemName option:selected").attr('dataAttr');  
        var inwardid = $('#BatchLotid option:selected').toArray().map(item => item.value).join();
        var inwardvalue = $('#BatchLotid option:selected').toArray().map(item => item.text).join();
        var batchlotQty = $("#batclotQty").val();
        var Rackid = $('#rackid option:selected').toArray().map(item => item.value).join();
        var Rackvalue = $('#rackid option:selected').toArray().map(item => item.text).join();
        var rackQty = $("#rackQty").val();
        var $dataRows = $("#rackallocationtab > tbody > tr:not('.titlerow')");
        var len = $dataRows.length;
        var ErrorMessage = "";
        if (len > 0) {
            $dataRows.each(function () {
                $(this).find('.Batchnor').each(function (i) {
                    var batchno = ($(this).attr("datavalue"));
                    $.each(inwardvalue.split(','), function (i, dt) {
                        $.each(batchno.split(','), function (i, batchdt) {
                            if (batchdt == dt) {
                                ErrorMessage = batchdt + " This Batch No. All Ready in Row!";
                                isvalid = false;
                            }
                        });
                    });
                });
            });
            $dataRows.each(function () {
                $(this).find('.rackvalue').each(function (i) {
                    var rackno = ($(this).attr("datavalue"));
                    $.each(Rackvalue.split(','), function (i, dt) {
                        $.each(rackno.split(','), function (i, rackdt) {
                            if (rackdt == dt) {
                                ErrorMessage = rackdt + " This Rack All Ready in Row!";
                                isvalid = false;
                            }
                        });
                    });
                });
            });
        }

        if (ErrorMessage != "") {
            swal({
                title: 'Error',
                text: ErrorMessage,
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            });
            isvalid = false;
        } else {
            var str = '<tr><td>' + Itemname + '<input type="hidden" value="' + ItemId + '" class="rackdata"><input type="hidden" value="' + itemAttr + '" class="rackdata"></td>' +
                '<td>' + inwardvalue + '<input type="hidden" value="' + inwardid + '" datavalue="' + inwardvalue+'" class="rackdata Batchnor"></td>' +
                '<td>' + batchlotQty + '<input type="hidden" value="' + batchlotQty + '" class="rackdata"></td>' +
                '<td>' + Rackvalue + '<input type="hidden" value="' + Rackid + '" datavalue="' + Rackvalue +'" class="rackdata rackvalue"></td>' +
                '<td>' + rackQty + '<input type="hidden" value="' + rackQty + '" class="rackdata"></td>' +
                '<td><i class="fa fa-trash pluxtrash" onclick="removetr()"></i></td><tr>';
            $("#rackallocationtab > tbody").append(str);
        }
        $("#rackItemName").val(0);
        $('#BatchLotid').val(0);
        $("#batclotQty").val("");
        $('#rackid').val(0);
        $("#rackQty").val("");
        $(".select2").trigger('change');
        GetRackData();
    }

    $(document).on('click', 'i.pluxtrash', function () {
        $(this).closest('tr').remove();
        return false;
    });

    function removetr() {
        $(this).closest('tr').remove();
        return false;
    }

    $("#SaveProdInfo").on('click', function () {
        var str = "";
        var $dataRows = $("#rackallocationtab > tbody > tr:not('.titlerow')");
        var rowlenght = $dataRows.length;
        var rackrowcount = 0;
        //var stylerowCount = $('#maintable2 tr').length;
        $dataRows.each(function () {
            count = 0;
            rackrowcount++;
            var Aleng = $(this).children('td').length;
            $(this).find('.rackdata').each(function (i) {
                var itemlist = ($(this).val());  //here get td value
                count++;

                if (itemlist != undefined) {

                    if (count == Aleng) {
                        str += itemlist;
                    }
                    else {
                        str += itemlist + "~";
                    }
                }

            });

            if (rackrowcount == rowlenght) {

            }
            else {
                str += "#";
            }

        });

        var Warehouseid = $("#warehouseid").val();
        var tranferId = $("#transferid").val();
        if (str != "" && Warehouseid > 0 && tranferId>0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveRackAllocation", "SupplierGRN")',
                data: "{'RackStr':'" + str + "','WarehouseId':" + Warehouseid + ",'InwardId':" + tranferId +",'type':7}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result != null) {
                        $('#RackAllocationModal').modal('hide');
                        if (parseInt(result) > 0) {
                            swal({
                                title: 'Success',
                                text: "Rack Allocation Save Successfully!",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Ok",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    window.location.reload();
                                }
                            });
                            
                        }
                        else {
                            swal({
                                title: 'Error',
                                text: "Rack Allocation Not Save!",
                                type: "error",
                                showCancelButton: false,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Ok",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    window.location.reload();
                                }
                            });
                        }
                    }

                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
    });

    function pophide() {
        $('.modal').modal('hide');
    }
</script>
