﻿@model Garments_ERP.Entity.FG_TransferMasterEntity
@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
}


<style>


    ul {
        margin: 0;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />


@using (Html.BeginForm("Edit", "Transfer", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{

    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-8">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Production Planning</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "Transfer")">FG Transfer Detail</a>  >  </div>
                <div class="HMsubline">Edit</div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Transfer")'">Cancel</button>
                <button type="submit" class="btn btn btn-success pull-right" disabled style="margin-right:5px;" id="editTransfer">Update</button>
            </div>

        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Work Order Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#profile_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">ballot</i> Product Details
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Transfer No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" id="transferid" name="transferid" value="@Model.Id" />
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(m => m.TransferNo, new { @class = "form-control disabled", @readonly = true })
                                                </div>

                                                @*<input type="hidden" id="TransferNo" name="TransferNo" value="@Model.TransferNo" />*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Transfer Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    <input type="text" class="form-control pull-right disabled" readonly id="TransferDate" name="TransferDate" value="@Convert.ToString(string.Format(" {0:MM/dd/yyyy}", @Model.TransferDate))">
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row" style="display:none;">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Production Plan No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select id="productionplanid" name="productionplanid" class="form-control select2"> </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Production Plan Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(m => m.ProductionPlanDate, new { @class = "form-control disabled", @readonly = true })
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Department</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="@Model.M_DepartmentMaster.Departmentname" autocomplete="off" id="DepartmentnameId" name="DepartmentnameId" />
                                                </div>
                                                <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId" />

                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Warehouse</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control text-box single-line ui-autocomplete-input valid" data-val="true" value="@Model.M_WAREHOUSE.SHORT_NAME" autocomplete="off" id="warehousenameid" name="warehousenameid" />
                                                </div>
                                                <input type="hidden" id="WarehouseId" name="WarehouseId" value="@Model.WarehouseId" />

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="required">
                                                <label>Ref Work Order No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" name="RefWorkOrderNo" id="RefWorkOrderNo" class="form-control disabled" readonly="readonly" value="@Model.MFG_WORK_ORDER.WorkOrderNo" />
                                                </div>
                                                <input type="hidden" id="RefWorkOrderNoid" name="RefWorkOrderNoid" value="@Model.MFG_WORK_ORDER.WorkOrderID" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Work Order Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group date" id="bs_datepicker_component_container">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(m => m.RefWorkOrderDate, @Convert.ToString(string.Format(" {0:MM/dd/yyyy}", @Model.RefWorkOrderDate)), new { @class = "form-control disabled", @id = "RefWorkOrderDate", @readonly = true })
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Comment</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Item Name</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="ItemNameid" value="@Model.M_ItemMaster.ItemName" readonly />
                                                    <input type="hidden" id="Itemid" name="Itemid" value="@Model.ItemId" />
                                                    <input type="hidden" id="ItemAttriid" name="ItemAttriid" value="@Model.Item_Attribute_Id" />
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>HSN Code</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="HSNCodeid" name="HSNCodeid" value="@Model.HSNCode" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Unit</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="ItemUnitid" value="@Model.UnitName" readonly />
                                                    <input type="hidden" id="Unitid" name="Unitid" value="@Model.Unit" />
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>WO Qty</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="WOQty" name="WOQty" value="@Model.WOQty" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-12" style="margin-bottom:20px;">
                                            <div class="table table-responsive">
                                                @*<label>Size Entries</label>*@
                                                <table class="table table-striped" id="ItemBatchtab">
                                                    <thead>
                                                        <tr class="title bg-info">
                                                            <th class="col-md-2">Batch/Lot No</th>
                                                            <th class="col-md-2">Batch Qty</th>
                                                            <th class="col-md-2">Produced Qty</th>
                                                            <th class="col-md-2">Balance Qty</th>
                                                            <th class="col-md-2">QC</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            int i = 0;
                                                            }
                                                        @foreach(var data in Model.FG_TransferDetail)
                                                        {
                                                            string workorderqty = "workorderqty" + i;
                                                            string producedqty = "producedqty" + i;
                                                            string balanceqty = "balanceqty" + i;
                                                            string qcdone = "qcdone" + i;
                                                            string hideqcdone = "hideqcdone" + i;
                                                            <tr>
                                                                <td>@data.BtachLot <input type="hidden" value="@data.batchlotid" class="stylerow"></td>
                                                                <td>@data.BatchLotQty<input type="hidden" value="@data.BatchLotQty" id="@workorderqty" name="@workorderqty" class="stylerow" /></td>
                                                                <td><input type="text" class='form-control stylerow producedqty' value="@data.ProducedQty" id="@producedqty" name="@producedqty" onchange="calQty(this.id)" readonly onkeypress="return isNumber(event)" /></td>
                                                                <td><input type="text" class="form-control stylerow" id="@balanceqty" name="@balanceqty" value="@data.BalanceQty " readonly /></td>
                                                                <td>
                                                                    @if (data.IsQC_Done.Trim() == "Yes")
                                                                    {
                                                                        <input type="checkbox" id="@qcdone" name="@qcdone" onchange="isQCcheck(this.id)" class="filled-in chk-col-red" checked="checked" disabled />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" id="@qcdone" name="@qcdone" onchange="isQCcheck(this.id)" class="filled-in chk-col-red" disabled />
                                                                    }
                                                                    <label for="@qcdone"></label>
                                                                    <input type="hidden" class="form-control stylerow" id="@hideqcdone" name="@hideqcdone" value="@data.IsQC_Done" />
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="row clearfix" style="display:none;">
                                                <input type="hidden" id="Bomliststr" name="Bomliststr" />
                                                <input type="hidden" class="form-control" id="totBatchQty" value="@Model.TotBatchQty" readonly />
                                                <input type="hidden" class="form-control" id="totProducedQty" value="@Model.ProducedQty" name="totProducedQty" readonly />
                                                <input type="hidden" class="form-control" id="totBalancedQty" value="@Model.BalanceQty"  readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>

<script>
    $(document).ready(function () {
        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");
        $('.select2').select2();
        $('.select2').width("100%");

            FillStyleSizeGrid();

        });

function FillStyleSizeGrid() {
            debugger;
         $("#itemsizetable").html("");
        var itemid = 0
    var FGTid = $("#transferid").val();

         $.ajax({
            type: "POST",
            dataType: 'json',
            url: '@Url.Action("EditAttributeValue", "Transfer")',
             data: "{'MyJson':'" + itemid + "','type':16,'id':" + FGTid +"}",
            contentType: "application/json;",
             success: function (Result) {
                 debugger;
                 Result = JSON.parse(Result);
                 var tabstr = "";
                 tabstr = tabstr + "<tr  class='attrbtab1'><th  style='display:none;'>Id</th>";
                 $.each(Result.Table, function (a, data) {
                     debugger
                     $("#AttributeId").val(data.Attribute_ID);

                     $.each(data.AttributName.split(","), function (b, edata) {

                         tabstr = tabstr + "<th style='width:10em;'>" + edata + "</th>";
                     });
                 });
                 var targtot = 0;
                 tabstr = tabstr + "<th style='width:10em;'>Work Order Qty</th><th style='width:10em;'>Produced Qty</th> <th style='width:10em;'>Balance Quantity</th> <th style='width:10em;'>QC</th>";
                 tabstr = tabstr + "</tr>"

                 $.each(Result.Table1, function (i, subcate) {

                     var attributename = subcate.AttributeValue;
                     var index1 = attributename.indexOf(',');
                     if (index1 == -1) {
                         attributename = attributename + ",";
                     }
                     attributename = attributename.split(',');
                     var ck = 0;
                     tabstr = tabstr + "<tr class='attrtabval'><td style='display:none;'><input type='hidden' value='" + subcate.Id + "' class='form-control stylerow'></td>";
                     $.each(subcate.Attribute_Value_ID.split(","), function (k, e) {
                         debugger;
                         if (e != "") {
                             tabstr = tabstr + "<td style='width:10em;'><input type='hidden' value='" + e + "' class='hid2'  />"
                             if (attributename[ck] != "") {
                                 tabstr = tabstr + "<input type='hidden' class='hidval2' value='" + attributename[ck] + "' /> " + attributename[ck] + "";
                             }
                             tabstr = tabstr + "</td>";
                             ck = ck + 1;
                         }
                     });
                     var onlick = "UpdateTargetQty('" + i + "')";
                     var attribid = $("#AttributeId").val();
                     tabstr = tabstr + "<td style='width:10em;display:none'><input type='hidden' value='" + attribid + "' class='form-control stylerow'> </td>";
                     tabstr = tabstr + "<td style='width:10em;display:none'><input type='hidden' value='" + subcate.Attribute_Value_ID + "' class='form-control stylerow'></td>";
                     tabstr = tabstr + "<td> <input type='text' class='form-control stylerow' value='" + subcate.Reqqty + "' id='workorderqty" + i + "' name='workorderqty' readonly /></td>";
                     tabstr = tabstr + "<td><input type='text'  class='form-control stylerow producedqty'  id='producedqty" + i + "' name='producedqty' value='" + subcate.ProducedQty + "' onchange='calQty(this.id)' readonly /></td>";
                     tabstr = tabstr + "<td><input type='text' class='form-control stylerow'  id='balanceqty" + i + "' name='balanceqty' value='" + subcate.BalanceQty + "' readonly /></td>";
                     debugger;
                     if (subcate.IsQC_Done.trim(' ') == "Yes") {
                         tabstr = tabstr + "<td><input type='checkbox' checked id='qcdone" + i + "' name='qcdone' onchange='isQCcheck(this.id)' class='filled-in chk-col-red' disabled/><label for='qcdone" + i + "'></label><input type='hidden' class='form-control stylerow'  id='hideqcdone" + i + "' name='hideqcdone' value='" + subcate.IsQC_Done+"'/></td>";
                     }
                     else {
                         tabstr = tabstr + "<td><input type='checkbox' id='qcdone" + i + "' name='qcdone' onchange='isQCcheck(this.id)' class='filled-in chk-col-red' /><label for='qcdone" + i + "'></label><input type='hidden' class='form-control stylerow'  id='hideqcdone" + i + "' name='hideqcdone' value='No'/></td>";
                     }

                     tabstr = tabstr + "</tr>"

                 });
                 tabstr = "<tbody>" + tabstr + "</tbody>"
                 $("#itemsizetable").append(tabstr);

             },
            failure: function (response) {
                alert(response.d);
            }
        });

    }
</script>
<script src="~/Scripts/SaveTransfer.js"></script>