﻿@model IEnumerable<Garments_ERP.Entity.T_ITEM_TRANSFEREntity>
@{
    ViewBag.Title = "Index";
}

<div class="table-responsive">

    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example1">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Work Order No.
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                    Transfer No
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                    Transfer Date
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 158px;">
                    Form Warehouse
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 155px;">
                    To Warehouse
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 155px;">
                    Transpoter Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 155px;">
                    Transpoter Person Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 155px;">
                    Sender By
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr role="row" class="odd">
                    <td class="sorting_1">@data.WorkOrder.WorkOrderNo</td>
                    <td>@data.STOCK_TRANSFER_NO</td>
                    <td>
                        @{
                            string tndt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", data.STOCK_TRANSFER_DATE));
                            tndt = tndt.Replace('-', '/');
                        }
                        @tndt
                    </td>
                    <td>@data.FromWarehouse.SHORT_NAME</td>
                    <td>@data.ToWarehouse.SHORT_NAME</td>
                    <td>@data.TRANSPOTER_NAME</td>
                    <td>@data.PERSON_NAME</td>
                    <td>@data.Sender_Employee.Name</td>
                    <td>
                        @if (data.IsStatus == 3)
                        {
                            <a href="@Url.Action("Create", "ProcessIncharge", new { id = data.TRANSFER_ID})" class="btn  btn-success btn-sm inner" data-original-title="Verify" style="padding:2px 7px 5px 7px;border-radius: 4px;">Verify</a>

                         }
                        else
                        {
                           <a href="@Url.Action("Create", "ProcessIncharge", new { id = data.TRANSFER_ID})" class="btn  btn-success btn-sm inner" data-original-title="Verify" style="padding:2px 7px 5px 7px;border-radius: 4px;">View</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>