﻿
@model Garments_ERP.Entity.T_ITEM_TRANSFEREntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminERP.cshtml";
    int i = 0;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/JqueryUI.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/Custom.css" rel="stylesheet" />
<link href="~/Content/SelTab.css" rel="stylesheet" />
<link href="~/Content/datepickercs.css" rel="stylesheet" />

<style type="text/css">
    ul {
        margin: 0;
    }
</style>
@using (Html.BeginForm("Create", "ProcessIncharge", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
{
    <div class="titheader">
        <div class="block-header">
            <div class="col-sm-10">
                <div class="HMline"><a href="@Url.Action("Index", "Dashboard")">Production Plan</a>  >  </div>
                <div class="HMline"><a href="@Url.Action("Index", "ProcessIncharge")">Process Incharge Detail</a>  >  </div>
                <div class="HMsubline">Create</div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger pull-right" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "ProcessIncharge")'">Cancel</button>
                @if (Model.IsStatus == 3)
                {
                    <button type="submit" class="btn btn-success pull-right" style="margin-right:5px;" id="SaveItem">Save</button>
                }
                else
                {
                    <button type="button" class="btn btn-success pull-right" disabled style="margin-right:5px;" id="SaveItem">Save</button>
                }

            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- #END# Hover Expand Effect -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">home</i> Process Incharge Info
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#messages_with_icon_title" data-toggle="tab">
                                        <i class="material-icons">perm_data_setting</i> Material Details
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Transfer No.</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.HiddenFor(x => x.TRANSFER_ID)

                                                    <input type="text" id="StockTransferNo" class="form-control disabled" readonly name="StockTransferNo" value="@Model.STOCK_TRANSFER_NO" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Transfer Date.</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @{
                                                      var qtdt = Convert.ToString(string.Format("{0:MM/dd/yyyy}", @Model.STOCK_TRANSFER_DATE));
                                                        qtdt = qtdt.Replace('-', '/');
                                                    }
                                                    <input type="text" id="StockTransferDt" class="form-control disabled" readonly name="StockTransferDt" value="@qtdt" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Work Order No.</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="StockTransferNo" class="form-control disabled" readonly name="StockTransferNo" value="@Model.WorkOrder.WorkOrderNo" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Work Order Date.</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line"> 
                                                    <input type="text" id="StockTransferDt" class="form-control disabled" readonly name="StockTransferDt" value="@Model.WorkOrder.Date" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>From Warehouse.</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="StockTransferNo" class="form-control disabled" readonly name="StockTransferNo" value="@Model.FromWarehouse.SHORT_NAME" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>To Warehouse.</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="StockTransferDt" class="form-control disabled" readonly name="StockTransferDt" value="@Model.ToWarehouse.SHORT_NAME" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Transpoter Name.</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="StockTransferNo" class="form-control disabled" readonly name="StockTransferNo" value="@Model.TRANSPOTER_NAME" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Person Name</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="StockTransferDt" class="form-control disabled" readonly name="StockTransferDt" value="@Model.PERSON_NAME" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <label>Sender By.</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="StockTransferNo" class="form-control disabled" readonly name="StockTransferNo" value="@Model.Sender_Employee.Name" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="messages_with_icon_title">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <input type="hidden" id="rawitem" name="rawitem" />
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="rawitemdata">
                                                    <thead>
                                                        <tr role="row" class="titlerow">
                                                            <th style="display:none;">id</th>
                                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 181px;">
                                                                Item Name
                                                            </th>

                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                                                                Batch NO
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                                                                Expiry Date
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                                                                Issue Quantity
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                                                Unit
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                                                Inspected Qty
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 222px;">
                                                                Rejected Qty
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">
                                                                QC
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       
                                                        @foreach(var data in Model.ITDEntiy)
                                                        {
                                                        <tr>
                                                            <td style="display:none">@data.ID <input type="hidden" id="transferItemId_@i" name="transferItemId_@i" value="@data.ID" /></td>
                                                            <td>@data.itement.ItemName <input type="hidden" id="itemid_@i" name="itemid_@i" value="@data.ITEM_ID" dataAttr="@data.ITEM_ATTRIBUTE_ID" /> </td>
                                                            <td>@data.BatchInfo.Dynamic_Controls_value</td>
                                                            <td>@data.BatchInfo1.Dynamic_Controls_value</td>
                                                            <td>@data.TRANSFER_QTY <input type="hidden" id="transferQty_@i" name="transferQty_@i" value="@data.TRANSFER_QTY" /></td>
                                                            <td>@data.unit.ItemUnit</td>
                                                            @if (Model.IsStatus == 3)
                                                            {
                                                                <td><input type="text" class="form-control" onkeypress="return isNumber(event);" id="inspectedqty_@i" name="inspectedqty_@i" value="@data.TRANSFER_QTY" onchange="GetAcceptQty('@i')" /></td>
                                                            }
                                                            else
                                                            {
                                                                <td><input type="text" class="form-control disabled" onkeypress="return isNumber(event);" id="inspectedqty_@i" name="inspectedqty_@i" value="@data.InspectedQty" readonly /></td>
                                                            }
                                                            <td><input type="text" class="form-control disabled" readonly onkeypress="return isNumber(event);" id="Rejectedqty_@i" value="@data.RejectedQty" name="Rejectedqty_@i" /></td>
                                                            <td><input type="checkbox" checked="checked" id="qcdone_@i" name="qcdone_@i" onclick="QCCheck('@i')" class="filled-in chk-col-red" /><label for="qcdone_@i"></label></td>

                                                        </tr>

                                                            i = i + 1;
                                                        }

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script src="~/Scripts/select2.min.js"></script>
<script src=@Url.Content("~/Content/bower_components/jquery/dist/jquery.min.js")></script>
<script src="@Url.Content("~/Content/bower_components/select2/dist/js/select2.full.min.js")"></script>
<script src="@Url.Content("~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script>
    $(document).ready(function () {
        $("#bs_datepicker_component_container > .ui-datepicker-inline").attr("style", "Display:none;");
        $('.select2').select2();
        $('.select2').width("100%");
    });

    function GetAcceptQty(no) {
        var inspecQty = $("#inspectedqty_" + no).val();
        var TransfQty = $("#transferQty_" + no).val();
        if (parseFloat(inspecQty) > parseFloat(TransfQty)) {
            swal({
                title: 'Error',
                text: 'Please Enter Valid Quantity!',
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: false

            });
            $("#inspectedqty_" + no).val("0");
        }
        else {
            rejQty = parseFloat(TransfQty) - parseFloat(inspecQty);
            $("#Rejectedqty_" + no).val(rejQty);
        }
    }

    function QCCheck(no) {
        if ($("#qcdone_" + no).is(":checked") == true) {
            $("#inspectedqty_" + no).removeAttr('readonly');
        } else {
            $("#inspectedqty_" + no).attr('readonly', 'readonly');
        } 
    }

    $("#SaveItem").on('click', function () {

        var $dataRows = $("#rawitemdata tr:not('.titlerow')");
        var rowlenght = $dataRows.length;
        var stylerowcount = 0;
        var str = "";
        //var stylerowCount = $('#maintable2 tr').length;
        var count = 0;
        $dataRows.each(function () {
            debugger;
            var id = $("#transferItemId_" + count).val();
            var inspecQty = $("#inspectedqty_" + count).val();
            var TransfQty = $("#transferQty_" + count).val();
            var RejQty = $("#Rejectedqty_" + count).val();
            var chk = 0;
            if (inspecQty == "" || parseFloat(inspecQty)<0) {
                swal({
                    title: 'Error',
                    text: 'Please Enter Valid Quantity!',
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ok",
                    closeOnConfirm: false,
                    closeOnCancel: false

                });
                isvalid = false;
            }

            if ($("#qcdone_" + count).is(":checked") == false) {
                swal({
                    title: 'Error',
                    text: 'Please Checked QC!',
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ok",
                    closeOnConfirm: false,
                    closeOnCancel: false

                });
                isvalid = false;
            }
            else {
                chk = 1;
            }
            if (count == 0) {
                str = id + "~" + TransfQty + "~" + inspecQty + "~" + RejQty + "~" + chk+"#";
            }
            else {
                str = str + id + "~" + TransfQty + "~" + inspecQty + "~" + RejQty + "~" + chk+"#";
            }

            count = count + 1;
        });


        $('#rawitem').val(str);

        return isvalid;
    });
</script>
